@value unit, darker-gray-color, black-color, white-color, main-color, link-hover-color from  "../global/global.css";
@value height: calc(unit * 8);
@value compensate: 3px;
@value compensated: calc(height - compensate);

.header {
  display: flex;
  overflow: hidden;
  align-items: center;

  box-sizing: border-box;
  height: height;

  color: white-color;
  background-color: black-color;

  line-height: compensated;

  & > * {
    display: inline-block;

    box-sizing: border-box;
    height: height;
    padding: 0 calc(unit * 2) compensate;
  }

  /* override link */
  & > a {
    color: darker-gray-color;
  }
}

.logo {
  align-items: center;

  height: height;

  color: black-color;

  line-height: normal;

  /* override .header > * */
  && {
    display: inline-flex;

    padding: 0 0 0 calc(unit * 2);
  }

  & svg {
    vertical-align: bottom;
  }
}

.tray {
  align-items: flex-end;

  margin-left: auto;
  padding: 0 0 compensate;

  /* override .header > * */
  && {
    display: flex;
  }
}

.trayItemContent {
  height: compensated;
}

.icon {
  width: calc(unit * 5);

  vertical-align: top;

  /* override button */
  && {
    height: compensated;

    padding-top: 4px;
  }
}

.main svg {
  color: main-color;
}

.rotateable svg {
  transition: transform 0.3s ease-out;
  transform: rotate(0deg);
  transform-origin: 50% 50%;
}

.rotated svg {
  transform: rotate(90deg);
}

.profileEmpty {
  align-items: center;

  width: auto;
  height: compensated;
  padding: 0 calc(unit * 4) 0 unit;

  vertical-align: bottom;

  /* override dropdown */
  && {
    display: inline-flex;
  }
}

.profile {
  composes: profileEmpty;

  height: compensated;

  cursor: pointer;
}

.avatarWrapper {
  line-height: 0;
}

.hasUpdates {
  position: relative;

  &::after {
    position: absolute;
    top: calc(15% - 5px);
    right: calc(15% - 5px);

    display: block;

    width: unit;
    height: unit;

    content: '';

    border: 1px solid white-color;
    border-radius: 50%;
    background-color: link-hover-color;
  }
}
