@import "../global/global";

.ring-header {
  box-sizing: border-box;
  margin: 0 0 1px;
  position: relative;

  &:before, &__right:before {
    content: '';
    display: inline-block;
    height: $ring-unit * 7;
    vertical-align: middle;
  }

  &__right {
    float: right;
    margin-right: $ring-unit * 3;
  }

  &.ring-header_border:after {
    border-bottom: solid 1px rgba(0, 0, 0, 0.1);
    bottom: 0;
    content: '';
    left: $ring-unit * 4;
    position: absolute;
    right: $ring-unit * 4;
  }

  .ring-link_active {
    font-weight: normal;
  }

  .ring-header__menu-item_active.ring-header__menu-item_active {
    color: $ring-text-color;
  }

  @include ring-clearfix();
  @include ring-font();
}

.ring-header__logo,
.ring-header__menu {
  display: inline-block;

  &__dropdown {
    display: inline-block;
    margin-left: $ring-unit/2;
    margin-right: -$ring-unit ;
    padding: 1px;
    border: 1px solid transparent;
    border-left-color: $ring-gray-color;
    color: $ring-gray-color;
    cursor: pointer;
    user-select: none;

    &:hover {
      border-color: $ring-gray-color;
    }
  }
}

.ring-header__logo {
  margin: 0 $ring-unit * 4;

  &__custom-image {
    display: inline-block;
    height: $ring-unit * 5;
    vertical-align: middle;
  }
}

.ring-header__user-menu {
  display: inline-block;
}

.ring-header__menu-item,
.ring-header__user-menu-item {
  display: inline-block;
  line-height: 1.2;
  user-select: none;

  &_inactive {
    color: $ring-gray-color;
  }

  &_active {
    color: $ring-blue-color;
  }
}

.ring-header__menu-item-cog {
  color: $ring-gray-color;
  transition: transform 0.3s ease-out;
  transform: rotate(0deg);

  &_rotated {
    transform: rotate(90deg);
  }
}

.ring-header__menu-item {
  margin-right: $ring-unit*4;
}

.ring-header__user-menu-item {
  margin-right: $ring-unit*2;

  &:last-child {
    margin-right: $ring-unit;
  }
}

.ring-header__user-menu-item_icon {
  cursor: pointer;

  .ring-icon {
    padding: $ring-unit;
  }

  &:hover {
    .ring-icon {
      color: $ring-link-hover-color;
    }
  }

  .ring-icon_24 {
    $default-size: 18px;
    $avatar-size: $ring-unit*3;

    border-radius: 3px;
    height: $avatar-size;
    // NB! Horizontal compensation of size changing. Margin is used instead of
    // padding because of the border-radius.
    margin: $ring-unit - (($avatar-size - $default-size) / 2);
    margin-right: 0;
    overflow: hidden;
    padding: 0;
    width: $avatar-size;
  }
}

.ring-header__user-menu-item_login {
  margin-left: $ring-unit;
}

.ring-header__user-menu-extra {
  margin-right: $ring-unit*3;
}

.ring-header__services.ring-header__services {
  background-color: #000;

  line-height: 10px; // Eliminate gap between clickable blocks rows
  max-width: $ring-unit * 50 + 2;
  padding: $ring-unit * 4 $ring-unit * 4 $ring-unit * 3;
}

.ring-header__services-item {
  box-sizing: border-box;
  display: inline-block;
  height: $ring-unit * 14;
  width: $ring-unit * 14;

  overflow-x: hidden;
  text-align: center;
  text-overflow: ellipsis;
  line-height: initial;

  // Disable animation in Header in Edge, see https://youtrack.jetbrains.com/issue/RG-928
  // Supports MS Edge
  @supports (-ms-accelerator: true) {
    animation-name: none;
  }

  &:after {
    vertical-align: middle;
    height: $ring-unit * 14;
  }
}

// New line inside inline content
.ring-header__services-item-text:before {
  content: '\A';
  white-space: pre;
}

.ring-header__services-current {
  color: #FFF;
  font-weight: bold;
}

.ring-header__services-link,
.ring-header__services-link:visited {
  text-decoration: none;
  color: #FFF;

  &:hover {
    color: $ring-link-hover-color;
    text-decoration: underline;
  }
}
.ring-header__services-line {
  height: 1px;
  background: linear-gradient(to right, transparent, rgba(255, 255, 255, 0.3), transparent);
  margin: $ring-unit * 4 0 $ring-unit * 2;
}

.ring-header__services-stacked {
  display: inline-block;
  width: 100%;
  margin-bottom: $ring-unit * 2;
  line-height: $ring-unit * 2;

  &, &:visited {
    color: $ring-dark-gray-color;
  }
  &:last-child {
    margin-bottom: -$ring-unit * 3;
  }
}

.ring-header__services-logo {
  width: $ring-unit * 6;
  height: $ring-unit * 6;

  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;

  margin: $ring-unit * 2 0 $ring-unit + 1;

  // Workaround for ring-icon
  &_monochrome {
    padding-bottom: 3px;
  }

  &_top-line {
    width: $ring-unit * 4;
    height: $ring-unit * 4;

    color: #666;
  }
}

// Customize menu icons
.ring-header__user-menu {
  .ring-icon_expand1 {
    height: 17px;
    width: 17px;
  }

  .ring-icon_help {
    height: 19px;
    width: 19px;
  }
}

@media only screen
and (max-width: 800px) {
  .ring-header__logo, .ring-header__right {
    margin-left: $ring-unit * 2;
  }
  .ring-header__user-menu-item:last-child {
    margin-right: 0;
  }
}
