@value unit, blue-color, gray-color, link-hover-color from  "../global/global.css";

.header {
  display: flex;
  height: calc(unit * 7);
  align-items: baseline;
  line-height: calc(unit * 7 - 5);
  margin: 0 calc(unit * 4);
}

.item {
  margin-right: calc(unit * 4);
}

.tray {
  composes: header;
  margin: 0 0 0 auto;
}

.trayItem {
  text-align: center;
}

.trayItemContent {
  height: calc(unit * 5);
}

.iconPosition {
  vertical-align: baseline;
  height: calc(unit * 5);
  width: calc(unit * 5);

  &&:global(.ring-icon) {
    /* Redefine positioning inside ring-link */
    top: 0;
  }
}

.iconBehavior {
  cursor: pointer;

  transition: all 0.3s ease-out;
  transform: rotate(0deg);

  &:hover {
     transition: transform 0.3s ease-out;
     color: link-hover-color;
  }
}

.icon {
  color: gray-color;
  composes: iconPosition;
  composes: iconBehavior;
}

.activeIcon {
  composes: icon;

  @nest &, &:hover {
    color: blue-color
  }
}

.profileEmpty {
  composes: iconPosition;

  text-align: right;
  position: relative;
  top: unit;
  /* Fix popup vertical positioning */
  height: calc(unit * 4);
}

.profile {
  composes: profileEmpty;
  composes: iconBehavior;
}

.loginButton.loginButton {
  margin-left: unit;
}

