.services {
  max-width: calc(calc(var(--ring-unit) * 50) + 2px);
  padding: calc(var(--ring-unit) * 4) calc(var(--ring-unit) * 4) calc(var(--ring-unit) * 3);

  background-color: #000;

  line-height: 10px; /* Eliminate gap between clickable blocks rows */
}

.active {
  font-weight: bold;
}

.item {
  display: inline-block;
  overflow-x: hidden;

  box-sizing: border-box;
  width: calc(var(--ring-unit) * 14);
  height: calc(var(--ring-unit) * 14);

  text-align: center;
  text-overflow: ellipsis;

  color: #fff;

  line-height: initial;

  &::after {
    height: calc(var(--ring-unit) * 14);

    vertical-align: middle;
  }

  &:not(:hover),
  &:visited:not(:hover) {
    color: #fff;
  }

  /* Disable animation .ring-icon_loading in Header in Edge, see https://youtrack.jetbrains.com/issue/RG-928 */
  /* Supports MS Edge */
  @supports (-ms-accelerator: true) {
    animation-name: none;
  }
}

.itemLogo {
  display: inline-block;

  width: calc(var(--ring-unit) * 6);
  height: calc(var(--ring-unit) * 6);
  margin: calc(var(--ring-unit) * 2) 0 calc(var(--ring-unit) + 1px);

  background-repeat: no-repeat;
  background-size: contain;
}

.activeItem {
  composes: item;
  composes: active;

  &:hover {
    color: #fff;
  }
}

.line {
  height: 1px;
  margin: calc(var(--ring-unit) * 4) 0 calc(var(--ring-unit) * 2);

  background: linear-gradient(to right, transparent, rgba(255, 255, 255, 0.3), transparent);
}

.itemStacked {
  display: inline-block;

  width: 100%;
  margin-bottom: calc(var(--ring-unit) * 2);

  text-decoration: none;

  line-height: calc(var(--ring-unit) * 2);

  &,
  &:visited {
    color: var(--ring-secondary-color);
  }

  &:last-child {
    margin-bottom: calc(var(--ring-unit) * -3);
  }
}

.activeItemStacked {
  composes: itemStacked;
  composes: active;

  &:hover {
    color: var(--ring-secondary-color);
  }
}
