@import "../global/variables.css";

@value unit from "../global/global.css";

.code {
  margin: calc(unit * 2) 0;
}

/* override hljs */
.code code {
  display: block;

  padding: calc(unit * 1.5) calc(unit * 2) calc(unit * 2);

  border-radius: var(--ring-border-radius);
  background-color: var(--ring-sidebar-background-color);

  font-family: var(--ring-font-family-monospace);
  font-size: var(--ring-font-size-smaller);
  line-height: var(--ring-line-height-lowest);
}

.inline code {
  display: inline-block;

  padding: 0 calc(unit / 2);
}

.softWrap code {
  white-space: pre-wrap;
}
