<label class="ring-checkbox">
  <span class="ring-checkbox__input-wrapper">
    <input
      data-proxy-ng-disabled
      data-proxy-ng-model
      data-proxy-ng-change
      data-proxy-ng-true-value
      data-proxy-ng-false-value
      data-test="ring-checkbox"
      type="checkbox"
      class="ring-checkbox__input"
    />
    <span class="ring-checkbox__icon">
      <rg-icon class="ring-checkbox__icon__image" size="18" glyph="/check.svg" />
    </span>
  </span>
  <span class="ring-checkbox__label" ng-transclude></span>
</label>
