<span class="ring-dropdown__item ring-dropdown__item__controls">
  {{#if title}}
    <span class="ring-dropdown__item__controls__title">{{ title }}</span>
  {{/if }}
  {{#if input}}
    <input class="ring-input ring-js-event ring-js-popup-input">
  {{/if}}
</span>