<div class="ring-dropdown{{#type}} ring-dropdown_{{this}}{{/type}}">
  <div class="ring-dropdown__i ring-dropdown__loader">
    <div class="transclude ring-loader {$modifiers}">Loading</div>
  </div>
</div>