@import "../global/global";

.ring-btn.ring-select {
  position: relative;
  font-size: 13px;
  width: 200px;
  text-align: left;
  white-space: nowrap;
}

  .ring-select__label {
    width: 100%;
    text-overflow: ellipsis;
    display: inline-block;
    overflow: hidden;
    padding-right: 3*$ring-unit;
  }

  .ring-select__icons {
    position: absolute;
    top: 0;
    right: $ring-unit;
  }

  .ring-input.ring-select__filter {
    width: 200px;
    margin: 2*$ring-unit;
  }
