@value unit, font-size, font-size-smaller, line-height-lowest, text-color, line-color, main-color, dark-gray-color, gray-color, ellipsis, blue-caret, ease from "../global/global.css";

.select {
  position: relative;

  display: inline-block;

  white-space: nowrap;

  color: text-color;
}

.toolbar {
  border-top: 1px solid line-color;
}

.button {
  &&& {
    width: 100%;
    height: calc(4 * unit);
    margin: unit 0;
    padding: 0 calc(2 * unit);

    text-align: left;
  }
}

.icons {
  position: absolute;
  top: -4px;
  right: 0;

  transition: color ease;

  color: dark-gray-color;

  line-height: calc(unit * 4);

  :global(.ring-loader_inline) {
    top: 2px;

    margin-right: 2px;
  }

  @nest .inputMode & {
    top: 12px;
  }
}

.selectedIcon {
  display: inline-block;

  width: calc(2 * unit);
  height: calc(2 * unit);
  margin: 0 4px;

  vertical-align: middle;

  background-repeat: no-repeat;
  background-position: center;

  background-size: contain;
}

.clearIcon {
  padding: 0 3px;

  vertical-align: -2px;
}

.clearIcon.clearIcon > span > span {
  color: dark-gray-color;
}

.sizeS {
  width: calc(unit * 12);
}

.sizeM {
  width: calc(unit * 30);
}

.sizeL {
  width: calc(unit * 50);
}

.buttonMode {
  position: relative;

  cursor: pointer;
}

.value {
  composes: ellipsis;

  display: inline-block;

  box-sizing: border-box;
  width: 100%;
  height: calc(unit * 4 + 1px);
  padding: 0 0 3px;

  cursor: pointer;
  transition: color ease, border-color ease;
  text-align: left;
  vertical-align: top;

  color: text-color;
  border: none;
  border-bottom: 1px solid line-color;
  outline: none;
  background: transparent;

  font: inherit;

  &:focus {
    border-color: main-color;
  }

  &.open,
  &:active {
    border-color: transparent;
  }

  &::-moz-focus-inner {
    padding: 0;

    border: 0;
    outline: 0;
  }
}

.label {
  position: relative;

  color: dark-gray-color;
}

.select:hover .value,
.select:hover .icons,
.value:focus,
.value:focus + .icons,
.open,
.open + .icons {
  transition: none;

  color: main-color;
}

.disabled {
  pointer-events: none;

  color: gray-color;

  & .value {
    color: gray-color;
    border-bottom-style: dashed;
  }
}

.selectedLabel {
  position: absolute;
  top: calc(unit * -1.5);

  color: dark-gray-color;

  font-size: font-size-smaller;
  line-height: line-height-lowest;
}

.avatar {
  margin-right: 4px;

  vertical-align: -5px;
}

.popup {
  min-width: calc(unit * 30);
  max-width: calc(unit * 40);
}
