<example name="Select with a filter and tags">
  <file type="html" disable-auto-size>
    <div id="demo"></div>
  </file>
  <file type="css">
    body {
    padding: 8px;
    width: 50%;
    }
  </file>
  <file type="js">
    import React from 'react';
    import {render} from 'react-dom';
    import hubConfig from '@ring-ui/docs/components/hub-config';
    import Select from '@jetbrains/ring-ui/components/select/select';
    import '@jetbrains/ring-ui/components/input-size/input-size.scss';
    import {WarningIcon} from '@jetbrains/ring-ui/components/icon';

    const props = {
      multiple: true,
      filter: {
        placeholder: 'Search'
      },
      tags: {
        reset: {
          separator: true,
          label: 'Reset the list',
          glyph: WarningIcon
        }
      }
    };
    const avatarUrl = `${hubConfig.serverUri}/api/rest/avatar/default?username=blue`;


    const tags = [
      {'label': 'One', 'key': '1', 'type': 'user', readOnly: true},
      {'label': 'Two', 'key': '2', 'type': 'user', readOnly: true},
      {'label': 'Three', 'key': '3', 'type': 'user'},
      {
        'label': 'With icon',
        key: 4,
        icon: 'http://flagpedia.net/data/flags/mini/de.png'
      },
      {
        'label': 'With avatar',
        key: 5,
        avatar: avatarUrl
      }
    ];
    const data = {
      data: tags,
      selected: [tags[0]]
    };

    render(<Select {...props} {...data}/>, document.getElementById('demo'));
  </file>
</example>

<example name="Select with a filter">
  <file type="html" disable-auto-size>
    <p>test</p>
    <div id="demo" class="demo"></div>
    <button id="clear">Clear selected</button>
  </file>
  <file type="css">
    body {
    padding: 8px;
    width: 50%;
    }

    :global(.demo) {
      margin: 16px 0;
    }
  </file>
  <file type="js">
    import React from 'react';
    import {render} from 'react-dom';
    import Select from '@jetbrains/ring-ui/components/select/select';

    const data = [
      {'label': 'One', 'key': '1', 'type': 'user'},
      {'label': 'Group', 'key': '2', 'description': 'Long descriptions', 'type': 'user'},
      {'label': 'Three', 'key': '3', 'type': 'user'},
      {
        'label': 'With icon',
        key: 4,
        icon: 'http://flagpedia.net/data/flags/mini/de.png'
      }
    ];

    function renderSelect() {
      render(
        <Select
          selectedLabel="Option"
          label="Please select option"
          filter
          clear
          selected={data[1]}
          data={data}
        />,
      document.getElementById('demo'));
    }

    renderSelect();

    document.getElementById('clear').addEventListener('click', function () {
      data.selected = null;
      renderSelect();
    });
  </file>
</example>

<example name="Select-button with a filter">
  <file type="html" disable-auto-size>
    <div id="demo" class="demo"></div>
    <button id="clear">Clear selected</button>
  </file>
  <file type="css">
    :global(.demo) {
      margin: 16px 0;
    }
  </file>
  <file type="js">
    import React from 'react';
    import {render} from 'react-dom';
    import Select from '@jetbrains/ring-ui/components/select/select';

    const data = [
      {'label': 'One', 'key': '1', 'type': 'user'},
      {'label': 'Group', 'key': '2', 'description': 'Long descriptions', 'type': 'user'},
      {'label': 'Three', 'key': '3', 'type': 'user'},
      {
        'label': 'With icon',
        key: 4,
        icon: 'http://flagpedia.net/data/flags/mini/de.png'
      }
    ];

    function renderSelect() {
      render(
        <Select
          type={Select.Type.BUTTON}
          selectedLabel="Option"
          label="Please select option"
          filter
          clear
          selected={data[1]}
          data={data}
        />,
      document.getElementById('demo'));
    }

    renderSelect();

    document.getElementById('clear').addEventListener('click', function () {
      data.selected = null;
      renderSelect();
    });
  </file>
</example>

<example name="Inline select with a filter">
  <file type="html" disable-auto-size>
    <p>test</p>
    <div id="demo" class="demo"></div>
    <button id="clear">Clear selected</button>
  </file>
  <file type="css">
    body {
      padding: 8px;
      width: 50%;
    }

    :global(.demo) {
      margin: 16px 0;
    }
  </file>
  <file type="js">
    import React from 'react';
    import {render} from 'react-dom';
    import Select from '@jetbrains/ring-ui/components/select/select';

    const data = [
      {'label': 'One', 'key': '1', 'type': 'user'},
      {'label': 'Group', 'key': '2', 'type': 'user'},
      {'label': 'Three', 'key': '3', 'type': 'user'},
    ];

    function renderSelect() {
      render(
        [
          'Selected option is ',
          <Select
            key="select"
            type={Select.Type.INLINE}
            filter
            clear
            selected={data[1]}
            data={data}
          />
        ],
        document.getElementById('demo')
      );
    }

    renderSelect();

    document.getElementById('clear').addEventListener('click', function () {
      data.selected = null;
      renderSelect();
    });
  </file>
</example>

<example name="Inline select (opens to left)">
  <file type="html" disable-auto-size>
    <p>test</p>
    <div id="demo" class="demo"></div>
    <button id="clear">Clear selected</button>
  </file>
  <file type="css">
    body {
      padding: 8px;
      padding-left: 64px;
      width: 50%;
    }

    :global(.demo) {
      margin: 16px 0;
    }
  </file>
  <file type="js">
    import React from 'react';
    import {render} from 'react-dom';
    import Select from '@jetbrains/ring-ui/components/select/select';
    import Popup from '@jetbrains/ring-ui/components/popup/popup';

    const data = [
      {'label': 'One', 'key': '1', 'type': 'user'},
      {'label': 'Group', 'key': '2', 'type': 'user'},
      {'label': 'Three', 'key': '3', 'type': 'user'},
    ];

    function renderSelect() {
      render(
        [
          'Selected option is ',
          <Select
            key="select"
            type={Select.Type.INLINE}
            selected={data[1]}
            data={data}
            directions={[Popup.PopupProps.Directions.BOTTOM_LEFT]}
          />
        ],
        document.getElementById('demo')
      );
    }

    renderSelect();

    document.getElementById('clear').addEventListener('click', function () {
      data.selected = null;
      renderSelect();
    });
  </file>
</example>


<example name="Select with disabled move overflow">
  <file type="html" disable-auto-size>
    <p>test</p>
    <div id="demo" class="demo"></div>
    <button id="clear">Clear selected</button>
  </file>
  <file type="css">
    body {
      padding: 8px;
      width: 50%;
    }

    :global(.demo) {
      margin: 16px 0;
    }
  </file>
  <file type="js">
    import React from 'react';
    import {render} from 'react-dom';
    import Select from '@jetbrains/ring-ui/components/select/select';
    import List from '@jetbrains/ring-ui/components/list/list';

    const data = [
      {'label': 'One', 'key': '1', 'type': 'user'},
      {'description': 'Group', 'key': '2', 'rgItemType': List.ListProps.Type.SEPARATOR},
      {'label': 'Three', 'key': '3', 'type': 'user'},
      {
        'label': 'With icon',
        key: 4,
        icon: 'http://flagpedia.net/data/flags/mini/de.png'
      }
    ];

    function renderSelect() {
    render(
    <Select
      selectedLabel="Option"
      label="Please select option"
      filter
      clear
      selected={data[0]}
      data={data}
      disableMoveOverflow
    />,
    document.getElementById('demo'));
    }

    renderSelect();

    document.getElementById('clear').addEventListener('click', function () {
    data.selected = null;
    renderSelect();
    });
  </file>
</example>

<example name="Select with server-side filtering">
  <file type="html" disable-auto-size>
    <div id="demo"></div>
  </file>
  <file type="js">
    import {render} from 'react-dom';
    import Select from '@jetbrains/ring-ui/components/select/select';
    import React, {Component} from 'react';
    import Source from '@jetbrains/ring-ui/components/list/list__users-groups-source';
    import hubConfig from '@ring-ui/docs/components/hub-config';
    import Auth from '@jetbrains/ring-ui/components/auth/auth';

    const alwaysTrue = () => true;

    class UserList extends Component {
      state = {
        users: [],
        request: null
      };
      auth = new Auth(hubConfig);
      source = new Source(this.auth, {
        searchMax: 8
      });

      componentDidMount() {
        this.auth.init();
        this.loadData();
      }

      loadData = async query => {
        const request = this.source.getForList(query);
        this.setState({request});

        const users = await request;

        // only the latest request is relevant
        if (this.state.request === request) {
          this.setState({
            users,
            request: null
          });
        }
      }

      render() {
        return (
          <Select
            data={this.state.users}
            label="Set owner"
            selectedLabel="Owner"
            filter={{
              placeholder: 'Search user or group',
              fn: alwaysTrue // disable client filtering
            }}
            onFilter={this.loadData}
            loading={!!this.state.request}
          />
        );
      }
    }

    render(<UserList />, document.getElementById('demo'));
  </file>
</example>

<example name="Select with fuzzy search filter">
  <file type="html" disable-auto-size>
    <p>test</p>
    <div id="demo"></div>
    <button id="clear">Clear selected</button>
  </file>
  <file type="css">
    body {
    padding: 8px;
    width: 50%;
    }
  </file>
  <file type="js">
    import React from 'react';
    import {render} from 'react-dom';
    import Select from '@jetbrains/ring-ui/components/select/select';
    import '@jetbrains/ring-ui/components/input-size/input-size.scss';

    const data = [
      {'label': 'One', 'key': '1', 'type': 'user'},
      {'label': 'Group', 'key': '2', 'type': 'user'},
      {'label': 'Three', 'key': '3', 'type': 'user'},
      {
        'label': 'With icon',
        key: 4,
        icon: 'http://flagpedia.net/data/flags/mini/de.png'
      }
    ];

    function renderSelect() {
      render(<Select filter={{fuzzy: true}} clear selected={data[1]} data={data}/>,
      document.getElementById('demo'));
    }

    renderSelect();

    document.getElementById('clear').addEventListener('click', function () {
      data.selected = null;
      renderSelect();
    });
  </file>
</example>

<example name="Select with a large dataset">
  <file type="html" disable-auto-size>
    <div id="demo"></div>
  </file>
  <file type="css">
    body {
    padding: 8px;
    width: 50%;
    }
  </file>
  <file type="js">
    import React from 'react';
    import {render} from 'react-dom';
    import Select from '@jetbrains/ring-ui/components/select/select';

    const elementsNum = 100000;
    const selectedIndex = parseInt(elementsNum / 2);
    const dataset = [];
    for (let i = 0; i < elementsNum; i++) {
      dataset.push({
        label: 'element ' + i,
        key: i,
        type: 'user'
      });
    }

    render(
      <Select filter compact selected={dataset[selectedIndex]} data={dataset}/>,
      document.getElementById('demo')
    );
  </file>
</example>

<example name="Multiple select with a description">
  <file type="html" disable-auto-size>
    <div id="demo"></div>
  </file>
  <file type="css">
    body {
    padding: 8px;
    width: 50%;
    }
  </file>
  <file type="js">
    import React from 'react';
    import {render} from 'react-dom';
    import hubConfig from '@ring-ui/docs/components/hub-config';
    import Select from '@jetbrains/ring-ui/components/select/select';

    const deFlag = 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACEAAAAUCAIAAACMMcMmAAAAKklEQVRIx2NgGAWjgAbAh/aI4S7t0agdI9COzx00Rwz/z9Ecjdox8uwAACkGSkKIaGlAAAAAAElFTkSuQmCC';
    const ruFlag = 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAUCAYAAACaq43EAAAAOUlEQVR42u3TUQ0AIAwD0aIGt5OFBtx0mCBNljsD7+uWXwoEDPwPrvKJwJINDDwLvtqZnSwZGHgU3Kx2NIuI4wdUAAAAAElFTkSuQmCC';
    const icons = [deFlag, ruFlag, undefined];
    const avatarUrl = `${hubConfig.serverUri}/api/rest/avatar/default?username=blue`;

    const elementsNum = 5;
    const dataset = [];
    for (let i = 0; i < elementsNum; i++) {
      dataset.push({
        'label': 'element ' + i,
        'key': i,
        description: 'description ' + i,
        icon: icons[i % 3],
        avatar: i % 2 ? avatarUrl : null
      });
    }

    render(
      <Select filter selected={[dataset[0], dataset[3]]} multiple data={dataset}/>,
      document.getElementById('demo')
    );
  </file>
</example>

<example name="Disabled select">
  <file type="html" disable-auto-size>
    <div id="demo1"></div>
    <div id="demo2"></div>
  </file>
  <file type="js">
    import React from 'react';
    import {render} from 'react-dom';
    import Select from '@jetbrains/ring-ui/components/select/select';

    render(
      <Select disabled loading/>,
      document.getElementById('demo1')
    );

    render(
      <Select disabled loading type={Select.Type.INPUT}/>,
      document.getElementById('demo2')
    );
  </file>
  <file type="css">
    body {
    padding: 8px;
    width: 50%;
    }
  </file>
</example>

<example name="Simple input-based select">
  <file type="html" disable-auto-size>
    <div id="demo"></div>
  </file>
  <file type="js">
    import React from 'react';
    import {render} from 'react-dom';
    import Select from '@jetbrains/ring-ui/components/select/select';

    const data = [];
    for (let i = 0; i < 20; i++) {
      data.push({'label': 'Item ' + i, 'key': i});
    }

    render(
      <Select type={Select.Type.INPUT} data={data} clear/>,
      document.getElementById('demo')
    );
  </file>
  <file type="css">
    body {
      padding: 8px;
      width: 50%;
    }
  </file>
</example>

<example name="Simple input-based select in suggest-only mode">
  <file type="html" disable-auto-size>
    <div id="demo"></div>
  </file>
  <file type="js">
    import React from 'react';
    import {render} from 'react-dom';
    import Select from '@jetbrains/ring-ui/components/select/select';

    const data = [];
    for (let i = 0; i < 20; i++) {
      data.push({'label': 'Item ' + i, 'key': i});
    }

    render(<Select
      type={Select.Type.INPUT}
      allowAny
      hideArrow
      label="Placeholder without arrow"
      data={data}
      selected={data[1]}
    />, document.getElementById('demo'));
  </file>
  <file type="css">
    body {
      padding: 8px;
      width: 50%;
    }
  </file>
</example>

<example name="Simple select with default filter mode enabled">
  <file type="html" disable-auto-size>
    <div id="demo"></div>
  </file>
  <file type="js">
    import React from 'react';
    import {render} from 'react-dom';
    import Select from '@jetbrains/ring-ui/components/select/select';

    const data = [
      {'label': 'One', 'key': '1'},
      {'label': 'Two', 'key': '2', disabled: true},
      {'label': 'Two One', 'key': '2.1', level: 1},
      {'label': 'Two Two', 'key': '2.2', level: 1},
      {'label': 'Three', 'key': '3'}
    ];

    render(<Select filter data={data}/>, document.getElementById('demo'));
  </file>
  <file type="css">
    body {
    padding: 8px;
    width: 50%;
    }
  </file>
</example>

<example
  name="Simple select with default filter mode enabled and a loading indicator">
  <file type="html" disable-auto-size>
    <div id="demo"></div>
  </file>
  <file type="js">
    import React from 'react';
    import {render} from 'react-dom';
    import Select from '@jetbrains/ring-ui/components/select/select';

    const data = [
      {'label': 'One', 'key': '1'},
      {'label': 'Group', 'key': '2'},
      {'label': 'Three', 'key': '3'}
    ];

    render(
      <Select filter loading data={data} selected={data[1]}/>,
      document.getElementById('demo')
    );
  </file>
</example>

<example name="Select with a customized filter and an 'Add item' button">
  <file type="html" disable-auto-size>
    <div id="demo"></div>
  </file>
  <file type="js">
    import React from 'react';
    import {render} from 'react-dom';
    import Select from '@jetbrains/ring-ui/components/select/select';

    const data = [];
    for (let i = 0; i < 100; i++) {
      data.push({
        'label': 'Item long long long long long  long long long label ' + i,
        'key': i
      });
    }

    render(<Select
      filter={{
        placeholder: 'Select me',
        value: 'One'
      }}
      hint="Press down to do something"
      add={{
        prefix: 'Add name'
      }}
      onAdd={value => console.log('Add', value)}
      data={data}
      selected={data[49]}
      onSelect={selected => console.log('onSelect, selected item:', selected)}
    />, document.getElementById('demo'));
  </file>
  <file type="css">
    body {
      padding: 8px;
      width: 50%;
    }
  </file>
</example>

<example name="Select with custom items and an 'Add item' button">
  <file type="html" disable-auto-size>
    <div id="demo"></div>
  </file>
  <file type="css">
    :global(.label) {
      border-radius: 3px;
      color: #669ECC;
      background-color: #E5F4FF;
      padding-left: 8px;
      margin: 2px 0;
    }

    body {
      padding: 8px;
      width: 50%;
    }
  </file>
  <file type="js">
    import React from 'react';
    import {render} from 'react-dom';
    import Select from '@jetbrains/ring-ui/components/select/select';
    import List from '@jetbrains/ring-ui/components/list/list';
    import '@jetbrains/ring-ui/components/input-size/input-size.scss';

    const data = [];
    for (let i = 0; i < 100; i++) {
      const label = `Label ${i}`;
      data.push({
        key: label,
        label,
        template: <span className="label">{label}</span>,
        rgItemType: List.ListProps.Type.CUSTOM
      });
    }

    render(<Select
      filter
      hint="Press down to do something"
      add={{
        prefix: 'Add label'
      }}
      onAdd={value => console.log('Add', value)}
      data={data}
      onSelect={selected => console.log('onSelect, selected item:', selected)}
    />, document.getElementById('demo'));
  </file>
</example>

<example name="Select with an always visible 'Add item' button">
  <file type="html" disable-auto-size>
    <div id="demo"></div>
  </file>
  <file type="js">
    import React from 'react';
    import {render} from 'react-dom';
    import Select from '@jetbrains/ring-ui/components/select/select';

    const data = [];
    for (let i = 0; i < 10; i++) {
      data.push({'label': 'Item ' + i, 'key': i});
    }

    render(<Select
      filter={{
        placeholder: 'Select me',
        value: 'One'
      }}
      add={{
        alwaysVisible: true,
        label: 'Create New Blah Blah'
      }}
      onAdd={value => console.log('Add', value)}
      data={data}
      onSelect={selected => console.log('onSelect, selected item:', selected)}
    />, document.getElementById('demo'));
  </file>
  <file type="css">
    body {
      padding: 8px;
      width: 50%;
    }
  </file>
</example>

<example name="Multiple-choice select with custom view">
  <file type="html" disable-auto-size>
    <div id="multipleCustomView"></div>
    <div id="demo"></div>
  </file>
  <file type="js">
    import React from 'react';
    import {render} from 'react-dom';
    import Select from '@jetbrains/ring-ui/components/select/select';

    render(<Select
      filter
      add={{
        prefix: 'Add some item'
      }}
      multiple={{
        label: 'Change selected items',
        removeSelectedItems: false
      }}
      selected={[{'label': 'Two long label', 'key': '2'}]}
      data={[
        {'label': 'One long label', 'key': '1'},
        {'label': 'Two long label', 'key': '2'},
        {'label': 'Three long label', 'key': '3'}
      ]}
      onSelect={selected => console.log('onSelect, selected item:', selected)}
      onDeselect={deselected => console.log('onDeselect, deselected item:', deselected)}
      onChange={selection => {
        console.log('onChange, selection:', selection);
        const items = selection.map(item => item.label);
        document.getElementById('multipleCustomView').innerHTML = items.join(', ');
      }}
    />, document.getElementById('demo'));
  </file>
  <file type="css">
    body {
      padding: 8px;
      width: 50%;
    }
  </file>
</example>

<example name="Select as a dropdown without filter">
  <file type="html" disable-auto-size>
    <div id="demo"></div>
    <div id="changeResult"></div>
  </file>
  <file type="js">
    import React from 'react';
    import {render} from 'react-dom';
    import Select from '@jetbrains/ring-ui/components/select/select';

    const data = [];
    for (let i = 0; i < 20; i++) {
      data.push({
        'label': 'Item ' + i,
        'description': 'Description for the item lalalalala ' + i,
        'key': i
      });
    }
    render(
      <Select
        type={Select.Type.CUSTOM}
        data={data}
        label="Click me"
        customAnchor={({wrapperProps, buttonProps, popup}) => (
          <span {...wrapperProps}>
            <button type="button" {...buttonProps}/>
            {popup}
          </span>
        )}
      />,
      document.getElementById('demo')
    );

  </file>
  <file type="css">
    body {
      padding: 8px;
      width: 50%;
    }
  </file>
</example>

<example name="Select with render optimization">
  <file type="html" disable-auto-size>
    <div id="demo"></div>
  </file>
  <file type="css">
    body {
      padding: 8px;
      width: 50%;
    }
  </file>
  <file type="js">
    import React from 'react';
    import {render} from 'react-dom';
    import Select from '@jetbrains/ring-ui/components/select/select';
    import List from '@jetbrains/ring-ui/components/list/list';
    import '@jetbrains/ring-ui/components/input-size/input-size.scss';

    const data = (new Array(1000)).join(',').split(',').map((item, index) => {
      return {
        label: 'Label ' + index,
        key: index,
        rgItemType: index % 10 ? List.ListProps.Type.ITEM : List.ListProps.Type.TITLE
      }
    });

    render(<Select filter data={data} />, document.getElementById('demo'));
  </file>
</example>

<example name="Select fits to screen">
  <file type="html" disable-auto-size>
    <div id="demo" style="position: absolute; bottom: 20px;"></div>
  </file>
  <file type="css">
    body {
    padding: 8px;
    width: 50%;
    }
  </file>
  <file type="js">
    import React from 'react';
    import {render} from 'react-dom';
    import Select from '@jetbrains/ring-ui/components/select/select';

    const elementsNum = 1000;
    const selectedIndex = parseInt(elementsNum / 2);
    const dataset = [];
    for (let i = 0; i < elementsNum; i++) {
    dataset.push({
    label: 'element ' + i,
    key: i,
    type: 'user'
    });
    }

    render(
    <Select maxHeight={5000} filter compact selected={dataset[selectedIndex]} data={dataset}/>,
      document.getElementById('demo')
      );
  </file>
</example>

<example name="Select with filtered fields">
  <file type="html" disable-auto-size>
    <div id="demo" class="demo"></div>
  </file>
  <file type="css">
    body {
      padding: 8px;
      width: 50%;
    }

    :global(.filters-block) > *:not(:nth-of-type(1)) {
      margin-left: 20px;
    }
  </file>
  <file type="js">
    import React, {Component} from 'react';
    import {render} from 'react-dom';
    import Select from '@jetbrains/ring-ui/components/select/select';
    import List from '@jetbrains/ring-ui/components/list/list';

    class SelectWrapper extends Component {
      constructor(props) {
        super(props);

        const data = [];
        for (let i = 1; i < 100; i++) {
          const label = `Label ${i}`;
          data.push({
            key: i,
            label,
            template: <span className="label">{label}</span>,
            rgItemType: List.ListProps.Type.CUSTOM
          });
        }

        const filtersData = [
          {'label': 'Show odd', 'key': '1'},
          {'label': 'Show even', 'key': '2'},
          {'label': 'Show all', 'key': '3'},
        ]

        this.state = {
          data,
          filtersData,
          filteredData: data.filter(item => item.key % 2),
          selectedDataKey: null,
          selectedFilterKey: filtersData[0].key,
        }
        this.onFilterSelect = this.handleFilterSelect.bind(this);
        this.onDataSelect = this.handleDataSelect.bind(this);

      }

      handleFilterSelect(selected) {
        const { data } = this.state;

        let filteredData;
        switch (selected.label) {
          case 'Show odd':
            filteredData = data.filter(item => item.key % 2)
            break;
          case 'Show even':
            filteredData = data.filter(item => !(item.key % 2))
            break;
          case 'Show all':
          default:
            filteredData = [...data];
        }

        this.setState({...this.state, filteredData, selectedFilterKey: selected.key, selectedDataKey: null});

      }

      handleDataSelect(selected){
        this.setState({...this.state, selecteData: selected});
      }

      render() {
        const {filteredData, filtersData, selectedFilterKey, selectedDataKey} = this.state;
        return (
          <div class="filters-block">
            <Select
              selectedLabel="Filter"
              label="Please select filter"
              filter
              clear
              selected={filtersData.filter(item => item.key === selectedFilterKey)[0]}
              onSelect={this.onFilterSelect}
              data={filtersData}
            />
            <Select
              selectedLabel="Option"
              label="Please select option"
              filter
              clear
              selected={filteredData.filter(item => item.key === selectedDataKey)[0]}
              onSelect={this.onDataSelect}
              data={filteredData}
            />
          </div>
        );
      }
    }

    render(
      <SelectWrapper/>,
      document.getElementById('demo')
    );
  </file>
</example>
