@import "../global/variables.css";

@value unit from "../global/global.css";

.filterWithTags {
  overflow: hidden;

  margin: calc(unit * 2) unit 0;
  padding: 1px;

  text-align: left;

  border: 1px solid var(--ring-borders-color);
}

.tags {
  display: inline-block;
}

.filter {
  width: 100%;

  & input {
    font-weight: 200;
  }
}

.filterWrapper {
  position: relative;

  margin: 0;
  padding-right: unit;
  padding-left: calc(unit * 5.5);

  border-bottom: 1px solid var(--ring-line-color);
}

.filterIcon {
  position: absolute;
  top: 3px;
  left: calc(unit * 2);

  color: var(--ring-secondary-color);
}

.bottomLine {
  text-align: center;
}

.message {
  display: inline-block;

  margin: unit 0;
  padding: 0 calc(2 * unit);
}
