@import "../global/global";

.ring-select {
  display: inline-block;
  position: relative;
  color: #888;

  &__filter-wrapper {
    padding: 2*$ring-unit 2*$ring-unit $ring-unit;
  }

  &__not-found {
    padding: $ring-unit;
  }
}

.ring-btn.ring-select {
  font-size: 13px;
  width: 200px;
  text-align: left;
  white-space: nowrap;
}

  .ring-select__label {
    width: 100%;
    text-overflow: ellipsis;
    display: inline-block;
    overflow: hidden;
    padding-right: 3*$ring-unit;
  }

  .ring-select__icons {
    position: absolute;
    top: 0;
    right: $ring-unit;
  }
