.select {
  position: relative;

  display: inline-block;

  white-space: nowrap;

  color: var(--ring-text-color);
}

.toolbar {
  border-top: 1px solid var(--ring-line-color);
}

.button {
  width: 100%;
  height: calc(4 * var(--ring-unit));
  margin: var(--ring-unit) 0;
  padding: 0 calc(2 * var(--ring-unit));

  text-align: left;
}

.icons {
  position: absolute;
  top: -4px;
  right: 0;

  transition: color var(--ring-ease);

  color: var(--ring-secondary-color);

  line-height: calc(var(--ring-unit) * 4);

  & :global(.ring-loader_inline) {
    top: 2px;

    margin-right: 2px;
  }

  @nest .inputMode & {
    top: 12px;

    font-size: var(--ring-font-size);
  }

  @nest .buttonMode & {
    top: -6px;
    right: var(--ring-unit);
  }
}

.selectedIcon {
  display: inline-block;

  width: calc(2 * var(--ring-unit));
  height: calc(2 * var(--ring-unit));
  margin: 0 4px;

  vertical-align: middle;

  background-repeat: no-repeat;
  background-position: center;

  background-size: contain;
}

.clearIcon {
  padding: 0 3px;

  vertical-align: -2px;
}

.clearIcon.clearIcon > span > span {
  color: var(--ring-secondary-color);
}

.sizeS {
  width: calc(var(--ring-unit) * 12);
}

.sizeM {
  width: calc(var(--ring-unit) * 30);
}

.sizeL {
  width: calc(var(--ring-unit) * 50);
}

.sizeFULL {
  width: 100%;
}

.buttonMode,
.materialMode {
  position: relative;

  cursor: pointer;
}

.value {
  composes: ellipsis from "../global/global.css";
  composes: font from "../global/global.css";

  display: inline-block;

  box-sizing: border-box;
  width: 100%;
  height: calc(var(--ring-unit) * 4 + 1px);
  padding: 0 0 3px;

  cursor: pointer;
  transition: color var(--ring-ease), border-color var(--ring-ease);
  text-align: left;
  vertical-align: top;

  border: none;
  border-bottom: 1px solid var(--ring-line-color);
  outline: none;
  background: transparent;

  &:focus {
    border-color: var(--ring-main-color);
  }

  &.open,
  &:active {
    border-color: transparent;
  }

  &::-moz-focus-inner {
    padding: 0;

    border: 0;
    outline: 0;
  }
}

.buttonValue {
  composes: ellipsis from "../global/global.css";

  width: 100%;

  text-align: left;
  vertical-align: calc(0 - var(--ring-unit));
}

.buttonValueOpen {
  border-color: var(--ring-selected-background-color);
  background-color: var(--ring-selected-background-color);

  & .icons {
    transition: none;

    color: var(--ring-main-color);
  }
}

.label {
  position: relative;

  color: var(--ring-secondary-color);
}

.select:hover .value,
.select:hover .icons,
.value:focus,
.value:focus + .icons,
.open,
.open + .icons {
  transition: none;

  color: var(--ring-main-color);
}

.disabled {
  pointer-events: none;

  color: var(--ring-disabled-color);

  & .value {
    color: var(--ring-disabled-color);
    border-bottom-style: dashed;
  }
}

.selectedLabel {
  position: absolute;
  top: calc(var(--ring-unit) * -1.5);

  color: var(--ring-secondary-color);

  font-size: var(--ring-font-size-smaller);
  line-height: var(--ring-line-height-lowest);
}

.avatar {
  margin-right: 4px;

  vertical-align: -5px;
}

.popup {
  min-width: calc(var(--ring-unit) * 30);
  max-width: calc(var(--ring-unit) * 40);
}
