@import "../global/global";
@import "../input/input";

.ring-select-popup__filter-with-tags {
  overflow: hidden;

  margin: $ring-unit*2 $ring-unit 0;
  padding: 1px;

  text-align: left;

  border: 1px solid $ring-border-color;

  &_focused {
    @include focused_input;
  }

  .ring-select-popup__tags {
    display: inline-block;
  }

  .ring-select-popup__filter {
    display: inline-block;

    margin: 0;
    padding-left: 0;

    .ring-input {
      border-color: transparent;
    }
  }
}
