<example name="Select with a filter">
  <file type="html">
    <p>test</p>
    <div id="demo"></div>
    <button id="clear">Clear selected</button>
  </file>
  <file type="scss">
    body {
      padding: 8px;
      width: 50%;
    }
  </file>
  <file type="js">
    var render = require('react-dom').render;
    var Select = require('ring-ui/components/select/select');
    require('ring-ui/components/input-size/input-size.scss');

    var props = {
    filter: true
    };

    var data = {
    data: [
    {'label': 'One', 'key': '1', 'type': 'user'},
    {'label': 'Group', 'key': '2', 'type': 'user'},
    {'label': 'Three', 'key': '3', 'type': 'user'},
    {'label': 'With icon', key: 4, icon: 'http://flagpedia.net/data/flags/mini/de.png'}
    ],
    clear: true,
    selected: {'label': 'Group', 'key': '2', 'type': 'user'}
    };

    var select = render(Select.factory(props), document.getElementById('demo'))
    select.rerender(data);

    document.getElementById('clear').addEventListener('click', function() {
    select.rerender({selected: null});
    });
  </file>
</example>

<example name="Select with a large dataset">
  <file type="html">
    <div id="demo"></div>
  </file>
  <file type="scss">
    body {
      padding: 8px;
      width: 50%;
    }
  </file>
  <file type="js">
    var render = require('react-dom').render;
    var Select = require('ring-ui/components/select/select');
    require('ring-ui/components/input-size/input-size.scss');

    var elementsNum = 100000;
    var selectedIndex = parseInt(elementsNum / 2);
    var dataset  = [];
    for (var i = 0; i < elementsNum; i++) {
    dataset.push({'label': 'element ' + i, 'key': i, 'type': 'user'});
    }

    var props = {
    data: dataset
    };

    var select = render(Select.factory({filter: true, selected: dataset[selectedIndex]}), document.getElementById('demo'))
    select.rerender(props);
  </file>
</example>

<example name="Multiple select with a description">
  <file type="html">
    <div id="demo"></div>
  </file>
  <file type="scss">
    body {
      padding: 8px;
      width: 50%;
    }
  </file>
  <file type="js">
    var render = require('react-dom').render;
    var Select = require('ring-ui/components/select/select');
    require('ring-ui/components/input-size/input-size.scss');

    var deFlag = 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACEAAAAUCAIAAACMMcMmAAAAKklEQVRIx2NgGAWjgAbAh/aI4S7t0agdI9COzx00Rwz/z9Ecjdox8uwAACkGSkKIaGlAAAAAAElFTkSuQmCC';
    var ruFlag = 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAUCAYAAACaq43EAAAAOUlEQVR42u3TUQ0AIAwD0aIGt5OFBtx0mCBNljsD7+uWXwoEDPwPrvKJwJINDDwLvtqZnSwZGHgU3Kx2NIuI4wdUAAAAAElFTkSuQmCC';
    var icons = [deFlag, ruFlag, undefined];

    var elementsNum = 5;
    var dataset  = [];
    for (var i = 0; i < elementsNum; i++) {
    dataset.push({'label': 'element ' + i, 'key': i, description: 'description ' + i, icon: icons[i % 3]});
    }

    var props = {
    data: dataset
    };

    var select = render(
    Select.factory(
    {filter: true, selected: [dataset[0], dataset[3]], multiple: true}),
    document.getElementById('demo')
    );
    select.rerender(props);
  </file>
</example>

<example name="Disabled select">
  <file type="html">
    <div id="demo1"></div>
    <div id="demo2"></div>
  </file>
  <file type="js">
    var render = require('react-dom').render;
    var Select = require('ring-ui/components/select/select');

    render(
    Select.factory({disabled: true, loading: true}),
    document.getElementById('demo1')
    );

    render(
    Select.factory({disabled: true, loading: true, type: Select.Type.INPUT}),
    document.getElementById('demo2')
    );
  </file>
  <file type="scss">
    body {
      padding: 8px;
      width: 50%;
    }
  </file>
</example>

<example name="Simple input-based select">
  <file type="html">
    <div id="demo"></div>
  </file>
  <file type="js">
    var render = require('react-dom').render;
    var Select = require('ring-ui/components/select/select');

    var data = [];
    for(let i = 0; i < 20; i++) {
    data.push({'label': 'Item ' + i, 'key': i});
    }

    render(
    Select.factory({ type: Select.Type.INPUT, data: data }),
    document.getElementById('demo')
    );
  </file>
  <file type="scss">
    body {
      padding: 8px;
      width: 50%;
    }
  </file>
</example>

<example name="Simple input-based select in suggest-only mode">
  <file type="html">
    <div id="demo"></div>
  </file>
  <file type="js">
    var render = require('react-dom').render;
    var Select = require('ring-ui/components/select/select');

    var data = [];
    for(let i = 0; i < 20; i++) {
    data.push({'label': 'Item ' + i, 'key': i});
    }

    render(Select.factory({
    type: Select.Type.INPUT,
    allowAny: true,
    hideArrow: true,
    label: 'Placeholder without arrow',
    data: data, selected: data[1]
    }), document.getElementById('demo'));
  </file>
  <file type="scss">
    body {
      padding: 8px;
      width: 50%;
    }
  </file>
</example>

<example name="Simple select with the default filter mode">
  <file type="html">
    <div id="demo"></div>
  </file>
  <file type="js">
    var render = require('react-dom').render;
    var Select = require('ring-ui/components/select/select');

    render(Select.factory({
    filter: true,
    data: [
    {'label': 'One', 'key': '1'},
    {'label': 'Two', 'key': '2', disabled: true},
    {'label': 'Two One', 'key': '2.1', level: 1},
    {'label': 'Two Two', 'key': '2.2', level: 1},
    {'label': 'Three', 'key': '3'}
    ]
    }), document.getElementById('demo'));
  </file>
  <file type="scss">
    body {
      padding: 8px;
      width: 50%;
    }
  </file>
</example>

<example name="Simple select with the default filter mode and a loading indicator">
  <file type="html">
    <div id="demo"></div>
  </file>
  <file type="js">
    var render = require('react-dom').render;
    var Select = require('ring-ui/components/select/select');

    render(Select.factory({
    filter: true,
    loading: true,
    data: [
    {'label': 'One', 'key': '1'},
    {'label': 'Group', 'key': '2'},
    {'label': 'Three', 'key': '3'}
    ],
    selected: {'label': 'Group', 'key': '2'}
    }), document.getElementById('demo'));
  </file>
</example>

<example name="Select with a customized filter and an 'Add item' button">
  <file type="html">
    <div id="demo" class="ring-input-size_md"></div>
  </file>
  <file type="js">
    var render = require('react-dom').render;
    var Select = require('ring-ui/components/select/select');
    require('ring-ui/components/input-size/input-size.scss');

    var data = [];
    for(let i = 0; i < 100; i++) {
    data.push({'label': 'Item long long long long long  long long long label ' + i, 'key': i});
    }

    render(Select.factory({
    filter: {
    placeholder: 'Select me',
    value: 'One'
    },
    hint: 'Press down to do something',
    add: {
    prefix: 'Add name'
    },
    onAdd: function(value) {
    console.log('Add', value);
    },
    data: data,
    selected: data[49],
    'onSelect': function(selected) {
    console.log('onSelect, selected item:', selected);
    }
    }), document.getElementById('demo'));
  </file>
  <file type="scss">
    body {
      padding: 8px;
      width: 50%;
    }
  </file>
</example>

<example name="Select with an always visible 'Add item' button">
  <file type="html">
    <div id="demo"></div>
  </file>
  <file type="js">
    var render = require('react-dom').render;
    var Select = require('ring-ui/components/select/select');

    var data = [];
    for(let i = 0; i < 10; i++) {
    data.push({'label': 'Item ' + i, 'key': i});
    }

    render(Select.factory({
    filter: {
    placeholder: 'Select me',
    value: 'One'
    },
    add: {
    alwaysVisible: true,
    label: 'Create New Blah Blah'
    },
    onAdd: function(value) {
    console.log('Add', value);
    },
    data: data,
    'onSelect': function(selected) {
    console.log('onSelect, selected item:', selected);
    }
    }), document.getElementById('demo'));
  </file>
  <file type="scss">
    body {
      padding: 8px;
      width: 50%;
    }
  </file>
</example>

<example name="Multiple-choice select with custom view">
  <file type="html">
    <div id="multipleCustomView"></div>
    <div id="demo"></div>
  </file>
  <file type="js">
    var render = require('react-dom').render;
    var Select = require('ring-ui/components/select/select');

    render(Select.factory({
    filter: true,
    add: {
    prefix: 'Add some item'
    },
    multiple: {
    label: 'Change selected items', // override button label if something selected
    removeSelectedItems: false      // remove selected items from the list, useful with "disableLabelSelection" and custom display
    },
    selected: [{'label': 'Two long label', 'key': '2'}],
    data: [
    {'label': 'One long label', 'key': '1'},
    {'label': 'Two long label', 'key': '2'},
    {'label': 'Three long label', 'key': '3'}
    ],
    onSelect: function(selected) {
    console.log('onSelect, selected item:', selected);
    },
    onDeselect: function(deselected) {
    console.log('onDeselect, deselected item:', deselected);
    },
    onChange: function(selection) {
    console.log('onChange, selection:', selection);
    var items = [];
    selection.forEach(function(item) {
    items.push(item.label);
    });
    document.getElementById('multipleCustomView').innerHTML = items.join(', ');
    }
    }), document.getElementById('demo'));
  </file>
  <file type="scss">
    body {
      padding: 8px;
      width: 50%;
    }
  </file>
</example>

<example name="Select as a dropdown without filter">
  <file type="html">
    <button id="demoButton">Click me</button>
    <div id="demo" ></div>
    <div id="changeResult" ></div>
  </file>
  <file type="js">
    var render = require('react-dom').render;
    var Select = require('ring-ui/components/select/select');

    var data = [];
    for(let i = 0; i < 20; i++) {
    data.push({'label': 'Item ' + i, 'description': 'Description for the item lalalalala ' + i, 'key': i});
    }
    var select = render(
    Select.factory({
    type: 2,
    data: data,
    onChange: function(selected) {
    document.getElementById('changeResult').innerHTML = selected.label;
    }
    }),
    document.getElementById('demo')
    );

    document.getElementById('demoButton').onclick = function() {
    select._clickHandler();
    }
  </file>
  <file type="scss">
    body {
      padding: 8px;
      width: 50%;
    }
  </file>
</example>
