.filterWithTags {
  overflow: hidden;

  margin: calc(var(--ring-unit) * 2) var(--ring-unit) 0;
  padding: 1px;

  text-align: left;

  border: 1px solid var(--ring-borders-color);
}

.tags {
  display: inline-block;
}

.filter {
  width: 100%;

  & input {
    font-weight: 200;
  }
}

.filterWrapper {
  position: relative;

  margin: 0;
  padding-right: var(--ring-unit);
  padding-left: calc(var(--ring-unit) * 5.5);

  border-bottom: 1px solid var(--ring-line-color);
}

.filterIcon {
  position: absolute;
  top: 3px;
  left: calc(var(--ring-unit) * 2);

  color: var(--ring-secondary-color);
}

.bottomLine {
  text-align: center;
}

.message {
  margin: var(--ring-unit) 0;
  padding: 0 calc(2 * var(--ring-unit));
}
