@value unit, font, line-color, main-color, link-hover-color, text-color, disabled-color, dark-text-color, dark-secondary-color, dark-line-color from "../global/global.css";
@value line-shadow: inset 0 -1px 0 0;
@value selected-line-shadow: inset 0 -3px 0 0;

.tabs {
  composes: font;
}

.titles {
  display: inline-block;

  margin-bottom: calc(unit * 2);
}

.light .titles {
  box-shadow: line-shadow line-color;
}

.dark .titles {
  box-shadow: line-shadow dark-line-color;
}

.title {
  composes: font;

  position: relative;

  display: inline-block;

  padding: 0;

  cursor: pointer;

  color: inherit;

  border: none;
  background: none;

  line-height: calc(unit * 4);

  &:hover:not(.selected) {
    color: link-hover-color;
    box-shadow: inset 0 -1px 0 0 link-hover-color;
  }

  &[disabled] {
    pointer-events: none;
  }
}

.title + .title {
  margin-left: calc(unit * 3);
}

.light .title {
  &[disabled] {
    color: disabled-color;
  }
}

.dark .title {
  color: dark-secondary-color;

  &[disabled] {
    color: text-color;
  }
}

.selected {
  cursor: default;

  box-shadow: selected-line-shadow text-color;

  font-weight: bold;
}

.dark .selected {
  color: dark-text-color;
  box-shadow: selected-line-shadow main-color;
}

.visible {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  text-align: center;
}

.hidden {
  visibility: hidden;

  font-weight: bold;
}

.tabCounter {
  padding-left: 8px;

  color: #999;

  font-size: 12px;
  font-weight: normal;
  line-height: 19px; /* prevent jumps in Firefox */
}
