@value unit, font, line-color, main-color, link-hover-color, text-color, gray-color, white-color, darker-gray-color, dark-line-color from "../global/global.css";
@value line-shadow: inset 0 -1px 0 0;
@value selected-line-shadow: inset 0 -3px 0 0;

.tabs {
  composes: font;
}

.titles {
  margin-bottom: calc(unit * 2);
}

.light .titles {
  box-shadow: line-shadow line-color;
}

.dark .titles {
  box-shadow: line-shadow dark-line-color;
}

.title {
  position: relative;

  display: inline-block;

  cursor: pointer;

  line-height: calc(unit * 4);

  & + & {
    margin-left: calc(unit * 3);
  }

  &:hover:not(.selected) {
    color: link-hover-color;
    box-shadow: inset 0 -1px 0 0 link-hover-color;
  }

  &[disabled] {
    pointer-events: none;
  }
}

.light .title {
  &[disabled] {
    color: gray-color;
  }
}

.dark .title {
  color: darker-gray-color;

  &[disabled] {
    color: text-color;
  }
}

.selected {
  cursor: default;

  box-shadow: selected-line-shadow text-color;

  font-weight: bold;
}

.dark .selected {
  color: white-color;
  box-shadow: selected-line-shadow main-color;
}

.visible {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  text-align: center;
}

.hidden {
  visibility: hidden;

  font-weight: bold;
}
