.demo {
  padding: 16px 0;
}

.demo1 {
  margin: 32px 0 16px;
}

.demo2 {
  margin: 16px 0;
}

.demo-container {
  width: 50%;
  padding: 8px;
  padding-left: 128px;
}

.demo-container {
  width: 50%;
  padding: 8px;
}

.demo-wrapper {
  margin: 8px;
}

.wrapper {
  border: 1px solid var(--ring-borders-color);
  border-radius: var(--ring-border-radius);
}

.label {
  margin: 2px 0;
  padding-left: 8px;

  color: #669ecc; /* stylelint-disable-line color-no-hex */
  border-radius: var(--ring-border-radius);
  background-color: #e5f4ff; /* stylelint-disable-line color-no-hex */
}

.demo3 {
  position: absolute;
  bottom: 20px;
}

.filters-block {
  padding: 8px 0;
}

.filters-block > *:not(:nth-of-type(1)) {
  margin-left: 20px;
}

.popup-test-class {
  width: 300px;
  height: 300px;
}
