<example name="Header with a Settings popup menu">
  <file type="html">
    <div id="header-container"></div>
    <div class="page-content">Page content</div>
  </file>

  <file type="css">
    body {
      margin: 0;
      background: #e8e8e9;
    }

    :global(.page-content) {
      background: #FFF;
      padding: 32px;
      height: 370px;
    }
  </file>

  <file type="js">
    import React from 'react';
    import ReactDOM from 'react-dom';
    import hubConfig from 'ring-ui/site/hub-config';

    import Header from 'ring-ui/components/header-legacy/header-legacy';
    import Popup from 'ring-ui/components/popup/popup';
    import Auth from 'ring-ui/components/auth/auth';
    import Link from 'ring-ui/components/link/link';
    import Input from 'ring-ui/components/input-legacy/input-legacy';
    import Button from 'ring-ui/components/button-legacy/button-legacy';
    import ButtonGroup from 'ring-ui/components/button-group/button-group';
    import List from 'ring-ui/components/list/list';

    import caretDownIcon from 'jetbrains-icons/caret-down.svg';

    var popup, popupContainer;

    var auth = new Auth(hubConfig);

    // Renders a YouTrack header to the DOM
    var header = ReactDOM.render(Header.factory({
      helpLink: 'http://www.yandex.ru',
      logo: 'youtrack',
      logoTitle: 'YouTrack',
      menu: [
        {
          component: Link,
          props: {href: '#', key: 'proj'},
          children: 'Projects'
        },
        {
          component: Link,
          props: {href: '#', key: 'dash'},
          children: 'Dashboard'
        },
        {
          component: ButtonGroup, props: {key: 'create_issue'}, children: [
          Button.factory({
            primary: true,
            key: 'create_issue_1'
          }, 'Create Issue'),
          Button.factory({
            icon: caretDownIcon,
            primary: true,
            key: 'create_issue_2',
            short: true
          })
        ]
        },
      ],
      rightMenu: [
        {
          component: Link,
          props: {href: '#', key: 'wtn'},
          children: 'What\'s new'
        },
        {component: Input, props: {key: 'srch'}}
      ]
    }), document.getElementById('header-container'));

    auth.init().then(function () {
      Header.HeaderHelper.setUserMenu(header, auth);
      Header.HeaderHelper.setServicesList(header, auth);
    });

    header.setSettingsMenu([
      {
        'label': 'Project Related Settings',
        'rgItemType': List.ListProps.Type.TITLE
      },
      {
        'label': 'Custom Fields',
        href: '#',
        'rgItemType': List.ListProps.Type.LINK
      },
      {
        'label': 'Issue Link Types',
        href: '#',
        'rgItemType': List.ListProps.Type.LINK
      },
      {
        'label': 'Notification Templates',
        href: '#',
        'rgItemType': List.ListProps.Type.LINK
      },
      {
        'label': 'Time Tracking',
        href: '#',
        'rgItemType': List.ListProps.Type.LINK
      },
      {'label': 'Workflows', href: '#', 'rgItemType': List.ListProps.Type.LINK},

      {'label': 'Access Management', 'rgItemType': List.ListProps.Type.TITLE},
      {'label': 'Users', href: '#', 'rgItemType': List.ListProps.Type.LINK},
      {'label': 'Groups', href: '#', 'rgItemType': List.ListProps.Type.LINK},
      {'label': 'Roles', href: '#', 'rgItemType': List.ListProps.Type.LINK},
      {
        'label': 'Auth Modules',
        href: '#',
        'rgItemType': List.ListProps.Type.LINK
      },
      {'label': 'SAML 2.0', href: '#', 'rgItemType': List.ListProps.Type.LINK},
    ]);
  </file>
</example>

<example name="Basic header">
  <file type="html">
    <div id="header-container"></div>
    <div class="page-content">Page content</div>
    <div class="popup-container"></div>
  </file>

  <file type="css">
    body {
      margin: 0;
      background: #e8e8e9;
    }

    :global(.page-content) {
      background: #FFF;
      padding: 32px;
      height: 370px;
    }
  </file>

  <file type="js">
    import React from 'react';
    import ReactDOM from 'react-dom';

    import Header from 'ring-ui/components/header-legacy/header-legacy';
    import Link from 'ring-ui/components/link/link';

    // Renders a YouTrack header to the DOM
    var header = ReactDOM.render(Header.factory({
      helpLink: 'http://www.yandex.ru',
      logo: 'upsource',
      logoTitle: 'Upsource',
      settingsLink: '#settings',
      menu: [
        {
          component: Link,
          props: {href: '#', key: 'proj'},
          children: 'Projects'
        },
        {
          component: Link,
          props: {href: '#', key: 'dash'},
          children: 'Dashboard'
        }
      ]
    }), document.getElementById('header-container'));
  </file>
</example>
