<example name="Header with a Settings popup menu">
  <file type="html">
    <div id="header-container"></div>
    <div class="page-content">Page content</div>
  </file>

  <file type="scss">
    body {
      margin: 0;
      background: #e8e8e9;
    }

    .page-content {
      background: #FFF;
      padding: 32px;
      height: 370px;
    }
  </file>

  <file type="js">
    var React = require('react');
    var ReactDOM = require('react-dom');
    var hubConfig = require('ring-ui/site/hub-config');

    var Header = require('ring-ui/components/header-legacy/header-legacy');
    var Popup = require('ring-ui/components/popup/popup');
    var Auth = require('ring-ui/components/auth/auth');
    var Link = require('ring-ui/components/link/link');
    var Input = require('ring-ui/components/input-legacy/input-legacy');
    var Button = require('ring-ui/components/button-legacy/button-legacy');
    var ButtonGroup = require('ring-ui/components/button-group/button-group');
    var List = require('ring-ui/components/list/list');

    var popup, popupContainer;

    var auth = new Auth(hubConfig);

    // Renders a YouTrack header to the DOM
    var header = ReactDOM.render(Header.factory({
      helpLink: 'http://www.yandex.ru',
      logo: 'youtrack',
      logoTitle: 'YouTrack',
      menu: [
        {
          component: Link,
          props: {href: '#', key: 'proj'},
          children: 'Projects'
        },
        {
          component: Link,
          props: {href: '#', key: 'dash'},
          children: 'Dashboard'
        },
        {
          component: ButtonGroup, props: {key: 'create_issue'}, children: [
          Button.factory({
            primary: true,
            key: 'create_issue_1'
          }, 'Create Issue'),
          Button.factory({
            icon: require('jetbrains-icons/caret-down.svg'),
            primary: true,
            key: 'create_issue_2',
            short: true
          })
        ]
        },
      ],
      rightMenu: [
        {
          component: Link,
          props: {href: '#', key: 'wtn'},
          children: 'What\'s new'
        },
        {component: Input, props: {key: 'srch'}}
      ]
    }), document.getElementById('header-container'));

    auth.init().then(function () {
      Header.HeaderHelper.setUserMenu(header, auth);
      Header.HeaderHelper.setServicesList(header, auth);
    });

    header.setSettingsMenu([
      {
        'label': 'Project Related Settings',
        'rgItemType': List.ListProps.Type.TITLE
      },
      {
        'label': 'Custom Fields',
        href: '#',
        'rgItemType': List.ListProps.Type.LINK
      },
      {
        'label': 'Issue Link Types',
        href: '#',
        'rgItemType': List.ListProps.Type.LINK
      },
      {
        'label': 'Notification Templates',
        href: '#',
        'rgItemType': List.ListProps.Type.LINK
      },
      {
        'label': 'Time Tracking',
        href: '#',
        'rgItemType': List.ListProps.Type.LINK
      },
      {'label': 'Workflows', href: '#', 'rgItemType': List.ListProps.Type.LINK},

      {'label': 'Access Management', 'rgItemType': List.ListProps.Type.TITLE},
      {'label': 'Users', href: '#', 'rgItemType': List.ListProps.Type.LINK},
      {'label': 'Groups', href: '#', 'rgItemType': List.ListProps.Type.LINK},
      {'label': 'Roles', href: '#', 'rgItemType': List.ListProps.Type.LINK},
      {
        'label': 'Auth Modules',
        href: '#',
        'rgItemType': List.ListProps.Type.LINK
      },
      {'label': 'SAML 2.0', href: '#', 'rgItemType': List.ListProps.Type.LINK},
    ]);
  </file>
</example>

<example name="Basic header">
  <file type="html">
    <div id="header-container"></div>
    <div class="page-content">Page content</div>
    <div class="popup-container"></div>
  </file>

  <file type="scss">
    body {
      margin: 0;
      background: #e8e8e9;
    }

    .page-content {
      background: #FFF;
      padding: 32px;
      height: 370px;
    }
  </file>

  <file type="js">
    var React = require('react');
    var ReactDOM = require('react-dom');

    var Header = require('ring-ui/components/header-legacy/header-legacy');
    var Link = require('ring-ui/components/link/link');

    // Renders a YouTrack header to the DOM
    var header = ReactDOM.render(Header.factory({
      helpLink: 'http://www.yandex.ru',
      logo: 'upsource',
      logoTitle: 'Upsource',
      settingsLink: '#settings',
      menu: [
        {
          component: Link,
          props: {href: '#', key: 'proj'},
          children: 'Projects'
        },
        {
          component: Link,
          props: {href: '#', key: 'dash'},
          children: 'Dashboard'
        }
      ]
    }), document.getElementById('header-container'));
  </file>
</example>
