@value link-color, link-hover-color, fast-ease from "../global/global.css";

/**
  These styles are deprecated and kept for backward compatibility with direct class usages
  like `<a class="ring-link">link</a>
 */

:global .ring-link {
  & {
    cursor: pointer;
    transition: color fast-ease;

    text-decoration: none;

    color: link-color;
  }

  &:hover {
    transition: none;

    text-decoration: underline;

    color: link-hover-color;
  }
}

:global .ring-link_inherit:not(:hover) {
  color: inherit;
}
