@value link-color, link-hover-color, fast-ease from "../global/global.css";

.link {
  & {
    cursor: pointer;
    transition: color fast-ease;
    text-decoration: none;

    color: link-color;
  }

  &:hover,
  &:focus,
  &.hover {
    transition: none;

    color: link-hover-color;
  }

  &:hover .inner {
    border-width: 0;
    border-bottom: 1px solid;
    border-image-source: linear-gradient(currentcolor 50%, transparent 50%);
    border-image-slice: 0 0 100% 0;
  }

  &.active {
    color: inherit;
  }
}

.inherit:not(:hover) {
  color: inherit;
}
