@value link-color, link-hover-color, fast-ease from "../global/global.css";

.link {
  &, &:visited {
    color: link-color;
    text-decoration: none;
    cursor: pointer;
    transition: color fast-ease;
  }

  &.hover,
  &.hover:visited,
  &:hover {
    color: link-hover-color;
    text-decoration: underline;
    transition: none;
  }
}
