<example name="Link">
  <file type="html">
    <div id="link"></div>
  </file>

  <file type="css">
    :global(.container) {
      line-height: 24px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    :global(.hub-link) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    :global(.hub-icon) {
      margin: 16px 0 8px;
    }
  </file>

  <file type="js">
    import React, {Component} from 'react';
    import {render} from 'react-dom';
    import classnames from 'classnames';
    import Link, {linkHOC} from 'ring-ui/components/link/link';
    import Icon from 'ring-ui/components/icon/icon';
    import hubLogo from 'jetbrains-logos/hub/hub.svg';

    class CustomComponent extends Component {
      render() {
        const {active, activeClassName, className,...props} = this.props;
        const classes = classnames(className, {
          [activeClassName]: active
        });
        return (
          <a
            {...props}
            className={className}
          />
        );
      }
    }

    const CustomLink = linkHOC(CustomComponent);
    class LinkDemo extends Component {
      render() {
        return (
         <div className="container">
           <Link href="#hash">Ordinary link</Link>
           <Link href="#hash" active>Active link (inherits color)</Link>
           <Link href="#hash" pseudo>Pseudo link (no underline on hover)</Link>
           <CustomLink href="#hash">Custom link component</CustomLink>
           <CustomLink href="#hash" active>Active custom link component</CustomLink>

           <Link href="#hash" className="hub-link">
            {WrapText => [
              <Icon key="icon" glyph={hubLogo} size={Icon.Size.Size128} className="hub-icon"/>,
              <WrapText key="text">Link with non-text content</WrapText>
            ]}
           </Link>
         </div>
        );
      }
    }
    render(<LinkDemo />, document.getElementById('link'));
  </file>
</example>
