@import "../global/variables.css";

.link {
  composes: link from "../alert/alert.css"; /* To override link stiles inside alert */

  cursor: pointer;
  transition: color var(--ring-fast-ease);

  color: var(--ring-link-color);

  &,
  &:hover {
    text-decoration: none;
  }

  &:hover,
  &.hover {
    transition: none;

    color: var(--ring-link-hover-color);
  }

  &:hover .inner {
    border-width: 0;
    border-bottom: 2px solid;
    border-image-source: linear-gradient(currentcolor 50%, transparent 50%);
    border-image-slice: 0 0 100% 0;
  }

  &.active {
    color: inherit;
  }

  &.compatibilityUnderlineMode:hover {
    text-decoration: underline;

    /* stylelint-disable-next-line selector-max-specificity */
    & .inner {
      border: none;
    }
  }

  &.pseudo:hover {
    text-decoration: none;

    /* stylelint-disable-next-line selector-max-specificity */
    & .inner {
      border: none;
    }
  }

  outline: none;

  &:global(.focus-visible) {
    box-shadow: 0 0 0 2px var(--ring-border-hover-color);
  }
}

@media (min-resolution: 2dppx) {
  .link:hover .inner {
    border-bottom-width: 1px;
  }
}

.text {
  border-radius: var(--ring-border-radius);
}

.inherit:not(:hover) {
  color: inherit;
}

.pseudo {
  margin: 0;
  padding: 0;

  text-align: left;

  border: 0;

  background: transparent;

  font: inherit;

  &::-moz-focus-inner {
    padding: 0;

    border: 0;
  }
}
