@import "../global/variables.css";

.heading {
  composes: font from "../global/global.css";

  margin-top: var(--ring-line-height);

  &:first-child {
    margin-top: 0;
  }

  @nest h1&, h2& {
    margin-bottom: 8px;

    color: var(--ring-heading-color);
  }

  @nest h1& {
    font-size: 24px;
    line-height: 28px;
  }

  @nest h2& {
    font-size: 20px;
    line-height: 24px;
  }

  @nest h3& {
    margin-bottom: 0;

    font-size: 16px;
    line-height: 22px;
  }

  @nest h4& {
    margin-bottom: 1px;

    letter-spacing: 1px;
    text-transform: uppercase;

    font-size: 12px;
    font-weight: normal;
    line-height: 18px;
  }
}

.caps {
  letter-spacing: 2px;
  text-transform: uppercase;
}
