@import '../global/variables.css';

.contentWithHeadings {
  & h1,
  &:is(h1),
  & h2,
  &:is(h2),
  & h3,
  &:is(h3),
  & h4,
  &:is(h4) {
    margin-top: var(--ring-line-height);

    font-weight: var(--ring-font-weight-bold);

    &:first-child {
      margin-top: 0;
    }
  }

  & :is(h1, h2),
  &:is(h1, h2) {
    margin-bottom: 8px;

    color: var(--ring-heading-color);
  }

  & h1,
  &:is(h1) {
    font-size: 24px;
    line-height: 28px;
  }

  & h2,
  &:is(h2) {
    font-size: 20px;
    line-height: 24px;
  }

  & h3,
  &:is(h3) {
    margin-bottom: 0;

    font-size: 16px;
    line-height: 22px;
  }

  & h4,
  &:is(h4) {
    margin-bottom: 1px;

    letter-spacing: 1px;
    text-transform: uppercase;

    font-size: 12px;
    font-weight: normal;
    line-height: 18px;
  }
}

.heading {
  composes: font from '../global/global.css';
  composes: contentWithHeadings;
}

.caps {
  letter-spacing: 2px;
  text-transform: uppercase;
}

.heading.bold {
  font-weight: var(--ring-font-weight-bold);
}
