// Loader
//
// Markup:
// <div class="ring-loader"></div>
//
// Styleguide 8.1

@keyframes rotating {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes colors {
  0% {
    border-left-color: #ff0000;
  }

  20% {
    border-left-color: #ff9800;
  }

  40% {
    border-left-color: #ffff00;
  }
  60% {
    border-left-color: green;
  }
  80% {
    border-left-color: blue;
  }

  100% {
    border-left-color: magenta;
  }
}

.ring-loader {
  margin: 20px auto;
  border-radius: 50%;
  border: solid 2px #D8D8D8;
  width: 3 * $ring-unit;
  height: 3 * $ring-unit;
  animation: colors 6s linear infinite, rotating 0.7s linear infinite;
}