@import "../global/global";

$tags-input-padding: $ring-unit / 4;

.ring-tags-list {
  .ring-tag {
    margin-bottom: 3px;
  }
}

.ring-tags-list.ring-tags-list_disabled .ring-tag {
  opacity: 0.5;
}
