
.custom-css-class-button-right {
  float: right;

  color: #c10000;
}

.form-with-inputs {
  margin-top: -16px;
}

.long-page {
  height: 2000px;
}

.high-field.high-field {
  padding: 0;

  line-height: 32px;
}
