<example name="Button Set">
  <file type="html">
    <div>
      <p>
        <span id="button-set"></span>
      </p>
    </div>
  </file>

  <file type="js">
    import React from 'react';
    import {render} from 'react-dom';
    import Button from 'ring-ui/components/button/button';
    import ButtonSet from 'ring-ui/components/button-set/button-set';

    render(
      <ButtonSet>
        <Button>1st button</Button>
        <Button>2nd button</Button>
        <Button>3rd button</Button>
      </ButtonSet>
      , document.getElementById('button-set')
    );
  </file>
</example>
