@import "../global/global";

.ring-button-set {
  display: inline-block;
  position: relative;

  font-size: 0;
  white-space: nowrap;
}

.ring-button-set .ring-button {
  margin: 0 $ring-unit 0 0;
}

.ring-button-set > .ring-button:last-child {
  margin-right: 0;
}

// Caption element preceding the button set
.ring-button-set__caption {
  @include ring-font();
  margin-right: $ring-unit;

  &:empty {
    margin-right: 0;
  }
}
