@value unit from '../global/global.css';

.buttonSet {
  position: relative;

  display: inline-block;

  white-space: nowrap;

  font-size: 0;

  & :global(.ring-button) {
    margin: 0 unit 0 0;
  }

  & > :global(.ring-button:last-child) {
    margin-right: 0;
  }
}
