@import "../global/global";

.ring-progress-bar {
  overflow: hidden;

  max-width: 36*$ring-unit;
  height: $ring-unit/2;
  margin-bottom: $ring-unit/2;

  border-radius: 2px;
  background-color: #D8D8D8;
}

.ring-progress-bar_global {
  position: absolute;
  top: 0;

  max-width: none;
  width: 100%;

  background: transparent;

  .ring-header ~ & {
    top: $ring-unit*3;
  }
}

.ring-progress-bar__i {
  line-height: $ring-unit/2;

  float: left;

  width: 0;
  height: 100%;

  transition: width .6s ease;
  text-align: center;

  color: #FFF;
  background-color: #25B7FF;
}
