<div class="ring-tabs" rg-shortcuts="ring-tabs" shortcuts-map="keyMap" shortcuts-focus="focus">
  <div class="ring-tabs__tabs" ng-class="tabsClass" role="tablist">
    <button ng-repeat="pane in panes | orderBy:'tabIndex'"
      ng-click="control.select(pane)"
      ng-attr-tabindex="{{pane.selected ? -1 : 0}}"
      ng-disabled="pane.ngDisabled"
      ng-attr-class="{{ tabClass(pane) }}">{{pane.title}}<span
      class="ring-tabs__btn__counter" ng-show="pane.counter !== undefined">{{ pane.counter }}</span>
    </button>
  </div>
  <div class="ring-tabs__container" ng-transclude></div>
</div>
