@import "../global/global";

// Input
//
// Markup:
// <input class="{$modifiers} ring-input" type="text" placeholder="placeholder">
//
// :disabled            - Disabled state, also available as the `.ring-input_disabled` class name.
// :active              - Active state, also available as the `.ring-input_active` class name.
// :focus               - Focus state, also available as the `.ring-input_focus` class name.
// .ring-input_correct  - The entered value is correct.
// .ring-input_error    - The entered value is incorrect.
//
// Styleguide 14.1

.ring-input {
  box-sizing: border-box;
  height: 3*$ring-unit;
  width: 100%;
  margin: 0;
  padding-left: $ring-unit / 2;
  padding-right: $ring-unit/ 2;
  border: 1px solid #CCC;
  background-color: #FFF;

  @include ring-font;
  font-size: 13px;
  line-height: 20px;

  &:active, &:focus, &_active, &_focus {
    border: 1px solid #25B7FF;
    outline: 0;
  }

  &:disabled, &_disabled {
    border: 1px solid #DEDEDE;
    background-color: #F8F8F8;
  }

  &_correct {
    border: 1px solid #84AB28;
  }

  &_error {
    border: 1px solid #F00;
  }

  &_long {
    width: 100%;
  }
}

// Input error bubbles
//
// Markup:
// <div class="ring-input_wrapper">
//   <input class="ring-input ring-input_error" type="text">
//   <div class="ring-input__error-bubble active">Wrong value</div>
// </div>
//
// Styleguide 14.2
.ring-input__error-bubble {
  display: none;
  position: absolute;
  top: 26px;
  left: 0;
  padding-left: 16px;
  padding-right: 16px;
  z-index: 2;

  border-radius: 3px;

  background: #F00;
  color: #FFF;

  @include ring-font;
  font-size: 13px;

  &.active {
    display: inline-block;
  }

  &:before {
    content: '';
    transform: rotate(45deg);
    z-index: $ring-invisible-element-z-index;

    position: absolute;
    top: -4px;
    left: calc(50% - 6px);

    display: block;
    width: 10px;
    height: 10px;

    background: red;
  }
}