@import "../global/global";

// Input
//
// Markup:
// <input class="{$modifiers} ring-input" type="text" placeholder="placeholder">
//
// :disabled            - Disabled state, also available as the `.ring-input_disabled` class name.
// :active              - Active state, also available as the `.ring-input_active` class name.
// :focus               - Focus state, also available as the `.ring-input_focus` class name.
// .ring-input_correct  - The entered value is correct.
// .ring-input_error    - The entered value is incorrect.
//
// Styleguide 14.1

$ring-input-width: 200px;

.ring-input {
  box-sizing: border-box;
  height: $ring-unit*3;
  width: 100%;
  margin: 0;
  padding-left: $ring-unit / 2;
  padding-right: $ring-unit/ 2;
  background-color: #FFF;
  border-width: 1px;
  border-style: solid;
  border-color: #CCC;

  @include ring-font;
  line-height: 20px;

  &:active, &:focus, &_active, &_focus {
    border-color: #25B7FF;
    outline: 0;
  }

  &_correct {
    border-color: #84AB28;
  }

  &_error {
    border-color: #F00;
  }

  &_no-resize {
    resize: none;
  }
}

// Input error bubble
//
// Markup:
//<div class="ring-form__control">
//  <input class="ring-input ring-input_error" type="text">
//  <div class="ring-input__error-bubble">Wrong value</div>
//</div>
//
// Styleguide 14.2

.ring-input__error-bubble {
  display: none;
  position: absolute;
  top: 0;
  left: 100%;
  z-index: 2;
  height: $ring-unit*3;
  box-sizing: border-box;
  margin-left: 2px;
  padding-left: 2*$ring-unit;
  padding-right: 2*$ring-unit;
  white-space: nowrap;
  background: #FFF;
  border-radius: 3px;
  border: 1px solid #e5e5e5;

  line-height: $ring-unit*3;
  @include ring-font;
  color: $ring-color-error;

  box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.15);

  &.active {
    display: inline-block;
  }

  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 7px;
    left: -5px;
    z-index: $ring-invisible-element-z-index;
    width: $ring-unit;
    height: $ring-unit;
    background: #FFF;
    border: 1px solid #CCC;
    border-top: none;
    border-right: none;
    transform: rotate(45deg);
  }
}

//Error highlighting
.ring-input_error {
  & + .ring-input__error-bubble,
  & + .ring-form__control__description + .ring-input__error-bubble {
    display: inline-block;
  }
  &:focus + .ring-input__error-bubble,
  &:focus + .ring-form__control__description + .ring-input__error-bubble {
    display: none;
  }
}
