@font-face {
  font-family: 'font-icon';
  src:url('#{$fonts-dir}font-icon.eot');
  src:url('#{$fonts-dir}font-icon.eot?#iefix') format('embedded-opentype'),
  url('#{$fonts-dir}font-icon.svg#font-icon') format('svg'),
  url('#{$fonts-dir}font-icon.woff') format('woff'),
  url('#{$fonts-dir}font-icon.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.font-antialiasing .ring-font-icon {
  font-family: 'font-icon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  font-size: 14px;
  text-transform: none;
  line-height: 1 !important;
  text-decoration: none !important;
  -webkit-font-smoothing: antialiased;
}

.ring-font-icon_search:before {
  content: "\f002";
}
.ring-font-icon_cog:before {
  content: "\f013";
}
.ring-font-icon_caret-down:before {
  content: "\f0d7";
}
.ring-font-icon_help:before {
  content: "\e001";
}
.ring-font-icon_caret-up:before {
  content: "\f0d8";
}
.ring-font-icon_remove:before {
  content: "\f00d";
}
.ring-font-icon_chevron-right:before {
  content: "\f054";
}
.ring-font-icon_ban-circle:before {
  content: "\f05e";
}
.ring-font-icon_pencil:before {
  content: "\f040";
}
.ring-font-icon_plus:before {
  content: "\e000";
}



/* Fallback for miserable Windows users */
.no-font-antialiasing .ring-font-icon {
  background-image: url('#{$fonts-dir}font-icon.png');
  background-repeat: no-repeat;
  height: 18px;
  width: 18px;
}

.no-font-antialiasing .ring-font-icon_help {
  background-position: -20px 0;
}

.no-font-antialiasing .ring-font-icon_help:hover {
  background-position: -20px -18px;
}

.no-font-antialiasing .ring-font-icon_cog {
  background-position: 0 0;
}

.no-font-antialiasing .ring-font-icon_cog:hover {
  background-position: 0 -18px;
}

.no-font-antialiasing .ring-font-icon_caret-down {
  background-position: -66px -4px;
  width: 9px;
  height: 10px;
}

.no-font-antialiasing .ring-font-icon_caret-down:hover {
  background-position: -66px -22px;
}

.no-font-antialiasing .ring-font-icon_caret-up {
  background-position: -66px -4px;
  width: 9px;
  height: 10px;
}

.no-font-antialiasing .ring-font-icon_caret-up:hover {
  background-position: -66px -22px;
}