// Font icons
//
// Markup:
// <span class="ring-font-icon {$modifiers}"></span>
//
// .ring-font-icon_added           - "added" (VCS change)
// .ring-font-icon_renamed         - "renamed" (VCS change)
// .ring-font-icon_modified        - "modified" (VCS change)
// .ring-font-icon_removed         - "removed" (VCS change)
// .ring-font-icon_cog             - cog
// .ring-font-icon_help            - help
// .ring-font-icon_check           - check
// .ring-font-icon_search          - search
// .ring-font-icon_caret-down      - caret-down
// .ring-font-icon_caret-up        - caret-up
// .ring-font-icon_remove          - remove
// .ring-font-icon_chevron-right   - chevron-right
// .ring-font-icon_ban-circle      - ban-circle
// .ring-font-icon_pencil          - pencil
// .ring-font-icon_plus            - plus
// .ring-font-icon_add             - add
//
// Styleguide 6.1

@font-face {
  font-family: 'font-icon';
  src:url('#{$fonts-dir}font-icon.eot');
  src:url('#{$fonts-dir}font-icon.eot?#iefix') format('embedded-opentype'),
  url('#{$fonts-dir}font-icon.svg#font-icon') format('svg'),
  url('#{$fonts-dir}font-icon.woff') format('woff'),
  url('#{$fonts-dir}font-icon.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body .ring-font-icon {
  font-family: 'font-icon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1 !important;
  -webkit-font-smoothing: antialiased;

  &:hover {
    text-decoration: none !important;
  }
}

.ring-font-icon_modified:before {
  content: "\e002";
}
.ring-font-icon_removed:before {
  content: "\e003";
}
.ring-font-icon_renamed:before {
  content: "\e004";
}
.ring-font-icon_check:before {
  content: "\e005";
}
.ring-font-icon_search:before {
  content: "\f002";
}
.ring-font-icon_cog:before {
  content: "\f013";
}
.ring-font-icon_caret-down:before {
  content: "\f0d7";
}
.ring-font-icon_help:before {
  content: "\e001";
}
.ring-font-icon_caret-up:before {
  content: "\f0d8";
}
.ring-font-icon_remove:before {
  content: "\f00d";
}
.ring-font-icon_chevron-right:before {
  content: "\f054";
}
.ring-font-icon_ban-circle:before {
  content: "\f05e";
}
.ring-font-icon_pencil:before {
  content: "\f040";
}
.ring-font-icon_plus:before {
  content: "\e000";
}
.ring-font-icon_added:before {
  content: "\e006";
}
.ring-font-icon_add:before {
  content: "\e008";
}

/* Fallback for miserable Windows users */
.no-font-antialiasing {

  .ring-font-icon_help,
  .ring-font-icon_search,
  .ring-font-icon_ban-circle {
    display: inline-block;
    background-image: url('#{$fonts-dir}font-icon.png');
    background-repeat: no-repeat;
    height: 18px;
    width: 18px;

    &:before {
      content: ' ';
    }
  }

  .ring-font-icon_help {
    background-position: 0 1px;

    &:hover{
      background-position: 0 -19px;
    }
  }

  .ring-font-icon_search {
    background-position: -20px 1px;

    &:hover{
      background-position: -20px -19px;
    }
  }

  .ring-font-icon_ban-circle {
    background-position: -40px 1px;

    &:hover{
      background-position: -40px -19px;
    }
  }
}