@import "../global/global";

@font-face {
  font-family: 'font-icon';
  src:url('#{$ring-fonts-dir}font-icon.eot');
  src:url('#{$ring-fonts-dir}font-icon.eot?#iefix') format('embedded-opentype'),
  url('#{$ring-fonts-dir}font-icon.svg#font-icon') format('svg'),
  url('#{$ring-fonts-dir}font-icon.woff') format('woff'),
  url('#{$ring-fonts-dir}font-icon.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body .ring-font-icon {
  @include font-icon-family();
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: normal !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &:hover {
    text-decoration: none !important;
  }
}