@value unit, font, font-size, line-height, link-color, white-color, line-color, gray-color, fixed-z-index, overlay-z-index, ease, breakpoint-middle from '../node_modules/@jetbrains/ring-ui/components/global/global.css';

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.app {
  composes: font;

  min-width: breakpoint-middle;
}

.headerItem {
  white-space: nowrap;
}

.sidebar {
  position: relative;

  width: auto;

  transition: background-color ease;
}

.sidebarFixed {
  z-index: overlay-z-index;

  background-color: rgba(256, 256, 256, 0.9);
  backdrop-filter: blur(5px);
}

.nav {
  position: relative;
  z-index: overlay-z-index;

  margin: calc(unit * 2) 0;

  line-height: calc(unit * 3);
}

.main > div:last-child {
  flex-grow: 1;

  min-width: 0;
}

.header {
  position: relative;
  z-index: fixed-z-index;

  overflow: visible;

  height: calc(unit * 10);
}

.logo {
  margin-left: calc(unit * -5 + 1);
}

.githubCorner {
  width: calc(unit * 7);
}

.list {
  margin: -2px 0 0 calc(unit * -2);
}

.list p {
  margin: 0;
}

.active {
  font-weight: 500;
}

a.legacy {
  color: gray-color;
}

.content {
  min-width: 200px;
  padding: calc(unit * 3) 0;
}

.example {
  margin-top: line-height;
}

.iframe {
  position: relative;
}

.frame {
  width: 100%;
  height: calc(unit * 10);
  min-height: calc(unit * 5);
  max-height: 1000px;

  border: 1px solid line-color;
}

.frameFixedHeight {
  height: 500px;
}

.exampleLink {
  /* override Link */
  && {
    position: absolute;
    right: -2px;
    bottom: 5px;

    display: block;

    padding: unit;

    border: 1px solid line-color;
    background: white-color;

    font-size: font-size;
  }
}

.version button {
  height: auto;
}
