@value unit, font, font-size, line-height, link-color from '../node_modules/ring-ui/components/global/global.css';

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.app {
  composes: font;

  font-size: font-size;
  line-height: line-height;
}

.sidebar {
  margin-top: calc(unit * 4);
}

.main > div:last-child {
  flex-grow: 1;

  min-width: 0;
}

.header {
  margin: calc(unit * 2) 0 0;
}

.list {
  margin: unit 0 0 calc(unit * -2);
}

.list p {
  margin: 0;
}

.content {
  min-width: 200px;
  padding: calc(unit * 3) 0;
}

.example {
  margin-top: line-height;
}

.iframe {
  position: relative;
}

.frame {
  width: 100%;
  height: calc(unit * 10);
  min-height: calc(unit * 5);
  max-height: 1000px;

  border: 1px solid #ccc;
}

.frameFixedHeight {
  height: 500px;
}

.exampleLink {
  /* override Link */
  && {
    position: absolute;
    right: 0;
    bottom: 6px;

    display: block;

    padding: unit;

    border: 1px solid #ccc;
    background-color: #fff;

    font-size: font-size;
  }
}
