@import "../global/global";

@keyframes show-sidebar {
  0% {
    right: -100%;
  }

  100% {
    right: 0;
  }
}

.ring-sidebar {
  position: fixed;
  z-index: 4;

  top: 0;
  right: -100%;
  height: 100%;

  width: $ring-unit * 58;

  padding-top: 2*$ring-unit;

  box-sizing: border-box;

  overflow: hidden;
  background: #FFF;
  transition: right 0.5s ease, visibility 0.5s;
  visibility: hidden;
}

.ring-sidebar_active {
  visibility: visible;
  right: 0;
  animation: show-sidebar 0.5s 1;

  overflow: auto;
  box-shadow: -1px 0 2px 0 rgba(0, 42, 76, 0.15);

  .ring-sidebar__i {
    transition: 0.5s ease-in;
    transform: rotate(180deg);
  }
}

.ring-sidebar__toggle-icon {
  color: var(--ring-secondary-color);
}

.ring-sidebar__avatar {
  float: left;
  width: 6*$ring-unit;
  height: 6*$ring-unit;
  object-fit: contain;
  padding: 0 2*$ring-unit 0 4*$ring-unit;
}

.ring-sidebar__title {
  margin: 0;
  padding-left: 4*$ring-unit;

  color: var(--ring-heading-color);
  vertical-align: middle;
  font-size: 3*$ring-unit;
  font-weight: normal;
  line-height: 28px;

  .tag-flag {
    vertical-align: bottom;
  }

  .ring-sidebar__avatar ~ & {
    margin-bottom: 42px;
  }
}

.ring-sidebar__section {
  position: relative;
  margin-top: 3*$ring-unit;
  padding: 0 2*$ring-unit 0 4*$ring-unit;
}

.ring-sidebar__section-title {
  display: inline-block;
  font-size: var(--ring-font-size);
  font-weight: bold;
  color: var(--ring-text-color);
}

.ring-sidebar__section-text {
  font-size: var(--ring-font-size);
  color: var(--ring-text-color);
  line-height: 3*$ring-unit;

  &_multiline {
    padding: 4px 0 5px;
    line-height: normal;
  }
}

.ring-sidebar__section-roster {
  margin-top: $ring-unit;
}

.ring-sidebar__section-icon {
  position: absolute;
  display: block;
  left: 0;

  width: 4*$ring-unit;

  color: var(--ring-secondary-color);
  font-size: 12px;
  text-align: center;
}

.ring-sidebar__empty {
  margin-top: $ring-unit*4;
  text-align: center;
}

.ring-sidebar__empty-icon {
  font-size: 100px;
  color: var(--ring-disabled-color);
}

.ring-sidebar__empty-description {
  margin-top: $ring-unit*2;
  color: var(--ring-text-color);
  font-size: 12px;

  line-height: 18px;
  padding-top: 4px;
}
