@import "../global/global";

@keyframes rotation-keyframes {
  100% {
    transform: rotate(360deg);
  }
}

.ring-loader__canvas {
  display: block;
  margin: $ring-unit*2 auto;

  pointer-events: none;
  animation: rotation-keyframes 36s linear infinite;
}
