@import "../global/global";

// Loader
//
// Markup:
// <div class="ring-loader {$modifiers}">Loading</div>
//
// .ring-loader_inline - A small spinner suited for using inline with body text (12px)
//
// Styleguide 8.1

@keyframes rotating {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes colors {
  0% {
    border-left-color: #F00;
  }

  20% {
    border-left-color: #FF9800;
  }

  40% {
    border-left-color: #FF0;
  }

  60% {
    border-left-color: #008000;
  }

  80% {
    border-left-color: #00F;
  }

  100% {
    border-left-color: #F0F;
  }
}

// IE nested (or sequence) animation issue (no workarounds):
// https://connect.microsoft.com/IE/feedback/details/941104/ie-11-bug-with-nested-css-animations-upon-display-of-previously-hidden-parent

.ring-loader {
  width: 3 * $ring-unit;
  height: 3 * $ring-unit;
  margin: $ring-unit*2 auto;

  border-radius: 50%;
  border: solid 1px #D8D8D8;
  border: none\9; // IE 6+
  border-left-color: #F00;

  animation: rotating 0.7s linear infinite, colors 6s linear infinite;

  font-size: 0;
  font-size: 13px\9; // IE 6+
}

@media screen and (min-width:0\0) {
  .ring-loader {
    width: 3 * $ring-unit;
    height: 3 * $ring-unit;
    margin: $ring-unit*2 auto;

    border-radius: 50%;
    border: solid 1px #D8D8D8;
    border-left-color: #F00;

    font-size: 0;

    animation: rotating 0.7s linear infinite, colors 6s linear infinite;
  }
}

.ring-loader_inline {
  box-sizing: border-box;

  position: relative;
  top: 1px;

  display: inline-block;
  width: 12px;
  height: 12px;

  margin: 0;
}
