@import '../global/global';

.ring-select {
  position: relative;
  display: inline-block;
  height: 3*$ring-unit;
  width: 100%;
  margin: 0;
  padding-left: $ring-unit / 2;
  border: 1px solid #CCC;
  background-color: #FFF;

  border-radius: 0;
  outline: 0;

  @include ring-font;
  font-size: 13px;
  line-height: 20px;

  // Webkit
  -webkit-appearance: none;

  // FF
  &::-moz-progress-bar, & {
    height: $ring-unit*3;
    padding-top: 3px;
    padding-left: $ring-unit - 4;

    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
  }

  &[disabled], &.ring-select_disabled {
    background-color: #F9F9F9;
  }

  &:active:not([disabled]), &.ring-select_active:not([disabled]), &:focus, &.ring-select_focus {
    border: 1px solid #25B7FF;
    outline: 0;
  }
}

.ring-select + label.ring-select__label {
  position: relative;
  content: '';
  top: -2*$ring-unit + 2;
  left: -$ring-unit;
  display: block;
  float: right;
  width: 0;
  height: 0;
  pointer-events: none;

  border: 4px solid transparent;
  border-top-color: #888;

  // Fx
  &::-moz-progress-bar, & {
    border-width: 5px;
  }
}

.ring-select + label.ring-select__label {
  border: none \9; // IE 6+
}

.ring-select[disabled] + label.ring-select__label,
.ring-select_disabled + label.ring-select__label {
  opacity: .5;
}

// Select
//
// Markup:
// <div class="ring-input_wrapper">
//   <select id="ring-select" class="ring-select {$modifiers}">
//     <option>Global</option>
//     <option>2</option>
//     <option>3</option>
//     <option>4</option>
//     <option>5</option>
//   </select>
//   <label class="ring-select__label" for="ring-select"></label>
// </div>
//
// :active              - Active state, also available as the `.ring-select_active` class name.
// :focus               - Focus state, also available as the `.ring-select_focus` class name.
// :disabled            - Disabled state, also available as the `.ring-select_disabled` class name. 
//
// Styleguide 16.1