@import '../global/global';

.ring-select {
  position: relative;
  display: inline-block;
  height: 3*$ring-unit;
  width: 100%;
  margin: 0;
  padding-left: $ring-unit / 2;
  border: 1px solid #CCC;
  background-color: #FFF;

  border-radius: 0;
  outline: 0;

  @include ring-font;
  font-size: 13px;
  line-height: 20px;

  // Webkit
  -webkit-appearance: none;

  // IE 10+
  &::-ms-expand {
    display: none;
  }

  // Firefox focus has odd artifacts around the text, this kills that.
  // See https://developer.mozilla.org/en-US/docs/Web/CSS/:-moz-focusring
  &:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
  }

  &[disabled], &.ring-select_disabled {
    background-color: #F9F9F9;

    & + .ring-select__label {
      background-color: #F9F9F9;

      &:before {
        border-top-color: #CCC;
      }
    }
  }

  &:active:not([disabled]), &.ring-select_active:not([disabled]), &:focus, &.ring-select_focus {
    border: 1px solid #25B7FF;
    outline: 0;
  }
}

.ring-select + .ring-select__label, {
  display: none;
}

.ring-select + .ring-select__label {
  position: absolute;
  display: block;
  right: 1px;
  top: 1px;
  width: $ring-unit*2 + 1;
  height: $ring-unit*3 - 2;
  background-color: #FFF;
  pointer-events: none;

  &:before {
    content: '';
    position: relative;
    top: $ring-unit;
    left: 2px;

    border: 4px solid transparent;
    border-top-color: #888;
    display: block;
    height: 0;
    width: 0;
  }
}

// Select
//
// Markup:
// <div class="ring-input_wrapper">
//   <select id="ring-select" class="ring-select {$modifiers}">
//     <option>Global</option>
//     <option>2</option>
//     <option>3</option>
//     <option>4</option>
//     <option>5</option>
//   </select>
//   <label class="ring-select__label" for="ring-select"></label>
// </div>
//
// :active                  - Active state, also available as the `.ring-select_active` class name.
// :focus                   - Focus state, also available as the `.ring-select_focus` class name.
// .ring-select_disabled    - Disabled state, also available as the `.ring-select_disabled` class name.
//
// Styleguide 16.1
