@import '../global/global';

.ring-select {
  position: relative;
  display: inline-block;
  width: 100%;
  padding-left: $ring-unit;
  margin: 0;

  border: 1px solid #CCC;
  border-radius: 0;
  outline: 0;
  background: #FFF;
  line-height: 22px;

  // Webkit
  -webkit-appearance: none;

  // FF
  &::-moz-progress-bar, & {
    height: $ring-unit*3;
    padding-top: 3px;
    padding-left: $ring-unit - 4;

    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
  }

  &:active {
    border: 1px solid #25B7FF;
    outline: 0;
  }
}

.ring-select + label.ring-select__label {
  position: relative;
  content: '';
  top: -2*$ring-unit + 2;
  left: -$ring-unit;
  display: block;
  float: right;
  width: 0;
  height: 0;

  // Fx
  &::-moz-progress-bar, & {
    border-width: 5px;
  }

  border-width: 4px;
  border-style: solid;
  border-color: #696969 transparent transparent transparent;
}

.ring-select + label.ring-select__label {
  border: none\9; // IE 6+
}

// Select
//
// Markup:
// <div class="ring-input_wrapper">
//   <select id="ring-select" class="ring-select {$modifiers}">
//     <option>Global</option>
//     <option>2</option>
//     <option>3</option>
//     <option>4</option>
//     <option>5</option>
//   </select>
//   <label class="ring-select__label" for="ring-select"></label>
// </div>
//
// :active              - Focused state, also available as the `.ring-select_active` class name.
//
// Styleguide 16.1