version: 2
updates:
- package-ecosystem: npm
  directory: "/"
  schedule:
    interval: daily
    time: "10:00"
  open-pull-requests-limit: 20
  versioning-strategy: increase
  groups:
    storybook:
      patterns:
      - "@storybook/*"
      - "storybook"
    react:
      patterns:
      - "react"
      - "react-dom"
