@import "../global/global";

// ring-island
//
// Markup:
//    <div class="ring-island">
//        <div class="ring-island__content">Content</div>
//    </div>
//    <br /><br />
//    <div class="ring-island">
//        <div class="ring-island__header">
//            <span class="ring-island__title">Title</span>
//            <span class="ring-island__header-btn">Button1</span>
//            <span class="ring-island__header-btn">Button2</span>
//        </div>
//        <div class="ring-island__content">Content</div>
//    </div>
//
// Styleguide 19.1

.ring-island {
  display: block;
  min-width: $ring-unit*25 - 2;

  background-color: #FFF;

  border: 1px solid;
  @include rgba-attribute('border-color', rgba(0, 0, 0, 0.2));
  border-radius: 3px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
}

.ring-island_inline {
  display: inline-block;
}

.ring-island__header {
  background-color: #EBEBEB;
  background-image: linear-gradient(to top, #EBEBEB, #FFF);
  border-bottom: 1px solid #B4B4B4;
  line-height: $ring-unit*3 - 1;
  font-size: 13px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.ring-island__header-btn {
  float: right;
  padding: 0 $ring-unit*2 - 1; // -1 to account for border
  cursor: pointer;
  box-shadow: inset 0 0 0 1px #FFF;
  border-left: 1px solid #B4B4B4;
  color: #6D6D6D;
  text-shadow: #FFF 0 0 1px;
  user-select: none;

  &:hover {
    background: #E1E1E1 linear-gradient(to top, #E1E1E1, #FFF);
  }

  &:active {
    box-shadow: 0px 0px 4px 0px #D3D3D3 inset;
    background: #E4E4E4 none;
  }

  &:last-child {
    border-top-right-radius: 3px;
  }
}

.ring-island__title {
  padding: 0 $ring-unit*2;
  font-weight: bold;
  color: #1A1A1A;
}

.ring-island__content {
  padding: $ring-unit*2;
}
