@import "../global/variables.css";

@value unit from "../global/global.css";
@value padding: calc(unit * 1.5);

.message {
  overflow: visible;

  max-width: calc(unit * 40);

  padding: padding padding calc(unit * 2) calc(unit * 5);

  text-align: left;

  color: var(--ring-dark-text-color);

  border: none;

  background-color: var(--ring-message-background-color);

  box-shadow: none;

  &::before {
    position: absolute;
    z-index: var(--ring-invisible-element-z-index);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    content: '';

    border-radius: var(--ring-border-radius);

    box-shadow: 0 2px 8px 0 var(--ring-message-shadow-color);
  }
}

.icon {
  position: absolute;
  top: 10px;
  left: padding;
}

.title {
  composes: font-lower from "../global/global.css";

  margin: 0;

  font-weight: normal;
}

.description {
  composes: font-smaller-lower from "../global/global.css";

  margin: calc(unit / 2) 0 0;

  color: var(--ring-dark-active-color);
}

.button {
  margin-top: padding;
}

.tail {
  position: absolute;

  transform-origin: 50% 0;

  border-width: unit unit 0;
  border-style: solid;

  /* TODO: Replace with palette color */

  border-color: var(--ring-message-background-color) transparent transparent; /* stylelint-disable-line color-no-hex */
}
