<example name="Place Under Ng">
  <file type="html">
    <div ng-app="Ring.place-under">

      <div class="head">Scroll down to see the effect</div>
      <div rg-place-under=".target-element" class="place-under">
        Element to be positioned under test element
      </div>

      <div class="target-element">
        Test element to sync with.
      </div>

      <div class="scrollable">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor
        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud
        exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
        dolore eu fugiat nulla pariatur.
        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
        officia deserunt mollit anim id est laborum.
      </div>
    </div>
  </file>
  <file type="js">
    require('angular');
    require('ring-ui/components/place-under-ng/place-under-ng');
    var dom = require('ring-ui/components/dom/dom');

    window.addEventListener('scroll', function () {
      var target = document.querySelector('.target-element');

      var scrolledTop = dom.getDocumentScrollTop();
      if (scrolledTop > 30) {
        target.style.position = 'fixed';
      } else {
        target.style.position = 'static';
      }
    });
  </file>
  <file type="scss">
    @import '~ring-ui/components/global/global';

    .place-under {
      position: fixed;
      top: 0;
      right: 0;
      width: 50%;
      padding: $ring-unit * 2;
      background-color: #888;
    }

    .head {
      height: 30px;
    }

    .target-element {
      position: static;
      top: 0;
      width: 100%;
      padding: $ring-unit * 2;
      background-color: #CCC;
    }

    .scrollable {
      height: 1000px;
      padding: $ring-unit * 2;
      padding-top: $ring-unit * 8;
      background-color: #EEE;
    }
  </file>
</example>
