@import '../global/variables.css';

.iFrame {
  overflow: hidden;

  border: 0;
}

.dialogContent {
  width: auto;
}

.nonOpaqueLoader {
  background-color: var(--ring-content-background-color);
}

.fallbackLinkContainer {
  position: absolute;
  top: 0;
  right: 0;

  padding: var(--ring-unit);
}
