{
  "presets": [
    "@babel/preset-react",
    ["@babel/preset-env", {
      include: [
        "transform-parameters"
      ]
    }]
  ],
  "plugins": [
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-transform-runtime",
    "angularjs-annotate"
  ],
  "env": {
    "test": {
      "plugins": [
        ["istanbul", {
          "exclude": [
            "**/*.test.js"
          ]
        }]
      ]
    }
  }
}
