{
  "presets": [
    ["@jetbrains/jetbrains", {
      "angular": true,
      "useBuiltIns": "usage",
      "corejs": "3"
    }]
  ],
  "env": {
    "test": {
      "plugins": [
        ["istanbul", {
          "exclude": [
            "**/*.test.js"
          ]
        }]
      ]
    }
  }
}
