{
  "presets": [
    "babel-preset-react",
    ["babel-preset-env", {
      "targets": {
        "browsers": "defaults"
      },
      "modules": false
    }],
    "babel-preset-stage-2"
  ],
  "plugins": [
    ["transform-runtime", {
      "moduleName": "@jetbrains/babel-runtime"
    }],
    ["@jetbrains/babel-plugin-angular-annotate", [
      "angular",
      "ngRoute"
    ]]
  ],
  "env": {
    "test": {
      "plugins": [
        ["istanbul", {
          "exclude": [
            "**/*.test.js"
          ]
        }]
      ]
    }
  }
}
