{
  "parser": "babel-eslint",
  "extends": [
    "jetbrains",
    "jetbrains/bem",
    "jetbrains/es6",
    "jetbrains/node",
    "jetbrains/react",
    "jetbrains/angular",
    "jetbrains/test"
  ],
  "rules": {
    "modules/no-mix-default-named": 0,
    // Possible Errors
    "valid-jsdoc": 1,

    // Best Practices
    "complexity": [0, 5],
    "no-magic-numbers": [1, { "ignore": [-1, 0, 1, 2] }],

    // Stylistic Issues
    "func-names": 1,

    // Angular
    "angular/directive-name": [2, "rg"]
  }
}
