{
  "parser": "babel-eslint",
  "extends": [
    "jetbrains",
    "jetbrains/bem",
    "jetbrains/es6",
    "jetbrains/node",
    "jetbrains/react",
    "jetbrains/angular",
    "jetbrains/test"
  ],
  "rules": {
    "modules/no-mix-default-named": "off",
    // Possible Errors
    "valid-jsdoc": "warn",

    // Best Practices
    "complexity": ["off", 5],
    "no-magic-numbers": ["warn", { "ignore": [-1, 0, 1] }],

    // Stylistic Issues
    "func-names": "warn",

    // Angular
    "angular/directive-name": ["error", "rg"]
  }
}
