# Editors
*.iws
.idea/copyright/
.idea/deployment.xml
.idea/dictionaries/*.xml
.idea/jsLibraryMappings.xml
.idea/shelf/
.idea/usage.statistics.xml
.idea/workspace.xml

# OS
.DS_Store
Thumbs.db

# Generated
build
coverage
dist
eslint-report.xml
gemini-report
html-report
http-server.log
jetbrains-ring-ui-*.tgz
lerna-debug.log
node_modules
npm-debug.log*
saucelabs-session.log
test_gen
yarn-error.log
yarn.lock
