.ring-links {
  padding: 4px 0 3px;
  background: #484848;
  text-align: center;
  font: 11px Verdana, Arial, sans-serif;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
}

.ring-links__link {
  margin: 0 5px;
  color: #909090 !important;
  font: 11px Verdana, Arial, sans-serif;
}

.ring-links__link:hover,
.ring-links__link_active {
  text-decoration: none !important;
  color: #FFF !important;
}
