
body {
  margin: 0;
}

html,
body {
  height: 100%;
}

.popupContent {

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  justify-content: space-between;
  height: 1300px;
  padding: 8px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
}

.anchorBottom {
  position: absolute;
  bottom: 20px;
}
