@value unit, font-lower, font-smaller-lower, font-size-smaller, line-color, white-color, gray-color, disabled-color, main-color, error-color from  "../global/global.css";

.container {
  composes: font-lower;
  padding: unit 0;
  margin: calc(unit * 5) 0;
  position: relative;
  border-bottom: 1px solid line-color;

  &.disabled {
    border-bottom-style: dashed;
  }
}

.input {
  width: 100%;
  padding: 0;
  font: inherit;
  border: none;
  outline: none;
  background-color: white-color;

  &::placeholder {
    color: disabled-color;
  }

  &[disabled] {
    color: disabled-color;
  }
}
textarea.input {
  overflow: hidden;
  resize: none;
}

.label {
  color: gray-color;
  pointer-events: none;
  position: absolute;
  background: white-color;
  top: unit;
  left: 0;
  transition: all .15s ease-out;
}

.input:focus ~ .label,
.container.active > .label,
.container:not(.empty) > .label {
  background: transparent;
  font-size: font-size-smaller;
  top: calc(- unit * 2);
}

.underline {
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 2px;
  width: 0;
  background: main-color;
}

.input:focus ~ .underline,
.container.active > .underline,
.error > .underline {
  width: 100%;
  transition: width .15s ease-out;
}

.errorText {
  color: error-color;
  font-size: font-size-smaller;
  position: absolute;
  left: 0;
  bottom: calc(- unit * 3);
}

.error > .underline {
  background-color: error-color;
}

.sizeS {
  width: calc(unit * 12);
}

.sizeM {
  width: calc(unit * 30);
}

.sizeL {
  width: calc(unit * 50);
}
