<example name="input">
  <file type="scss">
    body {
      margin: 0;
    }

    .inputs {
      display: flex;
      flex-flow: column wrap;
      max-height: 100vh;
      margin-top: 8px;
    }

    .inputs > div {
      margin: 0 16px;
    }
  </file>

  <file name="index.html">
    <div id="inputs"></div>
  </file>

  <file name="index.js">
    import {render} from 'react-dom';
    import React from 'react';

    import Input from 'ring-ui/components/input/input';

    const container = document.getElementById('inputs');
    const inputs = (
      <form className="inputs">
        <Input label="Labeled input" />
        <Input
          name="login"
          label="Label and hint"
          placeholder="Hint"
        />
        <Input
          label="Label and value"
          defaultValue="Default value"
        />
        <Input
          label="Active input"
          active={true}
          defaultValue="Default value"
        />
        <Input
          label="Disabled input"
          disabled={true}
          defaultValue="Default value"
        />
        <Input
          label="Invalid input"
          error="Error description that wraps over lines because of being really long"
        />
        <Input
          label="Error without description"
          error=""
        />
        <Input
          label="Short input"
          size="S"
        />
        <Input
          label="Long input"
          size="L"
        />
        <Input
          label="Autogrowing textarea"
          multiline={true}
        />
      </form>
    )

    render(inputs, container);
  </file>
</example>
