<example name="input">
  <file type="css">
    body {
      margin: 0;
    }

    :global(.inputs) {
      display: flex;
      flex-flow: column wrap;
      max-height: 100vh;
      margin-top: 8px;

      & > div {
        margin: 0 16px;
      }
    }

    div:global(.dark) {
      background: #000;
      margin-left: 0;
      padding-left: 16px;
    }
  </file>

  <file type="html">
    <div id="inputs"></div>
  </file>

  <file type="js">
    import {render} from 'react-dom';
    import React from 'react';

    import Input from 'ring-ui/components/input/input';

    const container = document.getElementById('inputs');
    const inputs = (
      <form className="inputs">
        <Input label="Labeled input" />
        <Input
          name="login"
          label="Label and hint"
          placeholder="Hint"
        />
        <Input
          label="Label and value"
          defaultValue="Default value"
        />
        <Input
          label="Active input"
          active={true}
          defaultValue="Default value"
        />
        <Input
          label="Disabled input"
          disabled={true}
          defaultValue="Default value"
        />
        <Input
          label="Invalid input"
          error="Error description that wraps over lines because of being really long"
        />
        <Input
          label="Error without description"
          error=""
        />
        <Input
          label="Short input"
          size={Input.Size.S}
        />
        <Input
          label="Long input"
          size={Input.Size.L}
        />
        <Input
          label="Autogrowing textarea"
          multiline={true}
        />
        <!--<div className="dark">-->
          <!--<Input-->
            <!--label="Input on dark background"-->
            <!--placeholder="Hint on dark background"-->
            <!--theme={Input.Theme.DARK}-->
          <!--/>-->
        <!--</div>-->
      </form>
    )

    render(inputs, container);
  </file>
</example>
