@import '../global/global.css';

@keyframes show-sidebar {
  0% {
    right: -100%;
  }

  100% {
    right: 0;
  }
}

:global(.ring-sidebar) {
  position: fixed;
  z-index: 4;

  top: 0;
  right: -100%;

  visibility: hidden;

  overflow: hidden;

  box-sizing: border-box;

  width: calc(var(--ring-unit) * 58);
  height: 100%;

  padding-top: calc(2 * var(--ring-unit));

  transition:
    right 0.5s ease,
    visibility 0.5s;

  border: solid 1px var(--ring-line-color);
  border-right-width: 0;
  background: var(--ring-content-background-color);
}

:global(.ring-sidebar_active) {
  right: 0;

  visibility: visible;
  overflow: auto;

  animation: show-sidebar 0.5s 1;

  box-shadow: -1px 0 2px 0 rgba(0, 42, 76, 0.15);
}

:global(.ring-sidebar_active .ring-sidebar__i) {
  transition: 0.5s ease-in;
  transform: rotate(180deg);
}

:global(.ring-sidebar__toggle-icon) {
  color: var(--ring-secondary-color);
}

:global(.ring-sidebar__avatar) {
  float: left;

  width: calc(6 * var(--ring-unit));
  height: calc(6 * var(--ring-unit));
  object-fit: contain;

  padding: 0 calc(2 * var(--ring-unit)) 0 calc(4 * var(--ring-unit));
}

:global(.ring-sidebar__title) {
  margin: 0;
  padding-left: calc(4 * var(--ring-unit));

  vertical-align: middle;

  color: var(--ring-heading-color);

  font-size: 20px;
  line-height: 24px;
}

:global(.ring-sidebar__title .tag-flag) {
  vertical-align: bottom;
}

:global(.ring-sidebar__avatar ~ .ring-sidebar__title) {
  margin-bottom: 42px;
}

:global(.ring-sidebar__section) {
  position: relative;

  margin-top: calc(3 * var(--ring-unit));
  padding: 0 calc(2 * var(--ring-unit)) 0 calc(4 * var(--ring-unit));
}

:global(.ring-sidebar__section-title) {
  display: inline-block;

  color: var(--ring-text-color);

  font-size: var(--ring-font-size);
  font-weight: var(--ring-font-weight-bold);
}

:global(.ring-sidebar__section-text) {
  color: var(--ring-text-color);

  font-size: var(--ring-font-size);
  line-height: calc(3 * var(--ring-unit));
}

:global(.ring-sidebar__section-text_multiline) {
  padding: 4px 0 5px;

  line-height: normal;
}

:global(.ring-sidebar__section-roster) {
  margin-top: var(--ring-unit);
}

:global(.ring-sidebar__section-icon) {
  position: absolute;
  left: 0;

  display: block;

  width: calc(4 * var(--ring-unit));

  text-align: center;

  color: var(--ring-secondary-color);

  font-size: 12px;
}

:global(.ring-sidebar__empty) {
  margin-top: calc(var(--ring-unit) * 4);

  text-align: center;
}

:global(.ring-sidebar__empty-icon) {
  color: var(--ring-disabled-color);

  font-size: 100px;
}

:global(.ring-sidebar__empty-description) {
  margin-top: calc(var(--ring-unit) * 2);
  padding-top: 4px;

  color: var(--ring-text-color);

  font-size: 12px;

  line-height: 18px;
}
