// Alerts
//
// Markup:
// <div class="ring-alert {$modifiers}">Alert text</div>
//
// .ring-alert_error    - Error alert
//
// Styleguide 2.1

.ring-alert {
  margin: 10px;
  padding: 8px 14px;

  font-size: 120%;
  text-shadow: rgba(255, 255, 255, 0.5) 0 1px;

  border-radius: 4px;

  @include warning-color();
  background-color: #fff9cc;
  border-color: #fffbd0;
}

.ring-alert_error {
  @include error-color();
  background-color: #ffe6f2;
  border-color: #ffeaf2;
}