@import "../global/global";

.ring-dialog__wrapper {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  z-index: 1000000; // TODO proper z-index

  &.active {
    display: block;
  }
}

.ring-dialog__container {
  position: relative;
  width: $ring-unit*50;
  margin: 20% auto 0;
  padding: 0;
  border: 1px solid #B4B4B4;
  border-radius: 3px;

  background: #FFF;
  box-shadow: 0px 0px $ring-unit*4 $ring-unit rgba(0, 0, 0, 0.2);

  z-index: 2;
}

.ring-dialog__layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;

  opacity: 0.4;
  background-color: #FFF;

  text-align: center;

  z-index: 1;
}

.ring-dialog__content {
  padding: $ring-unit*4 $ring-unit*4 0;
}
