@import "../global/global";

.ring-dialog__footer {
  height: $ring-unit*7;
  border-top: 1px solid #B4B4B4;
  background: #E9F8FF;
  text-align: center;
}

.ring-dialog__footer__spacer {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.ring-dialog__footer__item {
  display: inline-block;
  margin-left: $ring-unit*2;

  &:first-child {
    margin-left: 0;
  }
}
