.ring-dialog__header {
  position: relative;
  background-image: linear-gradient(to top, #EBEBEB, #FFF);
  line-height: 24px;
  border-bottom: 1px solid #B4B4B4;
}

.ring-dialog__header__title {
  display: block;
  text-align: center;
  font-weight: bold;
}

.ring-dialog__header__close-icon {
  position: absolute;
  top: 4px;
  right: 4px;
  color: #b4b4b4;
  &:hover {
    color: #8c8c8c;
  }
}