@import "../global/global";

.ring-profile {
  height: 100%;
  width: $ring-unit * 32;

  background-color: #fff;
  border-right: 1px solid #D9D9D9;

  @include ring-font;
  font-size: 13px;

  vertical-align: top;
  padding-top: $ring-unit * 3;
}

.ring-profile__item {
  display: block;
  line-height: $ring-unit * 2;
  height: $ring-unit * 2;
  margin: 0 0 $ring-unit * 2 $ring-unit * 4;
  text-decoration: none;

  body &:hover {
    text-decoration: none !important;
  }

  &.active, &.ring-profile__item_active {
    color: #000;
    font-weight: bold;
  }
}

.ring-profile__item__image {
  vertical-align: bottom;
  margin-right: $ring-unit;
  width: $ring-unit * 2;
}