@import "../global/global";

// Button groups and split button
//
// Markup:
// <div class="ring-button-group">
//   <span class="ring-button-group__caption">Caption:</span>
//   <button class="ring-btn {$modifiers}">Button</button>
//   <button class="ring-btn {$modifiers} ring-btn_disabled">Button</button>
//   <button class="ring-btn {$modifiers}">Button</button>
// </div>
// <div class="ring-button-group">
//   <button class="ring-btn {$modifiers}">Button Element</button>
//   <button class="ring-btn {$modifiers} ring-btn_icon ring-btn__dropdown-icon"><span class="ring-font-icon ring-font-icon_caret-down"></span></button>
// </div>
//
// .ring-btn_primary    - Indicates that a button triggers the main action on the page. There should be only one such button per page, for example, "Create Issue".
// .ring-btn_blue       - Indicates that a button triggers a secondary action on the page. For example, "Save changes" in a modal dialog.
// .ring-btn_black      - Indicates that a button is black. Should be used on dark backgrounds only!
//
// Styleguide 4.2

.ring-button-group {
  display: inline-block;
  // IE 7
  @media screen\9 {
    & {
      display: inline;
      zoom: 1;
    }
  }
  position: relative;
  max-height: 3*$ring-unit;

  font-size: 0;
}

.ring-button-group .ring-btn {
  margin: 0 0 0 -1px;
  border-radius: 0;
}

.ring-button-group .ring-btn:first-child, .ring-button-group .ring-button-group__first {
  margin: 0;
  border-top-left-radius: $ring-border-radius;
  border-bottom-left-radius: $ring-border-radius;
}

.ring-button-group .ring-btn:last-child, .ring-button-group .ring-button-group__last {
  border-top-right-radius: $ring-border-radius;
  border-bottom-right-radius: $ring-border-radius;
}

// Caption element preceding the button group
.ring-button-group__caption {
  margin-right: $ring-unit;
  font-size: $ring-font-size;

  &:empty {
    margin-right: 0;
  }
}

.ring-button-group .ring-button-group__caption + .ring-btn {
  border-top-left-radius: $ring-border-radius;
  border-bottom-left-radius: $ring-border-radius;
}

.ring-button-group .ring-btn_upper {
  position: relative;
}
