@value unit from "../global/global.css";

.buttonGroup {
  composes: buttonGroup from "../button-toolbar/button-toolbar.css";

  position: relative;
  z-index: 0;

  display: inline-block;

  white-space: nowrap;

  font-size: 0;
}

.buttonGroup button,
.buttonGroup .button {
  margin: 0 0 0 -1px;

  border-radius: 0;
}

.caption {
  composes: font from "../global/global.css";

  margin-right: unit;

  font-size: var(--ring-font-size);

  &:empty {
    margin-right: 0;
  }
}

.buttonGroup > .caption + .button,
.buttonGroup > button:first-child,
.buttonGroup > .button:first-child,
.buttonGroup > :first-child .button {
  margin: 0;

  border-top-left-radius: var(--ring-border-radius);
  border-bottom-left-radius: var(--ring-border-radius);
}

.buttonGroup > .button:last-child,
.buttonGroup > button:last-child,
.buttonGroup > :last-child .button {
  border-top-right-radius: var(--ring-border-radius);
  border-bottom-right-radius: var(--ring-border-radius);
}
