<example name="User Card Tooltip">
  <file type="html" disable-auto-size>
    <div ng-app="Example.userCard" ng-strict-di ng-controller="ExampleCtrl as $ctrl">
      <rg-user-card-tooltip
        user="$ctrl.user"
      >
        Hover me to see {{$ctrl.user.name}}'s card
      </rg-user-card-tooltip>
    </div>
  </file>

  <file type="js">
    import angular from 'angular';
    import UserCardNg from '@jetbrains/ring-ui/components/user-card-ng/user-card-ng';

    angular.module('Example.userCard', [UserCardNg]).
      controller('ExampleCtrl', function () {
        this.user = {
          login: 'testuser',
          name: 'Test User',
          email: 'testuser@mail.com',
          avatarUrl: `${hubConfig.serverUri}/api/rest/avatar/default?username=Jet%20Brains`,
          href: `${hubConfig.serverUri}/users/0`
        };
      });
  </file>
</example>

<example name="Hub User Card Tooltip">
  <file type="html" disable-auto-size>
    <div ng-app="Example.hubUserCard" ng-strict-di ng-controller="ExampleCtrl as $ctrl">
      <rg-smart-user-card-tooltip
        user-data-source="$ctrl.userSource"
      >
        Hover me to see current user's card
      </rg-smart-user-card-tooltip>
    </div>
  </file>

  <file type="js">
    import angular from 'angular';
    import UserCardNg from '@jetbrains/ring-ui/components/user-card-ng/user-card-ng';
    import {createHubUserCardSource} from '@jetbrains/ring-ui/components/hub-source/hub-source__user.js';
    import Auth from '@jetbrains/ring-ui/components/auth/auth';
    import hubConfig from '@ring-ui/docs/components/hub-config';

    angular.module('Example.hubUserCard', [UserCardNg]).
      controller('ExampleCtrl', function () {
        const auth = new Auth(hubConfig);

        this.userSource = async () => {
          await auth.init();
          const userSource = createHubUserCardSource(auth, auth.user.id);
          return userSource();
        };
      });
  </file>
</example>
