@import "../global/global";

.ring-profile {
  @include ring-font;
  font-size: 13px;
}

.ring-profile__item {
  display: block;
  line-height: $ring-unit * 2;
  height: $ring-unit * 2;
  margin-top: $ring-unit * 2;
  text-decoration: none;

  body &:hover {
    text-decoration: none !important;
  }

  &:first-child {
    margin-top: 0;
  }

  &.active, &.ring-profile__item_active {
    color: #000;
    font-weight: bold;
  }

  &.ring-profile__item_noimage {
    padding-left: $ring-unit * 3;
  }
}

.ring-profile__item__image {
  vertical-align: bottom;
  margin-right: $ring-unit;
  width: $ring-unit * 2;
  border: 0;
}