@value unit, overlay-z-index, border-radius from '../global/global.css';

.container {
  display: flex;
  position: fixed;
  z-index: overlay-z-index;

  align-items: center;
  justify-content: center;
  align-content: center;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  overflow: auto;
  background-color: rgba(255, 255, 255, 0.4);
}

.content {
  width: calc(unit * 58);
  min-height: calc(unit * 15);
  overflow-wrap: break-word;

  max-height: calc(100% - calc(unit * 8 + 2px));
  margin: calc(unit * 4) 0;

  &.content {
    box-shadow: 0 2px 16px rgba(0, 42, 76, 0.15);
  }

  & :global(.ring-panel) {
    margin-top: 0;
    padding: calc(unit * 2) calc(unit * 4);
    padding-top: calc(unit * 1.5);
    background-color: transparent;
  }

  & :global(.ring-panel .ring-button) {
      margin-right: unit;
  }

  & .islandScrollableWrapperInsideDialog {
    padding-bottom: calc(unit * 2.5 - 1);
  }
}

.bodyWithoutScroll {
  height: 100%;
  overflow: hidden;
}
