@import '../global/global';

// Dialog
//
// Markup:
//  <div style="position: relative; height: 400px">
//  <div class="ring-dialog__wrapper {$modifiers}">
//    <div class="ring-dialog__container">
//      <div class="ring-dialog__header">
//        <span class="ring-dialog__header__title">New space</span>
//        <span class="ring-dialog__header__close-icon ring-font-icon ring-btn_ico ring-font-icon_close"></span>
//      </div>
//      <form class="ring-dialog__content ring-form">
//        <div class="ring-form__group">
//          <label class="ring-form__label" for="dialog__key">Key</label>
//          <div class="ring-form__control ring-form__control_small">
//            <input id="dialog__key" class="ring-input " type="text">
//            <div class="ring-input__error-bubble ng-binding ng-hide" ng-show="data.keyError"></div>
//          </div>
//         </div>
//        <div class="ring-form__group">
//          <label class="ring-form__label" for="dialog__name">Name</label>
//          <div class="ring-form__control ring-form__control_small">
//            <input id="dialog__name" class="ring-input " type="text">
//            <div class="ring-input__error-bubble ng-binding ng-hide" ng-show="data.nameError"></div>
//          </div>
//        </div>
//      </form>
//      <div class="ring-dialog__footer">
//        <div class="ring-dialog__footer__spacer"></div>
//        <button class="ring-dialog__footer__item_first ring-dialog__footer__item ring-btn ring-btn_blue">Create space</button>
//        <button class="ring-dialog__footer__item ring-btn">Cancel</button>
//      </div>
//    </div>
//    <!--
//      Use it show paranja
//      <div class="ring-dialog__layer">
//      </div>
//    -->
//  </div>
//  </div>
//
// .active      - Indicates a visible dialog
//
// Styleguide 13.1

.ring-dialog__wrapper {
  position: fixed;
  z-index: $ring-overlay-z-index;
  top: 0;
  bottom: 0;
  left: 0;

  display: none;
  overflow: auto;

  width: 100%;

  text-align: center;
  &.active,
  &.ring-dialog__wrapper_active {
    display: block;
  }
}

.ring-dialog__container {
  font-size: 12px;

  position: absolute;
  z-index: 2;

  display: block;

  top: 20%;
  left: 0;
  right: 0;
  width: $ring-unit * 50;
  margin: 0 auto;
  padding: 0;

  text-align: left;

  border: 1px solid #b4b4b4;
  border-radius: 3px;
  background: #fff;
  box-shadow: 0 0 $ring-unit*4 $ring-unit rgba(0, 0, 0, .2);

  @include ring-font;
}

.ring-dialog__layer {
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;

  width: 100%;
  margin: 0;
  padding: 0;

  text-align: center;

  opacity: .4;
  background-color: #FFF;
}

.ring-dialog__content {
  margin: 0;
  padding: $ring-unit*2 $ring-unit*4 $ring-unit;
}

.ring-dialog__footer {
  font-size: 0;

  height: auto;
  padding: 2*$ring-unit 4*$ring-unit 2*$ring-unit 4*$ring-unit;

  text-align: left;

  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  background: #e9f8ff;
}

.ring-dialog__footer__description {
  font-size: $ring-font-size-smaller;
  margin-bottom: 2*$ring-unit;
}

.ring-dialog__footer__spacer {
  display: inline-block;

  height: 100%;

  vertical-align: middle;
}

.ring-dialog__footer__item {
  display: inline-block;

  margin-right: 2*$ring-unit;

  //Increase selector specificity when ring buttons used as footer items
  &.ring-btn {
    margin-right: 2*$ring-unit;
  }
}

.ring-dialog__header {
  line-height: $ring-unit*3 - 2;

  position: relative;

  min-height: $ring-unit*3 - 2;

  border-bottom: 1px solid #b4b4b4;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background-image: linear-gradient(to top, #ebebeb, #fff);
}

.ring-dialog__header__title {
  font-weight: bold;

  display: block;

  cursor: move;
  text-align: center;
}

.ring-dialog__header__close-icon {
  font-size: 13px;

  position: absolute;
  top: 5px;
  right: 6px;

  cursor: pointer;

  color: #B4B4B4;
  &:hover {
    color: #8C8C8C;
  }
}
