<example name="Dialog in react">
  <file name="index.html">
    <div class="very-long-page">

      <div id="dialog"></div>
    </div>
  </file>

  <file type="scss">
    .very-long-page {
      height: 2000px;
    }
  </file>

  <file type="js">
    import {render} from 'react-dom';
    import React from 'react';

    import Dialog, {DialogHeader, DialogBody, DialogFooter} from 'ring-ui/components/dialog/dialog';
    import ButtonSet from 'ring-ui/components/button-set/button-set';
    import Button from 'ring-ui/components/button/button';
    import Panel from 'ring-ui/components/panel/panel';
    import {IslandHeader, IslandContent} from 'ring-ui/components/island/island';
    import 'ring-ui/components/island/island.scss';

    class DialogDemo extends React.Component {
      state = {
        show: true
      };

      doAction = () => {
        alert('action performed');
        this.setState({show: false});
      }

      cancelDialog = () => {
        this.setState({show: false});
      }

      render() {
        return (
          <div>
            <div>
              <Button onClick={() => this.setState({show: true})}>Show dialog</Button>
            </div>

            <Dialog show={this.state.show}>
              <IslandHeader>Hello dialog</IslandHeader>
              <IslandContent>This is dialog content</IslandContent>
              <Panel>
                <Button blue={true} onClick={this.doAction}>OK, lets do the action</Button>
                <Button onClick={this.cancelDialog}>No</Button>
              </Panel>
            </Dialog>

          </div>
        );
      }
    }

    render(<DialogDemo />, document.getElementById('dialog'));
  </file>
</example>

<example name="Dialog with control_small">
  <file type="html">
    <div class="ring-dialog__wrapper active">
      <div class="ring-dialog__container">
        <div class="ring-dialog__header">
          <span
            class="ring-dialog__header__title">Dialog with control_small</span>
        </div>

        <form class="ring-dialog__content ring-form">
          <div class="ring-form__group">
            <label class="ring-form__label" for="dialog__key">Small</label>
            <div class="ring-form__control ring-form__control_small">
              <input id="dialog__key" class="ring-input ring-input-size_md"
                type="text">
              <div class="ring-error-bubble active">I am a tip</div>
              <div class="ring-form__control__description">
                There is a small margin before control
              </div>
            </div>
          </div>
        </form>

        <div class="ring-dialog__footer">
          <div class="ring-dialog__footer__spacer"></div>
          <button
            class="ring-dialog__footer__item_first ring-dialog__footer__item ring-button ring-button_blue">
            Save
          </button>
          <button class="ring-dialog__footer__item ring-button">Cancel</button>
        </div>
      </div>
    </div>
  </file>

  <file type="js">
    require('ring-ui/components/dialog/dialog.scss');
    require('ring-ui/components/input-legacy/input-legacy.scss');
    require('ring-ui/components/dialog-ng/dialog-ng.scss');
    require('ring-ui/components/input/input.scss');
    require('ring-ui/components/form/form.scss');
    require('ring-ui/components/panel/panel.scss');
    require('ring-ui/components/button-legacy/button-legacy.scss');
    require('ring-ui/components/input-size/input-size.scss');
  </file>
</example>

<example name="The smallest dialog">
  <file type="html">
    <div class="ring-dialog__wrapper active">
      <div class="ring-dialog__container">
        <div class="ring-dialog__header">
          <span class="ring-dialog__header__title">Small</span>
        </div>
        <div class="ring-dialog__content">
          <div style="text-align: center"><b>Hello!</b></div>
          <div style="text-align: center">I am a message</div>
        </div>
      </div>
    </div>
  </file>

  <file type="js">
    require('ring-ui/components/dialog-ng/dialog-ng.scss');
    require('ring-ui/components/input-legacy/input-legacy.scss');
    require('ring-ui/components/form/form.scss');
    require('ring-ui/components/panel/panel.scss');
    require('ring-ui/components/button-legacy/button-legacy.scss');
  </file>
</example>
