@value unit, gray-color, link-hover-color, overlay-z-index, border-radius from '../global/global.css';

.container {
  position: fixed;
  z-index: overlay-z-index;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: flex;
  overflow: auto;
  align-content: center;
  align-items: center;
  justify-content: center;

  background-color: rgba(255, 255, 255, 0.4);
}

.content {
  position: relative;

  width: calc(unit * 58);
  min-height: calc(unit * 15);
  max-height: calc(100% - calc(calc(unit * 8) + 2px));
  margin: calc(unit * 4) 0;
  overflow-wrap: break-word;

  &.content {
    box-shadow: 0 2px 16px rgba(0, 42, 76, 0.15);
  }

  & :global(.ring-panel) {
    margin-top: 0;
    padding: calc(unit * 2) calc(unit * 4);
    padding-top: calc(unit * 1.5);

    background-color: transparent;
  }

  /* stylelint-disable-next-line selector-max-specificity */
  & :global(.ring-panel .ring-button) {
    margin-right: unit;
  }

  & :global(.ring-form__label) {
    max-width: calc(unit * 14);
  }

  & .islandScrollableWrapperInsideDialog {
    padding-bottom: calc(calc(unit * 2.5) - 1);
  }
}

.closeButton {
  position: absolute;
  right: calc(unit * -6);

  cursor: pointer;

  transition: opacity 0.3s ease-in;

  opacity: 0.3;
  color: gray-color;
  border: none;
  background: transparent;

  &:hover,
  &:focus {
    opacity: 1;
    color: link-hover-color;
  }
}

.bodyWithoutScroll {
  overflow: hidden;

  height: 100%;
}
