@import "../global/variables.css";

/* stylelint-disable-next-line selector-type-no-unknown */
.ringIconDefaultColor rg-icon,
.ringIconDefaultColor :global(.ring-icon) {
  color: var(--ring-icon-secondary-color);
}

.iconMarginFix.iconMarginFix {
  margin-right: 0;
}

.transcludeSpacer:not(:empty) {
  margin-left: 4px;
}
