@import "../global/global";

.ring-checkbox {
  line-height: normal;
  text-align: left;
  outline: none;
}

$ring-checkbox-size: 13px;
.ring-checkbox__input-wrapper {
  line-height: $ring-checkbox-size;
  font-size: $ring-checkbox-size;
  position: relative;
  top: 0;
}

.ring-checkbox_form-label {
  display: inline-block;
  margin-bottom: $ring-unit;
}

:root .ring-checkbox__input[type="checkbox"] {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: $ring-checkbox-size;
  height: $ring-checkbox-size;
  margin: 0;

  & + .ring-checkbox__icon {
    display: inline-block;
    width: 11px;
    height: 11px;

    border: 1px solid $ring-gray-color;
    border-radius: 2px;
    background: transparent;
    user-select: none;

    & .ring-checkbox__icon__image {
      position: absolute;
      top: -2px;
      left: 0;
      width: $ring-checkbox-size;
      height: $ring-checkbox-size;
    }
  }

  &[disabled] + .ring-checkbox__icon {
    color: $ring-dark-gray-color;
  }

  &:not([disabled]) + .ring-checkbox__icon:hover {
    border: 1px solid #FF8620;
  }

  &:checked:not([disabled]) + .ring-checkbox__icon {
    border: 1px solid $ring-blue-color;
  }

  &:focus + .ring-checkbox__icon {
    border: 1px solid $ring-link-hover-color;
  }
}

.ring-checkbox__label {
  display: inline-block;
  margin-left: $ring-unit;
  line-height: normal;
}
