@value unit, font-size, text-color, borders-color, white-color, border-hover-color, selected-background-color, ease, fast-ease from "../global/global.css";
@value checkbox-size: 14px;

.checkbox {
  position: relative;

  display: inline-block;

  text-align: left;

  color: text-color;
  outline: none;

  &:hover .cell {
    transition: background-color ease;

    border-color: border-hover-color;
  }
}

.cell {
  position: relative;
  top: -2px;

  display: inline-block;

  box-sizing: border-box;
  width: checkbox-size;
  height: checkbox-size;

  content: "";
  user-select: none;
  transition: border-color ease, background-color ease, box-shadow ease;
  vertical-align: middle;
  pointer-events: none;

  border: 1px solid borders-color;
  border-radius: 3px;
  background-color: white-color;
}

.icon {
  position: absolute;
  top: calc(unit * -1.5);
  left: 1px;

  width: checkbox-size;
  height: checkbox-size;

  transition: opacity fast-ease, top fast-ease;

  opacity: 0;

  & svg {
    position: absolute;
  }
}

.input {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  margin: 0;

  cursor: pointer;

  opacity: 0;

  &[disabled] {
    pointer-events: none;
  }

  &[disabled] ~ span {
    color: color(text-color alpha(-50%));
    filter: grayscale(1);
  }

  &:checked + .cell {
    border-color: border-hover-color;
    background-color: selected-background-color;

    /* stylelint-disable-next-line selector-max-specificity */
    & .icon {
      top: calc(unit * -0.5);

      opacity: 1;
    }
  }

  &:focus + .cell,
  &.focus + .cell {
    transition: background-color ease;

    border-color: border-hover-color;
    box-shadow: 0 0 0 1px border-hover-color;
  }
}

.label {
  margin-left: unit;

  line-height: normal;
}
