@import "../global/variables.css";

@value unit from "../global/global.css";
@value checkboxSize: 14px;

.checkbox {
  position: relative;

  display: inline-block;

  text-align: left;

  color: var(--ring-text-color);
  outline: none;

  &:hover .cell {
    transition: background-color var(--ring-ease);

    border-color: var(--ring-border-hover-color);
  }
}

.cell {
  position: relative;
  top: -2px;

  display: inline-block;

  box-sizing: border-box;
  width: checkboxSize;
  height: checkboxSize;

  user-select: none;
  transition: border-color var(--ring-ease), background-color var(--ring-ease), box-shadow var(--ring-ease);
  vertical-align: middle;
  pointer-events: none;

  border: 1px solid var(--ring-borders-color);
  border-radius: 3px;
  background-color: var(--ring-content-background-color);
}

.icon.icon {
  position: absolute;
  top: calc(unit * -1.5);
  left: -1px;

  width: calc(unit * 2);
  height: calc(unit * 2);

  transition: opacity var(--ring-fast-ease), transform var(--ring-fast-ease);

  opacity: 0;

  & svg {
    position: absolute;
    top: 0;
    left: 0;
  }
}

.input {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  margin: 0;

  cursor: pointer;

  opacity: 0;

  &:checked + .cell {
    border-color: var(--ring-border-hover-color);
    background-color: var(--ring-selected-background-color);

    /* stylelint-disable-next-line selector-max-specificity */
    & .icon {
      transform: translateY(unit);

      opacity: 1;
    }
  }

  &:focus + .cell,
  &.focus + .cell {
    transition: background-color var(--ring-ease);

    border-color: var(--ring-border-hover-color);
    box-shadow: 0 0 0 1px var(--ring-border-hover-color);
  }

  &[disabled] {
    pointer-events: none;
  }

  &[disabled] + .cell {
    border-color: var(--ring-line-color);
    background-color: var(--ring-content-background-color);
  }

  /* stylelint-disable-next-line selector-max-specificity */
  &[disabled]:checked + .cell .icon {
    opacity: 0.5;
  }

  &[disabled] ~ .label {
    color: var(--ring-disabled-color);
  }
}

.label {
  margin-left: unit;

  line-height: normal;
}
