@import "../global/variables.css";

@value unit from "../global/global.css";
@value checkboxSize: 14px;

.checkbox {
  position: relative;

  display: inline-block;

  text-align: left;

  color: var(--ring-text-color);
  outline: none;

  &:hover .cell {
    transition: background-color var(--ring-ease);

    border-color: var(--ring-border-hover-color);
  }
}

.cell {
  position: relative;
  top: -2px;

  display: inline-block;

  box-sizing: border-box;
  width: checkboxSize;
  height: checkboxSize;

  user-select: none;
  transition: border-color var(--ring-ease), background-color var(--ring-ease), box-shadow var(--ring-ease);
  vertical-align: middle;
  pointer-events: none;

  border: 1px solid var(--ring-borders-color);
  border-radius: var(--ring-border-radius-small);
  background-color: var(--ring-content-background-color);
}

.icon.icon {
  position: absolute;

  width: calc(unit * 2);
  height: calc(unit * 2);

  opacity: 0;
  color: var(--ring-white-text-color);

  & svg {
    position: absolute;
    top: 0;
    left: 0;
  }
}

.check {
  composes: icon;

  top: -1px;
  left: -1px;
}

.minus {
  composes: icon;

  top: 1px;
  left: 2px;

  opacity: 0;
}

.input {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  margin: 0;

  cursor: pointer;

  opacity: 0;

  /* stylelint-disable-next-line selector-max-specificity */
  &:checked + .cell,
  &:indeterminate + .cell {
    border-color: transparent;
    background-color: var(--ring-main-color);
  }

  /* stylelint-disable-next-line selector-max-specificity */
  &:checked + .cell .check {
    opacity: 1;
  }

  &:global(.focus-visible) + .cell,
  &.focus + .cell {
    transition: background-color var(--ring-ease);

    border-color: var(--ring-border-hover-color);
    box-shadow: 0 0 0 1px var(--ring-border-hover-color);
  }

  /* stylelint-disable-next-line selector-max-specificity */
  &:indeterminate + .cell .minus {
    opacity: 1;
  }

  &[disabled] {
    pointer-events: none;
  }

  /* stylelint-disable-next-line selector-max-specificity */
  &[disabled][disabled] + .cell {
    border-color: var(--ring-border-disabled-color);
    background-color: var(--ring-disabled-background-color);
  }

  /* stylelint-disable-next-line selector-max-specificity */
  &[disabled]:checked + .cell,
  &[disabled]:indeterminate + .cell {
    border-color: var(--ring-border-selected-disabled-color);
  }

  /* stylelint-disable-next-line selector-max-specificity */
  &[disabled]:checked + .cell .check,
  &[disabled]:indeterminate + .cell .minus {
    color: var(--ring-border-selected-disabled-color);
  }

  /* stylelint-disable-next-line selector-max-specificity */
  &:indeterminate:indeterminate + .cell .check {
    transition: none;

    opacity: 0;
  }

  &[disabled] ~ .label {
    color: var(--ring-disabled-color);
  }
}

.label {
  margin-left: unit;

  line-height: normal;
}
