@import "../global/global";

//
// Basic form
//
// Markup:
//<form class="ring-form">
//  <div class="ring-form__title">License</div>
//  <div class="ring-form__group">
//    <label for="userNameSample" class="ring-form__label">Whatever you do, make sure you've got the right tools for the job. Tools Matter.</label>
//    <div class="ring-form__control"><input class="ring-input" id="userNameSample" type="text"/></div>
//  </div>
//  <div class="ring-form__group">
//    <label for="licenseSample" class="ring-form__label">License Key</label>
//      <div class="ring-form__control ring-form__control_double">
//        <input class="ring-input ring-input_error" id="licenseSample" type="text">
//        <div class="ring-input__error-bubble">Wrong value</div>
//      </div>
//  </div>
//  <div class="ring-form__group">
//    <label for="passSample" class="ring-form__label">Password</label>
//      <div class="ring-form__control">
//        <input class="ring-input" id="passSample" type="password"/>
//      </div>
//      <div class="ring-form__group ring-form__group_nested">
//        <label for="passSample2" class="ring-form__label">Password confirmation</label>
//        <div class="ring-form__control ring-form__control_secondary">
//          <input class="ring-input" id="passSample" type="password">
//        </div>
//      </div>
//  </div>
//
//  <div class="ring-panel">
//    <button class="ring-btn_blue ring-btn">Save</button>
//    <button class="ring-btn">Cancel</button>
//    <button class="ring-btn ring-btn_danger ring-btn_opposite">Delete</button>
//  </div>
//</form>
//
// Styleguide 7.4

$ring-form-width: $ring-unit*100;
$ring-form-input-width: 200px;
$ring-form-text-line-height: $ring-unit*2;

.ring-form {
  max-width: $ring-form-width;
  margin: 0 0 $ring-unit*3;
  @include ring-font;
}

// Input error bubbles
//
// Markup:
//<div class="ring-form__control">
//  <input class="ring-input ring-input_error" type="text">
//<div class="ring-input__error-bubble">Wrong value</div>
// Styleguide 14.2

.ring-input__error-bubble {
  display: none;
  position: absolute;
  top: 26px;
  left: 0;
  padding-left: 16px;
  padding-right: 16px;
  z-index: 2;

  border-radius: 3px;

  background: #F00;
  color: #FFF;

  @include ring-font;
  font-size: 13px;

  &.active {
    display: inline-block;
  }

  &:before {
    content: '';
    transform: rotate(45deg);
    z-index: $ring-invisible-element-z-index;

    position: absolute;
    top: -4px;
    left: calc(50% - 6px);

    display: block;
    width: 10px;
    height: 10px;

    background: red;
  }
}

.ring-form_white-bg {
  background: white;
}

.ring-form_border {
  border: 1px solid #CCC;
  border-radius: 2px;
}

.ring-form__header {
  min-height: 13px;
  padding-bottom: 2*$ring-unit;
}

.ring-form__summary {
  display: block;
  @include ring-font;
  font-size: 13px;
  line-height: $ring-form-text-line-height;
  text-align: center;
  color: #888;
}

.ring-form__control__description {
  margin-bottom: $ring-unit;
  font-size: 11px;
  line-height: 16px !important;
  color: #888;
}

.ring-form__title {
  display: block;
  margin-bottom: $ring-unit;
  font-weight: bold;

  & + .ring-form__group .ring-form__label {
    padding-top: 0;
  }
}

.ring-form__main-title {
  @include ring-font();
  font-size: 19px;
}

.ring-form__title_separated {
  margin: $ring-unit*3 0;
}

.ring-form__group {
  position: relative;
}

.ring-form__group_nested {
  margin-left: $ring-unit*6;
}

$ring-label-width: 152px;

.ring-form__label {
  position: relative;
  top: 4px;
  display: inline-block;
  width: $ring-label-width;
  padding-bottom: $ring-unit*3;
  padding-right: $ring-unit*2;
  line-height: $ring-form-text-line-height;
  vertical-align: top;

  &_full-line {
    display: block;
    line-height: $ring-unit*3;
  }

  &.ring-form__label_checkbox {
    padding-left: $ring-unit
  }
}

.ring-form__label_title {
  font-weight: bold
}

.ring-form__control {
  position: relative;
  display: inline-block;

  &_half {
    width: $ring-form-input-width/2;
  }

  &_double {
    width: $ring-form-input-width*2;
  }

  &_triple {
    width: $ring-form-input-width*3;
  }

  & .ring-input {
    width: $ring-form-input-width;
  }
}

.ring-form__control_on {
  margin-left: $ring-unit*2;
  color: #84AB28;
}

.ring-form__control_off {
  margin-left: $ring-unit*2;
  color: $ring-color-error;
}

.ring-form__control_small {
  margin-left: 16*$ring-unit !important;
}

.ring-form__info {
  margin-bottom: -$ring-unit + 2;
  width: 85 * $ring-unit;
  margin-left: 20 * $ring-unit;
  line-height: $ring-form-text-line-height;
}

.ring-form__control__part {
  margin-right: $ring-unit;
}

.ring-form__group_short {
  max-width: $ring-form-width / 2;
}

@media only screen and (max-width: 667px) and (min-width: 320px) {
  .ring-form__label {
    top: 0;
    display: block;
    width: 100%;
    margin-bottom: $ring-unit/2;
    padding-bottom: 0;
    padding-top: 8px !important;
  }
  .ring-form__control_off, .ring-form__control_on {
    display: block;
    margin: $ring-unit 0 0 0;
  }
}

@media only screen and (max-width: 480px) {
  .ring-form__control, &_triple {
    width: 100%;

    &_half {
      width: 50%;
    }
  }
}

@media only screen and (max-width: 320px) {
  .ring-form__control, &_triple, &_half {
    width: 50%;
  }
}
