@import "@jetbrains/ring-ui/components/global/variables.css";

.widget-body {
  margin: 0;
  padding: calc(var(--ring-unit) * 2);

  background: var(--ring-content-background-color);

  font-family: var(--ring-font-family);
  font-size: var(--ring-font-size);
  line-height: var(--ring-line-height);
}

.widget {
  margin: 0;
  padding: 0;
}
