:global(.widget-body) {
  margin: 0;
  padding: calc(var(--ring-unit) * 2);

  background: #fff;

  font-size: var(--ring-font-size);
}

.widget {
  composes: font from "@jetbrains/ring-ui/components/global/global.css";

  margin: 0;
  padding: 0;
}
