@import 'global/global';

.shortcuts-hint {
  margin-bottom: $ring-unit * 2;
}

.shortcuts-hint__popup-header {
  padding-left: $ring-unit;
}

.shortcuts-hint__table {
  border-collapse: collapse;
  width: 100%;
}

.shortcuts-hint__shortcuts-column {
  min-width: $ring-unit * 4;
}

.shortcuts-hint__shortcut-block {
  //Spacing between shortcuts block
  &::before {
    content: '';
    display: block;
    height: $ring-unit * 2;
  }
}

.shortcuts-hint__search-input-wrapper {
  position: relative;
  width: $ring-unit * 30;
}

.shortcuts-hint__search-input {
  &.ring-input {
    padding-right: $ring-unit * 3;
  }
}

.shortcuts-hint__search-icon {
  position: absolute;
  top: 0;
  right: 0;
  height: $ring-unit*2;
  width: $ring-unit*2;

  padding: 3px 4px 3px 5px;

  color: $ring-gray-color;
  user-select: none;
}

.shortcuts-hint__table-row {
  height: 21px;
}

.shortcuts-hint__table-title {
  height: $ring-unit * 5;
}

.shortcuts-hint__shortcut {
  padding-right: $ring-unit;
  max-width: $ring-unit * 15;

  text-align: right;
  vertical-align: top;
  white-space: nowrap;
}

.shortcuts-hint__hint {
  padding-left: $ring-unit;
}

.shortcuts-hint__shortcuts-title {
  padding-left: $ring-unit;
  font-size: 20px;
}

.shortcuts-hint__key-spacer {
  padding: 0 $ring-unit;
}
