@import 'global/global';

.shortcuts-ng-hint {
  margin-bottom: $ring-unit * 2;
}

.shortcuts-ng-hint__popup-header {
  padding-left: $ring-unit;
}

.shortcuts-ng-hint__table {
  border-collapse: collapse;
  width: 100%;
}

.shortcuts-ng-hint__shortcuts-column {
  min-width: $ring-unit * 4;
}

.shortcuts-ng-hint__shortcut-block {
  //Spacing between shortcuts block
  &::before {
    content: '';
    display: block;
    height: $ring-unit * 2;
  }
}

.shortcuts-ng-hint__search-input {
  &.ring-input {
    width: $ring-unit * 30;
  }
}

.shortcuts-ng-hint__table-row {
  height: 21px;
}

.shortcuts-ng-hint__table-title {
  height: $ring-unit * 5;
}

.shortcuts-ng-hint__shortcuts-shortcut {
  padding-right: $ring-unit;
  max-width: $ring-unit * 15;

  text-align: right;
  vertical-align: top;
  white-space: nowrap;
}

.shortcuts-ng-hint__shortcuts-hint {
  padding-left: $ring-unit;
}

.shortcuts-ng-hint__shortcuts-title {
  padding-left: $ring-unit;
  font-size: 20px;
}
