@import "../global/variables.css";

@value unit from "../global/global.css";

.shortcuts-hint {
  width: 900px;
  margin-bottom: calc(unit * 2);
}

.shortcuts-hint__dialog {
  width: auto;
}

.shortcuts-hint__popup-header {
  padding-left: unit;
}

.shortcuts-hint__columns {
  margin-top: calc(unit * 3);
  columns: 2 auto;

  line-height: 20px;
}

.shortcuts-hint__table {
  display: table;

  border-spacing: 0 unit;

  border-collapse: separate;
}

.shortcuts-hint__shortcuts-column {
  min-width: calc(unit * 4);
}

.shortcuts-hint__shortcut-block {
  display: table-row-group;
}

.shortcuts-hint__shortcut-block:not(:first-child)::before {
  display: block;

  height: calc(unit / 2);

  content: '';
}

.shortcuts-hint__search-input-wrapper {
  position: relative;

  width: calc(unit * 30);
}

.shortcuts-hint__search-icon {
  position: absolute;
  top: 18px;
  right: 0;

  width: calc(unit * 2);
  height: calc(unit * 2);

  padding: 3px 4px 3px 5px;

  user-select: none;

  color: var(--ring-disabled-color);
}

.shortcuts-hint__table-row {
  display: table-row;
}

.shortcuts-hint__table-title {
  display: table-row;
}

.shortcuts-hint__shortcut-cell {
  display: table-cell;

  max-width: calc(unit * 22);
  padding-right: unit;

  text-align: right;
}

.shortcuts-hint__shortcut {
  white-space: nowrap;

  color: var(--ring-secondary-color);

  font-family: monospace;
}

.shortcuts-hint__hint {
  display: table-cell;

  padding-left: unit;
}

.shortcuts-hint__shortcuts-title {
  display: table-cell;

  padding-left: unit;

  letter-spacing: 1.5px;
  text-transform: uppercase;

  color: var(--ring-secondary-color);

  font-size: 12px;
}

.shortcuts-hint__key-spacer {
  padding: 0 unit;
}
