@import 'global/global';

.shortcuts-ng__hint {

}

.shortcuts-ng__hint-table {
  border-collapse: collapse;
  width: 100%;
}

.shortcuts-ng__hint-shortcut-block {
  //Spacing between shortcuts block
  &::after {
    content: '';
    display: block;
    height: $ring-unit * 2;
  }
}

.shortcuts-ng__hint-table-row {
  height: 21px;
}

.shortcuts-ng__hint-table-title {
  height: $ring-unit * 5;
}

.shortcuts-ng__hint-shortcuts-shortcut {
  text-align: right;
  padding-right: $ring-unit;
  max-width: $ring-unit * 15;
}

.shortcuts-ng__hint-shortcuts-hint {
  padding-left: $ring-unit;
}

.shortcuts-ng__hint-shortcuts-title {
  padding-left: $ring-unit;
  font-size: 20px;
}
