@import "./table-legacy__toolbar.css";

@value unit from "../global/global.css";

.ring-table {
  width: 100%;

  border-spacing: 0;

  border-collapse: collapse;
  background-color: transparent;

  font-size: var(--ring-font-size);
}

.ring-table__header {
  display: table-row;

  background-color: var(--ring-sidebar-background-color);
}

.ring-table__header-checkbox {
  position: relative;
  top: 1px;
  left: -2px;

  display: inline-block;
}

.ring-table__title {
  position: relative;

  display: table-cell;

  padding: 0 unit;

  text-align: left;
  white-space: nowrap;

  color: var(--ring-text-color);
  border-top: 1px solid var(--ring-sidebar-background-color);
  border-bottom: 1px solid var(--ring-line-color);

  font-size: var(--ring-font-size-smaller);
  font-weight: normal;
  line-height: 23px;

  &.ring-table__title_active {
    font-weight: bold;
  }

  &:first-child {
    padding-left: calc(unit * 4);
  }

  /* Have to emulate right border because of Fx weird bug —
  *  https://jetpass.myjetbrains.com/youtrack/issue/JPS-1634
  *  Removing border-collapse: collapse from .ring-table helps too,
  *  but to implement nested items markup without it is next to impossible.
  **/
  &::after {
    position: absolute;
    top: -1px;
    right: 0;
    bottom: 0;

    display: block;

    width: 1px;

    content: normal;

    background-color: var(--ring-sidebar-background-color);
  }
}

.ring-table__title_border::after {
  content: '';
}

.ring-table__title_nested {
  padding-left: calc(unit * 5);

  /* fix header checkbox position in nested table */
  .ring-table__header-checkbox {
    left: -26px;
  }
}

.ring-table__toggle {
  position: relative;
  top: 9px;

  display: inline-block;

  width: 12px;
  height: 9px;

  margin-left: calc(unit * 2);
  padding-bottom: 21px;

  cursor: pointer;

  color: var(--ring-line-color);

  font-size: 14px;

  &:hover {
    color: var(--ring-text-color);
  }
}

.ring-table__toggle-icon {
  float: right;
}

.ring-table__toggle-icon:hover {
  color: var(--ring-link-hover-color);
}

.ring-table__column-inline-avatar {
  display: inline-block;

  vertical-align: middle;
}

.ring-table__column-inline-avatar-img {
  margin: -6px 8px;
}

.ring-table__column_selector {
  min-width: calc(3 * unit);
  padding: 0 !important;

  text-align: center;
}

.ring-table__selector {
  display: inline-block;

  margin: 0 0 0 calc(unit / 2);
}

.ring-table__column {
  display: table-cell;

  padding: calc(unit - 2) unit;

  vertical-align: middle;
  white-space: nowrap;

  border-collapse: collapse;
  border-width: 1px;
  border-color: var(--ring-sidebar-background-color);
  border-top-style: solid;
  border-bottom-style: solid;

  /* Avoid vertical gaps in the middle of the table */
  &:last-child {
    width: 100%;
  }

  &:first-child {
    padding-left: calc(4 * unit);
  }

  &.ring-table__column_gap {
    border-bottom-color: transparent !important;
    background-color: var(--ring-line-color);
  }

  /* Combined class is required here for specificity */
  &.ring-table__column_toggle {
    width: calc(unit * 2);
    padding: 0;

    text-align: right;

    vertical-align: top;
  }

  &_right {
    text-align: right;
  }

  &_gray {
    color: var(--ring-secondary-color);
  }

  &_snuggle-right {
    padding-right: 0;
  }

  &_snuggle-left {
    padding-left: 0;
  }

  &_align-right {
    text-align: right;
  }
}

.ring-table__column_gap {
  padding-left: calc(unit * 2) !important;

  border-right-style: solid;
}

.ring-table__column-title {
  font-weight: bold;
}

.ring-table__column_wide {
  min-width: calc(10 * unit);
}

.ring-table__column_limited {
  overflow: hidden;

  max-width: calc(50 * unit);

  white-space: nowrap;
  text-overflow: ellipsis;
}

.ring-table__column_unlimited {
  overflow: hidden;

  width: 100%;
  max-width: 1px;

  white-space: nowrap;
  text-overflow: ellipsis;
}

.ring-table__column_narrow {
  min-width: calc(3 * unit);
  padding: 0 !important;
}

.ring-table__column-list:not(:last-child)::after {
  content: ', ';
}

.ring-table__row {
  display: table-row;

  width: 100%;
  height: calc(5 * unit);

  &.ring-table__row_ghost {
    background-color: var(--ring-content-background-color);
  }

  &.ring-table__row_implicit {
    opacity: 0.5;
  }

  &:hover {
    background-color: var(--ring-sidebar-background-color);

    .ring-table__column_gap {
      background-color: var(--ring-line-color);
    }
  }

  &.ring-table__row_unselectable:hover {
    background-color: initial;
  }

  &.ring-table__row_checked {
    background-color: var(--ring-selected-background-color);
  }

  &.ring-table__row_active-checked {
    background-color: var(--ring-selected-background-color);
  }

  &.ring-table__row_active {
    .ring-table__column {
      border-color: var(--ring-main-color);
      border-top-style: double; /* Using double to override border-top-color because of border collapsed */
    }

    .ring-table__column_gap {
      border-color: var(--ring-line-color);
      border-top-style: none;
    }

    .sidebar__btn {
      visibility: visible;
    }
  }
}

.ring-table__group {
  display: table-row-group;
}

.ring-table__description {
  margin-left: unit;

  color: var(--ring-secondary-color);

  font-size: var(--ring-font-size-smaller);
}

.ring-table__avatar {
  width: calc(3 * unit);
  height: calc(3 * unit + 3); /* If avatar is missing */
}

.ring-table__avatar-img {
  width: calc(3 * unit);
  height: calc(3 * unit);
}

.ring-table__header_sticky {
  position: fixed;

  /* Set z-index to avoid overlaying icons in rows and fixed header */

  z-index: var(--ring-fixed-z-index);
  top: 0;

  display: none;

  width: auto;
}

.table__pager {
  padding: calc(4 * unit) calc(4 * unit);
}

.table__pager-links {
  margin-bottom: calc(2 * unit);
}

.table__pager-link {
  display: inline-block;

  margin-right: calc(4 * unit);

  &_disabled {
    color: var(--ring-secondary-color);
  }
}

.table__pager-select {
  display: inline-block;
  float: right;
}
