@value unit from "../global/global.css";

:global(.ring-table__toolbar) {
  background: inherit;
}

:global(.ring-table__toolbar-controls) {
  position: relative;

  display: block;

  min-height: calc(unit * 3);

  padding: calc(unit * 2) calc(unit * 4);

  white-space: initial;

  background: inherit;

  &:global(.ring-table__toolbar-controls_fixed) {
    position: fixed;
    z-index: calc(var(--ring-fixed-z-index) + 1);
    top: 0;
    right: 0;
    left: 0;
  }
}
