@import "../global/global";

.ring-table__toolbar {
  background: #F0F0F0;
}

.ring-table__toolbar-controls {
  display: block;
  position: relative;

  padding: $ring-unit*2 $ring-unit*4;
  min-height: $ring-unit * 3;

  background: inherit;
  white-space: initial;

  &.ring-table__toolbar-controls_fixed {
    z-index: $ring-fixed-z-index + 1;

    position: fixed;
    top: 0;
    right: 0;
    left: 0;

    border-bottom: 1px solid #BEBEBE;
  }
}
