<example name="Popup">
  <file type="scss">
    .popup-example__button {
      position: absolute;
      left: 50px;
      bottom: 50px;
    }

    .popup-example__anchor {
      position: absolute;
      width: 10px;
      height: 10px;

      &_left {
        left: 0;
        top: 0;
        background-color: red;
      }

      &_right {
        right: 0;
        top: 0;
        background-color: blue;
      }

      &_bottom-left {
        left: 0;
        bottom: 0;
        background-color: green;
      }

      &_bottom-right {
        right: 0;
        bottom: 0;
        background-color: orange;
      }
    }
  </file>
  <file type="html">
    <div>
      <div id="top__left"
        class="popup-example__anchor popup-example__anchor_left"></div>
      <div id="top__right"
        class="popup-example__anchor popup-example__anchor_right"></div>
      <div id="bottom__left"
        class="popup-example__anchor popup-example__anchor_bottom-left"></div>
      <button id="switch3" class="popup-example__button">Show again</button>
      <div id="bottom__right"
        class="popup-example__anchor popup-example__anchor_bottom-right"></div>
    </div>
  </file>
  <file type="js">
    var DOM = require('react').DOM;
    var Popup = require('ring-ui/components/popup/popup');
    var Directions = Popup.PopupProps.Directions;

    var container = DOM.span(null, 'Helloworld!');

    var popup = Popup.renderPopup(Popup.factory({
      anchorElement: document.getElementById('top__left'),
      directions: [Directions.BOTTOM_RIGHT],
      autoRemove: false
    }, container));

    var popup2 = Popup.renderPopup(Popup.factory({
      anchorElement: document.getElementById('top__right'),
      directions: [Directions.BOTTOM_LEFT],
      autoRemove: false
    }, container));

    var popup3 = Popup.renderPopup(Popup.factory({
      anchorElement: document.getElementById('bottom__left'),
      directions: [Directions.TOP_RIGHT],
      autoRemove: false
    }, container));

    var popup4 = Popup.renderPopup(Popup.factory({
      anchorElement: document.getElementById('bottom__right'),
      directions: [Directions.TOP_LEFT],
      autoRemove: false
    }, container));

    document.getElementById('switch3').addEventListener('click', function () {
      setTimeout(function () {
        popup3.show();
      }, 1);
    });
  </file>
</example>

<example name="Auto-positioning a popup">
  <file type="html">
    <div>
      <div id="horizontalCenter" class="popup-example__message">Popup should
        change open direction when reaching window borders
      </div>
      <div id="verticalCenter"
        class="popup-example__message popup-example__message_vert">Popup should
        change open direction when reaching window borders
      </div>
      <div id="leftSide"
        class="popup-example__anchor popup-example__anchor_left">Left side open
        popup
      </div>
      <div id="rightSide"
        class="popup-example__anchor popup-example__anchor_right">Right side
        open popup
      </div>
      <div id="downSide"
        class="popup-example__anchor popup-example__anchor_bottom">Downside open
        popup
      </div>
      <div id="topSide" class="popup-example__anchor popup-example__anchor_top">
        Upside open popup
      </div>
    </div>
  </file>
  <file type="scss">
    .popup-example__message {
      position: absolute;

      top: 50%;
      left: 300px;

      &_vert {
        top: 20%;
        width: 150px;
      }
    }

    .popup-example__anchor {
      position: absolute;

      &_left {
        left: 0;
        top: 50px;
      }

      &_right {
        right: 0;
        top: 50px;
      }

      &_bottom {
        left: 150px;
        bottom: 0;
      }

      &_top {
        right: 150px;
        top: 0;
      }
    }
  </file>
  <file type="js">
    var DOM = require('react').DOM;
    var Popup = require('ring-ui/components/popup/popup');
    var Directions = Popup.PopupProps.Directions;

    var container = DOM.span({style: {whiteSpace: 'no-wrap'}}, 'This is popup');

    var popup = Popup.renderPopup(Popup.factory({
      anchorElement: document.getElementById('leftSide'),
      directions: [Directions.LEFT_BOTTOM, Directions.RIGHT_BOTTOM],
      autoRemove: false
    }, container));

    var popup2 = Popup.renderPopup(Popup.factory({
      anchorElement: document.getElementById('rightSide'),
      directions: [Directions.RIGHT_BOTTOM, Directions.LEFT_BOTTOM],
      autoRemove: false
    }, container));

    var popup3 = Popup.renderPopup(Popup.factory({
      anchorElement: document.getElementById('downSide'),
      directions: [Directions.BOTTOM_RIGHT, Directions.TOP_LEFT],
      autoRemove: false
    }, container));

    var popup4 = Popup.renderPopup(Popup.factory({
      anchorElement: document.getElementById('topSide'),
      directions: [Directions.TOP_LEFT, Directions.BOTTOM_RIGHT],
      autoRemove: false
    }, container));

    var popup5 = Popup.renderPopup(Popup.factory({
      anchorElement: document.getElementById('horizontalCenter'),
      directions: [Directions.TOP_CENTER],
      autoRemove: false
    }, container));

    var popup6 = Popup.renderPopup(Popup.factory({
      anchorElement: document.getElementById('verticalCenter'),
      directions: [Directions.RIGHT_CENTER],
      autoRemove: false
    }, container));
  </file>
</example>
<example name="Popup in a popup">
  <file type="html">
    <div>
      <div id="parentPopupAnchor" class="popup-example__message">Parent popup
        anchor
      </div>
    </div>
  </file>
  <file type="scss">
    .parent-popup {
      width: 100px;
      height: 100px;
      text-align: center;
    }

    .child-popup {
      background-color: red;
      text-align: center;
      margin: 8px;
    }
  </file>
  <file type="js">
    var DOM = require('react').DOM;
    var Popup = require('ring-ui/components/popup/popup');

    var parentPopupContent = DOM.div({className: 'parent-popup'}, 'This is parent popup');
    var childPopupContent = DOM.div({className: 'child-popup'}, 'This is child popup');

    var parentPopup = Popup.renderPopup(Popup.factory({
      anchorElement: document.getElementById('parentPopupAnchor'),
      autoRemove: false
    }, parentPopupContent));

    var childPopup = Popup.renderPopup(Popup.factory({
      anchorElement: document.getElementsByClassName('parent-popup')[0],
      autoRemove: false
    }, childPopupContent));

  </file>
</example>
