.popup {
  composes: font from "../global/global.css";

  position: absolute;
  z-index: var(--ring-overlay-z-index);
  top: -100vh;
  left: -100vw;

  overflow-y: auto;

  box-sizing: border-box;

  border: 1px solid var(--ring-popup-border-color);
  border-radius: var(--ring-border-radius);

  background-color: #fff;
  box-shadow: 0 2px 16px 0 rgba(var(--ring-popup-border-components), 0.15);
}

.hidden {
  display: none;
}

.showing {
  opacity: 0;
}

.attached {
  border-top: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
