@value unit, overlay-z-index, white-color, border-radius, font, popup-border-color from  "../global/global.css";

.popup {
  position: absolute;
  z-index: overlay-z-index;
  box-sizing: border-box;

  text-align: center;

  border: 1px solid popup-border-color;

  background-color: #FFF;
  box-shadow: 0 2px 8px 0 color(popup-border-color a(0.15));
  border-radius: border-radius;

  overflow-y: auto;

  composes: font;
}

.filterWrapper {
   padding: 0 calc(unit * 2);
   margin: calc(unit * 2) 0 unit;
}

.attached {
  border-top: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
