@value unit, overlay-z-index, white-color, border-radius, font, popup-border-color from  "../global/global.css";

.popup {
  composes: font;

  position: absolute;
  z-index: overlay-z-index;

  overflow-y: auto;

  box-sizing: border-box;

  text-align: center;

  border: 1px solid popup-border-color;
  border-radius: border-radius;

  background-color: #fff;
  box-shadow: 0 2px 8px 0 color(popup-border-color a(0.15));
}

.hidden {
  display: none;
}

.showing {
  opacity: 0;
}

.attached {
  border-top: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
