<div class="error-message">

    <div class="error-message__content">
        <div>
          <div react-class-name="'error-message__icon'" react-static="Icon" react-glyph="icon"></div>
        </div>
        <div class="error-message__text">
            <div ng-if="code" class="error-message__title">{{ code }}: {{ message }}</div>
            <div ng-if="!code" class="error-message__title">{{ message }}</div>

            <div class="error-message__section" ng-transclude></div>

            <div class="error-message__section" ng-if="links">
                <span ng-repeat="link in links">
                  <a class="ring-link" ng-if="link.target" ng-href="{{link.href}}" target="{{link.target}}">{{link.text}}</a><a
                  class="ring-link" ng-if="!link.target" ng-href="{{link.href}}">{{link.text}}</a>{{$last ? '' : ','}}
                </span>
            </div>
        </div>
    </div>
</div>
