@import "../global/global";

@warn "error-message-ng.scss is not used by Ring UI anymore and is subject to delete in next versions. Please don't import it directly and use ErrorMessage component instead";

.error-message {
  position: fixed;
  text-align: center;
  width: 100%;
  height: 100%;

  &:after {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
}

.error-message__content {
  display: inline-block;
  width: $ring-unit*73;

  text-align: left;
  font-size: 15px;
}

.error-page__line {
  margin: 0 $ring-unit * 4;
  width: auto;
}

.error-message__title {
  color: var(--ring-text-color);
  font-size: 21px;
}

.error-message__title,
.error-message__section {
  margin-bottom: $ring-unit*2;
}

.error-message__icon {
  float: left;

  margin: 0 $ring-unit*2 $ring-unit*100;
  overflow: hidden;
  color: rgba(0, 0, 0, 0.2);
}
