<div class="error-message" data-test="ring-error-message">

    <div class="error-message__content">
        <div>
          <rg-icon class="error-message__icon" glyph="{{icon}}" size="64"></rg-icon>
        </div>
        <div class="error-message__text">
            <div ng-if="code" class="error-message__title">{{ code }}: {{ message }}</div>
            <div ng-if="!code" class="error-message__title">{{ message }}</div>

            <div class="error-message__section" ng-transclude></div>

            <div class="error-message__section" ng-if="links">
                <span ng-repeat="link in links">
                  <rg-link ng-if="link.target" ng-href="{{link.href}}" target="{{link.target}}">{{link.text}}</rg-link><rg-link
                  ng-if="!link.target" ng-href="{{link.href}}">{{link.text}}</rg-link>{{$last ? '' : ','}}
                </span>
            </div>
        </div>
    </div>
</div>
