<div ng-class="{
    'ring-avatar-editor_controlled': controlled,
    'ring-avatar-editor': !ngDisabled
    }">
    <span class="ring-btn_ico ring-font-icon ring-font-icon_pencil ring-avatar-editor__ico"
          ng-if="!ngDisabled"></span>
    <img class="ring-avatar-editor__img" ng-src="{{ model }}"
         ng-show="model" ng-click="!ngDisabled && controls.select()">
    <img class="ring-avatar-editor__img" ng-src="{{ default }}"
         ng-show="!model && default" ng-click="!ngDisabled && controls.select()">
    <input class="ring-avatar-editor__file-input" type="file" accept="image/*" ng-if="!ngDisabled">
</div>