@value unit from "../global/global.css";
@value button-shadow: inset 0 0 0 1px;
@value height: calc(unit * 3);
@value loaderWidth: calc(var(--ring-unit) * 8);

.light {
  color: var(--ring-text-color);
  background-color: var(--ring-content-background-color);
  box-shadow: button-shadow var(--ring-borders-color);

  &:hover {
    box-shadow: button-shadow var(--ring-border-hover-color);
  }

  &:active,
  &.active {
    background-color: var(--ring-selected-background-color);
    box-shadow: button-shadow var(--ring-border-hover-color);
  }

  &[disabled],
  &[disabled].withIcon {
    color: var(--ring-disabled-color);
  }

  &[disabled] .icon {
    color: var(--ring-icon-disabled-color);
  }

  &.primary:active,
  &.primary.active {
    background-color: #1a98ff;
    box-shadow: button-shadow #0062b2;
  }

  &.danger:active,
  &.danger.active {
    background-color: #ffe7e8;
  }

  &.danger:active,
  &.danger.active,
  &.danger:focus,
  &.danger:hover {
    box-shadow: button-shadow #ffb3b8;
  }

  &.withIcon {
    color: var(--ring-secondary-color);
  }

  & .loaderBackground::before {
    background-image:
      linear-gradient(
        to right,
        var(--ring-content-background-color),
        var(--ring-selected-background-color) 40%,
        var(--ring-content-background-color) 80%
      );
  }
}

.dark {
  color: var(--ring-dark-secondary-color);
  background-color: var(--ring-navigation-background-color);
  box-shadow: button-shadow var(--ring-dark-line-color);

  &:hover {
    box-shadow: button-shadow var(--ring-main-color);
  }

  &:active,
  &.active {
    color: var(--ring-dark-text-color);
    background-color: var(--ring-dark-selected-background-color);
    box-shadow: button-shadow var(--ring-main-color);
  }

  &[disabled],
  &[disabled].withIcon {
    color: var(--ring-text-color);
  }

  &[disabled] .icon {
    color: #333;
  }

  &.primary:active,
  &.primary.active {
    background-color: var(--ring-main-hover-color);
    box-shadow: button-shadow var(--ring-border-hover-color);
  }

  &.danger:active,
  &.danger.active {
    color: var(--ring-error-color);
    background-color: #26080a;
  }

  &.danger:active,
  &.danger.active,
  &.danger:focus,
  &.danger:hover {
    box-shadow: button-shadow #db5860;
  }

  &.withIcon {
    color: var(--ring-dark-secondary-color);
  }

  & .loaderBackground::before {
    background-image:
      linear-gradient(
        to right,
        var(--ring-navigation-background-color),
        #002039 40%,
        var(--ring-navigation-background-color) 80%
      );
  }
}

.button {
  composes: button from "../button-group/button-group.css";
  composes: button from "../button-set/button-set.css";
  composes: button from "../button-toolbar/button-toolbar.css";

  position: relative;
  z-index: 0;

  display: inline-block;

  box-sizing: border-box;
  height: height;
  margin: 0;
  padding: 0 calc(var(--ring-unit) * 2);

  cursor: pointer;
  transition: color var(--ring-ease), background-color var(--ring-ease), box-shadow var(--ring-ease);
  text-decoration: none;

  border: 0;
  border-radius: var(--ring-border-radius);
  outline: 0;

  font-family: var(--ring-font-family);
  font-size: var(--ring-font-size-smaller);

  line-height: height;

  &:hover {
    z-index: 3;

    transition: none;
  }

  &:focus {
    z-index: 4;

    transition: none;

    box-shadow: button-shadow var(--ring-border-hover-color), 0 0 0 1px var(--ring-border-hover-color);
  }

  &[disabled] {
    pointer-events: none;
  }

  &::-moz-focus-inner {
    padding: 0;

    border: 0;
    outline: 0;
  }

  &.narrowRight {
    padding-right: 12px;
  }
}

.button:active,
.active {
  z-index: 2;
}

.primary {
  color: var(--ring-dark-text-color);
  background-color: var(--ring-main-color);
  box-shadow: none;

  &.withIcon,
  &.withIcon:active,
  &.withIcon.active {
    color: var(--ring-main-color);
  }

  &:hover,
  &:focus {
    transition: none;

    background-color: var(--ring-main-hover-color);
    box-shadow: none;
  }

  &[disabled] {
    background-color: var(--ring-content-background-color);
    box-shadow: button-shadow var(--ring-borders-color);
  }

  & .loaderBackground {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    border-radius: var(--ring-border-radius);

    &::before {
      background-image:
        linear-gradient(
          to right,
          var(--ring-main-color),
          #33a3ff 40%,
          var(--ring-main-color) 80%
        );
    }
  }
}

.danger {
  color: var(--ring-error-color);

  &.withIcon,
  &.withIcon:active,
  &.withIcon.active,
  &.text,
  &.text:active,
  &.text.active {
    color: var(--ring-error-color);
  }

  &:hover,
  &:focus {
    transition: none;
  }
}

.text.text,
.withIcon.withIcon {
  background-color: transparent;
  box-shadow: none;

  &:hover {
    transition: none;
  }

  &:hover,
  &:active,
  &.active {
    background-color: transparent;
    box-shadow: none;
  }

  &:focus {
    box-shadow: inset 0 0 0 2px var(--ring-border-hover-color);
  }
}

.text {
  color: var(--ring-main-color);
}

.inline {
  display: inline-block;

  margin: 0;
  padding: 0;

  font-size: var(--ring-font-size);
}

.withIcon {
  padding: 0 var(--ring-unit);
}

.withIcon,
.text {
  &:hover,
  &:focus {
    color: var(--ring-link-hover-color);
  }

  &:active,
  &.active {
    color: var(--ring-main-color);
  }
}

.onlyIcon {
  &:hover,
  &:focus {
    color: var(--ring-border-hover-color);
  }

  &:active,
  &.active {
    color: var(--ring-main-color);
  }
}

.icon {
  vertical-align: 2px;

  color: inherit;

  line-height: normal;

  &:not(:last-child) {
    margin-right: calc(var(--ring-unit) * 0.5);
  }
}

.withNormalIconLight .icon {
  transition: color var(--ring-ease);

  color: var(--ring-icon-color);
}

.withNormalIconLight:hover,
.withNormalIconLight:focus,
.withNormalIconLight:active,
.withDangerIconLight:hover,
.withDangerIconLight:focus {
  & .icon {
    transition: none;

    color: inherit;
  }
}

.withDangerIconLight,
.withDangerIconLight:active {
  & .icon {
    color: var(--ring-icon-error-color);
  }
}

.buttonWithoutIcon .icon {
  display: none;
}

.loader {
  position: relative;
  z-index: 0;

  pointer-events: none;

  background-color: transparent;
}

.loaderBackground {
  position: absolute;
  z-index: -1;
  top: 1px;
  right: 1px;
  bottom: 1px;
  left: 1px;

  overflow: hidden;

  border-radius: var(--ring-border-radius-small);

  &::before {
    display: block;

    width: calc(100% + loaderWidth);
    height: 100%;

    content: '';
    animation: progress 1s linear infinite;

    background-repeat: repeat;
    background-size: loaderWidth;
  }
}

.delayed .content::after {
  content: '…';
}

.short {
  width: calc(var(--ring-unit) * 4);
  padding: 0;
}

.dropdownIcon {
  margin-right: -2px;

  margin-left: 2px;

  transition: color var(--ring-ease);
  vertical-align: 1px;

  color: var(--ring-secondary-color);

  line-height: normal;
}

.button:hover .dropdownIcon {
  transition: none;

  color: var(--ring-main-color);
}

@keyframes progress {
  from {
    transform: translateX(calc(0 - loaderWidth));
  }

  to {
    transform: translateX(0);
  }
}
