@import "../global/variables.css";

@value unit from "../global/global.css";
@value button-shadow: inset 0 0 0 1px;
@value height: calc(unit * 3);
@value loaderWidth: calc(unit * 8);

:root {
  /* TODO: This colors are not ready to move to variables.css */
  /* stylelint-disable color-no-hex */
  --ring-button-primary-background-color: #1a98ff;
  --ring-button-primary-border-color: #0062b2;
  --ring-button-danger-active-color: #ffe7e8;
  --ring-button-danger-hover-color: #ffb3b8;
  --ring-button-loader-background: #33a3ff;
  --ring-button-dark-border-disabled-color: #333;
  --ring-button-dark-icon-disabled-color: var(--ring-button-dark-border-disabled-color);
  --ring-button-dark-danger-active-color: #26080a;
  --ring-button-dark-danger-hover-color: #db5860;
  --ring-button-dark-active-color: #001526; /* TODO: Can't it be replaced with #002A4D? */
  --ring-button-dark-loader-background: #002039;
  /* stylelint-enable color-no-hex */
}

.light {
  color: var(--ring-text-color);
  background-color: var(--ring-content-background-color);
  box-shadow: button-shadow var(--ring-borders-color);

  &:hover {
    box-shadow: button-shadow var(--ring-border-hover-color);
  }

  &:active,
  &.active {
    background-color: var(--ring-selected-background-color);
    box-shadow: button-shadow var(--ring-border-hover-color);
  }

  &:focus {
    box-shadow: button-shadow var(--ring-border-hover-color), 0 0 0 1px var(--ring-border-hover-color);
  }

  &[disabled] {
    box-shadow: button-shadow var(--ring-border-disabled-color);
  }

  &[disabled],
  &[disabled].withIcon {
    color: var(--ring-disabled-color);
  }

  &[disabled] .icon {
    color: var(--ring-icon-disabled-color);
  }

  &.primary:active,
  &.primary.active {
    background-color: var(--ring-button-primary-background-color);
    box-shadow: button-shadow var(--ring-button-primary-border-color);
  }

  &.danger:active,
  &.danger.active {
    background-color: var(--ring-button-danger-active-color);
  }

  &.danger:active,
  &.danger.active,
  &.danger:focus {
    box-shadow: button-shadow var(--ring-button-danger-hover-color);
  }

  &.withIcon {
    color: var(--ring-secondary-color);
  }

  &.onlyIcon {
    color: var(--ring-icon-secondary-color);
  }

  & .loaderBackground::before {
    background-image:
      linear-gradient(
        to right,
        var(--ring-content-background-color),
        var(--ring-selected-background-color) 40%,
        var(--ring-content-background-color) 80%
      );
  }
}

.light.danger:hover {
  box-shadow: button-shadow var(--ring-button-danger-hover-color);
}

.dark {
  color: var(--ring-dark-secondary-color);
  background-color: var(--ring-navigation-background-color);
  box-shadow: button-shadow var(--ring-dark-borders-color);

  &:hover {
    box-shadow: button-shadow var(--ring-dark-border-hover-color);
  }

  &:active,
  &.active {
    color: var(--ring-dark-text-color);
    background-color: var(--ring-button-dark-active-color);
    box-shadow: button-shadow var(--ring-dark-border-hover-color);
  }

  &:focus {
    box-shadow: button-shadow var(--ring-dark-border-hover-color), 0 0 0 1px var(--ring-dark-border-hover-color);
  }

  &[disabled] {
    box-shadow: button-shadow var(--ring-button-dark-border-disabled-color);
  }

  &[disabled],
  &[disabled].withIcon {
    color: var(--ring-dark-disabled-color);
  }

  &[disabled] .icon {
    color: var(--ring-button-dark-icon-disabled-color);
  }

  &.primary:active,
  &.primary.active {
    background-color: var(--ring-main-hover-color);
    box-shadow: button-shadow var(--ring-border-hover-color);
  }

  &.danger:active,
  &.danger.active {
    color: var(--ring-error-color);
    background-color: var(--ring-button-dark-danger-active-color);
  }

  &.danger:active,
  &.danger.active,
  &.danger:focus {
    box-shadow: button-shadow var(--ring-button-dark-danger-hover-color);
  }

  &.withIcon {
    color: var(--ring-dark-secondary-color);
  }

  & .loaderBackground::before {
    background-image:
      linear-gradient(
        to right,
        var(--ring-navigation-background-color),
        var(--ring-button-dark-loader-background) 40%,
        var(--ring-navigation-background-color) 80%
      );
  }

  & .dropdownIcon {
    color: var(--ring-dark-secondary-color);
  }
}

.dark.danger:hover {
  box-shadow: button-shadow var(--ring-button-dark-danger-hover-color);
}

.button {
  composes: button from "../button-group/button-group.css";
  composes: button from "../button-set/button-set.css";
  composes: button from "../button-toolbar/button-toolbar.css";

  position: relative;

  display: inline-block;

  box-sizing: border-box;
  height: height;
  margin: 0;
  padding: 0 calc(unit * 2);

  cursor: pointer;
  transition: color var(--ring-ease), background-color var(--ring-ease), box-shadow var(--ring-ease);
  text-decoration: none;

  border: 0;
  border-radius: var(--ring-border-radius);
  outline: 0;

  font-family: var(--ring-font-family);
  font-size: var(--ring-font-size-smaller);

  line-height: height;

  &:hover {
    transition: none;
  }

  &:focus {
    transition: none;
  }

  &[disabled] {
    pointer-events: none;
  }

  &::-moz-focus-inner {
    padding: 0;

    border: 0;
    outline: 0;
  }

  &.narrowRight {
    padding-right: 12px;
  }
}

.active {
  composes: active from "../button-group/button-group.css";
}

.primary {
  color: var(--ring-dark-text-color);
  background-color: var(--ring-main-color);
  box-shadow: none;

  &.withIcon,
  &.withIcon:active,
  &.withIcon.active {
    color: var(--ring-main-color);
  }

  &:focus {
    transition: none;

    background-color: var(--ring-main-hover-color);
    box-shadow: none;
  }

  &[disabled] {
    background-color: var(--ring-content-background-color);
    box-shadow: button-shadow var(--ring-borders-color);
  }

  & .loaderBackground {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    border-radius: var(--ring-border-radius);

    &::before {
      background-image:
        linear-gradient(
          to right,
          var(--ring-main-color),
          var(--ring-button-loader-background) 40%,
          var(--ring-main-color) 80%
        );
    }
  }
}

.primary:hover {
  transition: none;

  background-color: var(--ring-main-hover-color);
  box-shadow: none;
}

.danger {
  color: var(--ring-error-color);

  &.withIcon,
  &.withIcon:active,
  &.withIcon.active,
  &.text,
  &.text:active,
  &.text.active {
    color: var(--ring-error-color);
  }

  &:focus {
    transition: none;
  }
}

.danger:hover {
  transition: none;
}

.text.text,
.withIcon.withIcon {
  background-color: transparent;
  box-shadow: none;

  &:hover {
    transition: none;
  }

  &:active,
  &.active {
    background-color: transparent;
    box-shadow: none;
  }

  &:focus {
    box-shadow: inset 0 0 0 2px var(--ring-border-hover-color);
  }
}

.loader.text > .content {
  animation-name: text-loading;
  animation-duration: 1200ms;
  animation-iteration-count: infinite;
}

.text.text:hover {
  background-color: transparent;
  box-shadow: none;
}

.withIcon.withIcon:hover {
  background-color: transparent;
  box-shadow: none;
}

.text {
  color: var(--ring-main-color);
}

.inline {
  display: inline-block;

  margin: 0;
  padding: 0;

  font-size: var(--ring-font-size);
}

.withIcon {
  padding: 0 unit;
}

.withIcon,
.text {
  &:active,
  &.active {
    color: var(--ring-main-color);
  }
}

.withIcon:hover {
  color: var(--ring-link-hover-color);
}

.text:hover {
  color: var(--ring-link-hover-color);
}

.onlyIcon {
  &:focus {
    color: var(--ring-border-hover-color);
  }

  &:active,
  &.active {
    color: var(--ring-main-color);
  }
}

.onlyIcon:hover {
  color: var(--ring-border-hover-color);
}

.icon {
  color: inherit;

  line-height: normal;

  &:not(:last-child) {
    margin-right: calc(unit * 0.5);
  }
}

.withNormalIconLight .icon {
  transition: color var(--ring-ease);

  color: var(--ring-icon-color);
}

.withNormalIconLight:active,
.withNormalIconLight.active {
  color: var(--ring-main-color);
}

.withNormalIconLight:focus,
.withNormalIconLight:active,
.withDangerIconLight:focus {
  & .icon {
    transition: none;

    color: inherit;
  }
}

.withNormalIconLight:hover .icon {
  transition: none;

  color: inherit;
}

.withDangerIconLight:hover .icon {
  transition: none;

  color: inherit;
}

.withDangerIconLight,
.withDangerIconLight:active {
  & .icon {
    color: var(--ring-icon-error-color);
  }
}

.buttonWithoutIcon .icon {
  display: none;
}

.loader {
  position: relative;
  z-index: 0;

  pointer-events: none;

  background-color: transparent;
}

.loaderBackground {
  position: absolute;
  z-index: -1;
  top: 1px;
  right: 1px;
  bottom: 1px;
  left: 1px;

  overflow: hidden;

  border-radius: var(--ring-border-radius-small);

  &::before {
    display: block;

    width: calc(100% + loaderWidth);
    height: 100%;

    content: '';
    animation: progress 1s linear infinite;

    background-repeat: repeat;
    background-size: loaderWidth;
  }
}

.delayed .content::after {
  content: '…';
}

.short {
  width: calc(unit * 4);
  padding: 0;
}

.dropdownIcon {
  margin-right: -2px;

  margin-left: 2px;

  transition: color var(--ring-ease);

  color: var(--ring-icon-secondary-color);

  line-height: normal;
}

.button:hover .dropdownIcon {
  transition: none;

  color: var(--ring-main-color);
}

@keyframes progress {
  from {
    transform: translateX(calc(0 - loaderWidth));
  }

  to {
    transform: translateX(0);
  }
}

@keyframes text-loading {
  50% {
    opacity: 0.5;
  }
}
