<example name="Button">

  <file type="css">
    :global(.buttons) > button {
      margin: 8px;
    }

    :global(.dark) {
      background: #000;
    }
  </file>

  <file type="html">
    <div id="buttons"></div>
    <div id="dark"></div>
  </file>

  <file type="js">
    import React from 'react';
    import {render} from 'react-dom';
    import Button from '@jetbrains/ring-ui/components/button/button';
    import {PencilIcon} from '@jetbrains/ring-ui/components/icon';

    function renderButtonModifications(theme) {
      return [
        'active', 'primary', 'danger', 'delayed', 'disabled'
      ].map(modifier => (
        <Button
          theme={theme}
          key={modifier}
          {...{[modifier]: true}}
        >Button {modifier}</Button>
      ));
    }

    function renderIconWithTextModifications(theme) {
      return [
        'primary', 'danger', 'disabled'
      ].map(modifier => (
         <Button
           theme={theme}
           key={modifier}
           icon={PencilIcon}
           {...{[modifier]: true}}
         >Icon action {modifier}</Button>
      ));
    }

    function renderIconActionModifications(theme) {
      return [
        'primary', 'danger', 'disabled'
      ].map(modifier => (
        <Button
          theme={theme}
          key={modifier}
          title={`Icon without text (${modifier})`}
          icon={PencilIcon}
          {...{[modifier]: true}}
        />
      ));
    }

    const buttons = (
      <div className="buttons">
        <Button>Button default</Button>

        <Button
          text
        >Text action</Button>

        <Button
          short
        >...</Button>

        <Button
          href="/"
        >Button link</Button>

        <Button
          loader
        >Button loader</Button>

        <Button
          primary
          loader
        >Primary loader</Button>

        <Button
          icon={PencilIcon}
          loader
        >Icon loader</Button>

        {renderButtonModifications()}

        <Button
          icon={PencilIcon}
        >Icon action</Button>

        {renderIconWithTextModifications()}

        <Button
          icon={PencilIcon}
          title="Icon action"
        />

        {renderIconActionModifications()}
      </div>
    );

    render(buttons, document.getElementById('buttons'));

    const dark = (
      <div className="buttons dark">
        <Button
          theme={Button.Theme.DARK}
        >Button default</Button>

        <Button
          theme={Button.Theme.DARK}
          text
        >Text action</Button>

        <Button
          theme={Button.Theme.DARK}
          short
        >...</Button>

        <Button
          theme={Button.Theme.DARK}
          href="/"
        >Button link</Button>

        <Button
          theme={Button.Theme.DARK}
          loader
        >Dark loader</Button>

        {renderButtonModifications(Button.Theme.DARK)}

        <Button
          theme={Button.Theme.DARK}
          icon={PencilIcon}
        >Icon action</Button>

        {renderIconWithTextModifications(Button.Theme.DARK)}

        <Button
          icon={PencilIcon}
          title="Icon action"
        />

        {renderIconActionModifications(Button.Theme.DARK)}
      </div>
    );

    render(dark, document.getElementById('dark'));

  </file>
</example>

<example name="Perform a heavy operation while loading">

  <file type="css">
    #example > :not(:first-child) {
      margin-left: 8px;
    }
  </file>

  <file type="html">
    <div id="example"></div>
  </file>

  <file type="js">
    import React, {Component, Fragment} from 'react';
    import {render} from 'react-dom';
    import Button from '@jetbrains/ring-ui/components/button/button';
    import Loader from '@jetbrains/ring-ui/components/loader-inline/loader-inline';
    import {HourglassIcon} from '@jetbrains/ring-ui/components/icon';

    class Sleeper extends Component {
      state = {
        loading: false
      };

      load = () => {
        this.setState({loading: true}, () => {
          setTimeout(this.sleep, 2000);
        })
      }

      sleep = () => {
        const date = new Date();
        let curDate
        do {
          curDate = new Date();
        } while(curDate - date < 2000);
        this.setState({loading: false});
      }

      render() {
        const {loading} = this.state;
        return (
          <Fragment>
            <Button loader={loading} onClick={this.load}>Sleep</Button>
            <Button loader={loading} icon={HourglassIcon} onClick={this.load} />
            {loading && <Loader/>}
          </Fragment>
        );
      }
    }

    render(<Sleeper />, document.getElementById('example'));

  </file>
</example>
