@value unit, font-smaller-lower, border-radius, icon-color, border-hover-color, white-color, black-color, text-color, darker-gray-color, selected-background-color, dark-selected-background-color, main-color, error-color, dark-gray-color, link-hover-color, icon-hover-color, gray-color, ease from "../global/global.css";

@value button-shadow: inset 0 0 0 1px;
@value height: calc(unit * 3);
@value loader-width: calc(unit * 8);

.button {
  composes: font-smaller-lower;
  text-decoration: none;

  display: inline-block;
  position: relative;
  z-index: 0;

  box-sizing: border-box;
  height: height;
  line-height: height;
  padding: 0 calc(unit * 2);
  margin: 0;
  outline: 0;

  border: 0;
  border-radius: border-radius;
  transition: all ease;

  cursor: pointer;

  &.light {
    background-color: white-color;
    box-shadow: button-shadow icon-color;
    color: text-color;
  }
  &.dark {
    background-color: black-color;
    box-shadow: button-shadow #263B4C;
    color: darker-gray-color;
  }

  &:not([disabled]):not(.loader) {
    &:hover {
      z-index: 3;
      transition: none;

      &.light {
         box-shadow: button-shadow border-hover-color;
      }
      &.dark {
         box-shadow: button-shadow main-color;
      }
    }

    &:active,
    &.active {
      z-index: 2;

      &.light {
        box-shadow: button-shadow border-hover-color;
        background-color: selected-background-color;
      }
      &.dark {
        color: white-color;
        box-shadow: button-shadow main-color;
        background-color: dark-selected-background-color;
      }
    }



    &:focus {
      z-index: 4;
      transition: none;

      &.light, &.dark {
        box-shadow: inset 0 0 0 1px border-hover-color, 0 0 0 1px border-hover-color;
      }
    }
  }

  &&[disabled] {
    pointer-events: none;

    &.light {
      color: gray-color;
    }
    &.dark {
      color: text-color;
    }
  }

  &.primary {
    color: white-color;
    background-color: main-color;
    box-shadow: none;

    &:not([disabled]):not(.loader) {
      &:hover,
      &:focus {
        box-shadow: none;
        transition: none;
        background-color: #007EE5;
      }

      &:active,
      &.active {
        &.light {
          background-color: #1A98FF;
          box-shadow: button-shadow #0062B2;
        }
        &.dark {
          background-color: #007EE5;
          box-shadow: button-shadow border-hover-color;
        }
      }
    }

    &[disabled] {
      background-color: white-color;
      box-shadow: button-shadow icon-color;
    }
  }

  &.danger {
    color: error-color;

    &:not([disabled]):not(.loader) {
      &:hover,
      &:focus {
        box-shadow: none;
        transition: none;
        background-color: error-color;
        color: white-color;
      }

      &:active,
      &.active {
        &.light {
          background-color: #F50000;
          box-shadow: button-shadow #7F0000;
        }
        &.dark {
          background-color: error-color;
          box-shadow: button-shadow #FFB2B2;
        }
      }
    }
  }

  &.text,
  &.withIcon {
    background-color: transparent;
    padding: 0 unit;
    box-shadow: none;

    &:not([disabled]):not(.loader) {
      &:hover {
        transition: none;
      }

      &:hover,
      &:active,
      &.active {
        background-color: transparent;
        box-shadow: none;
      }
      &:focus {
        &.light, &.dark {
          box-shadow: inset 0 0 0 2px border-hover-color;
        }
      }
    }
  }

  &.text {
    color: main-color;

    &:not([disabled]):not(.loader) {
      &:hover {
        color: link-hover-color;
      }
    }
  }

  &.withIcon {

    &.light {
      color: dark-gray-color;
      & .icon {
        color: icon-color;
      }
    }
    &.dark {
      color: darker-gray-color;
      & .icon {
        color: darker-gray-color;
      }
    }

    & .icon {
      vertical-align: 1px;
      line-height: normal;
      transition: color ease;

      &:not(:last-child) {
        margin-right: calc(unit * 0.5);
      }
    }

    &:not([disabled]):not(.loader) {
      &:hover, &.active:hover:not(:active) {
        color: main-color;

        & .icon {
          color: icon-hover-color;;
          transition: none;
        }
      }

      &:active,
      &.active {
        & .icon {
          color: main-color;
        }
      }
    }

    &[disabled] {
      &.light .icon {
        color: #DBDBDB;
      }
      &.dark .icon {
        color: #333;
      }
    }
  }

  &::-moz-focus-inner {
    outline: 0;
    padding: 0;
    border: 0;
  }

  &.loader {
    pointer-events: none;

    animation: progress 1s linear infinite;
    background-repeat: repeat;
    background-size: loader-width;

    &.light {
      background-image: linear-gradient(
        to right,
        white-color,
        selected-background-color 40%,
        white-color 80%
      );
    }
    &.dark {
      background-image: linear-gradient(
        to right,
        black-color,
        #002039 40%,
        black-color 80%
      );
    }
    &.primary {
      background-image: linear-gradient(
        to right,
        main-color,
        #33A3FF 40%,
        main-color 80%
      );
    }
  }

  &.delayed .content:after {
    content: '…';
  }

  &.short {
    width: calc(unit * 4);
    padding: 0;
  }
}

@keyframes progress {
  from {
    background-position-x: 0;
  }
  to {
    background-position-x: loader-width;
  }
}
