<example name="Button">

  <file type="css">
    button {
      margin-right: 8px !important;
      margin-bottom: 8px !important;
    }
  </file>

  <file type="html">
    <div id="buttons">
      <span id="button"></span><span id="button-icon"></span><span
      id="button-short"></span>
    </div>
  </file>

  <file type="js">
    import React from 'react';
    import {render} from 'react-dom';
    import Button from '@jetbrains/ring-ui/components/button/button';
    import {CaretDownIcon} from '@jetbrains/ring-ui/components/icon';

    render(<Button>Button default</Button>, document.getElementById('button'));

    render(
      <Button icon={CaretDownIcon}>Button icon</Button>, document.getElementById('button-icon')
    );

    render(
      <Button short={true}>...</Button>, document.getElementById('button-short')
    );

    var container = document.getElementById('buttons');
    ['active', 'blue', 'danger', 'delayed', 'loader',
      'primary'].forEach(modifier => {
      var node = document.createElement('span');
      container.appendChild(node);

      render(<Button {...{[modifier]: true}}>{'Button ' + modifier}</Button>, node);
    });

  </file>
</example>
