<example name="Button">

  <file type="css">
    :global(.buttons) > button {
      margin: 8px;
    }

    :global(.dark) {
      background: #000;
    }

    :global(.inline) {
      display: inline-block;
      padding: 8px;
    }
  </file>

  <file type="html">
    <div id="buttons"></div>
    <div id="dark"></div>
    <div id="dynamic"></div>
  </file>

  <file type="js">
    import React from 'react';
    import {render} from 'react-dom';
    import Button from 'ring-ui/components/button/button';
    import flagIcon from 'jetbrains-icons/flag.svg';

    const buttons = (
      <div className="buttons">
        <Button>Button default</Button>

        <Button
          icon={flagIcon}
        >Icon action</Button>

        <Button
          text={true}
        >Text action</Button>

        <Button
          short={true}
        >...</Button>

        {
          [
            'active', 'primary', 'danger', 'delayed', 'disabled'
          ].map(modifier => (
            <Button
              key={modifier}
              {...{[modifier]: true}}
            >Button {modifier}</Button>
          ))
        }
      </div>
    );

    render(buttons, document.getElementById('buttons'));

    const dark = (
      <div className="buttons dark">
        <Button
          theme={Button.Theme.DARK}
        >Button default</Button>

        <Button
          theme={Button.Theme.DARK}
          icon={require('jetbrains-icons/flag.svg')}
        >Icon action</Button>

        <Button
          theme={Button.Theme.DARK}
          text={true}
        >Text action</Button>

        <Button
          theme={Button.Theme.DARK}
          short={true}
        >...</Button>

        {
          [
            'active', 'primary', 'danger', 'delayed', 'disabled'
          ].map(modifier => (
            <Button
              theme={Button.Theme.DARK}
              key={modifier}
              {...{[modifier]: true}}
            >Button {modifier}</Button>
          ))
        }
      </div>
    );

    render(dark, document.getElementById('dark'));

    const dynamic = (
      <div className="buttons">
        <Button
          loader={true}
        >Button loader</Button>
        <Button
          primary={true}
          loader={true}
        >Primary loader</Button>
        <div className="dark inline">
          <Button
            theme={Button.Theme.DARK}
            loader={true}
          >Dark loader</Button>
        </div>
      </div>
    );

    render(dynamic, document.getElementById('dynamic'));

  </file>
</example>
