.ring-panel-save {
  margin: 0 -2*$ring-unit;
}

.ring-panel-save_sticky {
  position: fixed !important;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 1;
  width: 100% !important;
  padding-left: 24*$ring-unit !important;
  margin-left: 0;
  background-color: #fff !important;
  box-shadow: inset 0 1px 0 #d8d8d8, 0 -1px 16px 0 rgba(0, 0, 0, 0.1) !important;
}
