<example name="rgProgressBar">
  <file type="html">
    <div ng-app="Example.progressBar" ng-strict-di ng-controller="ExampleCtrl as ctrl">

      <div style="height: 25px; padding-top: 25px;">
        <rg-progress-bar value="ctrl.value"></rg-progress-bar>
      </div>
      <div style="height: 25px; background: #000; padding-top: 25px;">
        <rg-progress-bar value="ctrl.value" light="true"></rg-progress-bar>
      </div>
      <div style="height: 25px; background: #F0F0F0; padding-top: 25px;">
        <rg-progress-bar value="ctrl.value"></rg-progress-bar>
      </div>

    </div>
  </file>
  <file type="js">
    import 'angular/angular';
    import RingProgressBar from 'ring-ui/components/progress-bar-ng/progress-bar-ng';

    angular.module('Example.progressBar', [RingProgressBar]).
      controller('ExampleCtrl', function ($interval) {
        this.value = 0;

        $interval(() => {
          const currentValue = this.value;
          this.value = currentValue >= 1 ? 0 : currentValue + 0.1;
        }, 500);


      });
  </file>
</example>

