@value border-color from  "../global/global.css";

.avatar {
  object-fit: contain;
  object-position: center;
}

.empty {
  display: inline-block;

  box-sizing: border-box;

  border: 1px solid border-color;
}
