@import "../global/variables.css";

.avatar {
  display: inline-block;
  object-fit: cover;
  object-position: center;

  border-radius: var(--ring-border-radius); /* This is a "graceful degradation" fallback, while the real value is controlled by JS */
}

.subavatar {
  position: absolute;
  top: 15px;
  left: 27px;

  border: 1px var(--ring-content-background-color) solid;
}

.empty {
  display: inline-block;

  box-sizing: border-box;

  border: 1px solid var(--ring-borders-color);
}
