.avatar {
  object-fit: contain;
  object-position: center;

  border-radius: var(--ring-border-radius); /* This is a "graceful degradation" fallback, while the real value is controlled by JS */
}

.empty {
  display: inline-block;

  box-sizing: border-box;

  border: 1px solid var(--ring-borders-color);
}
