.path-bar {
  overflow: hidden;
  padding: 14px 20px 0 6px;
}

.path-bar__path {
  line-height: 20px;
  @include ellipsis();
}

.path-bar__actions {
  position: relative;
  top: 2px;
  margin-right: 10px;
  font-size: 16px;
  @include link-icon-color();

  &,
  &:hover {
    text-decoration: none !important;
  }

  &:hover {
    @include link-icon-hover-color();
  }
}

.path-bar__search {
  float: right;
  width: 280px;
  text-align: right;
}

.path-bar__link {
  margin-right: 5px;
  outline: none;
  white-space: nowrap;

  &,
  &:visited {
    @include text-color();
    text-decoration: none !important;
  }

  /* Separator icon */
  .icon-caret-right {
    margin-left: 5px;
    color: #ADADAD;
  }

  &:last-child .icon-caret-right {
    display: none;
  }
}

/* Link text */
.no-touch .path-bar__link:hover var {
  text-decoration: underline;
}

.path-bar__link_module {
  font-weight: bold;
}


