
h1::after, h2::after {

  position: absolute;

  z-index: -1;

  display: block;
  content: 'Heading';

  color: #ddd;
}

h3 + div::before, h4 + div::before {

  position: absolute;

  z-index: -1;

  display: block;
  content: 'Lorem ipsum';

  content: 'Lorem ipsum';

  -webkit-transform: translateY(-100%);

  transform: translateY(-100%);

  color: #ccc;
}
