.ring-diff__map {
  background: #f7f7f7;
  border: solid 1px #ccc;
  border-left: none;
  box-sizing: border-box;
  float: right;
  height: 100%;
  overflow: hidden;
  position: relative;
  user-select: none;
  width: $map_size;
  z-index: 2;
}

.ring-diff__map-element {
  border: solid 1px transparent;
  box-sizing: border-box;
  cursor: pointer;
  min-height: 4px;
  left: 2px;
  position: absolute;
  width: $map_size / 2 + 1;
}

.ring-diff__map-element_added {
  background: scale-color($added_background, $lightness: -10%);
  border-color: scale-color($added_background, $lightness: 15%);
  border-bottom-color: scale-color($added_background, $lightness: -25%);
  border-right-color: scale-color($added_background, $lightness: -25%);
  z-index: 2;
}

.ring-diff__map-element_deleted {
  background: scale-color($deleted_background, $lightness: -10%);
  border-color: scale-color($deleted_background, $lightness: 15%);
  border-bottom-color: scale-color($deleted_background, $lightness: -25%);
  border-right-color: scale-color($deleted_background, $lightness: -25%);
  z-index: 1;
}

.ring-diff__map-element_modified {
  background: scale-color($modified_background, $lightness: -10%);
  border-color: scale-color($modified_background, $lightness: 15%);
  border-bottom-color: scale-color($modified_background, $lightness: -25%);
  border-right-color: scale-color($modified_background, $lightness: -25%);
  z-index: 2;
}

