<div class="ring-diff ring-diff_doublepane">
  <div class="ring-diff__menu"></div>
  <div class="ring-diff__map"></div>
  <div class="ring-diff__code">
    <div class="ring-diff__original"></div>
    <div class="ring-diff__split"></div>
    <div class="ring-diff__modified"></div>
  </div>
</div>
