<div class="ring-btn-group ring-diff__menu-group">
  <button class="ring-btn ring-diff__menu-btn_up">
    <span class="ring-font-icon ring-font-icon_caret-up"></span>
  </button>
  <button class="ring-btn ring-diff__menu-btn_down">
    <span class="ring-font-icon ring-font-icon_caret-down"></span>
  </button>
</div>

<div class="ring-diff__menu-group">
  <label class="ring-diff__menu-checkbox"><input type="checkbox" class="ring-diff__menu-whitespaces">&nbsp;Ignore whitespaces</label>
</div>
