$background: #fff;

$deleted_background: #fcc;
$deleted_highlight: #f99;
$deleted_marker: #c00;

$newline_background: #cfc;
$newline_highlight: #9f9;
$newline_marker: #060;

.diff_singlepane {
  background: #fff;
  border: solid 1px #ccc;
  border-radius: 3px;
  @include monospace-font;
  font-size: 12px;
  line-height: 1.3;
  position: relative;
}

.diff__gutterwrap,
.diff__codewrap {
  float: left;
}

.diff__gutter,
.diff__code {
  border: 0;
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: show;
  width: 100%;
}

.diff__codeline td,
.diff__gutterline td {
  height: 1.3em;
  padding: 0;
}

.diff__gutter {
  border-right: solid 1px #ccc;
  color: #999;
  cursor: default;
  user-select: none;
  text-align: right;
  width: 80px;
}

.diff__codewrap {
  bottom: 0;
  left: 80px;
  overflow: auto;
  position: absolute;
  right: 0;
  top: 0;
}

.diff__codeline {
  white-space: pre;
  word-break: break-all;
  word-wrap: normal;
}

.diff__codeline_original td {
  background: $deleted_background;
  font-weight: bold;
}

.diff__codeline_modified td {
  background: $newline_background;
  font-weight: bold;
}

.diff__marker {
  text-align: center;
}

.diff__gutterline_modified .diff__marker:after {
  content: "+";
  color: $newline_marker;
}

.diff__gutterline_original .diff__marker:after {
  content: "-";
  color: $deleted_marker;
}

.diff__inline_original,
.diff__inline_modified {
  border: solid;
  border-width: 0 1px;
  font-weight: bold;
  padding: 1px 0;
  line-height: 1.3;
}

/*
 todo(igor.alexeenko): Kind of hack. To display only changed parts
 of code bold, I make unchanged normal. Maybe better way to do this
 is mark whole line as changed inline and write separate styles
 for it.
 */
.diff__inline_unchanged {
  font-weight: normal;
}

.diff__codeline_original .diff__inline_original {
  background: $deleted_highlight;
  border-color: $deleted_highlight;
}

.diff__codeline_modified .diff__inline_modified {
  background: $newline_highlight;
  border-color: $newline_highlight;
}

.diff__gutterline_folded td,
.diff__codeline_folded td {
  height: 30px;
}

//todo(igor.alexeenko): replace to svg file.
.diff__gutterline_folded td:before,
.diff__codeline_folded td:before {
   background:
    linear-gradient(-45deg, transparent 50%, #ffffff 50%) 0 50%,
    linear-gradient(45deg, transparent 50%, #ffffff 50%) 0 50%,
    linear-gradient(45deg, #f3f3f3,#f3f3f3);
}

.diff__gutterline_folded td:after,
.diff__codeline_folded td:after {
  background:
    linear-gradient(-45deg, transparent 50%, #f3f3f3 50%) 0 50%,
    linear-gradient(45deg, transparent 50%, #f3f3f3 50%) 0 50%,
    linear-gradient(45deg, #ffffff,#ffffff);
}

.diff__gutterline_folded td:before,
.diff__gutterline_folded td:after,
.diff__codeline_folded td:before,
.diff__codeline_folded td:after {
  background-repeat: repeat-x;
  background-size: 12px 12px, 12px 12px;
  content: '';
  display: block;
  height: 12px;
  margin: 0;
  padding: 0;
  width: 100%;
}

/* todo(igor.alexeenko): solid clearfix instead of this temporary solution. */
.diff_singlepane:after,
.diff__gutterline:after {
  content: '';
  display: block;
  clear: both;
}
