<tr class="diff__gutterline {{ additionalClassName }}">
  <td class="diff__line_original">{{ originalLineNumber }}</td>
  <td class="diff__line_modified">{{ modifiedLineNumber }}</td>
  <td class="diff__marker"></td>
</tr>
