<div class="ring-btn-group">
  <button class="ring-btn ring-btn_up">
    <span class="ring-font-icon ring-font-icon_caret-up"></span>
  </button>
  <button class="ring-btn ring-btn_down">
    <span class="ring-font-icon ring-font-icon_caret-down"></span>
  </button>
</div>
