<div class="diff diff_doublepane">
  <div class="ring-diff__map"></div>
  <div class="diff__code">
    <div class="diff__original"></div>
    <div class="diff__split"></div>
    <div class="diff__modified"></div>
  </div>
</div>
