<div class="diff diff_singlepane">
  <div class="diff__gutterwrap">
    <table class="diff__gutter"><tbody></tbody></table>
  </div>
  <div class="diff__codewrap">
    <table class="diff__code"><tbody></tbody></table>
  </div>
</div>
