.CodeMirror {
  border: solid 1px #ccc;
  font-family: 'Menlo', monospace;
  font-size: 12px;
  box-sizing: border-box;
}

.diff_doublepane:after {
  clear: both;
  content: '';
  display: block;
}

.diff__modified,
.diff__original {
  float: left;
  width: 47%;
}

.diff__split {
  float: left;
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 6%;
}

// todo(igor.alexeenko): Move to separate file.
// todo(igor.alexeenko): Make variables.
.diff__original .CodeMirror .line__modified {
  background: rgba(255, 0, 0, 0.3);
}

//.diff__original .CodeMirror .line__deleted {
//  border-top: solid 2px rgba(255, 0, 0, 0.3);
//}

.diff__modified .CodeMirror .line__modified {
  background: rgba(0, 255, 90, 0.3);
}

//.diff__modified .CodeMirror .line__deleted  {
//  border-top: solid 2px rgba(0, 255, 90, 0.3);
//}
