.CodeMirror {
  border: solid 1px #ccc;
  font-family: 'Menlo', monospace;
  font-size: 12px;
  box-sizing: border-box;
}

.diff_doublepane:after {
  clear: both;
  content: '';
  display: block;
}

.diff__modified,
.diff__original {
  float: left;
  width: 49%;
}

.diff__split {
  float: left;
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 2%;
}

// todo(igor.alexeenko): Move to separate file.
// todo(igor.alexeenko): Make variables.
// todo(igor.alexeenko): Find out, how to display collapsed lines without
// border.
.CodeMirror .line__modified {
  background: rgba(0, 90, 255, 0.3);
}

.CodeMirror .line__added  {
  box-sizing: border-box;
  background: rgba(0, 255, 90, 0.3);
}
