@import '../../components/codemirror/lib/codemirror';

// NB: colours from IntelliJ IDEA default colour scheme.
$added_outline: #B2BCB2;
$added_background: #D1F3D2;
$added_chars: #D1F3D2;

$modified_outline: #B2B7BF;
$modified_background: #EEF3FD;
$modified_chars: #D4E1FB;

$deleted_outline: #B6B6B6;
$deleted_background: #F2F2F2;
$deleted_chars: #DEDEDE;

$map_size: 16px;
$map_borders: 1px;

@import 'diff_doublepane__map';
@import 'diff__doublepane-menu';

.ring-diff_doublepane {
  height: 100%;
}

.ring-diff__code {
  height: 100%;
  margin-right: $map_size + $map_borders;
  position: relative;
}

.ring-diff_doublepane .CodeMirror {
  border: solid 1px #CCC;
  box-sizing: border-box;
  @include ring-monospace-font();
  height: 100%;
}

.ring-diff_doublepane:after {
  clear: both;
  content: '';
  display: block;
}

.ring-diff__modified,
.ring-diff__original,
.ring-diff__split {
  bottom: 0;
  position: absolute;
  top: 0;
}

.ring-diff__modified {
  left: 51%;
  right: 0;
}

.ring-diff__modified .CodeMirror {
  border-left-width: 0;
}

.ring-diff__original {
  left: 0;
  right: 51%;
}

.ring-diff__original .CodeMirror {
  border-right-width: 0;
}

.ring-diff__split {
  background: rgba(0, 0, 0, 0.1);
  border: solid 1px rgba(0, 0, 0, 0.1);
  left: 49%;
  overflow: hidden;
  right: 49%;
  z-index: 4;
}

.ring-diff__split > svg {
  left: 0 !important;
}

.ring-diff_doublepane {
  .CodeMirror {
    .line__added,
    .line__deleted {
      box-sizing: border-box;
    }

    .line__added {
      background: $added_background;
    }

    .line__modified {
      background: $modified_background;
    }

    .line__deleted {
      background: $deleted_background;
    }

    .line__before_added,
    .line__before_deleted {
      z-index: 1;
    }

    .line__before_added {
      box-shadow: 0 1px 0 $added_outline;
      border-bottom: solid 1px $added_background;
    }

    .line__before_deleted {
      box-shadow: 0 1px 0 $deleted_outline;
      border-bottom: solid 1px $deleted_background;
    }

    .chars__added {
      background: $added_chars;
      font-weight: bold;
    }

    .chars__modified {
      background: $modified_chars;
      font-weight: bold;
    }

    .chars__deleted {
      background: $deleted_chars;
      font-weight: bold;
    }

    .line__collapsed {
      border-bottom: solid 1px;
      z-index: 3;
    }

    .line__first {
      &.line__added {
        border-top: solid 1px $added_outline;
      }

      &.line__modified {
        border-top: solid 1px $modified_outline;
      }

      &.line__deleted {
        border-top: solid 1px $deleted_outline;
      }

      & + pre .chars__modified {
        padding-top: 1px;
      }
    }

    .line__last {
      &.line__added {
        border-bottom: solid 1px $added_outline;
      }

      &.line__modified {
        border-bottom: solid 1px $modified_outline;
      }

      &.line__deleted {
        border-bottom: solid 1px $deleted_outline;
      }

      & + pre .chars__modified {
        padding-bottom: 1px;
      }
    }
  }
}

.ring-diff__connector {
  stroke-width: 1px;
}

.ring-diff__connector_added {
  stroke: $added_outline;
  fill: $added_background;
}

.ring-diff__connector_modified {
  stroke: $modified_outline;
  fill: $modified_background;
}

.ring-diff__connector_deleted {
  stroke: $deleted_outline;
  fill: $deleted_background;
}
