@import 'diff_doublepane';
@import 'diff_plain';
@import 'diff_singlepane';

.ring-diff {
  .CodeMirror {
    line-height: 1.5;
  }

  /* Remove vertical padding around content */
  .CodeMirror-lines {
    padding: 0;
  }

  /* Remove horizontal padding of content */
  .CodeMirror pre {
    padding: 0;
  }

  /* Selection */
  .CodeMirror-selected {
    background: #DDEAFE;
  }

  .CodeMirror-focused .CodeMirror-selected {
    background: #DDEAFE;
  }

  /* Brackets highlighting */
  div.CodeMirror span.CodeMirror-matchingbracket {
    background-color: #AAD7FD;
    color: inherit;
  }

  div.CodeMirror span.CodeMirror-nonmatchingbracket {
    background-color: #FFE3E3;
    color: inherit;
  }

  /* Theme */
  .cm-s-default {
    .cm-keyword {color: #00008B; font-weight: bold;}
    .cm-number {color: #00F;}
    .cm-def {color: #8B008B;}
    .cm-variable {color: #8B008B;}
    .cm-variable-2 {color: #8B008B;}
    .cm-variable-3 {color: #8B008B;}
    .cm-comment {color: #A9A9A9; font-style: italic;}
    .cm-string {color: #008D14;}
    .cm-string-2 {color: #008D14;}
    .cm-tag {color: #000080;}
    .cm-attribute {color: #00F;}
    .cm-error {color: #FF2A1A;}
    .cm-meta {color: #808000;}
  }
}
