.CodeMirror {
  border: solid 1px #ccc;
  font-family: 'Menlo', monospace;
  font-size: 12px;
}

.diff_doublepane:after {
  clear: both;
  content: '';
  display: block;
}

.diff__modified,
.diff__original {
  float: left;
  width: 50%;
}
