@import "../global/variables.css";

.tag {
  --ring-tag-max-height: 20px;

  composes: resetButton from "../global/global.css";

  position: relative;
  z-index: 1;

  display: inline-flex;

  box-sizing: border-box;
  max-width: 100%;
  height: var(--ring-tag-max-height);

  padding: 0 var(--ring-unit);

  cursor: pointer;

  vertical-align: top;

  color: var(--ring-text-color);

  border: none;
  border-radius: var(--ring-border-radius);

  font-size: 12px;
  line-height: var(--ring-line-height);
}

.tag {
  transition: background-color var(--ring-ease);

  background-color: var(--ring-tag-background-color);
}

.withRemove {
  padding-right: 20px;
}

.container {
  position: relative;

  display: inline-block;

  max-width: calc(100% - var(--ring-unit) / 2);

  margin-right: calc(var(--ring-unit) / 2);

  white-space: nowrap;
}

.focused,
.tag:focus-visible {
  position: relative;

  outline: none;
  box-shadow: 0 0 0 2px var(--ring-border-hover-color);
}

.focused,
.tag:focus-visible,
.tag:hover {
  transition: none;

  background-color: var(--ring-tag-hover-background-color);
}

.content {
  composes: ellipsis from "../global/global.css";
}

.disabled.tag {
  pointer-events: none;

  color: var(--ring-disabled-color);
  background-color: var(--ring-disabled-background-color);
}

.remove {
  position: absolute;
  z-index: 1;
  top: 2px;
  right: 0;

  height: auto;
  padding: 0 calc(var(--ring-unit) / 2);

  line-height: calc(var(--ring-unit) * 2);
}

.removeIcon.removeIcon {
  color: var(--ring-secondary-color);
}

.icon {
  margin-right: calc(var(--ring-unit) / 2);
  margin-left: calc(var(--ring-unit) * -0.5);

  color: var(--ring-secondary-color);

  && svg {
    vertical-align: -3.5px;
  }
}

.avatarContainer {
  display: inline-block;
  overflow: hidden;

  box-sizing: border-box;
  width: var(--ring-tag-max-height);
  height: var(--ring-tag-max-height);
  margin-right: calc(var(--ring-unit) / 2);
  margin-left: calc(var(--ring-unit) * -1);

  vertical-align: top;

  border-top-left-radius: var(--ring-border-radius);
  border-bottom-left-radius: var(--ring-border-radius);
}

.customIcon {
  max-width: calc(var(--ring-unit) * 2);
  max-height: calc(var(--ring-unit) * 2);

  margin-right: calc(var(--ring-unit) / 2);

  vertical-align: bottom;
}

.avatarIcon {
  width: var(--ring-tag-max-height);

  margin-right: -4px;

  object-fit: contain;
  object-position: center;
}
