@import '../global/variables.css';

/* ensure styles order */
@import '../link/link.css';

:root,
:host {
  --ring-error-tag-text-color: var(--ring-main-error-hover-color);
  --ring-tag-max-height: 20px;
}

:global(.ring-ui-theme-dark) {
  --ring-error-tag-text-color: var(--ring-error-color);
}

.tag {
  composes: resetButton from '../global/global.css';

  position: relative;
  z-index: 1;

  display: inline-flex;

  box-sizing: border-box;
  max-width: 100%;

  padding: 0 var(--ring-unit);

  vertical-align: top;

  color: var(--ring-tag-text-color);

  border: 0;
  border-radius: var(--ring-border-radius);

  font-size: 12px;
  font-weight: normal;
}


.withRemove {
  padding-right: 20px;
}

.container {
  position: relative;

  display: inline-block;

  max-width: calc(100% - var(--ring-unit) / 2);
  height: var(--ring-tag-max-height);

  margin-right: calc(var(--ring-unit) / 2);

  transition: background-color var(--ring-ease);

  white-space: nowrap;

  border-radius: var(--ring-border-radius);

  background-color: var(--ring-tag-container-background-color);

  line-height: var(--ring-line-height);
}

.interactive {
  cursor: pointer;
}

.default {
  --ring-tag-container-background-color: var(--ring-tag-background-color);
  --ring-tag-container-hover-background-color: var(--ring-tag-hover-background-color);
  --ring-tag-text-color: var(--ring-text-color);
  --ring-tag-icon-color: var(--ring-secondary-color);
  --ring-tag-container-outline-background-color: var(--ring-grey-container-light-color);
  --ring-tag-container-outline-hover-background-color: var(--ring-tag-background-color);
  --ring-tag-outline-color: var(--ring-line-color);
  --ring-tag-outline-hover-color: var(--ring-borders-color);
}

.main {
  --ring-tag-container-background-color: var(--ring-hover-background-color);
  --ring-tag-container-hover-background-color: var(--ring-selected-background-color);
  --ring-tag-text-color: var(--ring-link-color);
  --ring-tag-icon-color: var(--ring-link-color);
  --ring-tag-container-outline-background-color: var(--ring-main-container-light-color);
  --ring-tag-container-outline-hover-background-color: var(--ring-hover-background-color);
  --ring-tag-outline-color: var(--ring-border-hover-color);
  --ring-tag-outline-hover-color: var(--ring-border-accent-color);
}

.success {
  --ring-tag-container-background-color: var(--ring-added-subtle-background-color);
  --ring-tag-container-hover-background-color: var(--ring-added-background-color);
  --ring-tag-text-color: var(--ring-success-color);
  --ring-tag-icon-color: var(--ring-icon-success-color);
  --ring-tag-container-outline-background-color: var(--ring-success-container-light-color);
  --ring-tag-container-outline-hover-background-color: var(--ring-added-subtle-background-color);
  --ring-tag-outline-color: var(--ring-success-border-color);
  --ring-tag-outline-hover-color: var(--ring-success-border-hover-color);
}

.warning {
  --ring-tag-container-background-color: var(--ring-warning-subtle-background-color);
  --ring-tag-container-hover-background-color: var(--ring-warning-background-color);
  --ring-tag-text-color: var(--ring-warning-color);
  --ring-tag-icon-color: var(--ring-icon-warning-color);
  --ring-tag-container-outline-background-color: var(--ring-warning-container-light-color);
  --ring-tag-container-outline-hover-background-color: var(--ring-warning-subtle-background-color);
  --ring-tag-outline-color: var(--ring-warning-border-color);
  --ring-tag-outline-hover-color: var(--ring-warning-border-hover-color);
}

.error {
  --ring-tag-container-background-color: var(--ring-removed-subtle-background-color);
  --ring-tag-container-hover-background-color: var(--ring-removed-background-color);
  --ring-tag-text-color: var(--ring-error-tag-text-color);
  --ring-tag-icon-color: var(--ring-icon-error-color);
  --ring-tag-container-outline-background-color: var(--ring-error-container-light-color);
  --ring-tag-container-outline-hover-background-color: var(--ring-removed-subtle-background-color);
  --ring-tag-outline-color: var(--ring-error-border-color);
  --ring-tag-outline-hover-color: var(--ring-error-border-hover-color);
}

.purple {
  --ring-tag-container-background-color: var(--ring-purple-subtle-background-color);
  --ring-tag-container-hover-background-color: var(--ring-purple-background-color);
  --ring-tag-text-color: var(--ring-purple-text-color);
  --ring-tag-icon-color: var(--ring-main-purple-color);
  --ring-tag-container-outline-background-color: var(--ring-purple-container-light-color);
  --ring-tag-container-outline-hover-background-color: var(--ring-purple-subtle-background-color);
  --ring-tag-outline-color: var(--ring-purple-border-color);
  --ring-tag-outline-hover-color: var(--ring-purple-border-hover-color);
}

.outline {
  --ring-tag-container-background-color: var(--ring-tag-container-outline-background-color);
  --ring-tag-container-hover-background-color: var(--ring-tag-container-outline-hover-background-color);

  box-shadow: inset 0 0 0 1px var(--ring-tag-outline-color);
}

.focused,
.tag:focus-visible {
  position: relative;

  outline: none;
  box-shadow: 0 0 0 2px var(--ring-border-hover-color);
}

.focused,
.tag:focus-visible,
.interactive:hover {
  --ring-tag-outline-color: var(--ring-tag-outline-hover-color);
  --ring-tag-container-background-color: var(--ring-tag-container-hover-background-color);

  transition: none;
}

.content {
  composes: ellipsis from '../global/global.css';
}

.disabled.tag {
  pointer-events: none;

  color: var(--ring-disabled-color);
  background-color: var(--ring-disabled-background-color);
}

.remove {
  --ring-button-text-color: var(--ring-secondary-color);

  position: absolute;
  z-index: 1;
  top: 2px;
  right: 0;

  height: auto;
  padding: 0 calc(var(--ring-unit) / 2);

  line-height: calc(var(--ring-unit) * 2);
}

.icon {
  margin-right: calc(var(--ring-unit) / 2);
  margin-left: calc(var(--ring-unit) * -0.5);

  color: var(--ring-tag-icon-color);

  && svg {
    vertical-align: -3.5px;
  }
}

.avatarContainer {
  display: inline-block;
  overflow: hidden;

  box-sizing: border-box;
  width: var(--ring-tag-max-height);
  height: var(--ring-tag-max-height);
  margin-right: calc(var(--ring-unit) / 2);
  margin-left: calc(var(--ring-unit) * -1);

  vertical-align: top;

  border-top-left-radius: var(--ring-border-radius);
  border-bottom-left-radius: var(--ring-border-radius);
}

.customIcon {
  max-width: calc(var(--ring-unit) * 2);
  max-height: calc(var(--ring-unit) * 2);

  margin-right: calc(var(--ring-unit) / 2);

  vertical-align: bottom;
}

.avatarIcon {
  width: var(--ring-tag-max-height);

  margin-right: -4px;

  object-fit: contain;
  object-position: center;
}
