{
  "root": true,
  "parser": "babel-eslint",
  "extends": [
    "jetbrains",
    "jetbrains/es6",
    "jetbrains/react"
  ],
  "rules": {
    "max-len": "warn"
  },
  "settings": {
    "import/resolver": "webpack"
  }
}
