@value unit, font, font-size, line-height from '../components/global/global.css';

.body {
  margin: calc(unit * 2);
  padding: 0;
  composes: font;
  font-size: font-size;
  line-height: line-height;
}
