@value unit, font, font-size, link-color, white-color from '../components/global/global.css';

html, body {
  padding: 0;
  margin: 0;
  height: 100%;
}

.app {
  composes: font;
  font-size: font-size;
}

.sidebar {
  margin-top: calc(unit * 4);
}

.categories {
  margin-top: 16px;
}

.categories:empty::before {
  content: 'Nothing found'
}

.main > div:last-child {
  flex-grow: 1;
  min-width: 0;
}

.header {
  margin: calc(unit * 2) 0 0;
}

.nav {
  padding: 0;
  list-style: none;
  margin: unit unit calc(unit * 2);
}

.item {
  margin: unit 0;
}

.item p {
  margin: 0;
}

.navHeader {
  composes: header;
  white-space: nowrap;
}

.content {
  min-width: 200px;
  padding: calc(unit * 3) 0;
}

/* override github-markdown */
:global(.markdown-body) a:not(:hover) {
  color: link-color;
}

.example {
  position: relative;
}

.frame {
  min-height: 500px;
  width: 100%;
  border: 1px solid #CCC;
}

.exampleLink {
  /* override Link */
  && {
    display: block;
    position: absolute;
    right: 0;
    bottom: 6px;
    border: 1px solid #CCC;
    font-size: font-size;
    padding: unit;
    background: white-color;
  }
}
