html, body {
  padding: 0;
  margin: 0;
  height: 100%;
}

.app {
  font: 13px "Helvetica Neue", Arial, sans-serif;
}

.app__header {
  width: 100%;
}

.app__sidebar {
  margin-top: 32px;
  width: 200px;
}

.app__main {
  display: flex;
}

.app__content {
  flex: 1;
}

.header {
  margin: 0 32px 16px;
}

.nav {
  padding: 0;
  list-style: none;
  margin-left: 40px;
}

.nav__item {
  margin: 8px 0;
}

/* Replace with ring-link */
.nav__link {
  $color: #1866C5;
  color: $color;
  text-decoration: none;

  &:visited {
    color: $color;
    text-decoration: none;
  }

  &:hover {
    color: #FF5A00;
  }
}

.nav__link._active {
  color: #000;
  font-weight: bold;
  cursor: default;

}

.markdown-body {
  min-width: 200px;
  max-width: 80%;
  margin: 0 auto;
  padding: 30px;
}

.markdown-example {
  position: relative;
}

.markdown-example__frame {
  min-height: 500px;
  width: 100%;
  border: 1px solid #CCC;
}

.markdown-example__link.markdown-example__link {
  color: #1866C5;
  display: block;
  position: absolute;
  right: 0;
  bottom: 7px;
  border: 1px solid #CCC;
  font-size: 13px;
  padding: 8px;
  background: #fff;
}

.markdown-example__link:hover {
  color: #FF5A00;
}
