@value unit, font, font-size, line-height, link-color, white-color, line-color, gray-color from '../components/global/global.css';

html, body {
  padding: 0;
  margin: 0;
  height: 100%;
}

.app {
  composes: font;
}

.sidebar {
  margin: 26px 0;
  line-height: calc(unit * 3);
}

.main > div:last-child {
  flex-grow: 1;
  min-width: 0;
}

.header {
  margin: 0;
}

.list {
  margin: -2px 0 0 calc(- unit * 2);
}

.list p {
  margin: 0;
}

.active {
  font-weight: 500;
}

a.legacy {
  color: gray-color;
}

.content {
  min-width: 200px;
  padding: calc(unit * 3) 0;
}

.example {
  margin-top: line-height;
}

.iframe {
  position: relative;
}

.frame {
  min-height: 500px;
  width: 100%;
  border: 1px solid line-color;
}

.exampleLink {
  /* override Link */
  && {
    display: block;
    position: absolute;
    right: 0;
    bottom: 6px;
    border: 1px solid line-color;
    font-size: font-size;
    padding: unit;
    background: white-color;
  }
}
