@import '../components/global/global';

html, body {
  padding: 0;
  margin: 0;
  height: 100%;
}

.app {
  @include ring-font();
}

.app__header {
  width: 100%;
}

.app__sidebar {
  margin-top: $ring-unit * 4;
}

.app__main > div:last-child {
  flex-grow: 1;
  min-width: 0;
}

.header {
  margin: $ring-unit * 2 0 0;
}

.nav {
  padding: 0;
  list-style: none;
  margin: $ring-unit $ring-unit $ring-unit * 2;
}

.nav__item {
  margin: $ring-unit 0;
}

.nav__header {
  white-space: nowrap;
  line-height: $ring-unit * 3;
}

.nav__version > button {
  font: inherit;
}

.nav__link_active {
  font-weight: 500;
}

a.nav__link_legacy {
  color: $ring-dark-gray-color;
}

.ring-ui-version {
  display: inline-block;
  border-radius: 5px;
  padding: 2px 5px;
  background-color: #ccc;
  color: #fff;
  font-size: 12px;
  font-weight: normal;
}

.markdown-body {
  min-width: 200px;
  padding: $ring-unit * 3 0;
}

.markdown-example {
  position: relative;
}

.markdown-example__frame {
  min-height: 500px;
  width: 100%;
  border: 1px solid #CCC;
}

.markdown-example__link.markdown-example__link {
  display: block;
  position: absolute;
  right: 0;
  bottom: 6px;
  border: 1px solid #CCC;
  font-size: $ring-font-size;
  padding: $ring-unit;
  background: #fff;
}
