<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>{{ source.attrs.name or source.attrs.title }} — Ring UI</title>
</head>
<body>
<div id="app">
  <script src="vendor.dll.js"></script>
  <script src="docs-app.js"></script>
</div>
</body>
</html>
