<example name="Form">
  <file type="html">
    <div ng-app="Example.form" style="width: 700px">
      <form class="ring-form"
        ng-controller="FormExampleCtrl as formExampleCtrl">
        <span class="ring-form__title">Form Title</span>

        <div class="ring-form__group">
          <label for="ring-form-1" class="ring-form__label">Full-width
            Input</label>
          <div class="ring-form__control">
            <input class="ring-input" id="ring-form-1" type="text">
          </div>
        </div>

        <div class="ring-form__group">
          <label for="ring-form-2" class="ring-form__label">Medium Input</label>
          <div class="ring-form__control">
            <input class="ring-input ring-input-size_md" id="ring-form-2"
              type="text">
          </div>
        </div>

        <div class="ring-form__group">
          <label for="ring-form-3" class="ring-form__label">Medium Error
            Input</label>
          <div class="ring-form__control">
            <input class="ring-input ring-input_error ring-input-size_md"
              id="ring-form-3" type="text">
            <div class="ring-error-bubble active">Error bubble</div>
          </div>
        </div>

        <div class="ring-form__group">
          <label for="ring-form-4" class="ring-form__label">Long Input</label>
          <div class="ring-form__control">
            <input class="ring-input ring-input-size_l" id="ring-form-4"
              type="text">
            <div class="ring-error-bubble active">Error bubble for long
              control
            </div>
          </div>
        </div>

        <div class="ring-form__group">
          <label for="ring-form-5" class="ring-form__label">Full-Width
            Control</label>
          <div class="ring-form__control">
            <input class="ring-input" id="ring-form-5" type="text">
            <div class="ring-error-bubble active">Error bubble for full-width
              control
            </div>
          </div>
        </div>

        <div class="ring-form__group">
          <label for="ring-form-6" class="ring-form__label">Rg Select in
            Form</label>
          <div class="ring-form__control">
            <rg-select id="ring-form-6"
              class="ring-input-size_md"
              options="item.name for item in formExampleCtrl.arr track by item.name"></rg-select>
            <div class="ring-form__control__description">I am a simple
              description
            </div>
          </div>
        </div>

        <div class="ring-form__group">
          <label for="ring-form-7" class="ring-form__label">Textarea</label>
          <div class="ring-form__control">
            <textarea class="ring-input ring-input-size_md"
              id="ring-form-7"></textarea>
          </div>
        </div>

        <div class="ring-form__group">
          <label for="ring-form-8" class="ring-form__label">Long
            Textarea</label>
          <div class="ring-form__control">
            <textarea class="ring-input ring-input-size_l"
              id="ring-form-8"></textarea>
          </div>
        </div>

        <div class="ring-form__group">
          <label for="ring-form-9" class="ring-form__label">Full-Width
            Textarea</label>
          <div class="ring-form__control">
            <textarea class="ring-input" id="ring-form-9"></textarea>
          </div>
        </div>

        <div class="ring-form__group">
          <label for="ring-form-10" class="ring-form__label">Rg Select in
            Small</label>
          <div class="ring-form__control ring-form__control_small">
            <rg-select id="ring-form-10"
              class="ring-input-size_md"
              options="item.name for item in formExampleCtrl.arr track by item.name"></rg-select>
            <div class="ring-error-bubble active">Error bubble for
              control_small
            </div>
          </div>
        </div>

        <div class="ring-form__group">
          <label for="ring-form-11" class="ring-form__label">Input in
            Small</label>
          <div class="ring-form__control ring-form__control_small">
            <input class="ring-input ring-input-size_md" id="ring-form-11"
              type="text">
          </div>
        </div>

        <div class="ring-form__group">
          <label for="ring-form-12" class="ring-form__label">Textarea in
            Small</label>
          <div class="ring-form__control ring-form__control_small">
            <textarea class="ring-input ring-input-size_md"
              id="ring-form-12"></textarea>
          </div>
        </div>

        <div class="ring-form__group">
          <div class="ring-form__control ring-form__control_small">
            <div react="Checkbox" label="'checkbox 1'" checked="true"></div>
            <div react="Checkbox" label="'checkbox 2'" checked="true"></div>
            <div react="Checkbox" label="'checkbox 3'"></div>
            <div react="Checkbox" label="'checkbox 4'"></div>
          </div>
        </div>

        <div class="ring-form__footer">
          <button class="ring-button ring-button_blue">Save</button>
          <button class="ring-button">Cancel</button>
        </div>
      </form>
    </div>
  </file>

  <file type="js">
    import 'ring-ui/components/input/input.scss';
    import 'ring-ui/components/form/form.scss';
    import 'ring-ui/components/panel/panel.scss';
    import 'ring-ui/components/button/button.scss';
    import 'ring-ui/components/input-size/input-size.scss';

    import 'angular';
    import 'ring-ui/components/select-ng/select-ng';
    import registerComponents from 'ring-ui/components/react-ng/react-ng';
    import Checkbox from 'ring-ui/components/checkbox/checkbox';

    registerComponents({Checkbox});

    angular.module('Example.form', ['Ring.react-ng', 'Ring.select']).
      controller('FormExampleCtrl', function () {
        this.arr = [{name: 'Ada'}, {name: 'Nik'}];
      });
  </file>
</example>
