@import "../global/global";

$ring-header-link-color:  #B4B4B4;

.ring-header {
  position: relative;
  height: $ring-unit*3 - 1;
  padding: 0 $ring-unit*2;
  border-bottom: 1px solid #000;

  background-color: #35444B; // IE7-
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#24353D', endColorstr='#4A565C', GradientType=0)"; // IE8
  background-image: linear-gradient(to bottom, #24353D, #4A565C);

  text-align: left;
  letter-spacing: -5px;
  font-size: 18px !important;
  line-height: 12px !important;
  text-rendering: optimizeLegibility;

  &.ring-header_4x {
    padding: 0 $ring-unit*3;
  }
}

// Items
.ring-header__item {
  position: relative;
  display: inline-block;
  *display: inline; // IE 7
  height: $ring-unit*2 + 1;

  padding: 6px $ring-unit 0 $ring-unit;
  vertical-align: middle; // IE 7

  letter-spacing: 0;
  font-size: 11px !important;
  font-weight: normal !important;
  @include ring-font;
}

.ring-header__item_link:hover {
  background-color: #000; // IE 8-
  background-color: rgba(0, 0, 0, 0.5);
}

.ring-header__item_link,
.ring-header__item_link:visited {
  color: $ring-header-link-color !important;
}

.ring-header__item_active {
  color: #FFF;
  font-weight: bold !important;
}

// Personal
.ring-header__personal, .ring-header__more {
  color: #B4B4B4;
  position: absolute;
  top: 0;
  white-space: nowrap;

  cursor: pointer;
  user-select: none;

  .ring-font-icon {
    display: inline-block;
    position: relative;
    top: 6px;
    width: $ring-unit;

    color: $ring-header-link-color;
    font-size: 12px !important;
    vertical-align: top;
  }

  &:hover  {
    color: $ring-link-hover-color !important;
    text-decoration: underline;
  }

  &:hover .ring-font-icon {
    color: $ring-link-hover-color !important;
    background-position: -66px -22px;
  }
}

.ring-header__personal {
  right: $ring-unit*3;

  .ring-header_4x & {
    right: $ring-unit*4;
  }
}
