<div class="ring-header{{#gradient}} ring-header_gradient{{/gradient}}">
  <span class="ring-header__background"></span>
  <span class="ring-header__spacer"></span>

  {{#if logo.url}}
    <a href="{{logo.url}}" class="ring-header__logo"><img class="ring-header__logo__img" src="{{logo.src}}"/></a>
  {{else}}
    <span class="ring-header__logo"><img class="ring-header__logo__img" src="{{logo.src}}"/></span>
  {{/if}}

  {{#items}}
    {{> header__item}}
  {{/items}}

  {{#right}}
    <div class="ring-header__right">
        <span class="ring-header__spacer"></span>
        {{#items}}
          {{> header__item}}
        {{/items}}
    </div>
  {{/right}}
</div>

