$header-link-color:  #b4b4b4;

.ring-header {
  padding: 0 $x-unit*2;
  background: #484848;
  letter-spacing: -5px;
  line-height: 11px !important;
  font-size: 18px !important;
  text-rendering: optimizeLegibility;
  position: relative;
  text-align: left;
  border-bottom: 1px solid #000;
  height: $x-unit*3 - 1;
}

// Items
.ring-header__item {
  position: relative;
  display: inline-block;
  height: $x-unit*3 - 7;

  padding: 6px $x-unit 0 $x-unit;
  vertical-align: top;

  letter-spacing: 0px;
  font-size: 11px !important;
  font-weight: normal !important;
  @include droid-font;
}

.ring-header__services .ring-header__item_link:hover {
  background-color: #323232;
}

.ring-header__item_link,
.ring-header__item_link:visited {
  color: $header-link-color !important;
}

.ring-header__item_active {
  color: #fff;
  font-weight: bold !important;
}

// Personal
.ring-header__personal {
  position: absolute;
  top: 0;
  right: $x-unit*3;

  cursor: pointer;
  user-select: none;

  .ring-font-icon {
    color: $header-link-color;
    font-size: 12px !important;
    vertical-align: top;

    display: inline-block;
    position: relative;
    width: $x-unit;
    top: 6px;

    .no-font-antialiasing & {
      top: 7px;
    }
  }
}

.ring-header__personal:hover .ring-header__item_link {
  color: $hover-link-color !important;
  text-decoration: underline;
}

.ring-header__personal:hover .ring-font-icon {
  color: $hover-link-color !important;
  background-position: -66px -22px;
}