@value global: '../global/global.css';
@value unit, text-color, gray-color, dark-gray-color, blue-color, light-blue-color, link-hover-color from global;

@value dirty-blue-color: #D4EDFA;

@value table-border-color: #E6E6E6;
@value table-background-color: #F0F0F0;
@value table-header-background-color: #EBEBEB;
@value table-caption-border-color: #DBDBDB;
@value box-shadow-color: #F7F7F7;

.tableWrapper {
  position: relative;
}

.loader.loader {
  position: absolute;
  top: 12px;
  right: 12px;
  display: none;
}

.loading .loader {
  display: inline-block;
}

.table {
  border-spacing: 0;
  width: 100%;
}


.userSelectNone {
  user-select: none;
}


.headerCell {
  & {
    font-weight: normal;
    text-align: left;
    white-space: nowrap;
    padding: 0 calc(unit * 2.5);
  }

  &:first-child {
    padding-left: calc(unit * 4);
    &:empty {
      padding-left: 0;
    }
  }

  &:last-child {
    padding-right: calc(unit * 4);
    width: 100%;
  }

  &.headerCellSorted {
    font-weight: bold;
  }

  &.headerCellSortable {
    cursor: pointer;
  }

  & .sorter {
    display: none;
    position: absolute;
  }

  &.headerCellSortable .sorter {
    display: inline-block;
  }

  & .sorter .icon {
    top: -2px;
  }
}

.header {
  & {
    color: dark-gray-color;
    background-color: table-header-background-color;
  }

  & .headerCell {
    height: calc(unit * 5 + 1);
    box-sizing: border-box;
    border-top: 1px solid table-border-color;
    box-shadow: inset 0px 1px 0px 0px box-shadow-color;
  }

  & .caption {
    text-transform: uppercase;
    letter-spacing: .2em;
  }
}

.subHeader {
  & {
    font-size: 12px;
    color: gray-color;
    background-color: table-border-color;
  }

  & .headerCell {
    height: 25px;
    box-sizing: border-box;
    border-top: 1px solid table-caption-border-color;
  }

  & .headerCell:first-child {
    padding-left: calc(unit * 4);
    &:empty {
      padding-left: 0;
    }
  }
}


.row {
  & {
    outline: none;
    background-color: table-background-color;
  }

  @nest .table:not(.disabledHover) &:hover {
    background-color: #FFF;
  }

  @nest .table:not(.multiSelection) &:focus,
  &.rowSelected {
    background-color: light-blue-color;
  }

  & .cell {
    border: 1px none table-border-color;
    border-top-style: solid;
  }

  &:last-child .cell {
    border-bottom-style: solid;
  }

  &:focus .cell {
    border-color: blue-color;
    border-bottom-style: solid;
  }

  &:focus + .row .cell {
    border-top-style: none;
  }

  &.rowSelected:not(:focus) + .rowSelected:not(:focus) .cell {
    border-top-color: dirty-blue-color;
  }
}


.cell {
  & {
    color: text-color;
    white-space: nowrap;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    height: calc(unit * 5);
    min-width: 80px;
    box-sizing: content-box;
    padding: 0 calc(unit * 2.5);
  }

  &:first-child {
    padding-left: calc(unit * 4);
    &:empty {
      padding-left: 0;
    }
  }

  &:last-child {
    padding-right: calc(unit * 4);
    width: 100%;
  }

  &:nth-child(2) {
    min-width: 320px;
    max-width: 640px;
  }
}

.cellUnlimited {
  width: 100%;
}

.cellRight {
  text-align: right;
}

.metaColumn {
  padding-right: 0;
  min-width: initial;
}

.dragHandle {
  display: none;
  cursor: grab;
  position: absolute;
  padding: unit;
  color: gray-color;
  margin-top: -calc(unit * 1.5);
  margin-left: -calc(unit * 3);

  &:hover {
    color: link-hover-color;
  }
}

.row:hover .dragHandle {
  display: block;
}

.draggingRow {
  & .dragHandle {
    display: block;
    cursor: grabbing;
    color: link-hover-color;
  }

  background-color: #FFF;
  vertical-align: middle;
}
