@value global: '../global/global.css';
@value unit, icon-color, icon-hover-color, main-color, text-color, border-hover-color, dark-gray-color, darker-gray-color, line-color, sidebar-background-color, selected-background-color, font-smaller-lower, fast-ease, fixed-z-index, ellipsis from global;

.tableWrapper {
  position: relative;
}

.table {
  border-spacing: 0;
  width: 100%;
}


.userSelectNone {
  user-select: none;
}


.headerCell {
  & {
    composes: font-smaller-lower;
    color: dark-gray-color;
    font-weight: 200;
    text-align: left;
    white-space: nowrap;
    height: calc(unit * 3);
    padding-right: calc(unit * 5);
    box-sizing: border-box;
    box-shadow: inset 0px -1px 0px 0px line-color;
  }

  &:first-child {
    padding-left: calc(unit * 2);
  }

  &:nth-child(2) {
   padding-left: 0;
  }

  &:last-child {
    padding-right: calc(unit * 4);
    width: 100%;
  }

  &.headerCellSorted {
    font-weight: 500;
  }

  &.headerCellSortable {
    cursor: pointer;
  }

  & .sorter {
    margin-left: 6px;
    display: none;
    position: absolute;
  }

  &.headerCellSortable .sorter {
    display: inline-block;
  }

  & .sorter .icon {
    top: -2px;
  }
}

.caption {
  text-transform: uppercase;
  letter-spacing: 1px;
  height: calc(unit * 4);
  composes: font-smaller-lower;
  color: darker-gray-color;
}

.subHeaderFixed {
  position: fixed;
  top: 0;
  z-index: fixed-z-index;
  background-color: rgba(256, 256, 256, 0.95);
}


.row {
  & {
    outline: none;
    transition: background-color fast-ease;
  }

  @nest .table:not(.disabledHover) &:hover {
    background-color: selected-background-color;
    transition: none;
  }

  @nest .table:not(.multiSelection) &.rowFocused,
  .rowSelected {
    background-color: sidebar-background-color;
  }

  &.rowFocused {
    box-shadow: inset 0 0 0 2px border-hover-color;
  }
}

.loadingOverlay {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.5);
}

.cell {
  & {
    composes: ellipsis;
    color: text-color;

    height: calc(unit * 4);
    box-sizing: content-box;
    padding-right: calc(unit * 5);
  }

  &:first-child {
    padding-left: calc(unit * 2);
  }

  &:last-child {
    padding-right: calc(unit * 4);
    width: 100%;
    /* Markup hack, allows cell to have content which is wider than cell and collapses it */
    max-width: 0;
  }

  &:nth-child(2) {
    padding-left: 0;
    min-width: calc(unit * 35);
    max-width: calc(unit * 75);
  }
}

.cellUnlimited {
  width: 100%;
}

.cellRight {
  text-align: right;
}

.metaColumn {
  padding-right: 0;
  min-width: initial;
  position: relative;

  &.metaColumnSpaced {
    padding-right: 2px;
  }
}

.dragHandle {
  &&& {
    display: none;
    cursor: grab;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    padding: 0px 1px 4px;
  }
}

.visibleDragHandle {
  display: block;
}

.row:hover .dragHandle {
  display: block;
}

.draggingRow {
  background-color: selected-background-color;
  transition: none;

  && .dragHandle {
    display: block;
    cursor: grabbing;
    & svg {
      color: main-color;
    }
  }

  vertical-align: middle;
}
