<example name="Table">
  <file type="html">
    <div id="demo"></div>
  </file>
  <file type="js">
    import React, {Component, createElement} from 'react';
    import {render} from 'react-dom';
    import Table from './table';
    import Link from '../link/link';
    import Pager from '../pager/pager';
    import Button from '../button/button';
    import mock from './table.examples.json';

    const pageSize = 7;
    const total = mock.length;

    class Example extends Component {
      state = {
        data: [],
        caption: undefined,
        total,
        page: 1,
        pageSize,
        pageTotal: Math.ceil(total / pageSize),
        selection: new Set(),
        sortKey: 'country',
        sortOrder: true
      }

      columns = [
        {
          id: 'country',
          title: 'Country',
          sortable: true
        },
        {
          id: 'city',
          title: 'City',
          sortable: true
        },
        {
          id: 'url',
          title: 'URL',
          getValue: ({url}) => <Link href={url}>{url}</Link>
        }
      ]

      onSelect = ({selection}) => {
        this.setState({selection});
      }

      onSort = ({column: {id: sortKey}, order: sortOrder}) => {
        this.setState({sortKey, sortOrder});
      }

      onPageChange = ({page}) => {
        this.setState({page});
      }

      componentWillMount() {
        this.loadPage();
      }

      componentDidUpdate(prevProps, prevState) {
        const {page, sortKey, sortOrder, selection} = this.state;
        if (page !== prevState.page || sortKey !== prevState.sortKey || sortOrder !== prevState.sortOrder) {
          this.loadPage();
        }
      }

      loadPage = () => {
        const {page, pageSize, sortKey, sortOrder} = this.state;

        let data = [...mock];
        data.sort((a, b) => a[sortKey].localeCompare(b[sortKey]) * (sortOrder ? 1 : -1));
        data = data.slice((page - 1) * pageSize, (page - 1) * pageSize + pageSize);

        this.setState({data});
      }

      render() {
        const {data, caption, page, pageTotal, selection, sortKey, sortOrder} = this.state;
        return (
          <div>
            <Table
              data={data}
              columns={this.columns}
              onSelect={this.onSelect}
              onSort={this.onSort}
              sortKey={sortKey}
              sortOrder={sortOrder}
              caption={caption}
            />

            <Pager total={pageTotal} current={page} onPageChange={this.onPageChange} />

            <p>{
              caption
              ? <Button onClick={() => this.setState({caption: undefined})}>Without a caption</Button>
              : <Button onClick={() => this.setState({caption: 'Countries'})}>With a caption</Button>
            }</p>

            <p>{[...selection].map(item => item.country).join(', ')}</p>
          </div>
        );
      }
    }

    render(createElement(Example, {}), document.getElementById('demo'));
  </file>
</example>
