@import "../global/global";

// Link
//
// Markup:
// <a href="#" class="ring-link {$modifiers}">Click me!</a>
//
// :hover - Hovered state
//
// Styleguide 10.1

.ring-link,
.ring-link:visited {
  color: $ring-link-color;
  text-decoration: none;
  cursor: pointer;
}

.ring-link_error {
  color: #F00;
  &:hover, &:focus, &:visited {
    color: #F00;
  }
}

// body to redefine other :hovers w/ !important
body .ring-link:hover,
body .ring-link:focus {
  color: $ring-link-hover-color !important;
  text-decoration: underline !important;
}