.ring-link {
  color: $ring-link-color !important;
  text-decoration: none;

  // body to redefine other :hovers w/ !important
  body &:hover {
    color: $ring-link-hover-color !important;
    text-decoration: underline !important;
  }
}