<example name="Data List Ng">
  <file type="html">
    <div ng-app="Example.data-list" ng-strict-di ng-controller="ExampleCtrl as ctrl">
      <rg-data-list
        data="ctrl.data"
        item-formatter="ctrl.itemFormatter"
        selection="ctrl.selection"
        on-select="ctrl.onSelect"
      ></rg-data-list>
    </div>
  </file>

  <file type="js">
    import angular from 'angular';
    import RingDataList from '@jetbrains/ring-ui/components/data-list-ng/data-list-ng';
    import Selection from '@jetbrains/ring-ui/components/data-list/selection';
    import data from '@jetbrains/ring-ui/components/data-list/data-list.mock.js';

    function itemFormatter(item) {
      const {id: key, title, children, selectable} = item;
      return {key, title, children, selectable};
    }

    const selection = new Selection({
      data,
      getKey: item => item.id,
      getChildren: item => item.children || [],
      isItemSelectable: item => item.selectable
    });

    const exampleModule =  angular.module('Example.data-list', [RingDataList]);

    exampleModule.controller('ExampleCtrl', function () {
      this.data = data;
      this.itemFormatter = itemFormatter;
      this.selection = selection;
      this.onSelect = selection => {
        this.selection = selection;
      }
    });
  </file>
</example>
