
body {
  margin: 0;
}

.inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;

  max-height: 100vh;
  margin-top: 8px;
}

.inputs > div {
  margin: 0 16px;
}

div.dark {

  margin-left: 0;
  padding-left: 16px;
  background: #000;
}
