
.cell {
  background-color: silver;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
  
.cell {
  background-color: silver;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
  