/* stylelint-disable color-no-hex */

:global(.ring-ui-theme-dark),
.dark,
:root.dark {
  --ring-line-components: 57, 59, 64;
  --ring-line-color: rgb(var(--ring-line-components)); /* #393B40 */
  --ring-borders-components: 90, 93, 99;
  --ring-borders-color: rgb(var(--ring-borders-components)); /* #5A5D63 */
  --ring-icon-components: 119, 124, 136;
  --ring-icon-color: rgb(var(--ring-icon-components)); /* #777C88 */
  --ring-icon-secondary-components: 121, 126, 139;
  --ring-icon-secondary-color: rgb(var(--ring-icon-secondary-components)); /* #797E8B */
  --ring-border-disabled-components: 55, 57, 61;
  --ring-border-disabled-color: rgb(var(--ring-border-disabled-components)); /* #37393D */
  --ring-border-selected-disabled-components: 54, 54, 54;
  --ring-border-selected-disabled-color: rgb(var(--ring-border-selected-disabled-components)); /* #363636 */
  --ring-border-unselected-disabled-components: 51, 52, 56;
  --ring-border-unselected-disabled-color: rgb(var(--ring-border-unselected-disabled-components)); /* #333438 */ /* TODO remove in 6.0 */
  --ring-icon-disabled-components: 64, 66, 71;
  --ring-icon-disabled-color: rgb(var(--ring-icon-disabled-components)); /* #404247 */
  --ring-border-hover-components: 77, 100, 148;
  --ring-border-hover-color: rgb(var(--ring-border-hover-components)); /* #4D6494 */
  --ring-main-components: 53, 116, 240;
  --ring-main-color: rgb(var(--ring-main-components)); /* #3574F0 */
  --ring-action-link-components: 135, 166, 227;
  --ring-action-link-color: rgb(var(--ring-action-link-components)); /* #87A6E3 */
  --ring-main-hover-components: 45, 105, 224;
  --ring-main-hover-color: rgb(var(--ring-main-hover-components)); /* #2D69E0 */
  --ring-icon-error-components: 193, 88, 88;
  --ring-icon-error-color: rgb(var(--ring-icon-error-components)); /* #c15858 */
  --ring-icon-warning-components: 194, 161, 81;
  --ring-icon-warning-color: rgb(var(--ring-icon-warning-components)); /* #C2A151 */
  --ring-icon-success-components: 94, 156, 98;
  --ring-icon-success-color: rgb(var(--ring-icon-success-components)); /* #5E9C62 */
  --ring-popup-border-components: 57, 59, 64;
  --ring-popup-border-color: rgb(var(--ring-popup-border-components)); /* #393b40 */
  --ring-popup-shadow-color: rgba(0, 0, 0, 0.31);
  --ring-popup-secondary-shadow-color: rgba(0, 0, 0, 0.37);
  --ring-message-shadow-color: rgba(var(--ring-popup-border-components), 0.3);
  --ring-pinned-shadow-components: 0, 0, 0;
  --ring-pinned-shadow-color: rgb(var(--ring-pinned-shadow-components)); /* #000 */
  --ring-button-danger-hover-color: var(--ring-error-color);
  --ring-button-primary-border-components: 128, 198, 255;
  --ring-button-primary-border-color: rgb(var(--ring-button-primary-border-components)); /* #80c6ff */
  --ring-dialog-overlay-components: 0, 0, 0;
  --ring-popup-shadow: 0 2px 8px var(--ring-popup-shadow-color), 0 1px 2px var(--ring-popup-secondary-shadow-color);
  --ring-dialog-shadow: 0 4px 16px var(--ring-popup-shadow-color), 0 2px 6px var(--ring-popup-secondary-shadow-color);

  /* Text */
  --ring-hint-components: 128, 146, 157;
  --ring-hint-color: rgb(var(--ring-hint-components)); /* #80929d */
  --ring-link-components: 133, 166, 227;
  --ring-link-color: rgb(var(--ring-link-components)); /* #87A6E3 */
  --ring-link-hover-components: 224, 103, 178;
  --ring-link-hover-color: rgb(var(--ring-link-hover-components)); /* #E067B2 */
  --ring-error-components: 222, 99, 99;
  --ring-error-color: rgb(var(--ring-error-components)); /* #DE6363 */
  --ring-warning-components: 218, 179, 88;
  --ring-warning-color: rgb(var(--ring-warning-components)); /* #DAB358 */
  --ring-success-components: 109, 182, 115;
  --ring-success-color: rgb(var(--ring-success-components)); /* #6DB673 */
  --ring-text-components: 195, 198, 204;
  --ring-text-color: rgb(var(--ring-text-components)); /* #C3C6CC */
  --ring-active-text-components: 255, 255, 255;
  --ring-active-text-color: rgb(var(--ring-active-text-components)); /* #fff */
  --ring-heading-color: var(--ring-text-color);
  --ring-secondary-components: 137, 141, 148;
  --ring-secondary-color: rgb(var(--ring-secondary-components)); /* #898D94 */
  --ring-disabled-components: 100, 103, 110;
  --ring-disabled-color: rgb(var(--ring-disabled-components)); /* #64676E */

  /* Background */
  --ring-content-background-components: 37, 38, 41;
  --ring-content-background-color: rgb(var(--ring-content-background-components)); /* #252629 */
  --ring-popup-background-components: 41, 43, 46;
  --ring-popup-background-color: rgb(var(--ring-popup-background-components)); /* #292B2E */
  --ring-sidebar-background-components: 32, 33, 36;
  --ring-sidebar-background-color: rgb(var(--ring-sidebar-background-components)); /* #202124 */
  --ring-selected-background-components: 49, 67, 105;
  --ring-selected-background-color: rgb(var(--ring-selected-background-components)); /* #314369 */
  --ring-hover-background-components: 40, 51, 71;
  --ring-hover-background-color: rgb(var(--ring-hover-background-components)); /* #283347 */
  --ring-navigation-background-components: 17, 19, 20;
  --ring-navigation-background-color: rgb(var(--ring-navigation-background-components)); /* #111314 */
  --ring-tag-background-components: 53, 55, 59;
  --ring-tag-background-color: rgb(var(--ring-tag-background-components)); /* #35373B */
  --ring-tag-hover-background-components: 50, 52, 57;
  --ring-tag-hover-background-color: rgb(var(--ring-tag-hover-background-components)); /* #323439 */
  --ring-removed-background-components: 95, 53, 53;
  --ring-removed-background-color: rgb(var(--ring-removed-background-components)); /* #5f3535 */
  --ring-warning-background-components: 94, 77, 51;
  --ring-warning-background-color: rgb(var(--ring-warning-background-components)); /* #5e4d33 */
  --ring-added-background-components: 51, 76, 53;
  --ring-added-background-color: rgb(var(--ring-added-background-components)); /* #334c35 */
  --ring-disabled-background-components: 38, 40, 43;
  --ring-disabled-background-color: rgb(var(--ring-disabled-background-components)); /* #26282B */
  --ring-disabled-selected-background-components: 44, 47, 51;
  --ring-disabled-selected-background-color: rgb(var(--ring-disabled-selected-background-components)); /* #2C2F33 */
  --ring-button-danger-active-components: 38, 8, 10;
  --ring-button-danger-active-color: rgb(var(--ring-button-danger-active-components)); /* #26080a */
  --ring-button-primary-background-components: 0, 126, 229;
  --ring-button-primary-background-color: rgb(var(--ring-button-primary-background-components)); /* #007ee5 */
  --ring-table-loader-background-color: rgba(var(--ring-content-background-components), 0.5); /* #23272b80 */

  /* Code */
  --ring-code-background-components: 43, 43, 43;
  --ring-code-background-color: rgb(var(--ring-code-background-components)); /* #2b2b2b */
  --ring-code-components: 169, 183, 198;
  --ring-code-color: rgb(var(--ring-code-components)); /* #a9b7c6 */
  --ring-code-meta-components: 187, 181, 41;
  --ring-code-meta-color: rgb(var(--ring-code-meta-components)); /* #bbb529 */
  --ring-code-keyword-components: 204, 120, 50;
  --ring-code-keyword-color: rgb(var(--ring-code-keyword-components)); /* #cc7832 */
  --ring-code-tag-background-components: 43, 43, 43;
  --ring-code-tag-background-color: rgb(var(--ring-code-tag-background-components)); /* #2b2b2b */
  --ring-code-tag-components: 232, 191, 106;
  --ring-code-tag-color: rgb(var(--ring-code-tag-components)); /* #e8bf6a */
  --ring-code-tag-font-weight: normal;
  --ring-code-field-components: 152, 118, 170;
  --ring-code-field-color: rgb(var(--ring-code-tag-font-weight)); /* #9876aa */
  --ring-code-attribute-components: 186, 186, 186;
  --ring-code-attribute-color: rgb(var(--ring-code-attribute-components)); /* #bababa */
  --ring-code-number-components: 104, 151, 187;
  --ring-code-number-color: rgb(var(--ring-code-number-components)); /* #6897bb */
  --ring-code-string-components: 106, 135, 89;
  --ring-code-string-color: rgb(var(--ring-code-string-components)); /* #6a8759 */
  --ring-code-addition-components: 68, 113, 82;
  --ring-code-addition-color: rgb(var(--ring-code-addition-components)); /* #447152 */
  --ring-code-deletion-components: 101, 110, 118;
  --ring-code-deletion-color: rgb(var(--ring-code-deletion-components)); /* #656e76 */

  color-scheme: dark;
}
