/* stylelint-disable color-no-hex */

.light,
:root {
  --ring-unit: 8px;

  /* Element */
  --ring-line-components: 223, 225, 229;
  --ring-line-color: rgb(var(--ring-line-components)); /* #dfe1e5 */
  --ring-borders-components: 211, 213, 219;
  --ring-borders-color: rgb(var(--ring-borders-components)); /* #d3d5db */
  --ring-icon-components: 129, 133, 148;
  --ring-icon-color: rgb(var(--ring-icon-components)); /* #818594 */
  --ring-icon-secondary-components: 129, 133, 148;
  --ring-icon-secondary-color: rgb(var(--ring-icon-secondary-components)); /* #818594 */
  --ring-border-disabled-components: 235, 236, 240;
  --ring-border-disabled-color: rgb(var(--ring-border-disabled-components)); /* #ebecf0 */
  --ring-border-selected-disabled-components: 201, 204, 214;
  --ring-border-selected-disabled-color: rgb(var(--ring-border-selected-disabled-components)); /* #c9ccd6 */
  --ring-icon-disabled-components: 211, 213, 219;
  --ring-icon-disabled-color: rgb(var(--ring-icon-disabled-components)); /* #d3d5db */
  --ring-border-hover-components: 160, 189, 248;
  --ring-border-hover-color: rgb(var(--ring-border-hover-components)); /* #a0bdf8 */
  --ring-icon-hover-components: 90, 93, 107;
  --ring-icon-hover-color: rgb(var(--ring-icon-hover-components)); /* #5a5d6b */
  --ring-main-components: 53, 116, 240;
  --ring-main-color: rgb(var(--ring-main-components)); /* #3574f0 */
  --ring-action-link-components: 49, 95, 189;
  --ring-action-link-color: rgb(var(--ring-action-link-components)); /* #315FBD */
  --ring-main-hover-components: 51, 105, 214;
  --ring-main-hover-color: rgb(var(--ring-main-hover-components)); /* #3369d6 */
  --ring-icon-error-components: 219, 59, 75;
  --ring-icon-error-color: rgb(var(--ring-icon-error-components)); /* #db3b4b */
  --ring-icon-warning-components: 255, 175, 15;
  --ring-icon-warning-color: rgb(var(--ring-icon-warning-components)); /* #ffaf0f */
  --ring-icon-success-components: 85, 167, 106;
  --ring-icon-success-color: rgb(var(--ring-icon-success-components)); /* #55a76a */
  --ring-pale-control-components: 194, 214, 252;
  --ring-pale-control-color: rgb(var(--ring-pale-control-components)); /* #C2D6FC */
  --ring-popup-border-components: 0, 28, 54;
  --ring-popup-border-color: var(--ring-line-color);
  --ring-popup-shadow-components: rgba(var(--ring-popup-border-components), 0.1);
  --ring-popup-shadow-color: rgba(var(--ring-popup-border-components), 0.1);
  --ring-popup-secondary-shadow-color: rgba(var(--ring-popup-border-components), 0.04);
  --ring-message-shadow-color: rgba(var(--ring-popup-border-components), 0.3);
  --ring-pinned-shadow-components: 108, 112, 126;
  --ring-pinned-shadow-color: rgb(var(--ring-pinned-shadow-components)); /* #6C707E */
  --ring-button-danger-hover-components: var(--ring-icon-error-color);
  --ring-button-danger-hover-color: var(--ring-icon-error-color);
  --ring-button-primary-border-components: 49, 95, 189;
  --ring-button-primary-border-color: rgb(var(--ring-button-primary-border-components)); /* #315FBD */
  --ring-dialog-overlay-components: 0, 0, 0;
  --ring-dialog-overlay-opacity: 0.4;
  --ring-popup-shadow: 0 2px 8px var(--ring-popup-shadow-color), 0 1px 2px var(--ring-popup-secondary-shadow-color);
  --ring-dialog-shadow: 0 4px 24px var(--ring-popup-shadow-color), 0 2px 6px var(--ring-popup-secondary-shadow-color);


  /* Text */
  --ring-search-components: 112, 156, 245;
  --ring-search-color: rgb(var(--ring-search-components)); /* #709CF5 */
  --ring-hint-components: 46, 85, 163;
  --ring-hint-color: rgb(var(--ring-hint-components)); /* #2E55A3 */
  --ring-link-components: 49, 95, 189;
  --ring-link-color: rgb(var(--ring-link-components)); /* #315FBD */
  --ring-link-hover-components: 36, 65, 122;
  --ring-link-hover-color: rgb(var(--ring-link-hover-components)); /* #24417A */
  --ring-error-components: 204, 54, 69;
  --ring-error-color: rgb(var(--ring-error-components)); /* #CC3645 */
  --ring-warning-components: 164, 103, 4;
  --ring-warning-color: rgb(var(--ring-warning-components)); /* #A46704 */
  --ring-success-components: 31, 117, 54;
  --ring-success-color: rgb(var(--ring-success-components)); /* #1F7536 */
  --ring-text-components: 39, 40, 46;
  --ring-text-color: rgb(var(--ring-text-components)); /* #27282E */
  --ring-active-text-color: var(--ring-text-color);
  --ring-white-text-components: 255, 255, 255;
  --ring-white-text-color: rgb(var(--ring-white-text-components)); /* #FFFFFF */
  --ring-heading-color: var(--ring-text-color);
  --ring-secondary-components: 108, 112, 126;
  --ring-secondary-color: rgb(var(--ring-secondary-components)); /* #6C707E */
  --ring-disabled-components: 168, 173, 189;
  --ring-disabled-color: rgb(var(--ring-disabled-components)); /* #A8ADBD */

  /* Background */
  --ring-content-background-components: 255, 255, 255;
  --ring-content-background-color: rgb(var(--ring-content-background-components)); /* #FFFFFF */
  --ring-popup-background-components: 255, 255, 255;
  --ring-popup-background-color: rgb(var(--ring-popup-background-components)); /* #FFFFFF */
  --ring-sidebar-background-components: 247, 248, 250;
  --ring-sidebar-background-color: rgb(var(--ring-sidebar-background-components)); /* #F7F8FA */
  --ring-selected-background-components: 212, 226, 255;
  --ring-selected-background-color: rgb(var(--ring-selected-background-components)); /* #D4E2FF */
  --ring-hover-background-components: 237, 243, 255;
  --ring-hover-background-color: rgb(var(--ring-hover-background-components)); /* #EDF3FF */
  --ring-navigation-background-components: 255, 255, 255;
  --ring-navigation-background-color: rgb(var(--ring-navigation-background-components)); /* #FFFFFF */
  --ring-tag-background-components: 235, 236, 240;
  --ring-tag-background-color: rgb(var(--ring-tag-background-components)); /* #EBECF0 */
  --ring-tag-hover-background-components: 211, 213, 219;
  --ring-tag-hover-background-color: rgb(var(--ring-tag-hover-background-components)); /* #D3D5DB */
  --ring-removed-background-components: 250, 212, 216;
  --ring-removed-background-color: rgb(var(--ring-removed-background-components)); /* #FAD4D8 */
  --ring-warning-background-components: 255, 241, 209;
  --ring-warning-background-color: rgb(var(--ring-warning-background-components)); /* #FFF1D1 */
  --ring-added-background-components: 197, 229, 204;
  --ring-added-background-color: rgb(var(--ring-added-background-components)); /* #C5E5CC */
  --ring-disabled-background-components: 247, 248, 250;
  --ring-disabled-background-color: rgb(var(--ring-disabled-background-components)); /* #F7F8FA */
  --ring-disabled-selected-background-components: 235, 236, 240;
  --ring-disabled-selected-background-color: rgb(var(--ring-disabled-selected-background-components)); /* #EBECF0 */
  --ring-button-danger-active-components: 250, 212, 216;
  --ring-button-danger-active-color: rgb(var(--ring-button-danger-active-components)); /* #FAD4D8 */
  --ring-button-loader-background-components: 70, 130, 250;
  --ring-button-loader-background: rgb(var(--ring-button-loader-background-components)); /* #4682FA */
  --ring-button-primary-background-components: 53, 116, 240;
  --ring-button-primary-background-color: rgb(var(--ring-button-primary-background-components)); /* #3574F0 */
  --ring-table-loader-background-color: rgba(var(--ring-content-background-components), 0.5); /* #FFFFFF50 */
  --ring-removed-subtle-background-components: 255, 247, 247;
  --ring-removed-subtle-background-color: rgb(var(--ring-removed-subtle-background-components)); /* #FFF7F7 */
  --ring-warning-subtle-background-components: 255, 250, 235;
  --ring-warning-subtle-background-color: rgb(var(--ring-warning-subtle-background-components)); /* #FFFAEB */
  --ring-added-subtle-background-components: 242, 252, 243;
  --ring-added-subtle-background-color: rgb(var(--ring-added-subtle-background-components)); /* #F2FCF3 */

  /* Code */
  --ring-code-background-color: var(--ring-content-background-color);
  --ring-code-components: 0, 0, 0;
  --ring-code-color: rgb(var(--ring-code-components)); /* #000000 */
  --ring-code-comment-components: 140, 140, 140;
  --ring-code-comment-color: rgb(var(--ring-code-comment-components)); /* #8C8C8C */
  --ring-code-meta-components: 158, 136, 13;
  --ring-code-meta-color: rgb(var(--ring-code-meta-components)); /* #9E880D */
  --ring-code-keyword-components: 0, 51, 179;
  --ring-code-keyword-color: rgb(var(--ring-code-keyword-components)); /* #0033B3 */
  --ring-code-tag-background-components: 235, 236, 240;
  --ring-code-tag-background-color: rgb(var(--ring-code-tag-background-components)); /* #EBECF0 */
  --ring-code-tag-color: var(--ring-code-keyword-color);
  --ring-code-tag-font-weight: bold;
  --ring-code-field-components: 135, 16, 148;
  --ring-code-field-color: rgb(var(--ring-code-field-components)); /* #871094 */
  --ring-code-attribute-components: 23, 80, 235;
  --ring-code-attribute-color: rgb(var(--ring-code-attribute-components)); /* #1750EB */
  --ring-code-number-color: var(--ring-code-attribute-color);
  --ring-code-string-components: 6, 125, 23;
  --ring-code-string-color: rgb(var(--ring-code-string-components)); /* #067D17 */
  --ring-code-addition-components: 197, 229, 204;
  --ring-code-addition-color: rgb(var(--ring-code-addition-components)); /* #C5E5CC */
  --ring-code-deletion-components: 223, 225, 229;
  --ring-code-deletion-color: rgb(var(--ring-code-deletion-components)); /* #DFE1E5 */

  /* Metrics */
  --ring-border-radius: 4px;
  --ring-border-radius-small: 2px;
  --ring-font-size-larger: 15px;
  --ring-font-size: 14px;
  --ring-font-size-smaller: 12px;
  --ring-line-height-taller: 21px;
  --ring-line-height: 20px;
  --ring-line-height-lower: 18px;
  --ring-line-height-lowest: 16px;
  --ring-ease: 0.3s ease-out;
  --ring-fast-ease: 0.15s ease-out;
  --ring-font-family: system-ui, Arial, sans-serif;
  --ring-font-family-monospace:
    Menlo,
    "Bitstream Vera Sans Mono",
    "Ubuntu Mono",
    Consolas,
    "Courier New",
    Courier,
    monospace;

  /* Common z-index-values */

  /* Invisible element is an absolutely positioned element which should be below */
  /* all other elements on the page */
  --ring-invisible-element-z-index: -1;

  /* z-index for position: fixed elements */
  --ring-fixed-z-index: 1;

  /* Elements that should overlay all other elements on the page */
  --ring-overlay-z-index: 5;

  /* Alerts should de displayed above overlays */
  --ring-alert-z-index: 6;
}
