/* stylelint-disable color-no-hex */

:global(.ring-ui-theme-dark),
.dark,
:root.dark {
  --ring-line-components: 67, 69, 74;
  --ring-line-color: rgb(var(--ring-line-components)); /* #43454A */
  --ring-borders-components: 111, 115, 122;
  --ring-borders-color: rgb(var(--ring-borders-components)); /* #6F737A */
  --ring-icon-components: 157, 160, 168;
  --ring-icon-color: rgb(var(--ring-icon-components)); /* #9DA0A8 */
  --ring-icon-secondary-components: 157, 160, 168;
  --ring-icon-secondary-color: rgb(var(--ring-icon-secondary-components)); /* #9DA0A8 */
  --ring-border-disabled-components: 78, 81, 87;
  --ring-border-disabled-color: rgb(var(--ring-border-disabled-components)); /* #4E5157 */
  --ring-border-selected-disabled-components: 90, 93, 99;
  --ring-border-selected-disabled-color: rgb(var(--ring-border-selected-disabled-components)); /* #5A5D63 */
  --ring-border-disabled-active-components: 23, 73, 113;
  --ring-border-disabled-active-color: rgb(var(--ring-border-disabled-active-components)); /* #174971 */
  --ring-icon-disabled-components: 111, 115, 122;
  --ring-icon-disabled-color: rgb(var(--ring-icon-disabled-components)); /* #6F737A */
  --ring-border-hover-components: 55, 95, 173;
  --ring-border-hover-color: rgb(var(--ring-border-hover-components)); /* #375FAD */
  --ring-border-hover-success-components: 78, 128, 82;
  --ring-border-hover-success-color: rgb(var(--ring-border-hover-success-components)); /* #4E8052 */
  --ring-border-hover-error-components: 156, 78, 78;
  --ring-border-hover-error-color: rgb(var(--ring-border-hover-error-components)); /* #9C4E4E */
  --ring-border-accent-components: 54, 106, 207;
  --ring-border-accent-color: rgb(var(--ring-border-accent-components)); /* #366ACF */
  --ring-main-components: 54, 106, 207;
  --ring-main-color: rgb(var(--ring-main-components)); /* #366ACF */
  --ring-action-link-components: 153, 187, 255;
  --ring-action-link-color: rgb(var(--ring-action-link-components)); /* #99BBFF */ /* TODO: remove in 8.0 in favor of --ring-link-color */
  --ring-main-hover-components: 55, 95, 173;
  --ring-main-hover-color: rgb(var(--ring-main-hover-components)); /* #375FAD */
  --ring-main-success-components: 78, 128, 82;
  --ring-main-success-color: rgb(var(--ring-main-success-components)); /* #4E8052 */
  --ring-main-success-hover-components: 67, 105, 70;
  --ring-main-success-hover-color: rgb(var(--ring-main-success-hover-components)); /* #436946 */
  --ring-main-error-components: 189, 87, 87;
  --ring-main-error-color: rgb(var(--ring-main-error-components)); /* #BD5757 */
  --ring-main-error-hover-components: 156, 78, 78;
  --ring-main-error-hover-color: rgb(var(--ring-main-error-hover-components)); /* #9C4E4E */
  --ring-main-warning-components: 224, 137, 87;
  --ring-main-warning-color: rgb(var(--ring-main-warning-components)); /* #E08957 */
  --ring-main-warning-hover-components: 199, 125, 85;
  --ring-main-warning-hover-color: rgb(var(--ring-main-warning-hover-components)); /* #C77D55 */
  --ring-main-purple-components: 149, 90, 224;
  --ring-main-purple-color: rgb(var(--ring-main-purple-components)); /* #955AE0 */
  --ring-main-purple-hover-components: 129, 80, 190;
  --ring-main-purple-hover-color: rgb(var(--ring-main-purple-hover-components)); /* #8150BE */
  --ring-icon-error-components: 227, 119, 116;
  --ring-icon-error-color: rgb(var(--ring-icon-error-components)); /* #E37774 */
  --ring-icon-warning-components: 224, 136, 85;
  --ring-icon-warning-color: rgb(var(--ring-icon-warning-components)); /* #E08855 */
  --ring-icon-success-components: 95, 173, 101;
  --ring-icon-success-color: rgb(var(--ring-icon-success-components)); /* #5FAD65 */
  --ring-icon-highlight-components: 214, 174, 88;
  --ring-icon-highlight-color: rgb(var(--ring-icon-highlight-components)); /* #D6AE58 */
  --ring-icon-highlight-hover-components: 186, 151, 82;
  --ring-icon-highlight-hover-color: rgb(var(--ring-icon-highlight-hover-components)); /* #BA9752 */
  --ring-success-border-components: 67, 105, 70;
  --ring-success-border-color: rgb(var(--ring-success-border-components)); /* #436946 */
  --ring-success-border-hover-components: 78, 128, 82;
  --ring-success-border-hover-color: rgb(var(--ring-success-border-hover-components)); /* #4E8052 */
  --ring-error-border-components: 122, 67, 67;
  --ring-error-border-color: rgb(var(--ring-error-border-components)); /* #7A4343 */
  --ring-error-border-hover-components: 156, 78, 78;
  --ring-error-border-hover-color: rgb(var(--ring-error-border-hover-components)); /* #9C4E4E */
  --ring-warning-border-components: 130, 88, 69;
  --ring-warning-border-color: rgb(var(--ring-warning-border-components)); /* #825845 */
  --ring-warning-border-hover-components: 163, 107, 78;
  --ring-warning-border-hover-color: rgb(var(--ring-warning-border-hover-components)); /* #A36B4E */
  --ring-highlight-border-components: 130, 106, 65;
  --ring-highlight-border-color: rgb(var(--ring-highlight-border-components)); /* #826A41 */
  --ring-highlight-border-hover-components: 158, 129, 74;
  --ring-highlight-border-hover-color: rgb(var(--ring-highlight-border-hover-components)); /* #9E814A */
  --ring-purple-border-components: 88, 61, 122;
  --ring-purple-border-color: rgb(var(--ring-purple-border-components)); /* #583D7A */
  --ring-purple-border-hover-components: 108, 70, 156;
  --ring-purple-border-hover-color: rgb(var(--ring-purple-border-hover-components)); /* #6C469C */
  --ring-popup-border-components: 57, 59, 64;
  --ring-popup-border-color: rgb(var(--ring-popup-border-components)); /* #393B40 */
  --ring-popup-shadow-color: rgba(0, 0, 0, 0.31);
  --ring-popup-secondary-shadow-color: rgba(0, 0, 0, 0.37);
  --ring-message-shadow-color: rgba(var(--ring-popup-border-components), 0.3);
  --ring-pinned-shadow-components: 0, 0, 0;
  --ring-pinned-shadow-color: rgb(var(--ring-pinned-shadow-components)); /* #000 */ /* TODO remove in 8.0 */
  --ring-button-danger-hover-color: var(--ring-error-color);
  --ring-button-primary-border-components: 153, 187, 255;
  --ring-button-primary-border-color: rgb(var(--ring-button-primary-border-components)); /* #99BBFF */
  --ring-dialog-overlay-components: 0, 0, 0;
  --ring-dialog-overlay-opacity: 0.7;
  --ring-popup-shadow: 0 2px 8px var(--ring-popup-shadow-color), 0 1px 2px var(--ring-popup-secondary-shadow-color);
  --ring-dialog-shadow: 0 4px 16px var(--ring-popup-shadow-color), 0 2px 6px var(--ring-popup-secondary-shadow-color);

  /* Text */
  --ring-hint-components: 134, 138, 145;
  --ring-hint-color: rgb(var(--ring-hint-components)); /* #868A91 */ /* TODO: remove in 8.0 */
  --ring-link-components: 153, 187, 255;
  --ring-link-color: rgb(var(--ring-link-components)); /* #99BBFF */
  --ring-link-hover-components: 107, 155, 250;
  --ring-link-hover-color: rgb(var(--ring-link-hover-components)); /* #6B9BFA */
  --ring-error-components: 227, 119, 116;
  --ring-error-color: rgb(var(--ring-error-components)); /* #E37774 */
  --ring-warning-components: 224, 137, 87;
  --ring-warning-color: rgb(var(--ring-warning-components)); /* #E08957 */ /* Prefer using warning icon + regular text color */
  --ring-success-components: 95, 173, 101;
  --ring-success-color: rgb(var(--ring-success-components)); /* #5FAD65 */ /* Prefer using success icon + regular text color */
  --ring-purple-text-components: 181, 137, 236;
  --ring-purple-text-color: rgb(var(--ring-purple-text-components)); /* #B589EC */
  --ring-text-components: 255, 255, 255;
  --ring-text-color: rgb(var(--ring-text-components)); /* #FFFFFF */
  --ring-active-text-components: 255, 255, 255;
  --ring-active-text-color: rgb(var(--ring-active-text-components)); /* #FFFFFF */
  --ring-white-text-components: 255, 255, 255;
  --ring-white-text-color: rgb(var(--ring-white-text-components)); /* #FFFFFF */
  --ring-heading-color: var(--ring-text-color);
  --ring-secondary-components: 157, 160, 168;
  --ring-secondary-color: rgb(var(--ring-secondary-components)); /* #9DA0A8 */
  --ring-disabled-components: 111, 115, 122;
  --ring-disabled-color: rgb(var(--ring-disabled-components)); /* #6F737A */

  /* Background */
  --ring-content-background-components: 30, 31, 34;
  --ring-content-background-color: rgb(var(--ring-content-background-components)); /* #1E1F22 */
  --ring-popup-background-components: 43, 45, 48;
  --ring-popup-background-color: rgb(var(--ring-popup-background-components)); /* #2B2D30 */
  --ring-sidebar-background-components: 43, 45, 48;
  --ring-sidebar-background-color: rgb(var(--ring-sidebar-background-components)); /* #2B2D30 */
  --ring-secondary-background-components: 43, 45, 48;
  --ring-secondary-background-color: rgb(var(--ring-secondary-background-components)); /* #2B2D30 */
  --ring-selected-background-components: 46, 67, 110;
  --ring-selected-background-color: rgb(var(--ring-selected-background-components)); /* #2E436E */
  --ring-hover-background-components: 33, 45, 69;
  --ring-hover-background-color: rgb(var(--ring-hover-background-components)); /* #212D45 */
  --ring-navigation-background-components: 30, 31, 34;
  --ring-navigation-background-color: rgb(var(--ring-navigation-background-components)); /* #1E1F22 */
  --ring-tag-background-components: 67, 69, 74;
  --ring-tag-background-color: rgb(var(--ring-tag-background-components)); /* #43454A */
  --ring-tag-hover-background-components: 78, 81, 87;
  --ring-tag-hover-background-color: rgb(var(--ring-tag-hover-background-components)); /* #4E5157 */
  --ring-removed-background-components: 94, 56, 56;
  --ring-removed-background-color: rgb(var(--ring-removed-background-components)); /* #5E3838 */
  --ring-warning-background-components: 97, 68, 56;
  --ring-warning-background-color: rgb(var(--ring-warning-background-components)); /* #614438 */
  --ring-highlight-background-components: 94, 77, 51;
  --ring-highlight-background-color: rgb(var(--ring-highlight-background-components)); /* #5E4D33 */
  --ring-added-background-components: 55, 82, 57;
  --ring-added-background-color: rgb(var(--ring-added-background-components)); /* #375239 */
  --ring-purple-background-components: 67, 51, 88;
  --ring-purple-background-color: rgb(var(--ring-purple-background-components)); /* #433358 */
  --ring-disabled-background-components: 57, 59, 64;
  --ring-disabled-background-color: rgb(var(--ring-disabled-background-components)); /* #393B40 */
  --ring-disabled-selected-background-components: 67, 69, 74;
  --ring-disabled-selected-background-color: rgb(var(--ring-disabled-selected-background-components)); /* #43454A */
  --ring-button-danger-active-color: var(--ring-error-container-light-color); /* #5E3838 */
  --ring-button-primary-background-color: var(--ring-main-color); /* TODO remove in 8.0 */
  --ring-table-loader-background-color: rgba(var(--ring-content-background-components), 0.5); /* #2B2D3050 */
  --ring-removed-subtle-background-components: 64, 41, 41;
  --ring-removed-subtle-background-color: rgb(var(--ring-removed-subtle-background-components)); /* #402929 */
  --ring-warning-subtle-background-components: 69, 50, 43;
  --ring-warning-subtle-background-color: rgb(var(--ring-warning-subtle-background-components)); /* #45322B */
  --ring-highlight-subtle-background-components: 61, 50, 35;
  --ring-highlight-subtle-background-color: rgb(var(--ring-highlight-subtle-background-components)); /* #3D3223 */
  --ring-added-subtle-background-components: 37, 54, 39;
  --ring-added-subtle-background-color: rgb(var(--ring-added-subtle-background-components)); /* #253627 */
  --ring-purple-subtle-background-components: 47, 41, 54;
  --ring-purple-subtle-background-color: rgb(var(--ring-purple-subtle-background-components)); /* #2F2936 */
  --ring-main-container-light-components: 32, 39, 55;
  --ring-main-container-light-color: rgb(var(--ring-main-container-light-components)); /* #202737 */
  --ring-success-container-light-components: 34, 45, 37;
  --ring-success-container-light-color: rgb(var(--ring-success-container-light-components)); /* #222D25 */
  --ring-error-container-light-components: 54, 38, 39;
  --ring-error-container-light-color: rgb(var(--ring-error-container-light-components)); /* #362627 */
  --ring-warning-container-light-components: 53, 42, 39;
  --ring-warning-container-light-color: rgb(var(--ring-warning-container-light-components)); /* #352A27 */
  --ring-highlight-container-light-components: 49, 42, 35;
  --ring-highlight-container-light-color: rgb(var(--ring-highlight-container-light-components)); /* #312A23 */
  --ring-grey-container-light-components: 43, 45, 48;
  --ring-grey-container-light-color: rgb(var(--ring-grey-container-light-components)); /* #2B2D30 */
  --ring-purple-container-light-components: 43, 37, 49;
  --ring-purple-container-light-color: rgb(var(--ring-purple-container-light-components)); /* #2B2531 */
  --ring-highlight-fill-components: 214, 174, 88;
  --ring-highlight-fill-color: rgb(var(--ring-highlight-fill-components)); /* #D6AE58 */
  --ring-grey-fill-components: 240, 241, 242;
  --ring-grey-fill-color: rgb(var(--ring-grey-fill-components)); /* #F0F1F2 */
  --ring-grey-fill-accent-components: 223, 225, 229;
  --ring-grey-fill-accent-color: rgb(var(--ring-grey-fill-accent-components)); /* #DFE1E5 */

  /* Code */
  --ring-code-background-components: 30, 31, 34;
  --ring-code-background-color: rgb(var(--ring-code-background-components)); /* #1E1F22 */
  --ring-code-components: 189, 192, 201;
  --ring-code-color: rgb(var(--ring-code-components)); /* #BDC0C9 */
  --ring-code-comment-color: var(--ring-secondary-color);
  --ring-code-meta-components: 86, 168, 245;
  --ring-code-meta-color: rgb(var(--ring-code-meta-components)); /* #56A8F5 */
  --ring-code-keyword-components: 214, 154, 107;
  --ring-code-keyword-color: rgb(var(--ring-code-keyword-components)); /* #D69A6B */
  --ring-code-tag-background-components: 67, 69, 74;
  --ring-code-tag-background-color: rgb(var(--ring-code-tag-background-components)); /* #43454A */
  --ring-code-tag-components: 214, 154, 107;
  --ring-code-tag-color: rgb(var(--ring-code-tag-components)); /* #D69A6B */
  --ring-code-tag-font-weight: normal;
  --ring-code-field-components: 207, 132, 207;
  --ring-code-field-color: rgb(var(--ring-code-field-components)); /* #CF84CF */
  --ring-code-attribute-components: 81, 192, 207;
  --ring-code-attribute-color: rgb(var(--ring-code-attribute-components)); /* #51C0CF */
  --ring-code-number-components: 81, 192, 207;
  --ring-code-number-color: rgb(var(--ring-code-number-components)); /* #51C0CF */
  --ring-code-string-components: 108, 171, 116;
  --ring-code-string-color: rgb(var(--ring-code-string-components)); /* #6CAB74 */
  --ring-code-addition-components: 55, 82, 57;
  --ring-code-addition-color: rgb(var(--ring-code-addition-components)); /* #375239 */
  --ring-code-deletion-components: 67, 69, 74;
  --ring-code-deletion-color: rgb(var(--ring-code-deletion-components)); /* #43454A */

  color-scheme: dark;
}
