@import "../global/variables.css";

.dropdown {
  display: inline-block;
}

.anchor.anchor {
  margin-inline: -3px;
  padding-inline: 3px;

  font: inherit;
}

.chevron {
  margin-left: 2px;

  line-height: normal;
}
