@import "../global/variables.css";

.dropdown {
  display: inline-block;
}

.anchor.anchor {
  margin: 0 -3px;
  padding: 0 3px;

  font: inherit;
}

.chevron {
  margin-left: 2px;

  line-height: normal;
}
