@import '../global/global';

.ring-tooltip-ng {
  max-width: $ring-unit * 50;
  padding: $ring-unit;
  text-align: left;
}

.ring-tooltip-ng__hint-icon {
  margin-left: $ring-unit;
  color: var(--ring-icon-color);
  cursor: pointer;

  @include ring-vertical-compensation();

  .ring-tooltip-ng_open & {
    color: var(--ring-link-hover-color);
  }
}
