@import "../global/variables.css";

@value unit from "../global/global.css";

:global(.ring-tooltip-ng) {
  max-width: calc(unit * 50);
  padding: unit;

  text-align: left;
}

:global(.ring-tooltip-ng__hint-icon) {
  position: relative;
  top: -2px;

  margin-left: unit;

  cursor: pointer;

  color: var(--ring-icon-color);
}

:global(.ring-tooltip-ng_open .ring-tooltip-ng__hint-icon) {
  color: var(--ring-link-hover-color);
}
