@import "../global/variables.css";

@value unit from "../global/global.css";
@value button, active, primary from "../button/button.css";

:root {
  --ring-button-group-default-z-index: 0;
  --ring-button-group-disabled-z-index: -1;
  --ring-button-group-active-z-index: 1;
  --ring-button-group-hover-z-index: 2;
  --ring-button-group-focus-z-index: 3;
}

.buttonGroup {
  composes: buttonGroup from "../button-toolbar/button-toolbar.css";

  position: relative;
  z-index: 0;

  display: inline-block;

  white-space: nowrap;
}

.buttonGroup button,
.buttonGroup .button {
  margin: 0 0 0 -1px;

  border-radius: 0;
}

.caption {
  composes: font from "../global/global.css";

  margin-right: unit;

  font-size: var(--ring-font-size);

  &:empty {
    margin-right: 0;
  }
}

.buttonGroup > .caption + .button,
.buttonGroup > button:first-child,
.buttonGroup > .button:first-child,
.buttonGroup > :first-child .button {
  margin: 0;

  border-top-left-radius: var(--ring-border-radius);
  border-bottom-left-radius: var(--ring-border-radius);
}

.buttonGroup > .button:last-child,
.buttonGroup > button:last-child,
.buttonGroup > :last-child .button {
  border-top-right-radius: var(--ring-border-radius);
  border-bottom-right-radius: var(--ring-border-radius);
}

.buttonGroup .primary:not(:last-child) {
  margin-right: 1px;
}

.buttonGroup .primary:not(:first-child) {
  margin-left: 1px;
}

.buttonGroup {
  & .button {
    position: relative;
    z-index: var(--ring-button-group-default-z-index);

    &[disabled] {
      z-index: var(--ring-button-group-disabled-z-index);
    }

    &:active {
      z-index: var(--ring-button-group-active-z-index);
    }

    &:hover {
      z-index: var(--ring-button-group-hover-z-index);
    }

    &:focus {
      z-index: var(--ring-button-group-focus-z-index);
    }
  }

  & .active {
    z-index: var(--ring-button-group-active-z-index);
  }
}
