@import "../global/variables.css";

.tooltip {
  max-width: calc(var(--ring-unit) * 50);
  padding: var(--ring-unit);

  text-align: left;

  color: var(--ring-text-color);
}

.long {
  padding: var(--ring-unit) calc(unit * 1.5);

  font-size: var(--ring-font-size-smaller);
  line-height: var(--ring-line-height-lowest);
}
