@import "../global/variables.css";

@value unit from "../global/global.css";

.tooltip {
  max-width: calc(unit * 50);
  padding: unit;

  text-align: left;

  color: var(--ring-text-color);
}

.long {
  padding: unit calc(unit * 1.5);

  font-size: var(--ring-font-size-smaller);
  line-height: var(--ring-line-height-lowest);
}
