@import "../global/variables.css";

@value unit from "../global/global.css";

.panel {
  composes: panel from "../dialog/dialog.css"; /* TODO: Invert dependency using :externals CSS Modules selector */

  position: relative;

  margin-top: calc(unit * 2);
  padding: calc(unit * 2) calc(unit * 4) calc(unit * 4);

  border-top: 1px solid var(--ring-popup-border-color);

  &:empty {
    display: none;
  }

  & button {
    margin-right: unit;
  }
}
