// Input
//
// Markup:
// <input class="{$modifiers} ring-input " type="text" placeholder="placeholder">
//
// :disabled            - Disabled state, also available as the `.ring-input_disabled` class name.
// :active              - Active state, also available as the `.ring-input_active` class name.
// .ring-input_correct  - The entered value is correct.
// .ring-input_error    - The entered value is incorrect.
//
// Styleguide 14.1

.ring-input {
  box-sizing: border-box;
  height: 3*$ring-unit;
  width: 100%;
  margin: 0;
  padding-left: $ring-unit / 2;
  padding-right: $ring-unit/ 2;
  border: 1px solid #CCC;
  background-color: #FFF;

  @include ring-font;
  font-size: 13px;
  line-height: 20px;

  &:active, &:focus, .ring-input_active, .ring-input_focus {
    border: 1px solid #25B7FF;
    outline: 0;
  }

  &:disabled, .ring-input_disabled {
    border: 1px solid #DEDEDE;
    background-color: #F8F8F8;
  }

  &.ring-input_correct {
    border: 1px solid #84AB28;
  }

  &.ring-input_error {
    border: 1px solid #F00;
  }

  &.ring-input_long {
    width: 100%;
  }
}

// Input error bubbles
//
// Markup:
// <div class="ring-input_wrapper">
//   <input class="ring-input ring-input_error" type="text">
//   <div class="ring-input__error-bubble active">Wrong value</div>
// </div>
//
// Styleguide 14.2
.ring-input__error-bubble {
  display: none;
  position: absolute;
  top: 26px;
  left: 0;
  padding-left: 16px;
  padding-right: 16px;
  z-index: 2;

  border-radius: 3px;

  background: #F00;
  color: #FFF;

  @include ring-font;
  font-size: 13px;

  &.active {
    display: inline-block;
  }

  &:before {
    content: "";
    transform: rotate(45deg);

    position: absolute;
    top: -4px;
    left: calc(50% - 6px);

    display: block;
    width: 10px;
    height: 10px;

    background: red;
  }
}

.ring-input_wrapper {
  position: relative;
  box-sizing: border-box;
  height: 3*$ring-unit;
}

.ring-input_icon {
  position: relative;
  box-sizing: border-box;
  padding-right: 22px !important;
}

.ring-input_icon + .ring-input_icon__span {
  position: absolute;
  top: -1px;
  top: 2 px\9; // IE 6+
  right: 0;
  padding-right: 6px;

  color: #CCC;
  font-size: $ring-unit * 2;
  line-height: $ring-unit * 3 !important;
}

// Input with icon
//
// Just change "ring-font-icon_caret-down" to your icon class.
//
// Markup:
//<div class="ring-input_wrapper">
//   <input class="ring-input ring-input_icon" type="text" placeholder="placeholder">
//   <span class="ring-font-icon_search ring-font-icon ring-input_icon__span"></span>
//</div>
//
// Styleguide 14.3