// Tags
//
// Markup:
// <span class="ring-tag {$modifiers}">Tag button<span class="ring-tag__last-icon ring-font-icon ring-font-icon_remove"></span></span>
//
// :hover               - Highlight the button when hovered.
//
// Styleguide 12.1

.ring-tag {
  position: relative;
  display: inline-block;
  height: 3 * $ring-unit - 2;
  margin-right: 4px;
  padding: 0 3*$ring-unit 0 2*$ring-unit;

  border-radius: 3px;
  border: 1px solid #D8D8D8;

  cursor: pointer;
  line-height: 3 * $ring-unit;
  font-size: 13px;
  color: #1866C5;

  &:hover {
    color: #FF5A00;
    text-decoration: underline;
    border-color: #B4B4B5;

    .ring-tag__last-icon {
      color: #FF5A00;
    }
  }

  & .ring-tag__img {
    position: relative;
    top: 2px;
    left: -$ring-unit;
    width: 2*$ring-unit;
    height: 2*$ring-unit;
  }
}

.ring-tag__last-icon {
  position: absolute;
  top: 5px;
  right: 6px;
  color: #B4B4B4;
}
