@import "../global/variables.css";

@value unit, extra-small-screen-media from "../global/global.css";

.agreementDialog {
  padding-bottom: 80px;
}

.dialogContent {
  width: 600px;

  @media extra-small-screen-media {
    & {
      width: 90vw;
    }
  }
}

.suggestion {
  padding-bottom: unit;

  white-space: nowrap;

  font-size: 12px;
}

.remindLaterButton {
  float: right;
}
