@import "../global/global";

// Breadcrumbs
//
// Markup:
// <div class="ring-breadcrumb {$modifiers}">
//   <span>
//      <a class="ring-breadcrumb__element ring-link" href="/groups">Groups</a>
//      <span class="ring-breadcrumb__sep ring-font-icon ring-font-icon_chevron-right"></span>
//   </span>
//   <span class="active ring-breadcrumb__element">
//      <div class="ring-breadcrumb {$modifiers}">
//          <span>
//            <a class="ring-breadcrumb__element ring-link" href="/groups">Admins</a>
//            <span class="ring-breadcrumb__sep ring-font-icon ring-font-icon_chevron-right"></span>
//          </span>
//          <span class="active ring-breadcrumb__element">Admin</span>
//   </span>
// </div>
//
// .ring-breadcrumb_small                    - font-size: 13px
//
// Styleguide 3.1

.ring-breadcrumb {
  margin: 20px 0 $ring-unit*2;
  font-size: 0;
}

.ring-breadcrumb_header {
  margin-bottom: 0;
}

.ring-breadcrumb_small {
  .ring-breadcrumb__element {
    display: inline-block;
    height: $ring-unit*2;
    line-height: 14px;
    font-size: 13px;
  }
}

.ring-breadcrumb__element {

  .ring-breadcrumb {
    display: inline;
  }

  display: inline-block;
  height: $ring-unit*3;

  font-size: 24px;
  line-height: 20px;
  color: $ring-link-color;
  text-decoration: none;
}

.ring-breadcrumb__element span {
  display: inline-block;
}

.ring-breadcrumb__element_active, .ring-breadcrumb .active {
  color: $ring-font-color;
  cursor: default;
}

.ring-breadcrumb__element__description {
  display: inline-block;
  width: 50 * $ring-unit;
  padding-left: 2 * $ring-unit;
  top: 2px;
  overflow: hidden;
  position: relative;

  font-size: 13px;
  line-height: 1;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.ring-breadcrumb__sep {
  color: $ring-color-gray;
}
