@import "../global/variables.css";

@value unit from "../global/global.css";
@value icon from "../button/button.css";
@value animation-duration: 300ms;
@value animation-easing: ease-out;

.customAlert {
  background: var(--ring-main-color);
}

.closeButton .icon,
.closeButton:hover .icon {
  color: var(--ring-active-text-color);
}

.closeButton:hover {
  opacity: 0.8;
}
