@import "../global/global";

$ring-global-fonts: '../font-icon/' !default;

@font-face {
  font-family: 'font-icon';
  src:url('#{$ring-global-fonts}font-icon.eot');
  src:url('#{$ring-global-fonts}font-icon.eot?#iefix') format('embedded-opentype'),
  url('#{$ring-global-fonts}font-icon.svg#font-icon') format('svg'),
  url('#{$ring-global-fonts}font-icon.woff') format('woff'),
  url('#{$ring-global-fonts}font-icon.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.hello-world__title {
  @include ring-font();

  color: #CCCCCC;
  font-size: 20px;
}

.hello-world__sub-title {
  @include ring-font();
}

.hello-world__first {
  color: #f38f09;
}

.hello-world__second {
  color: #2763aa;
}