@import "../global/variables.css";

@value unit from "../global/global.css";

.dialog.dialog {
  width: auto;
  max-width: 400px;
}

.content {
  composes: font from "../global/global.css";

  display: flex;
  align-items: center;
  flex-direction: column;

  margin: calc(unit * 2) 0;
}

.button {
  width: calc(unit * 25);
  margin-top: unit;
}

.firstButton {
  composes: button;

  margin-top: calc(unit * 4);
}

.title.title {
  margin-top: 0;
  margin-bottom: unit;

  text-align: center;

  font-weight: 100;
}

.logo {
  width: calc(unit * 12);
  height: calc(unit * 12);
  margin-bottom: 12px;
  object-fit: contain;

  @media (max-height: 400px) {
    width: calc(unit * 4);
    height: calc(unit * 4);
  }
}

.error {
  text-align: center;

  color: var(--ring-error-color);
}
