@import "../global/global";

.ring-button-toolbar {
  display: inline-block;
  font-size: 0;
  white-space: nowrap;

  &.ring-button-toolbar_block {
    display: block;
  }

  &__label {
    font-size: $ring-font-size;
  }
}

.ring-button-toolbar > .ring-button,
.ring-button-toolbar > .ring-button-toolbar,
.ring-button-toolbar > .ring-button-toolbar__label,
.ring-button-toolbar > .ring-button-group {
  margin-right: 16px;

  &:last-child {
    margin-right: 0;
  }
}
