@import "../global/global";

.ring-old-browsers-message {
  display: block;

  text-align: center;

  @include ring-font(14px);

  margin-top: 15%;
  line-height: 2.5*$ring-unit;

  &_hidden {
    display: none;
  }

  &__smile {
    cursor: pointer;
    font-size: 3*$ring-unit;
    user-select: none;
  }
}


