@import "../global/global";

/**
 * @name Old Browsers Message
 * @example
  <example name="Old Browsers Message">
    <file name="index.html">

      <div id="ring-old-browsers-message" class="ring-old-browsers-message ring-old-browsers-message_hidden">
        <span id="ring-old-browsers-message__smile" class="ring-old-browsers-message__smile">{{ (>_<) }}</span>
        <br/><br/>
        This version of your browser is not <a href="https://documentation.link">supported</a>.<br/>
        Try upgrading to the latest stable version.
        <br/><br/>
        <!--[if IE 9]>
          <span>If you use IE9.0 or higher, make sure that compatibility mode is disabled.</span>
        <![endif]-->
      </div>

     </file>
       <file name="index.js" webpack="true">
          require('ring-ui/components/old-browsers-message/old-browsers-message.scss');
          require('ring-ui/components/old-browsers-message/old-browsers-message');

          //Triggering error to imitate unsupported browser
          Object.futureMethodWhichIsNotExistInThisBrowser();
       </file>
   </example>
 */



.ring-old-browsers-message {
  display: block;

  text-align: center;

  @include ring-font(14px);

  margin-top: 15%;
  line-height: 2.5*$ring-unit;

  &_hidden {
    display: none;
  }

  &__smile {
    cursor: pointer;
    font-size: 3*$ring-unit;
    user-select: none;
  }
}


