:global(body) {
  margin: 0;
}

/**
  Hackish handle Strotybooks fixed position
 */
/* stylelint-disable-next-line selector-max-specificity */
:global(#root) > div {
  height: calc(100vh - 64px);
}

.header {
  position: relative;
  z-index: var(--ring-fixed-z-index);

  overflow: visible;

  font-family: var(--ring-font-family);
  font-size: var(--ring-font-size);
}

.logo {
  margin-left: calc(var(--ring-unit) * -2);
}

.headerItem {
  white-space: nowrap;
}

.version button {
  height: auto;

  color: var(--ring-active-text-color);
}

.githubIcon {
  position: relative;
  top: 2px;
}
