@import '../global/variables.css';

/*
  Using a pseudo-element rather than the element itself to prevent
  SVG icons from disappearing when the class name is toggled
  See https://youtrack.jetbrains.com/issue/RG-755
*/

.errorPage::before {
  position: absolute;
  z-index: var(--ring-invisible-element-z-index);

  display: block;

  width: 100%;
  height: 100%;

  content: '';
}

.enabled::before {
  opacity: 0.06;
  background: url('error-page.gif');
}
