@value unit from  "../global/global.css";

.dataListWrapper {
  position: relative;
}

.dataList {
  list-style: none;
  background-color: #F0F0F0;
  padding: 0;

  border: solid 0 #E8E8E8;
  border-top-width: 1px;
}

.group {
  list-style: none;
  padding: 10px 50px;
  background-color: #EBEBEB;

  border: solid 0 #E8E8E8;
  border-bottom-width: 1px;
}

.groupTitle {
  padding: 10px 30px;

  border: solid 0 #E8E8E8;
  border-bottom-width: 1px;

  outline: none;
  box-sizing: border-box;
}

.groupTitleFocused {
  border: 1px none #E6E6E6;
  border-top-style: solid;
  border-color: #25B7FF;
  border-bottom-style: solid;
}

.item {
  padding: 5px 0;
}

.itemTitle {
}

.metaColumn {
  display: inline-block;
  min-width: 27px;
  color: #bbb;
}

.collapseIcon {
  top: -3px;
}

.subgroup {
  list-style: none;
  padding: 0;
  padding-left: 15px;
  margin-left: 27px;
  border: 1px none #D8D8D8;
  border-left-style: dotted;
}

.subitem {
  padding: 5px 0;
}

.loadingOverlay {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.5);
}
