@value global: '../global/global.css';
@value unit, light-blue-color from global;

.dataListWrapper {
  position: relative;
}

.dataList {
  margin: 0;
  padding: 0;

  list-style: none;

  background-color: #f0f0f0;
}

.group {
  padding: 10px 0;

  list-style: none;

  background-color: #ebebeb;
}

.groupTitle {
  display: flex;
  align-items: center;

  box-sizing: border-box;
  height: 40px;
  padding: 0 30px;

  border: solid 0 #e6e6e6;
  border-width: 1px 0;
  outline: none;
}

.groupTitleCheckbox {
  margin-right: 8px;
}

.itemTitle {
  display: flex;
  align-items: center;

  box-sizing: border-box;
  height: 32px;
  padding: 0 50px;

  border: 0 solid #ebebeb;
  border-width: 1px 0;
  outline: none;
}

.showMore {
  margin-left: 27px;
  padding: 4px 50px;

  color: #999;

  border: 0 solid #ebebeb;
  border-width: 1px 0;
  outline: none;

  font-size: 12px;
}

.dataList:not(.disabledHover) .groupTitle:hover,
.dataList:not(.disabledHover) .itemTitle:hover {
  background-color: #fff !important;
}

.groupTitleFocused,
.itemTitleFocused {
  border: 1px none #25b7ff;
  border-top-style: solid;
  border-bottom-style: solid;
}

.dataList:not(.multiSelection) .groupTitleFocused,
.dataList:not(.multiSelection) .itemTitleFocused,
.groupTitleSelected,
.itemTitleSelected {
  background-color: light-blue-color;
}

.metaColumn {
  display: inline-block;

  min-width: 27px;

  color: #bbb;
}

.collapseIcon {
  top: -3px;

  &:hover {
    color: #ff5a00;
  }
}

.subgroup {
  margin-left: 76px;
  padding: 0;
  padding-left: 16px;

  list-style: none;

  border: 1px none #d8d8d8;
  border-left-style: dotted;
}

.subitem {
  padding: 5px 0;
}

.loadingOverlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: rgba(255, 255, 255, 0.5);
}

.showMoreLoader {
  top: 3px;
  left: 8px;
}
