<example name="Data List">
  <file type="html">
    <div id="data-list"></div>
  </file>
  <file type="css">
    body {
      margin: 0;
      padding: 0;
    }
  </file>
  <file type="js">
    import '@jetbrains/ring-ui/components/data-list/data-list.example.js';
  </file>
</example>

<example name="Data List with collapsible items">
  <file type="html">
    <div id="data-list"></div>
  </file>
  <file type="css">
    body {
      margin: 0;
      padding: 0;
    }
  </file>
  <file type="js">
    import '@jetbrains/ring-ui/components/data-list/data-list.example2.js';
  </file>
</example>
