@value unit from "../node_modules/@jetbrains/ring-ui/components/global/global.css";

body {
  margin: unit calc(unit * 4) calc(unit * 2);
  padding: 0;
}

.body {
  composes: font from "../node_modules/@jetbrains/ring-ui/components/global/global.css";

  color: var(--ring-text-color);

  font-size: var(--ring-font-size);

  line-height: var(--ring-line-height);
}

.blockAnimations *,
.blockAnimations *::before,
.blockAnimations *::after {
  transition: none !important;
  animation: none !important;
}
