@value unit, font, font-smaller, font-larger, font-size, line-height, line-height-lowest, link-color, text-color, dark-text-color, line-color, disabled-color, secondary-color, hint-color, selected-background-color, sidebar-background-color, fixed-z-index, overlay-z-index, ease, fast-ease, breakpoint-middle, border-radius from '../node_modules/@jetbrains/ring-ui/components/global/global.css';

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.app {
  composes: font;

  display: flex;
  flex-direction: column;

  min-width: breakpoint-middle;
  min-height: 100vh;

  color: text-color;
}

.headerItem {
  white-space: nowrap;
}

.sidebar {
  position: relative;

  display: flex;
  flex-direction: column;

  padding: calc(unit * 2) 0 calc(unit * 5);

  background-color: sidebar-background-color;

  box-shadow: 1px 0 line-color;
}

.sidebar > * {
  flex-shrink: 0;
}

.sidebarFixed {
  z-index: overlay-z-index;
}

.main {
  flex-basis: 0;
  flex-grow: 1;

  min-height: 0;
}

.main > div:last-child {
  overflow-y: auto;
  align-self: stretch;
  flex-grow: 1;

  min-width: 0;

  margin: 0;
  padding: 0 calc(unit * 4);
}

.header {
  position: relative;
  z-index: fixed-z-index;

  overflow: visible;
}

.logo {
  margin-left: calc(unit * -4 + 1px);
}

.item.item {
  display: block;

  padding: 3px calc(unit * 2) 5px calc(unit * 4);

  text-align: left;

  line-height: calc(unit * 2);
}

.item p {
  margin: 0;
}

.category {
  composes: font-smaller;
  composes: item;

  position: relative;

  margin: unit 0 2px;

  color: text-color;
}

.chevron {
  position: absolute;
  top: 2px;
  left: 20px;
}

.chevron svg {
  transition: transform fast-ease;
  transform-origin: 45% 50%;
}

.chevronExpanded svg {
  transform: rotate(90deg);
}

.items {
  overflow: hidden;

  transition: height fast-ease;
}

.active {
  color: text-color;

  background-color: selected-background-color;

  font-weight: bold;
}

a.legacy {
  color: disabled-color;
}

.content {
  min-width: 200px;
  padding: calc(unit * 3) 0;
}

.mainText {
  composes: font-larger;
}

.example {
  position: relative;

  margin-top: calc(unit * 4);
}

.exampleTitle {
  composes: font-larger;
}

.exampleAnchor {
  position: absolute;
  top: 0;
  left: calc(unit * -3.5);
}

.iframe {
  position: relative;
}

.frame {
  box-sizing: border-box;
  width: 100%;
  height: calc(unit * 10);
  min-height: calc(unit * 5);
  max-height: 1000px;

  margin: calc(unit * 2) 0;

  transition: box-shadow fast-ease;

  border: none;
  box-shadow: 2px 0 line-color inset;

  &:hover {
    transition: none;

    box-shadow: 0 0 0 2px line-color inset;
  }
}

.frameFixedHeight {
  height: 500px;
}

.exampleLink {
  composes: font-smaller;

  position: absolute;
  top: 3px;
  right: 0;

  color: secondary-color;
}

.sideFooter {
  composes: item;

  margin-top: auto;

  line-height: line-height-lowest;
}

.sideFooter.sideFooter {
  padding-top: calc(unit * 6);
}

.copyright {
  margin-bottom: unit;

  color: secondary-color;

  line-height: line-height-lowest;
}

.search {
  position: relative;

  margin-right: calc(unit * 2);

  color: hint-color;
}

.searchIcon {
  position: absolute;

  z-index: 1;
  top: 0;
  left: unit;
}

.searchInput {
  display: inline-block;

  border-radius: border-radius;

  background-color: #001d32;
}

.searchInput.searchInput {
  padding-left: calc(unit * 4);
}

/* stylelint-disable-next-line selector-max-specificity */
.searchInput.searchInput.searchInput ::placeholder {
  text-shadow: 0 0 0 hint-color;
}

.codeLink {
  color: inherit;
}
