@import "../node_modules/@jetbrains/ring-ui/components/global/variables.css";

@value unit, breakpoint-middle from '../node_modules/@jetbrains/ring-ui/components/global/global.css';

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.app {
  composes: font from "../node_modules/@jetbrains/ring-ui/components/global/global.css";

  display: flex;
  flex-direction: column;

  min-width: breakpoint-middle;
  height: 100vh;

  color: var(--ring-text-color);
}

.headerItem {
  white-space: nowrap;
}

.sidebar {
  position: relative;

  display: flex;
  flex-direction: column;

  padding: calc(unit * 2) 0 calc(unit * 5);

  background-color: var(--ring-sidebar-background-color);

  box-shadow: 1px 0 var(--ring-line-color);
}

.sidebar > * {
  flex-shrink: 0;
}

.sidebarFixed {
  z-index: var(--ring-overlay-z-index);
}

.main {
  flex-basis: 0;
  flex-grow: 1;

  min-height: 0;

  background-color: var(--ring-content-background-color);
}

.main > div:last-child {
  overflow-y: auto;
  align-self: stretch;
  flex-grow: 1;

  min-width: 0;

  margin: 0;
  padding: 0 calc(unit * 4);
}

.header {
  position: relative;
  z-index: var(--ring-fixed-z-index);

  overflow: visible;
}

.logo {
  margin-left: calc(unit * -4 + 1px);
}

.item.item {
  display: block;

  padding: 3px calc(unit * 2) 5px calc(unit * 4);

  text-align: left;

  line-height: calc(unit * 2);
}

.item p {
  margin: 0;
}

.category {
  composes: font-smaller from "../node_modules/@jetbrains/ring-ui/components/global/global.css";
  composes: item;

  position: relative;

  margin: unit 0 2px;

  color: var(--ring-text-color);
}

.chevron {
  position: absolute;
  top: 2px;
  left: 14px;
}

.chevron svg {
  transition: transform var(--ring-fast-ease);
  transform-origin: center;
}

.chevronExpanded svg {
  transform: rotate(90deg);
}

.items {
  overflow: hidden;

  transition: height var(--ring-fast-ease);
}

.active {
  color: var(--ring-text-color);

  background-color: var(--ring-selected-background-color);

  font-weight: bold;
}

a.legacy {
  color: var(--ring-disabled-color);
}

.content {
  min-width: 200px;
  padding: calc(unit * 3) 0;
}

.mainText {
  composes: font-larger from "../node_modules/@jetbrains/ring-ui/components/global/global.css";
}

.example {
  position: relative;

  margin-top: calc(unit * 4);
}

.exampleTitle {
  composes: font-larger from "../node_modules/@jetbrains/ring-ui/components/global/global.css";
}

.exampleAnchor {
  position: absolute;
  top: 0;
  left: calc(unit * -3.5);
}

.iframe {
  position: relative;
}

.frame {
  box-sizing: border-box;
  width: 100%;
  height: calc(unit * 10);
  min-height: calc(unit * 5);
  max-height: 1000px;

  margin: calc(unit * 2) 0;

  transition: box-shadow var(--ring-fast-ease);

  border: none;
  box-shadow: 2px 0 var(--ring-line-color) inset;

  &:hover {
    transition: none;

    box-shadow: 0 0 0 2px var(--ring-line-color) inset;
  }
}

.frameFixedHeight {
  height: 500px;
}

.exampleLink {
  composes: font-smaller from "../node_modules/@jetbrains/ring-ui/components/global/global.css";

  position: absolute;
  top: 3px;
  right: 0;

  color: var(--ring-secondary-color);
}

.version button {
  height: auto;

  color: var(--ring-dark-text-color);
}

.sideFooter {
  composes: item;

  margin-top: auto;

  line-height: var(--ring-line-height-lowest);
}

.sideFooter.sideFooter {
  padding-top: calc(unit * 6);
}

.copyright {
  margin-bottom: unit;

  color: var(--ring-secondary-color);

  line-height: var(--ring-line-height-lowest);
}

.githubIcon {
  position: relative;
  top: 2px;
}

.search {
  position: relative;

  margin-right: calc(unit * 2);

  color: var(--ring-hint-color);
}

.searchIcon {
  position: absolute;

  z-index: 1;
  top: 2px;
  left: unit;
}

.searchInput {
  display: inline-block;

  border-radius: var(--ring-border-radius);

  background-color: #001d32; /* stylelint-disable-line color-no-hex */
}

.searchInput.searchInput {
  padding-left: calc(unit * 4);
}

/* stylelint-disable-next-line selector-max-specificity */
.searchInput.searchInput.searchInput ::placeholder {
  text-shadow: 0 0 0 var(--ring-hint-color);
}

.codeLink {
  color: inherit;
}

.darkThemeToggle {
  padding-right: calc(unit * 2);
}
