@value unit, font, font-size, line-height, line-height-lowest, link-color, white-color, line-color, gray-color, dark-gray-color, selected-background-color, sidebar-background-color, fixed-z-index, overlay-z-index, ease, breakpoint-middle from '../node_modules/@jetbrains/ring-ui/components/global/global.css';

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.app {
  composes: font;

  min-width: breakpoint-middle;
}

.headerItem {
  white-space: nowrap;
}

.sidebar {
  position: relative;

  padding: calc(unit * 4) 0 calc(unit * 5);

  background-color: sidebar-background-color;

  box-shadow: 1px 0 line-color;
}

.sidebarFixed {
  z-index: overlay-z-index;
}

.nav {
  position: relative;
  z-index: overlay-z-index;

  margin: calc(unit * -2) 0 0;

  line-height: calc(unit * 3);
}

.main > div:last-child {
  flex-grow: 1;

  min-width: 0;
}

.header {
  position: relative;
  z-index: fixed-z-index;

  overflow: visible;
}

.logo {
  margin-left: calc(unit * -5 + 1);
}

.item {
  padding-right: calc(unit * 2);
  padding-left: calc(unit * 4);
}

.item p {
  margin: 0;
}

.active {
  background-color: selected-background-color;

  font-weight: bold;
}

a.legacy {
  color: gray-color;
}

.content {
  min-width: 200px;
  padding: calc(unit * 3) 0;
}

.example {
  margin-top: line-height;
}

.iframe {
  position: relative;
}

.frame {
  width: 100%;
  height: calc(unit * 10);
  min-height: calc(unit * 5);
  max-height: 1000px;

  border: 1px solid line-color;
}

.frameFixedHeight {
  height: 500px;
}

.exampleLink {
  /* override Link */
  && {
    position: absolute;
    right: -2px;
    bottom: 5px;

    display: block;

    padding: unit;

    border: 1px solid line-color;
    background: white-color;

    font-size: font-size;
  }
}

.version button {
  height: auto;

  color: white-color;
}

.sideFooter {
  composes: item;

  margin-top: calc(unit * 6);

  line-height: line-height-lowest;
}

.copyright {
  margin-bottom: unit;

  color: dark-gray-color;

  line-height: line-height-lowest;
}
