@value unit, font, font-size, line-height, link-color, fixed-z-index, overlay-z-index, ease, breakpoint-middle from '../node_modules/@jetbrains/ring-ui/components/global/global.css';

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.app {
  composes: font;

  min-width: breakpoint-middle;

  font-size: font-size;
  line-height: line-height;
}

.headerItem {
  white-space: nowrap;
}

.sidebar {
  position: relative;

  width: auto;

  transition: background-color ease;
}

.sidebarFixed {
  z-index: overlay-z-index;

  background-color: rgba(256, 256, 256, 0.9);
  backdrop-filter: blur(5px);
}

.nav {
  position: relative;
  z-index: overlay-z-index;

  margin-top: calc(unit * 4);
}

.main > div:last-child {
  flex-grow: 1;

  min-width: 0;
}

.header {
  position: relative;
  z-index: fixed-z-index;
}

.logo {
  margin-top: calc(unit * -3);
  margin-left: calc(calc(unit * -5) + 1);

  vertical-align: top;
}

.githubCorner {
  width: calc(unit * 7);
}

.list {
  margin: unit 0 0 calc(unit * -2);
}

.list p {
  margin: 0;
}

.content {
  min-width: 200px;
  padding: calc(unit * 3) 0;
}

.example {
  margin-top: line-height;
}

.iframe {
  position: relative;
}

.frame {
  width: 100%;
  height: calc(unit * 10);
  min-height: calc(unit * 5);
  max-height: 1000px;

  border: 1px solid #ccc;
}

.frameFixedHeight {
  height: 500px;
}

.exampleLink {
  /* override Link */
  && {
    position: absolute;
    right: -2px;
    bottom: 5px;

    display: block;

    padding: unit;

    border: 1px solid #ccc;
    background-color: #fff;

    font-size: font-size;
  }
}

.footer {
  /* override Footer */

  && {
    margin: calc(unit * 5) 0 0;
  }
}

.codeLink {
  color: inherit;
}
