.ring-scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.ring-scrollbar::-webkit-scrollbar-track-piece {
  background-color: transparent;
}

.ring-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgb(204, 204, 204);

  &:hover {
    background-color: rgb(153, 153, 153);
  }
}
