@value unit, font-size, line-height, border-radius, sidebar-background-color from "../global/global.css";

/* override hljs */
.code code {
  padding: line-height calc(unit * 2);

  border-radius: border-radius;
  background-color: sidebar-background-color;

  font-size: font-size;
  line-height: line-height;
}

.inline code {
  display: inline-block;

  padding: 0 calc(unit / 2);
}
