
body {
  padding: 8px;
  width: 50%;
}
  
body {
  padding: 8px;
  width: 50%;
}
  
body {
  padding: 8px;
  width: 50%;
}
  
body {
  padding: 8px;
  width: 50%;
}
  
body {
  padding: 8px;
  width: 50%;
}
  
body {
  padding: 8px;
  width: 50%;
}
  
body {
  padding: 8px;
  width: 50%;
}
  