<div class="ring-query-assist">
  <div class="ring-query-assist__input ring-input ring-js-shortcuts{{#glass}} ring-input_icon{{/glass}} {{> global__class}}"{{> global__attributes}} spellcheck="false" contenteditable="true" data-placeholder="{{placeholder}}">{{query}}</div>
  {{#glass}}<span class="ring-query-assist__glass ring-input_icon__span ring-font-icon ring-link ring-font-icon_search ring-js-query-assist__glass"></span>{{/glass}}
  {{#placeholder}}<span class="ring-query-assist__placeholder">{{this}}</span>{{/placeholder}}
</div>