{
  "root": true,
  "parser": "babel-eslint",
  "extends": [
    "jetbrains",
    "jetbrains/es6",
    "jetbrains/react",
    "jetbrains/angular",
    "jetbrains/test"
  ],
  "rules": {
    // Possible Errors
    "valid-jsdoc": "off",

    // Best Practices
    "complexity": ["off", 5],
    "no-magic-numbers": ["warn", { "ignore": [-1, 0, 1] }],

    // Stylistic Issues
    "func-names": "warn",

    // Angular
    "angular/directive-name": ["error", "rg"],

    // React
    "react/jsx-no-bind": "warn",
    "react/no-string-refs": "warn"
  },
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": {
          "resolve": {
            "modules": [
              "test-helpers",
              "node_modules"
            ]
          }
        }
      }
    }
  }
}
