@import "../global/global";

// Tabs
//
// Markup:
// <div class="ring-tabs {$modifiers}">
//  <div class="ring-tabs__tabs">
//     <div class="ring-tabs__btn">Tab 1</div>
//     <div class="ring-tabs__btn active">Tab 2</div>
//     <div class="ring-tabs__btn">Tab 3</div>
//   </div>
//   <div class="ring-tabs__container">Pane content</div>
// </div>
//
// .ring-tabs_pointer - Tab with a pointer arrow
//
// Styleguide 11.1

$ring-tab-attention-color: #f50000;

.ring-tabs__tabs {
  position: relative;
  margin: 13px 16px 22px 16px;
  line-height: $ring-unit * 3 - 2;
}

.ring-tabs_pointer .ring-tabs__tabs > .active:after,
.ring-tabs_pointer .ring-tabs__btn_active:after {
  display: block;
  position: relative;
  top: 19px;
  width: 10px;
  height: 10px;
  margin: 0 auto;

  content: '';
  transform: rotate(45deg);
  cursor: default;
  background-color: #f0f0f0;
  box-shadow: inset 1px 1px 0 0 #cbcbcb;
}

.ring-tabs__btn {
  display: inline-block;
  height: $ring-unit * 3;

  padding: 0 $ring-unit * 2;
  border-top: 1px solid transparent;

  color: #1866c5;
  font-size: 13px;
  @include ring-font;

  cursor: pointer;
}

.ring-tabs__btn_active, .ring-tabs__tabs > .active {
  $border-color: #b4b4b4;
  $gradient-color: #dcdcdc;

  position: relative;
  display: inline-block;

  color: #1a1a1a;
  outline: 0;

  border-top-color: $border-color;
  border-radius: 3px;

  background: #1a1a1a;
  background: linear-gradient(to bottom, $border-color, rgba(0, 0, 0, 0)),
              linear-gradient(to top, rgba(255, 255, 255, 0), $gradient-color),
              linear-gradient(to bottom, $border-color, rgba(0, 0, 0, 0));
  background-size: 1px 100%, calc(100% - 2px) 100%, 1px 100%;
  background-position: 0 0, 1px 0, 100% 0;
  background-repeat: no-repeat;
}

.ring-tabs__btn__counter {
  position: relative;
  left: 5px;

  padding: 1px 2px;
  border-radius: 2px;

  color: #fff;
  background-color: $ring-link-color;
  font-size: 10px;
}

.ring-tabs__btn__counter_attention {
  background-color: $ring-tab-attention-color;
}

.ring-tabs__container {
  border-top: 1px solid #b4b4b4;
}

.ring-tabs__content {
  display: none;
}

.ring-tabs__content_active {
  display: block;
}