<example name="Markdown">
  <file name="index.html">
    <div id="markdown"></div>
  </file>

  <file name="index.js">
    import React from 'react';
    import {render} from 'react-dom';

    import Markdown from 'ring-ui/components/markdown/markdown';

    import hubLogo from 'jetbrains-logos/hub/hub.svg';

    const demo = (
      <Markdown
        source={`
          # Header

          _Various_ types of **highlighting**

          [Link](/)

          ![32](${hubLogo} "Image")

          > Blockquote
          >
          > Second line

          * List
          * List

          1. One
          2. Two

          Horizontal line

          ---
          Some \`inline(code)\` inside text

          ## Block code
          \`\`\`js
          import React, {Component} from 'react';
          import ChildComponent from './child-component';

          const MyComponent = () => (
            <div className="class">
              <ChildComponent prop="value" />
            </div>
          );
          \`\`\`
        `}
      />
    );
    render(demo, document.getElementById('markdown'));
  </file>
</example>

<example name="Markdown tagged template">
  <file name="index.html">
    <div id="markdown"></div>
  </file>

  <file name="index.js">
    import React from 'react';
    import {render} from 'react-dom';

    import {md} from 'ring-ui/components/markdown/markdown';

    import hubLogo from 'jetbrains-logos/hub/hub.svg';

    const demo = md`
      # Header

      _Various_ types of **highlighting**

      [Link](/)

      ![32](${hubLogo} "Image")

      > Blockquote
      >
      > Second line

      * List
      * List

      1. One
      2. Two

      Horizontal line

      ---
      Some \`inline(code)\` inside text

      ## Block code
      \`\`\`js
      import React from 'react';

      import {md} from 'ring-ui/components/markdown/markdown';

      const MarkdownHeader = ({children}) => md\`#\${children}\`;
      \`\`\`
    `;
    render(demo, document.getElementById('markdown'));
  </file>
</example>
