@import "../global/variables.css";

@value unit from "../global/global.css";
@value p-margin: 10px;

.inline {
  &,
  & p {
    display: inline;
  }
}

.markdown {
  composes: font from  "../global/global.css";

  & ol,
  & ul {
    margin: 0;
  }

  & p,
  & blockquote,
  & pre {
    margin: 0;

    &:not(:first-child) {
      margin-top: p-margin;
    }
  }

  & li {
    margin-top: p-margin;
  }

  & li {
    & p,
    & blockquote,
    & pre {
      &:not(:first-child) {
        margin-top: 6px;
      }
    }
  }

  & hr {
    margin: p-margin 0;

    border: none;
    border-bottom: 1px solid var(--ring-line-color);
  }

  & blockquote {
    padding: 0 0 0 calc(2 * unit);

    color: var(--ring-secondary-color);
    box-shadow: inset 2px 0 0 var(--ring-line-color);

    font-size: 12px;
    line-height: 18px;
  }

  & ul {
    padding: 0 0 0 calc(2 * unit);
  }

  & ol {
    padding: 0;

    list-style-position: inside;
    font-variant-numeric: tabular-nums;
  }

  & ul {
    list-style-type: none;
  }
}
