@value unit, border-radius, line-color, dark-gray-color, error-color, text-color, selected-background-color, white-color, font-size, font-size-smaller, line-height-lower, line-height-lowest, fast-ease from '../global/global.css';
@value listSpacing: calc(unit / 2);

.list {
  position: relative;

  z-index: 1;

  border-radius: border-radius;

  line-height: normal;
}

.scrolling {
  pointer-events: none;
}

.separator {
  display: block;

  margin-top: listSpacing;
  padding: 0 calc(unit * 2) 2px;

  text-align: right;

  color: dark-gray-color;
  border-top: 1px solid line-color;

  font-size: font-size-smaller;
  line-height: line-height-lower;

  &_first {
    margin-top: calc(0 - listSpacing);
    padding-top: 0;

    border: none;
  }
}

.item {
  display: block;

  padding: 3px calc(unit * 2) 5px;

  text-align: left;
  vertical-align: bottom;
  white-space: nowrap;
  text-decoration: none;

  outline: none;

  font-size: font-size;
  line-height: calc(unit * 3);
}

.compact {
  line-height: calc(unit * 2);
}

.error {
  cursor: default;

  /* Override ring-link */
  &,
  &:hover,
  &:focus,
  &:visited {
    color: error-color;
  }
}

.add {
  padding: unit calc(2 * unit);

  line-height: calc(4 * unit);
}

.top {
  display: flex;
  align-items: baseline;
  flex-direction: row;
}

.left {
  align-self: center;
  flex-shrink: 0;
}

.label {
  overflow: hidden;
  flex-shrink: 1;

  text-align: left;
  white-space: nowrap;
}

.description {
  overflow: hidden;
  flex-shrink: 100;

  padding-left: calc(unit * 2);

  text-align: right;
  white-space: nowrap;
  text-overflow: ellipsis;

  color: dark-gray-color;

  font-size: font-size-smaller;
  line-height: line-height-lowest;
}

.right {
  display: flex;
  align-items: center;
  align-self: center;
  flex-direction: row;
  flex-shrink: 0;
}

.details {
  margin-bottom: 6px;

  white-space: normal;

  color: dark-gray-color;

  font-size: font-size-smaller;
  line-height: line-height-lowest;
}

.padded {
  margin-left: 20px;
}

/* Override :last-child */
.hint.hint {
  margin-bottom: 0;

  border-top: 1px solid #e5dcb8;
  background-color: #fff5cd;

  font-size: font-size-smaller;
}

.action {
  cursor: pointer;

  color: text-color;
}

/* override link */
.actionLink.actionLink {
  transition: none;
}

.hover:not(.error) {
  background-color: selected-background-color;
}

.icon {
  display: inline-block;

  width: calc(unit * 2);
  height: calc(unit * 2);
  margin-left: calc(unit * 2);

  background-repeat: no-repeat;
  background-position: center;

  background-size: contain;
}

.highlight {
  color: #d800ff;
}

.service {
  color: #b4b4b4;
}

.glyph {
  position: relative;
  top: -2px;

  float: left;

  width: 20px;
  margin-right: unit;

  color: dark-gray-color;
}

.avatar {
  composes: glyph;

  top: 0;
}

.hidden {
  visibility: hidden;
}

.rightGlyph {
  composes: glyph;

  float: right;

  margin-right: 0;
  margin-left: calc(unit * 2);
}

.checkbox {
  composes: rightGlyph;

  width: auto;

  color: text-color;
}

.title {
  display: block;

  margin-top: 10px;
  margin-bottom: 6px;
  padding: listSpacing calc(unit * 2) 0;

  text-align: left;

  &_first {
    margin-top: 0;
  }
}

.text {
  letter-spacing: 1.5px;
  text-transform: uppercase;

  color: dark-gray-color;

  font-size: font-size-smaller;
}

.fade {
  position: absolute;
  bottom: 0;

  width: 100%;
  height: calc(unit * 3);

  pointer-events: none;

  background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.8), white-color);
}
