// Global variables
$ring-unit: 8px;

$ring-link-color:  #1866c5;
$ring-link-hover-color: #ff5a00;

// Mixins
@mixin text-color() {
  color: #333;
}

@mixin link-color() {
  color: #3881C9;
}

@mixin warning-color() {
  color: #E3A948;
}

@mixin error-color() {
  color: #DC6E5F;
}

@mixin retina-ratio($ratio: 2) {
  $dpi: $ratio * 96;
  $opera-ratio: $ratio * 100;
  @media
  only screen and (-webkit-min-device-pixel-ratio: #{$ratio}),
  only screen and (   min--moz-device-pixel-ratio: #{$ratio}),
  only screen and (     -o-min-device-pixel-ratio: '#{$opera-ratio}/100'),
  only screen and (        min-device-pixel-ratio: #{$ratio}),
  only screen and (                min-resolution: #{$dpi}dpi),
  only screen and (                min-resolution: #{$ratio}dppx) {
    @content;
  }
}

// Fonts
@mixin ring-font() {
  font-family: "Helvetica Neue", Arial, sans-serif;
}

@mixin ring-thin-font() {
  font-weight: 200;
  font-family: "Helvetica Neue", Calibri, Arial, sans-serif;
}

@mixin ring-monospace-font() {
  font: 12px Menlo, "Bitstream Vera Sans Mono", "Ubuntu Mono", "Courier New", Courier, monospace;
}

$ring-fonts-dir: 'fonts/';

// Constant values for z-indexes.

// Invisible element is absolutely positioned element, which should be below
// all other elements on the page.
$ring-invisible-element-z-index: -1;
// Elements which should overlay all other elements on the page.
$ring-overlay-z-index: 5;
// Alerts, which should de displayed above overlays.
$ring-alert-z-index: 6;