@import "../global/variables.css";

@value unit from "../global/global.css";
@value padding: 2px;
@value disabled-line-color: rgba(255, 255, 255, 0.9);
@value duration: 300ms;
@value timing-function: cubic-bezier(0.23, 1, 0.32, 1);

.toggle {
  cursor: pointer;

  &:hover {
    & .switch {
      background-color: var(--ring-border-hover-color);
    }
  }

  &.disabled {
    pointer-events: none;
  }
}

.label {
  margin-left: calc(unit / 2);
}

.leftLabel {
  margin-right: calc(unit / 2);
}

.light {
  & .switch {
    background-color: var(--ring-icon-color);

    &::before {
      background-color: var(--ring-content-background-color);
    }
  }
}

.dark {
  & .switch {
    background-color: var(--ring-hint-color);

    &::before {
      background-color: var(--ring-navigation-background-color);
    }
  }
}

.switchWrapper {
  position: relative;

  display: inline-block;

  width: calc(unit * 3);
  height: calc(unit * 2);

  vertical-align: -3px;
}

.input {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  margin: 0;

  opacity: 0;
}

.switch {
  position: relative;

  display: block;

  width: 100%;
  height: 100%;

  transition: background-color timing-function duration;

  @nest .input:focus + & {
    box-shadow: inset 0 0 0 1px var(--ring-border-hover-color), 0 0 0 1px var(--ring-border-hover-color);
  }

  border-radius: unit;

  &::before {
    position: absolute;
    top: padding;
    left: 0;

    width: calc(unit * 1.5);
    height: calc(unit * 1.5);

    content: "";

    transition: transform timing-function duration;

    transform: translateX(padding);

    border-radius: calc(unit * 0.75);
  }
}

.input:checked + .switch {
  background-color: var(--ring-main-color);
}

.input:checked + ::before {
  transform: translateX(calc(unit * 1.5 - padding));
}

.size20 {
  & .switchWrapper {
    width: calc(unit * 4);
    height: calc(unit * 2.5);

    vertical-align: -5px;
  }

  & .switch {
    border-radius: calc(unit * 1.25);

    &::before {
      width: calc(unit * 2);
      height: calc(unit * 2);

      border-radius: calc(unit);
    }
  }

  /* stylelint-disable-next-line selector-max-specificity */
  & .input:checked + ::before {
    transform: translateX(calc(unit * 2 - padding));
  }
}

.input[disabled] + ::after {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  content: "";

  border-radius: unit;
  background-image:
    linear-gradient(
      45deg,
      transparent,
      transparent 37.5%,
      disabled-line-color 37.5%,
      disabled-line-color 50%,
      transparent 50%,
      transparent 87.5%,
      disabled-line-color 87.5%,
      disabled-line-color
    );
  background-repeat: repeat;
  background-size: 4px 4px;
}

.paleSwitch.paleSwitch {
  background-color: var(--ring-pale-control-color);
}

.input:checked + .paleSwitch {
  background-color: var(--ring-border-hover-color);
}
