<!DOCTYPE html>
<html>
<head>
  <title>Revision graph test</title>
  <style type="text/css">
    .revision-item_revision {
      height: 20px;
      margin-bottom: 5px;
      background: #EEE;
    }
  </style>
  <script src="//cdnjs.cloudflare.com/ajax/libs/require.js/2.1.14/require.min.js"></script>
</head>

<body>

<div id="revisions">
  <div class="revision-item_revision">Revision</div>
  <div class="revision-item_revision">Revision</div>
  <div class="revision-item_revision">Revision</div>
  <div class="revision-item_revision">Revision</div>
  <div class="revision-item_revision">Revision</div>
  <div class="revision-item_revision">Revision</div>
  <div class="revision-item_revision">Revision</div>
  <div class="revision-item_revision">Revision</div>
  <div class="revision-item_revision">Revision</div>
  <div class="revision-item_revision">Revision</div>
  <div class="revision-item_revision">Revision</div>
  <div class="revision-item_revision">Revision</div>
  <div class="revision-item_revision">Revision</div>
  <div class="revision-item_revision">Revision</div>
  <div class="revision-item_revision">Revision</div>
  <div class="revision-item_revision">Revision</div>
  <div class="revision-item_revision">Revision</div>
  <div class="revision-item_revision">Revision</div>
  <div class="revision-item_revision">Revision</div>
  <div class="revision-item_revision">Revision</div>
  <div class="revision-item_revision">Revision</div>
  <div class="revision-item_revision">Revision</div>
  <div class="revision-item_revision">Revision</div>
  <div class="revision-item_revision">Revision</div>
  <div class="revision-item_revision">Revision</div>
  <div class="revision-item_revision">Revision</div>
  <div class="revision-item_revision">Revision</div>
  <div class="revision-item_revision">Revision</div>
  <div class="revision-item_revision">Revision</div>
  <div class="revision-item_revision">Revision</div>
</div>

<script>
  requirejs.config({
    "baseUrl": "",
    "paths": {
      "jquery": "https://code.jquery.com/jquery-2.1.1.min",
      "jquery.debounce": "//cdnjs.cloudflare.com/ajax/libs/jquery-throttle-debounce/1.1/jquery.ba-throttle-debounce.min",
      "Modernizr": "//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.min"
    },
    shim: {
      "jquery.debounce": "jquery",
      "Modernizr": {
        exports: "Modernizr"
      }
    }
  });

  require(["jquery", "revision-graph"], function($, RevisionGraph) {
    $(function() {
      $.getJSON('revision-graph.test.json', function(data) {
        var graph = new RevisionGraph(document.getElementById("revisions"));
        graph.setGraph(data);
        graph.resize(false);
      });
    });
  });
</script>
</body>

</html>