.ring-loader-screen {
  position: absolute;
  width: 100%;
  height: 100%;

  text-align: center;
  vertical-align: middle;

  .ring-loader-screen__loader {
    display: inline-block;
  }

  &:before {
    content: '';
    display: inline-block;
    height: 100%;

    vertical-align: middle;
  }
}
