.ring-scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.ring-scrollbar::-webkit-scrollbar-track-piece {
  background-color: transparent;
}

.ring-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, .25);

  &:hover {
    background-color: rgba(0, 0, 0, .5);
  }
}
