<example name="Auth">
  <file type="html">
    <div id="example">
    </div>
  </file>

  <file type="js">
    var Auth = require('ring-ui/components/auth/auth');
    var hubConfig = require('ring-ui/site/hub-config');
    // Example config:
    // var hubConfig = {
    //   serverUri: 'https://hub.jetbrains.com/',
    //   client_id: '81a0bffb-6d0f-4a38-b93a-0a4d1e567698',
    //   request_credentials: 'skip',
    //   redirect_uri: window.location.href.split('#')[0]
    // };

    var log = function (title) {
      return function (obj) {
        var titleElem = document.createElement('h3');
        var jsonElem = document.createElement('div');

        titleElem.innerHTML = title;
        jsonElem.innerHTML = JSON.stringify(obj);

        document.getElementById('example').appendChild(titleElem);
        document.getElementById('example').appendChild(jsonElem);
      };
    };

    var auth = new Auth(hubConfig);

    auth.init().
      then(log('location to restore')).
      then(function () {
        return auth.requestToken();
      }).
      then(log('token')).
      then(function (token) {
        return auth.requestUser();
      }).
      then(log('user profile data')).
      catch(log('error'));
  </file>
</example>
