<example name="Autofocus Ng">
  <file type="html">
    <div ng-app="Ring.autofocus" ng-strict-di class="test-container">
      <input class="ring-input" rg-autofocus="true"
        placeholder="Should be in focus"/>
    </div>
  </file>
  <file type="css">
    :global(.test-container) {
      padding: 8px;
    }
  </file>
  <file type="js">
    import 'ring-ui/components/input/input.scss';
    import 'angular';
    import 'ring-ui/components/autofocus-ng/autofocus-ng';
  </file>
</example>

<example name="Autofocus on select">
  <file type="html">
    <div ng-app="testApp" ng-strict-di ng-controller="testCtrl" class="test-container">
      <rg-select options="item in []" rg-autofocus="true"></rg-select>
    </div>
  </file>
  <file type="css">
    :global(.test-container) {
      padding: 8px;
    }
  </file>
  <file type="js">
    import 'angular';
    import 'ring-ui/components/select-ng/select-ng';
    import 'ring-ui/components/autofocus-ng/autofocus-ng';

    angular.module('testApp', ['Ring.select', 'Ring.autofocus']).
      controller('testCtrl', function ($scope) {});
  </file>
</example>
