@import '../global/global';

.ring-icon {
  display: inline-block;
  fill: #888;
  position: relative;
  vertical-align: middle;
}

// Available icon sizes.
.ring-icon_16 {
  height: 16px;
  width: 16px;
}

.ring-icon_32 {
  height: 32px;
  width: 32px;
}

.ring-icon_64 {
  height: 64px;
  width: 64px;
}

.ring-icon_128 {
  height: 128px;
  width: 128px;
}
