
@import '../global/global';

.ring-icon {
  display: inline-block;
  color: $ring-color-dark-gray;
  fill: currentColor;
  position: relative;
  vertical-align: middle;
}

// Available icon sizes.
.ring-icon_14 {
  height: 14px;
  width: 14px;
}

.ring-icon_16 {
  height: 16px;
  width: 16px;
}

.ring-icon_32 {
  height: 32px;
  width: 32px;
}

.ring-icon_48 {
  height: 48px;
  width: 48px;
}

.ring-icon_64 {
  height: 64px;
  width: 64px;
}

.ring-icon_128 {
  height: 128px;
  width: 128px;
}

// Available icon colours
.ring-icon_gray {
  color: $ring-color-gray;
}

.ring-icon_hover {
  color: $ring-link-hover-color;
}

.ring-icon_green {
  color: $ring-color-green;
}

.ring-icon_orange {
  color: $ring-link-hover-color;
}

.ring-icon_red {
  color: $ring-color-error;
}

.ring-icon_blue {
  color: $ring-color-blue;
}

.ring-icon_white {
  color: #fff;
}
