
@import '../global/global';

.ring-icon {
  display: inline-block;
  fill: $ring-color-dark-gray;
  position: relative;
  vertical-align: middle;
}

// Available icon sizes.
.ring-icon_16 {
  height: 16px;
  width: 16px;
}

.ring-icon_32 {
  height: 32px;
  width: 32px;
}

.ring-icon_64 {
  height: 64px;
  width: 64px;
}

.ring-icon_128 {
  height: 128px;
  width: 128px;
}

// Available icon colours
.ring-icon_light-gray {
  fill: $ring-color-gray;
}

.ring-icon_hover {
  fill: $ring-link-hover-color;
}

.ring-icon_green {
  fill: $ring-color-green;
}

.ring-icon_orange {
  fill: $ring-link-hover-color;
}

.ring-icon_red {
  fill: $ring-color-error;
}

.ring-icon_blue {
  fill: $ring-color-blue;
}
