.ring-icon_16 {
  font-size: 2.5px;
}

.ring-icon_32, .ring-icon {
  font-size: 5px;
}

.ring-icon_64 {
  font-size: 10px;
}

.ring-icon_128 {
  font-size: 20px;
}

@media \0screen\,screen\9 {
  background-image: url("icon.png");
}