.tooltip {
  @include background-clip(padding-box);
  @include box-sizing(border-box);

  background: #FFF;

  padding: 6px 8px;

  border: 1px solid;
  border-color: #ccc #666 #666 #ccc;
  border-color: rgba(0, 0, 0, 0.2);
  @include box-shadow(0 5px 10px rgba(0, 0, 0, 0.2));

  z-index: 1000;
}

.tooltip__content {
  text-align: center;
}

.tooltip__arrow,
.tooltip__arrow:after {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}

.tooltip__arrow:after {
  content: "";
  top: 1px;
  margin-left: -5px;
  border-width: 5px;
  border-bottom-color: #FFF;
  border-top-width: 0;
}

.tooltip__arrow {
  top: -5px;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-bottom-color: #999;
  border-bottom-color: rgba(0, 0, 0, 0.25);
  border-top-width: 0;
}

/* Global tooltip (loading indicator, other system messages) */
.tooltip_global {
  z-index: 2;
  position: absolute;
  width: 100%;
  text-align: center;
}

.tooltip_global__content {
  display: inline-block;
  padding: 3px 10px;
  @include border-radius(0 0 3px 3px);
  color: #FFF;
  background-color: #F76A04;
  text-align: left;
}

.tooltip_global__content .icon-spin {
  height: auto;
}