@import "../global/global";

.dropdown-select {
  display: inline-block;
}

.dropdown-select__toggle {
  cursor: text;

  .ring-input_icon + & {
    top: 0;
    padding-right: $ring-unit;

    color: #888;
    font-size: 12px;
  }
}