@import "../global/global";

.ring-alerts {
  left: 0;
  overflow: visible;
  position: absolute;
  right: 0;
  top: 0;
  z-index: $ring-alert-z-index;

  .ring-alert {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
    width: $ring-unit * 55;
  }
}

.ring-alert {
  background: #fff;
  border: solid 1px $ring-border-color;
  border-radius: 3px;
  box-sizing: border-box;
  font-size: 13px;
  line-height: $ring-unit * 5;
  margin: $ring-unit auto;
  min-height: $ring-unit * 5;
  padding: 0 $ring-unit*2;
  position: relative;

  @include ring-font();

  &.ring-alert_inline {
    margin: $ring-unit;
  }
}

.ring-alert__caption {
  line-height: 1.2;
}

.ring-alert__icon {
  display: inline-block;
  margin-right: $ring-unit;
  vertical-align: top;

  @include vertical-compensation(-2px);
}

.ring-alert__caption {
  display: inline-block;
  margin: $ring-unit $ring-unit*4 $ring-unit 0;
  vertical-align: middle;
}

.ring-alert__close {
  cursor: pointer;
  position: absolute;
  right: $ring-unit;
  top: 0;
}

$enter-animation-duration: 300ms;
$enter-animation-easing: ease-out;

$leave-animation-duration: 400ms;
$leave-animation-easing: ease-out;

.alert-enter {
  margin-top: -4 * $ring-unit;
  transition: margin-top $enter-animation-duration $enter-animation-easing;
}

.alert-enter.alert-enter-active {
  margin-top: $ring-unit;
}

.alert-leave {
  opacity: 1;
  transform: scale(1);
  transition: transform $leave-animation-duration $leave-animation-easing,
              opacity $leave-animation-duration $leave-animation-easing;
}

.alert-leave.alert-leave-active {
  opacity: 0;
  transform: scale(1.5);
}
