@import "../global/global";

.ring-alerts {
  left: 0;
  overflow: visible;
  position: absolute;
  right: 0;
  top: 0;
  z-index: $ring-alert-z-index;
}

.ring-alert {
  background: #fff;
  border: solid 1px #ccc;
  box-sizing: border-box;
  font-size: 13px;
  margin: $ring-unit auto;
  padding: $ring-unit;
  padding-right: $ring-unit*3;
  position: relative;
  width: $ring-unit * 40;

  @include ring-font();

  &.ring-alert_inline {
    margin: $ring-unit;
    width: auto;
  }
}

.ring-alert__close {
  border: solid 1px #ccc;
  cursor: pointer;
  padding: $ring-unit;
  position: absolute;
  right: $ring-unit;
  top: $ring-unit;
}

$enter-animation-duration: 300ms;
$enter-animation-easing: ease-out;

$leave-animation-duration: 400ms;
$leave-animation-easing: ease-out;

.alert-enter {
  margin-top: -4 * $ring-unit;
  transition: margin-top $enter-animation-duration $enter-animation-easing;
}

.alert-enter.alert-enter-active {
  margin-top: $ring-unit;
}

.alert-leave {
  opacity: 1;
  transform: scale(1);
  transition: transform $leave-animation-duration $leave-animation-easing,
              opacity $leave-animation-duration $leave-animation-easing;
}

.alert-leave.alert-leave-active {
  opacity: 0;
  transform: scale(1.5);
}
