@mixin background-image-retina($dataURI1, $dataURI2, $width, $height) {
  background-image: url(#{$dataURI1});

  @media  only screen and (min-device-pixel-ratio: 2),   
          only screen and (min-resolution: 192dpi) {  
    & {
      background-image: url(#{$dataURI2});
      background-size: $width $height;
    }
  }
}

.ring-tree {
  padding: 0;
  list-style: none;
	
  .ring-tree__item {
    padding-left: 1rem;
  }

  .ring-tree__item-name {
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }

  .ring-tree__item-file {

  }

  .ring-tree__item-dir {
    position: relative;

    &:before {
      position: absolute;
      left: 0;
      top: 0;
      height: 1em;
      width: 1em;
      background-repeat: no-repeat;
      background-position: center;
      content: "";
      @include background-image-retina("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAHNJREFUeNpi/P//PwMlgImBQkCxASy4JKqrq9uBVBUQw/3Y2tpKkgsqgHgxELNR4oVoIN4OxLyUhIETEO8GYlFKAtEciBdRYsBpII4j14B9QOwKxK/JMWApEHsC8UdyArEbiGOB+Bc+GxiHfl6g2ACAAAMA6LcWHlEWBKEAAAAASUVORK5CYII=",
        "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAANRJREFUeNpi/P//P8NAAsZRB4w6YMg5oKCgoAtIlQMxXo0TJkwgyjwmMhxdCsSLgZiNGiHARKa+aCDeDsT8A+UAEHAC4j1ALDpQDgABEyA+BsQqA+UABqjlIEeYD5QDGKDRsBsaLQPiABDghSbM6IFyAAM0a4KyaMVAOYBkwEJl834BcRIQLx0IB3wC4kAg3jcQIfAaiH2B+ORARMEdIPaE0nQvB04BsRW5llPqAFBcu0GDn+51wVJosH8ciNoQ1CCJhWa50TbhqANGHTDqAIoBQIABAOyWSoNHC+f4AAAAAElFTkSuQmCC",
        1rem, 1rem);
    }

    > .ring-tree {
      display: none;
    }
  }

  .ring-tree__item-dir--opened {
    &:before {
      @include background-image-retina("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAGtJREFUeNpi/P//PwMlgImBQjBqAAMDC7pAdXV1O5CqwKOnu7W1tQyfC6qAeCkOzSDxckJeACWMJCDehya+Dyr+n5gw+AXEAUB8Eso/DcRBUHGiA/EzEPsC8Q4g9gbij9gUMY4mZcoNAAgwADOZGPK6qJbFAAAAAElFTkSuQmCC",
        "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAMBJREFUeNpi/P//P8NAAsZRB4w6YNQBow4YdQA+BxQUFHQCqTIK7eieMGECTjOYCGiuAOKlFFgO0luOTwEhB4CCJwmI95Fh+T6o3v+UOAAEfgFxEBCfIsHyM1A9vwgpZCLSwI9A7APEd4hQC1LjBdXDQC0HgMBrIPaE0pSoIdsBMN/5AvEnLHKfoXJ3SDGQiYzEdRKIA9HiF8QOgMox0NoB6CmckpzCwEJhHpdFYo/WBaMOGHXAqANGHTA0HQAQYADHc2r9o9RCNgAAAABJRU5ErkJggg==",
        1rem, 1rem);
    }
    
    > .ring-tree {
      display: block;
    }
  }
}