@import "../global/variables.css";

/**
  These styles are deprecated and kept for backward compatibility with direct class usages
  like `<a class="ring-link">link</a>
 */

:global .ring-link {
  & {
    cursor: pointer;
    transition: color var(--ring-fast-ease);

    text-decoration: none;

    color: var(--ring-link-color);
  }

  &:hover {
    transition: none;

    text-decoration: underline;

    color: var(--ring-link-hover-color);
  }
}

:global .ring-link_inherit:not(:hover) {
  color: inherit;
}
