@import "../global/global";

.ring-textarea {
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  border: 1px solid $ring-gray-color;
  background-color: #FFF;

  @include ring-font;
  font-size: $ring-font-size;
  line-height: 20px;

  &:active, &:focus,
  &_active,
  &_focus {
    border-color: $ring-blue-color;
    outline: 0;
  }

  &:disabled,
  &_disabled {
    border-color: #DEDEDE;
    background-color: #F8F8F8;
  }

  &_correct {
    border-color: $ring-green-color;
  }

  &_error {
    border-color: #F00;
  }
}
