{{> dropdown__items }}
{{#if description}}
  <span class="ring-dropdown__item ring-dropdown__item_hint">
          <span class="ring-dropdown__item__type"></span>
          <span class="ring-dropdown__item__content">{{ description }}</span>
      </span>
{{/if}}