@import '../global/variables.css';

.table {
  width: 100%;

  border-collapse: collapse;
  border-style: none;
}

.headerRow {
  border-bottom: 1px solid var(--ring-line-color);
}

.headerCell {
  position: relative;

  padding: calc(var(--ring-unit) * 0.75) var(--ring-unit);

  transition: background-color var(--ring-fast-ease), border-color var(--ring-fast-ease);

  text-align: left;

  color: var(--ring-secondary-color);
  border-left: 1px solid transparent;

  font-size: var(--ring-font-size-smaller);
  font-weight: normal;

  &:last-child {
    border-right: 1px solid transparent;
  }

  &:hover {
    border-left-color: var(--ring-line-color);
    background-color: var(--ring-grey-container-light-color);

    &:last-child {
      border-right-color: var(--ring-line-color);
    }

    & + .headerCell {
      border-left-color: var(--ring-line-color);
    }
  }
}

.row {
  border-bottom: 1px solid var(--ring-line-color);
}

.clickableRow {
  cursor: pointer;

  transition: background-color var(--ring-fast-ease);

  &:not(.selectedRow):hover {
    background-color: var(--ring-hover-background-color);
  }
}

.selectedRow {
  background-color: var(--ring-selected-background-color);
}

.cell {
  padding: var(--ring-unit);
}

.headerButton {
  margin: unset;
  padding: unset;

  cursor: pointer;

  transition: color var(--ring-fast-ease);
  text-align: unset;

  color: unset;
  border: unset;
  background: unset;

  font: unset;

  &:hover {
    color: var(--ring-main-hover-color);
  }
}

.deleteColumnButton {
  float: right;
}
