.tdUrl {
  overflow: hidden;

  max-width: 100px;

  white-space: nowrap;
  text-overflow: ellipsis;
}

.thWithCheckbox label {
  color: unset;
}

.scroller {
  overflow-y: scroll;

  height: 300px;
}

.noChildrenChevronPadding {
  padding-left: 16px;
}

.tdWithChevron {
  box-sizing: border-box;
  width: 190px;
}

.chevron {
  transition: transform var(--ring-fast-ease);
}

.chevronExpanded {
  transform: rotate(90deg);
}

.tcColumnEditingCheckboxWr {
  padding-left: 45px;
}

.teamCityBuilds {
  max-width: 100%;

  table-layout: fixed;

  & td > div {
    overflow: hidden;

    white-space: nowrap;
    text-overflow: ellipsis;
  }

  td:nth-child(2) {
    position: relative;

    &::before {
      position: absolute;
      top: 0;
      left: 0px;

      width: 4px;
      height: calc(100% + 1px);

      content: '';
    }
  }
}

.chevronTd {
  th& {
    /* No on-hover bg+borders change */

    pointer-events: none;
  }

  width: 12px;

  transition: opacity var(--ring-fast-ease);

  opacity: 0;

  border-bottom-color: transparent;

  .teamCityBuild:hover &,
 .teamCityBuild:focus-within & {
    opacity: 1;
  }
}

.checkboxTd {
  th& {
    pointer-events: none;
  }

  width: 48px;
}

.starIcon {
  margin-left: 4px;

  transform: translateY(1px);

  color: var(--ring-icon-color);
}

/* stylelint-disable-next-line selector-max-specificity */
.teamCityBuild:has(+ .buildDetails) > td:not(:first-child) {
  border-bottom-color: rgba(var(--ring-line-components), 0.5);
}

.teamCityBuild,
 .buildDetails {
  /* stylelint-disable-next-line selector-max-specificity */
  & > td:nth-child(2)::before {
    border-top-left-radius: var(--ring-border-radius);
    border-bottom-left-radius: var(--ring-border-radius);
  }
}

/* stylelint-disable-next-line selector-max-specificity */
.teamCityBuild:focus + .buildDetails,
 .teamCityBuild:has(+ .buildDetails:focus) {
  /* stylelint-disable-next-line selector-max-specificity */
  & > td:nth-child(2)::before {
    background-color: rgba(var(--ring-main-components), 0.3);
  }
}

/* stylelint-disable-next-line selector-max-specificity */
.teamCityBuild:has(+ .buildDetails) > td:nth-child(2)::before {
  border-bottom-left-radius: 0;
}

/* stylelint-disable-next-line selector-max-specificity */
.teamCityBuild + .buildDetails > td:nth-child(2)::before {
  border-top-left-radius: 0;
}

.teamCityBuild:focus,
 .buildDetails:focus {
  outline: none;

  /* stylelint-disable-next-line selector-max-specificity */
  & > td:nth-child(2)::before {
    background-color: var(--ring-main-color);
  }
}

.columnAnimationEmulator {
  position: absolute;
  top: 0;

  height: 100%;

  pointer-events: none;
}

.teamCityBuildDetails {
  & td {
    position: relative;

    padding-top: calc(var(--ring-unit) * 0.5);
    padding-bottom: calc(var(--ring-unit) * 0.25);

    vertical-align: top;

    border: 0;

    &:first-child {
      font-weight: 600;
    }
  }

  & ul {
    margin: 0;
  }
}
