
/* TODO: Replace with palette colors */
@value disabled-color: #C3120F;
@value gray-background-color: #F8F8F8;
@value disabled-background-color: #EBD9DA;
@value normal-border-color: #F0F0F0;
@value disabled-border-color: #EBD9DA;

.badge {
  display: inline-block;

  box-sizing: border-box;
  height: 20px;
  padding: 0 var(--ring-unit);

  cursor: default;

  vertical-align: baseline;

  color: var(--ring-secondary-color);
  border: 1px normal-border-color solid;
  border-radius: var(--ring-border-radius);
  background-color: var(--ring-content-background-color);

  font-size: var(--ring-font-size-smaller);
  font-weight: normal;
  font-style: normal;
  line-height: 17px;

  &.gray {
    background-color: gray-background-color;
  }

  &.valid {
    color: var(--ring-success-color);
  }

  &.invalid {
    color: var(--ring-error-color);
  }

  &.disabled {
    color: disabled-color;
    border-color: disabled-border-color;
    background-color: disabled-background-color;
  }
}
