@import "../global/global";

.ring-badge {
  margin: 0 $ring-unit;
  padding: 2px $ring-unit;
  border: 1px #F0F0F0 solid;
  border-radius: $ring-border-radius;

  color: #8C8C8C;
  background-color: #FFF;

  font-style: normal;
  font-weight: normal;
  font-size: $ring-font-size-smaller;

  vertical-align: middle;
}

.ring-badge_valid {
  color: #89AF31;
}

.ring-badge_invalid {
  color: #C3120F;
}

.ring-badge_disabled {
  border: none;
  color: #C3120F;
  background-color: #EBD9DA;
}
