<div class="ring-save-field" ng-form="saveFieldForm" rg-shortcuts="ring-save-field" shortcuts-map="keyMap" shortcuts-focus="focus">
  <span ng-transclude=""></span>
  <div rg-error-bubble="saveFieldForm"></div>
  <button ng-show="saveFieldForm.$dirty && saveFieldForm.$valid"
          ng-disabled="loading"
          class="ring-btn ring-btn_blue ring-save-field__button"
          ng-click="submitChanges($event)"
          ng-mousedown="cancelBlur()">
    {{wording.save}}
  </button>
  <span class="ring-save-field__loader" ng-show="loading">
      <span react-static="LoaderInline"></span>
  </span>
  <button ng-show="done"
          disabled
          class="ring-btn ring-save-field__button">
    {{wording.saved}}
    </button>
</div>
