<div class="ring-save-field" ng-form="saveFieldForm">
  <span ng-transclude=""></span>
  <div rg-error-bubble="saveFieldForm"></div>
  <span class="ring-save-field__button">
    <button ng-show="saveFieldForm.$dirty && saveFieldForm.$valid"
            class="ring-btn ring-btn_blue"
            ng-click="submitChanges($event)"
            ng-mousedown="cancelBlur()">
      {{wording.save}}
    </button>
    <button ng-show="done"
            disabled
            class="ring-btn">
      {{wording.saved}}
    </button>
  </span>
</div>
