@import "../global/variables.css";

@value unit from "../global/global.css";

:global(.ring-save-field) {
  display: inline-block;
}

:global(.ring-save-field .ring-save-field__button) {
  margin-left: unit;

  vertical-align: top;
}
