@import url("../global/variables.css");
@import "../global/global";

.ring-save-field {
  font-size: 0;
  line-height: 0;
  display: inline-block;

  .ring-save-field__button {
    margin-left: $ring-unit;
    vertical-align: top;
  }
}
