@import "../global/global";

.ring2-header {
  box-sizing: border-box;
  height: $ring-unit * 7;
  line-height: $ring-unit * 7;
  margin-bottom: 1px;
  padding: 0 $ring-unit * 4;
  position: relative;

  &.ring2-header_border:after {
    border-bottom: solid 1px #ccc;
    bottom: 0;
    content: '';
    left: $ring-unit * 4;
    position: absolute;
    right: $ring-unit * 4;
  }

  @include clearfix();
  @include ring-font();
}

.ring2-header__logo,
.ring2-header__menu {
  display: inline-block;
  vertical-align: middle;
}

.ring2-header__logo {
  margin-right: $ring-unit * 4;
  @include vertical-compensation(-1px);
}

.ring2-header__user-menu {
  float: right;
}

.ring2-header__menu-item,
.ring2-header__user-menu-item {
  display: inline-block;
  line-height: 1.2;
  vertical-align: middle;

  a {
    color: $ring-link-color;
    text-decoration: none;

    &:hover {
      color: $ring-link-hover-color;
      text-decoration: underline;
    }
  }
}

.ring2-header__user-menu-item_icon {
  .ring-icon {
    cursor: pointer;
    fill: $ring-color-gray;
    margin-right: $ring-unit*2;
    padding: $ring-unit;

    &:hover {
      fill: $ring-link-hover-color;
    }
  }

  .ring-icon_blue {
    fill: $ring-color-blue;
  }

  &:last-child {
    .ring-icon {
      margin-right: 0;
    }
  }

  &.ring-icon_24 {
    padding: 0;
  }
}

.ring2-header__menu-service {
  background: linear-gradient(#1e262c, #3c4449);
  border-bottom: solid 1px #000;
  box-sizing: border-box;
  height: $ring-unit*17;
  margin: -1px (-$ring-unit*4) 0;
  overflow: hidden;
  position: relative;
}

.ring2-header__menu-service-inner {
  bottom: 0;
  height: $ring-unit*17;
  line-height: $ring-unit * 17;
  position: absolute;
  text-align: center;
  width: 100%;
}

.ring2-header__menu-service-item {
  display: inline-block;
  line-height: 1.2;
  margin: 0 $ring-unit*5;
  vertical-align: middle;

  a {
    color: #fff;
    text-decoration: none;
  }

  a:hover {
    color: $ring-link-hover-color;
    text-decoration: underline;
  }

  .ring-icon {
    fill: #fff;
    padding-bottom: $ring-unit;
  }
}

.ring2-header__service-menu-enter {
  height: 0;
  transition: height 200ms ease-out;
}

.ring2-header__service-menu-enter-active {
  height: $ring-unit*17;
}

.ring2-header__service-menu-leave-active {
  height: $ring-unit*17;
  transition: height 250ms ease-out;
}

.ring2-header__service-menu-leave-active {
  height: 0;
}
