@import "../global/global";

.ring-footer {
  position: relative;
  height: $ring-unit*8;
  margin: $ring-unit*5 $ring-unit*4 0 $ring-unit*4;
  padding-top: $ring-unit*2;
  border-top: 1px solid #E5E5E5;

  color: #6E6E6E;
  text-align: center;
  font-size: 11px !important;
  @include ring-font();

  &.ring-footer_floating {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-right: 0;
    margin-left: 0;
  }
}

.ring-footer__column {
  position: absolute;
  width: 33%;
}

.ring-footer__column__i {
  display: inline-block;
  margin: 0;
  padding: 0;

  vertical-align: top;
}

.ring-footer__column_left {
  left: 0; // IE 7

  text-align: left;
}

.ring-footer_gray .ring-footer__column_left {
  padding-left: $ring-unit*3;
}

.ring-footer__column_center {
  left: 33.6%;
}

.ring-footer__column_right {
  top: $ring-unit*2;
  right: 0;

  text-align: right;
}

.ring-footer_gray .ring-footer__column_right {
  padding-right: $ring-unit*3;
}

.ring-footer__line {
  list-style: none;
  padding: 0;
  line-height: 16px !important;
}

.ring-footer__column_center .ring-footer__line {
  text-align: left;
}
