@value unit from '../global/global.css';

.dialogContent {
  width: auto;
  padding: calc(unit * 3) 0 calc(unit * 2);
}

.text {
  overflow-y: auto;

  width: 600px;
  max-height: 300px;
  padding: calc(unit * 2);

  border: 1px solid #e7ebf0;
  background-color: #fafafa;
}
