<example name="User Agreement">
  <file type="html"}>
    <div id="demo"></div>
  </file>

  <file type="js">
    import React, {Component} from 'react';
    import {render} from 'react-dom';
    import UserAgreement from '@jetbrains/ring-ui/components/user-agreement/user-agreement';
    import text from './toolbox.eula';

    const onAccept = () => console.log('accept');

    const onDecline = () => console.log('decline');

    const onClose = () => console.log('close');

    class Demo extends Component {
      render() {
        return (
          <div>
             <UserAgreement
               show
               text={text}
               onAccept={onAccept}
               onDecline={onDecline}
               onClose={onClose}
             />
          </div>
         );
       }
    }

    render(<Demo />, document.getElementById('demo'));
  </file>
 </example>
