@value unit, extra-small-screen-media from '../global/global.css';

.dialogContent {
  max-width: 600px;

  @media extra-small-screen-media {
    & {
      max-width: 90vw;
    }
  }
}

.scrollableWrapper {
  padding-top: 0;
}

.suggestion {
  white-space: nowrap;

  font-size: 12px;
}
