@import '../global/variables.css';

@value button from '../button/button.css';

.buttonToolbar {
  display: inline-block;

  white-space: nowrap;

  font-size: 0;
  line-height: 0;
}

.buttonToolbar > button,
.buttonToolbar > :global(.ring-button-group),
.buttonToolbar > .button,
.buttonToolbar > .buttonGroup,
.buttonToolbar > .split,
.buttonToolbar > .buttonToolbar {
  margin-right: var(--ring-unit);
}

.buttonToolbar > :last-child {
  margin-right: 0;
}
