/**
 * @name Island Legacy
 */

:global(.ring-island) {
  min-width: calc(var(--ring-unit) * 25 - 2px);

  color: var(--ring-text-color);

  border: 1px solid;
  border-color: var(--ring-line-color);
  border-radius: var(--ring-border-radius);

  background-color: var(--ring-content-background-color);
  box-shadow: 0 1px 4px var(--ring-popup-shadow-color);

  font-family: var(--ring-font-family);

  font-size: var(--ring-font-size);
}

:global(.ring-island_stack-right) {
  border-right: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;

  box-shadow: none;
}

:global(.ring-island_stack-left) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;

  box-shadow: none;
}

:global(.ring-island__header) {
  min-height: calc(var(--ring-unit) * 3 - 2px);

  border-bottom: 1px solid var(--ring-line-color);
  border-top-left-radius: var(--ring-border-radius);
  border-top-right-radius: var(--ring-border-radius);

  background-color: var(--ring-content-background-color);

  line-height: calc(var(--ring-unit) * 3 - 2px);
}

:global(.ring-island__header-btn),
:global(.ring-island__header-button) {
  float: right;

  padding: 0 calc(var(--ring-unit) * 2 - 1px);

  /* -1 to account for border */

  cursor: pointer;

  user-select: none;

  color: var(--ring-secondary-color);

  border-left: 1px solid var(--ring-disabled-color);
  text-shadow: var(--ring-white-text-color) 0 0 1px;

  font-size: var(--ring-font-size-smaller);
}

:global(.ring-island__header-btn),
:global(.ring-island__header-button:hover) {
  background: var(--ring-hover-background-color)
    linear-gradient(to top, var(--ring-hover-background-color), var(--ring-content-background-color));
}

:global(.ring-island__header-btn),
:global(.ring-island__header-button:active) {
  background: var(--ring-content-background-color) none;
  box-shadow: 0 0 4px 0 var(--ring-content-background-color) inset;
}

:global(.ring-island__header-btn),
:global(.ring-island__header-button:last-child) {
  border-top-right-radius: 3px;
}

:global(.ring-island__title) {
  display: block;
  float: left;

  padding: 0 calc(var(--ring-unit) * 4);

  font-weight: var(--ring-font-weight-bold);
}

:global(.ring-island__content) {
  margin: calc(var(--ring-unit) * 2) calc(var(--ring-unit) * 4);
}
