@import "../global/global";

.ring-avatar-editor {
  position: relative;
  width: $ring-unit*6;
  height: $ring-unit*6;
  text-align: center;
  padding: 1px;

  &:after {
    content: '';
    display: inline-block;
    width: 0;
    height: $ring-unit*6;
    vertical-align: middle;
  }
}

.ring-avatar-editor_right {
  float: right;
}

.ring-avatar-editor:hover:not(:disabled):not(.ring-avatar-editor_controlled) {
  border: 1px solid $ring-link-hover-color;
  padding: 0;

  .ring-avatar-editor__ico, .ring-avatar-editor__icon_14 {
    visibility: visible;
  }

  .ring-avatar-editor__img {
    outline: 0;
  }

  &:before {
    content: '';

    position: absolute;
    left: 0;
    top: 0;

    width: 100%;
    height: 100%;

    @include rgba-attribute('background-color', rgba(0, 0, 0, 0.8));
  }
}

.ring-avatar-editor__img {
  max-width: $ring-unit*6;
  max-height: $ring-unit*6;
  vertical-align: middle;
  cursor: pointer;
}

.ring-avatar-editor__file-input {
  visibility: hidden;
  position: absolute;
  left: -10000px;
}

.ring-avatar-editor__ico {
  visibility: hidden;
  position: absolute;
  top: 17px;
  left: 20px;
  color: #FFF;
}

.ring-avatar-editor__icon_14 {
  visibility: hidden;
  position: absolute;
  top: 11px;
  left: 17px;
  color: #FFF;
}

.ring-avatar-editor__frame {
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
  border: 1px solid $ring-color-gray;
  padding: 0;
}

.ring-avatar-editor__remove {
  display: inline-block;
  vertical-align: top;
  margin-left: 2*$ring-unit;
}
