@import "../global/global";

// Using a pseudo-element rather than the element itself to prevent
// SVG icons from disappearing when the class name is toggled
// See https://youtrack.jetbrains.com/issue/RG-755
.error-page:before {
  content: '';
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: $ring-invisible-element-z-index;
}

.error-page_enabled:before {
  background: url('error-page.gif');
  opacity: 0.06;
}
