@import "../global/variables.css";

:global(.ring-old-browsers-message) {
  display: block;

  margin-top: 15%;

  text-align: center;

  color: var(--ring-text-color);

  font-family: system-ui, Ubuntu, "Helvetica Neue", Arial, sans-serif;
  font-size: var(--ring-font-size-larger);
  line-height: calc(2.5 * var(--ring-unit));
}

:global(.ring-old-browsers-message_hidden) {
  display: none;
}

:global(.ring-old-browsers-message__smile) {
  cursor: pointer;
  user-select: none;

  font-size: calc(3 * var(--ring-unit));
}
