@import "../global/variables.css";

@value unit from "../global/global.css";

.userCardSpaced {
  padding: calc(unit * 2) calc(unit * 2);
}

.userInformationContainer {
  display: flex;
  align-items: center;
}

.userInformation {
  padding-left: 12px;

  text-align: left;

  color: var(--ring-text-color);

  font-size: 13px;
  line-height: 18px;
}

.userName {
  display: inline-block;

  margin-right: 4px;
  margin-bottom: 3px;

  font-size: 16px;
  font-weight: 600;
}

.userNameInfo {
  display: inline-block;

  margin-right: 4px;
  margin-bottom: 3px;
}

.userActiveStatus {
  display: inline-block;

  width: unit;
  height: unit;

  margin-right: 4px;

  border-radius: 50%;
  background-color: var(--ring-icon-secondary-color);
}

.userActiveStatus.online {
  background-color: var(--ring-icon-success-color);
}
