@import "../global/variables.css";

@value unit from "../global/global.css";

.userCardSpaced {
  padding: calc(unit * 2) calc(unit * 2);
}

.userInformationContainer {
  display: flex;
  align-items: start;
}

.userInformation {
  padding-left: 12px;

  text-align: left;

  color: var(--ring-text-color);

  font-size: 13px;
  line-height: 18px;
}

.userNameLine {
  height: var(--ring-line-height);

  white-space: nowrap;

  line-height: var(--ring-line-height);
}

.userName {
  display: inline-block;

  margin-right: 4px;

  font-size: 16px;
  font-weight: 600;
}

.userLogin {
  margin-bottom: var(--ring-unit);

  color: var(--ring-secondary-color);

  font-size: var(--ring-font-size-smaller);
}

.userEmail {
  margin-right: 4px;

  font-size: var(--ring-font-size);
}

.userCopyIcon {
  cursor: pointer;

  opacity: 0;
}

.userCopyIcon svg {
  margin-left: 4px;

  color: var(--ring-link-hover-color);
}

.userEmailWrapper:hover .userCopyIcon {
  transition: opacity 300ms ease-out;

  opacity: 1;
}

.userEmailWrapper:hover .userEmail {
  color: var(--ring-link-hover-color);
}

.unverifiedLabel {
  margin: 0 4px;

  color: var(--ring-secondary-color);

  font-size: var(--ring-font-size-smaller);
}

.userNameInfo {
  display: inline-block;

  margin-bottom: 3px;
}

.userActiveStatus {
  display: inline-block;

  width: unit;
  height: unit;

  margin-right: 4px;

  border-radius: 50%;
  background-color: var(--ring-icon-secondary-color);
}

.userActiveStatus.online {
  background-color: var(--ring-icon-success-color);
}
