/* stylelint-disable color-no-hex */

:global(.ring-palette_color-0) {
  color: #444;
  background-color: transparent;
}

:global(.ring-palette_color-1),
:global(.ring-palette_tone-0-0) {
  color: #888;
  background-color: #e6e6e6;
}

:global(.ring-palette_color-2),
:global(.ring-palette_tone-1-0) {
  color: #4da400;
  background-color: #e6f6cf;
}

:global(.ring-palette_color-3),
:global(.ring-palette_tone-2-0) {
  color: #45818e;
  background-color: #d8f7f3;
}

:global(.ring-palette_color-4),
:global(.ring-palette_tone-3-0) {
  color: #3d85c6;
  background-color: #e0f1fb;
}

:global(.ring-palette_color-5),
:global(.ring-palette_tone-4-0) {
  color: #dc5766;
  background-color: #fce5f1;
}

:global(.ring-palette_color-6),
:global(.ring-palette_tone-5-0) {
  color: #b45f06;
  background-color: #ffee9c;
}

:global(.ring-palette_color-7),
:global(.ring-palette_tone-6-0) {
  color: #b45f06;
  background-color: #f7e9c1;
}

:global(.ring-palette_color-8),
:global(.ring-palette_tone-0-1) {
  color: #444;
  background-color: #bababa;
}

:global(.ring-palette_color-9),
:global(.ring-palette_tone-1-1) {
  color: #444;
  background-color: #b7e281;
}

:global(.ring-palette_color-10),
:global(.ring-palette_tone-2-1) {
  color: #444;
  background-color: #92e1d5;
}

:global(.ring-palette_color-11),
:global(.ring-palette_tone-3-1) {
  color: #444;
  background-color: #a6e0fc;
}

:global(.ring-palette_color-12),
:global(.ring-palette_tone-4-1) {
  color: #444;
  background-color: #ffc8ea;
}

:global(.ring-palette_color-13),
:global(.ring-palette_tone-5-1) {
  color: #444;
  background-color: #fed74a;
}

:global(.ring-palette_color-14),
:global(.ring-palette_tone-6-1) {
  color: #444;
  background-color: #e0c378;
}

:global(.ring-palette_color-15),
:global(.ring-palette_tone-0-2) {
  color: #fff;
  background-color: #878787;
}

:global(.ring-palette_color-16),
:global(.ring-palette_tone-1-2) {
  color: #fff;
  background-color: #7dbd36;
}

:global(.ring-palette_color-17),
:global(.ring-palette_tone-2-2) {
  color: #fff;
  background-color: #25beb2;
}

:global(.ring-palette_color-18),
:global(.ring-palette_tone-3-2) {
  color: #fff;
  background-color: #42a3df;
}

:global(.ring-palette_color-19),
:global(.ring-palette_tone-4-2) {
  color: #fff;
  background-color: #ff7bc3;
}

:global(.ring-palette_color-20),
:global(.ring-palette_tone-5-2) {
  color: #fff;
  background-color: #ff7123;
}

:global(.ring-palette_color-21),
:global(.ring-palette_tone-6-2) {
  color: #fff;
  background-color: #ce6700;
}

:global(.ring-palette_color-22),
:global(.ring-palette_tone-0-3) {
  color: #fff;
  background-color: #4d4d4d;
}

:global(.ring-palette_color-23),
:global(.ring-palette_tone-1-3) {
  color: #fff;
  background-color: #409600;
}

:global(.ring-palette_color-24),
:global(.ring-palette_tone-2-3) {
  color: #fff;
  background-color: #2f9890;
}

:global(.ring-palette_color-25),
:global(.ring-palette_tone-3-3) {
  color: #fff;
  background-color: #0070e4;
}

:global(.ring-palette_color-26),
:global(.ring-palette_tone-4-3) {
  color: #fff;
  background-color: #dc0083;
}

:global(.ring-palette_color-27),
:global(.ring-palette_tone-5-3) {
  color: #fff;
  background-color: #e30000;
}

:global(.ring-palette_color-28),
:global(.ring-palette_tone-6-3) {
  color: #fff;
  background-color: #8d5100;
}

:global(.ring-palette_color-29),
:global(.ring-palette_tone-0-4) {
  color: #fff;
  background-color: #1a1a1a;
}

:global(.ring-palette_color-30),
:global(.ring-palette_tone-1-4) {
  color: #fff;
  background-color: #246512;
}

:global(.ring-palette_color-31),
:global(.ring-palette_tone-2-4) {
  color: #fff;
  background-color: #00665e;
}

:global(.ring-palette_color-32),
:global(.ring-palette_tone-3-4) {
  color: #fff;
  background-color: #0050a1;
}

:global(.ring-palette_color-33),
:global(.ring-palette_tone-4-4) {
  color: #fff;
  background-color: #900052;
}

:global(.ring-palette_color-34),
:global(.ring-palette_tone-5-4) {
  color: #fff;
  background-color: #8e1600;
}

:global(.ring-palette_color-35),
:global(.ring-palette_tone-6-4) {
  color: #fff;
  background-color: #553000;
}
