/**
 * @name Palette
 * @description Palette is used for tags and custom-fields
 * @example
 <example name="Palette">
   <file name="index.html">
    <div ng-app="Example.palette" ng-controller="PaletteCtrl as paletteCtrl">
      <h4>ColorId</h4>
      <div ng-repeat="i in paletteCtrl.arr5" class="example">
        <div ng-repeat="j in paletteCtrl.arr7"
             ng-init="colorId = i * 7 + j"
             ng-attr-class="ring-palette_color-{{colorId}}">
          Color {{colorId}}
        </div>
      </div>
      <h4>ToneId and BrightnessId</h4>
      <div class="example" ng-repeat="toneId in paletteCtrl.arr7">
        <div><b>Tone {{toneId}}:</b></div>
        <div ng-repeat="brightnessId in paletteCtrl.arr5"
             ng-attr-class="ring-palette_tone-{{toneId}}-{{brightnessId}}">
          Brightness {{brightnessId}}
        </div>
      </div>
    </div>
   </file>
   <file name="index.scss" webpack="true">
      .example {
        margin: 4px;
        div {
          width: 90px;
          display: inline-block;
        }
      }
   </file>
   <file name="index.js" webpack="true">
      require('angular');
      require('ring-ui/components/palette/palette.scss');
      require('./index.scss');

      angular.module('Example.palette', [])
        .controller('PaletteCtrl', function() {
          function xrange(num) {
            var arr = new Array(num);
            for (var i = 0; i < arr.length; ++i) {
              arr[i] = i;
            }
            return arr;
          }
          this.arr5 = xrange(5);
          this.arr7 = xrange(7);
        });
   </file>
 </example>
 */


$palette-white-text: #FFF;
$palette-grey-text: #444;

$palette-array: // [(background, text)]

  // Brightness 1
  #E6E6E6	#888888,
  #E6F6CF	#4DA400,
  #D8F7F3	#45818E,
  #E0F1FB	#3D85C6,
  #FCE5F1	#DC5766,
  #FFEE9C	#B45F06,
  #F7E9C1	#B45F06,

  // Brightness 2
  #BABABA	$palette-grey-text,
  #B7E281	$palette-grey-text,
  #92E1D5	$palette-grey-text,
  #A6E0FC	$palette-grey-text,
  #FFC8EA	$palette-grey-text,
  #FED74A	$palette-grey-text,
  #E0C378	$palette-grey-text,

  // Brightness 3
  #878787	$palette-white-text,
  #7DBD36	$palette-white-text,
  #25BEB2	$palette-white-text,
  #42A3DF	$palette-white-text,
  #FF7BC3	$palette-white-text,
  #FF7123	$palette-white-text,
  #CE6700	$palette-white-text,

  // Brightness 4
  #4D4D4D	$palette-white-text,
  #409600	$palette-white-text,
  #2F9890	$palette-white-text,
  #0070E4	$palette-white-text,
  #DC0083	$palette-white-text,
  #E30000	$palette-white-text,
  #8D5100	$palette-white-text,

  // Brightness 5
  #1A1A1A	$palette-white-text,
  #246512	$palette-white-text,
  #00665E	$palette-white-text,
  #0050A1	$palette-white-text,
  #900052	$palette-white-text,
  #8E1600	$palette-white-text,
  #553000	$palette-white-text;

@mixin add-palette-colors {
  $i: 0;
  $brightness: 0;

  @each $color in $palette-array {
    $background: nth($color, 1);
    $text: nth($color, 2);

    &_color-#{$i} {
      background-color: $background;
      color: $text;
    }

    $tone: $i % 7;
    &_tone-#{$tone}-#{$brightness} {
      background-color: $background;
      color: $text;
    }

    $i: $i + 1;
    @if $tone == 6 {
      $brightness: $brightness + 1;
    }
  }
}

.ring-palette {
  @include add-palette-colors();
}
