@import "../global/global";

:root .ring-checkbox[type="checkbox"] {
  display: none;

  & + .ring-checkbox__label {
    display: inline-block;
    content: "";
    width: 11px;
    height: 11px;

    border: 1px solid #CCC;
    border-radius: 2px;
    background: transparent;
    user-select: none;

    line-height: $ring-unit * 3;
    vertical-align: middle;
  }

  &:not([disabled]) + .ring-checkbox__label:hover {
    border: 1px solid #FF8620;
  }

  &:checked + .ring-checkbox__label {
    font-size: 13px;

    border: 1px solid #25B7FF;
    line-height: normal;

    .ring-checkbox__label:before {
      position: relative;
      top: -4px;
      left: -1px;
      display: block;
      width: 11px;
      height: 11px;

      font-family: 'font-icon' !important;
      content: '\e005';
      font-size: 16px;
      color: #1A1A1A;
    }
  }

  &.ring-checkbox_black + .ring-checkbox__label:before {
    color: #FFF;
  }
}

.ring-checkbox__label {
  display: none; // IE 8-
}

// TODO(maksimrv): Where is used this class?
.ring-checkbox__label_i {
  position: relative;
  left: 2px;

  user-select: none;
}
