@import '../global/variables.css';

.pager {
  user-select: none;
}

.links.links {
  margin-bottom: calc(var(--ring-unit) * 2);
}

.link {
  display: inline-block;

  margin-right: calc(var(--ring-unit) * 2);
}

.linkDisabled {
  color: var(--ring-secondary-color);
}

.actions {
  display: flex;
  align-items: baseline;
}

.pageSize {
  margin-left: auto;
}
