@value unit from  "../global/global.css";

.errorMessage {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.errorMessage__Icon {
  margin-right: 16px;
}

.errorMessage__Title {
  font-size: 21px;
}

.errorMessage__Description {
  font-size: 15px;
}

.errorMessage__Content {
  flex-flow: column wrap;
  color: #444; /* should we use scss vars here? */
}

.errorMessage__Content > .errorMessage__Title, .errorMessage__Description {
  margin-bottom: 16px;
}

.errorMessage__Link {
  margin-right: 8px;
}

.errorMessage__Icon {
  margin-bottom: 24px;
}
