@import "../global/variables.css";

.errorMessage {
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  justify-content: center;

  height: 100%;
}

.title {
  font-size: 21px;
}

.description {
  font-size: 15px;
}

.content {
  flex-flow: column wrap;

  color: var(--ring-text-color);
}

.content > .title,
.description {
  margin-bottom: 16px;
}

.icon {
  margin: 0 16px 24px 0;

  color: var(--ring-icon-secondary-color);
}
