@import "../global/global";

$loader-height: 12px;
$loader-width: 20px;

$ball-size-min: 4px;
$ball-size-max: 8px;

@keyframes ball-size {
  0% {
    width: $ball-size-min;
    height: $ball-size-min;
  }
  50% {
    width: $ball-size-max;
    height: $ball-size-max;
  }
}

@keyframes ball-colors {
  12.5% {
    background-color: #D73CEA;
  }
  25% {
    background-color: #9135E0;
  }
  37.5% {
    background-color: #5848F4;
  }
  50% {
    background-color: #25B7FF;
  }
  62.5% {
    background-color: #59BD00;
  }
  75% {
    background-color: #FBAC02;
  }
  87.5% {
    background-color: #E32581;
  }
  100% {
    background-color: #D73CEA;
  }
}

@keyframes ball-moves {
  0% {
    top: 0;
    left: 0;
    transform: translate(0, 0);
  }
  33% {
    top: 100%;
    left: 100%;
    transform: translate(-100%,-100%);
  }
  50% {
    top: 0;
    left: 100%;
    transform: translate(-100%, 0);
  }
  83% {
    top: 100%;
    left: 0;
    transform: translate(0, -100%);
  }
  100% {
    top: 0;
    left: 0;
    transform: translate(0, 0);
  }
}


.ring-loader-inline {
  display: inline-block;
  position: relative;
  width: $loader-width;
  height: $loader-height;
}

.ring-loader-inline__ball {
  position: absolute;

  width: $ball-size-min;
  height: $ball-size-min;

  background-color: #D73CEA;
  border-radius: 50%;

  animation: ball-moves 1.2s linear infinite,
  ball-colors 3s linear infinite,
  ball-size 2s linear infinite;

  &_second {
    opacity: 0.8;
    animation-delay: 0.3s;
  }

  &_third {
    opacity: 0.6;
    animation-delay: 0.6s;
  }
}
