<example name="Inline loader">
  <file type="html">
    <span>some text on top</span>
    <div>before <span id="loader-inline"></span> Some text after</div>
    <div>some text under loader</div>
  </file>

  <file type="js">
    import React from 'react';
    import {render} from 'react-dom';
    import Loader from '@jetbrains/ring-ui/components/loader-inline/loader-inline';

    render(<Loader/>, document.getElementById('loader-inline'));
  </file>
</example>

<example name="Inline loader with children">
  <file type="html">
    <span id="loader-inline"></span>
  </file>

  <file type="js">
    import React from 'react';
    import {render} from 'react-dom';
    import Loader from '@jetbrains/ring-ui/components/loader-inline/loader-inline';

    render(<Loader>Loading...</Loader>, document.getElementById('loader-inline'));
  </file>
</example>

<example name="Inline loader on black background">
  <file type="html">
    <div class="container">
      <span>some text on top</span>
      <div>before <span id="loader-inline"></span> Some text after</div>
      <div>some text under loader</div>
    </div>
  </file>

  <file type="css">
    body {
      background-color: #000;
    }

    :global(.container) {
      color: #fff;
    }
  </file>

  <file type="js">
    import React from 'react';
    import {render} from 'react-dom';
    import Loader from '@jetbrains/ring-ui/components/loader-inline/loader-inline';

    render(<Loader theme={Loader.Theme.DARK} />, document.getElementById('loader-inline'));
  </file>
</example>

<example name="Inline loader on custom background">
  <file type="html">
    <div class="container">
      <span>some text on top</span>
      <div>before <span id="loader-inline"></span> Some text after</div>
      <div>some text under loader</div>
    </div>
  </file>

  <file type="css">
    body {
      background-color: #E5F4FF;
    }
  </file>

  <file type="js">
    import React from 'react';
    import {render} from 'react-dom';
    import Loader from '@jetbrains/ring-ui/components/loader-inline/loader-inline';

    render(<Loader className="loader" />, document.getElementById('loader-inline'));
  </file>
</example>

<example name="Inline loader without React">
  <file type="html">
    <div class="ring-loader-inline"></div>
  </file>
  <file type="js">
    import injectStyles from '@jetbrains/ring-ui/components/loader-inline/inject-styles';

    injectStyles();
  </file>
</example>
