@import "../global/global";

$tags-input-padding: $ring-unit / 4;

.ring-tags-input {
  overflow: hidden;
  white-space: normal;
  font-size: 0;

  padding: $tags-input-padding $tags-input-padding 0 $tags-input-padding;
  border: 1px solid $ring-gray-color;
  background-color: #FFF;

  .ring-input {
    border: none;
    height: 18px;
  }

  .ring-select__icons {
    display: none;
  }
}

.ring-tags-input .ring-tag, .ring-tags-input .ring-select {
  margin-bottom: $tags-input-padding;
}

.ring-tags-input.ring-tags-input_disabled {
  @include ring-input-disabled;

  pointer-events: none;

  .ring-tag {
    opacity: 0.5;
  }
}
