@import "../global/global";

$tags-input-padding: $ring-unit / 2;

.ring-tags-input {
  background-color: #FFF;
  border: 1px solid $ring-gray-color;
  overflow: hidden;
  padding: $tags-input-padding $tags-input-padding 2px $tags-input-padding;

  & .ring-input {
    border: none;
  }

  & .ring-select__icons {
    display: none;
  }
}

.ring-tags-input.ring-tags-input_disabled {
  border-color: #DEDEDE;
  background-color: #F8F8F8;
  pointer-events: none;

  .ring-tag {
    opacity: 0.5;
  }
}
