@value unit, gray-color, blue-color, main-color, line-color, input-disabled from '../global/global.css';

.tagsInput {
  overflow: hidden;

  padding-top: 2px;

  white-space: normal;

  background-color: #fff;
}

.tagsInputDisabled {
  composes: input-disabled;

  pointer-events: none;
}

.tagsInputFocused {
  border-color: blue-color;
}

.tagsList {
  display: inline-block;
}

.tagsSelect {
  margin-bottom: -1px;
}

.underline {
  height: 1px;

  border-color: line-color;
  border-bottom: line-color 1px solid;
}

.focusUnderline {
  width: 0;
  height: 2px;

  margin-top: -1px;

  transition: width 0.15s ease-out;

  background: main-color;

  @nest .tagsInputFocused & {
    width: 100%;
  }
}
