@import "../global/variables.css";

.tagsInput {
  padding-top: 2px;
  padding-bottom: 2px;

  white-space: normal;
}

.tagsInputLegacyMode {
  padding-top: 0;
  padding-bottom: 1px;

  border: 1px solid var(--ring-borders-color);
  background-color: var(--ring-content-background-color);

  & .tagsList {
    padding-top: 1px;

    line-height: 20px;
  }

  & .tag {
    margin-right: 2px;
  }
}

.tagsInputDisabled {
  pointer-events: none;

  color: var(--ring-disabled-color);

  & .underline {
    border-bottom-style: dashed;
  }
}

.tagsInputFocused {
  border-color: var(--ring-main-color);
}

.tagsList {
  display: inline-block;

  width: 100%;

  padding-left: 2px;

  line-height: 22px;
}

.tagsSelect {
  margin-bottom: -1px;

  & > div {
    min-height: 20px;
  }

  & input {
    min-height: 20px;
  }
}

.underline {
  height: 1px;

  border-bottom: var(--ring-borders-color) 1px solid;
}

.focusUnderline {
  width: 0;
  height: 2px;

  margin-top: -1px;

  transition: width 0.15s ease-out;

  background: var(--ring-main-color);

  @nest .tagsInputFocused & {
    width: 100%;
  }
}
