@value unit from "../global/global.css";
@value radio-size: calc(2 * var(--ring-unit));

.radio {
  position: relative;

  display: block;

  text-align: left;

  color: var(--ring-text-color);
  outline: none;

  &:hover .circle {
    transition: none;

    border-color: var(--ring-border-hover-color);
  }
}

.circle {
  position: relative;
  top: -2px;

  display: inline-block;

  box-sizing: border-box;
  width: radio-size;
  height: radio-size;

  user-select: none;
  transition: border-color var(--ring-ease), box-shadow var(--ring-ease);
  vertical-align: middle;
  pointer-events: none;

  border: 1px solid var(--ring-borders-color);
  border-radius: var(--ring-unit);
  background-color: var(--ring-content-background-color);

  &::after {
    position: absolute;
    top: 3px;
    left: 3px;

    width: var(--ring-unit);
    height: var(--ring-unit);

    content: "";

    transition: opacity transform var(--ring-fast-ease);

    transform: scale(0);

    opacity: 0;

    border-radius: calc(var(--ring-unit) / 2);
    background-color: var(--ring-main-color);
  }
}

.input {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  margin: 0;

  cursor: pointer;

  opacity: 0;

  &[disabled] + .circle {
    border-color: var(--ring-borders-color);
  }

  &:checked + .circle {
    border-color: var(--ring-border-hover-color);

    /* stylelint-disable-next-line selector-max-specificity */
    &::after {
      transition: none;

      transform: scale(1);

      opacity: 1;
    }
  }

  &:focus + .circle,
  &.focus + .circle {
    border-color: var(--ring-border-hover-color);
    box-shadow: 0 0 0 1px var(--ring-border-hover-color);
  }

  &[disabled] {
    pointer-events: none;
  }

  /* stylelint-disable-next-line selector-max-specificity */
  &[disabled]:checked + .circle::after {
    opacity: 0.5;
  }

  &[disabled] ~ .label {
    color: var(--ring-disabled-color);
  }
}

.label {
  margin-left: var(--ring-unit);

  line-height: calc(unit * 4);
}
