@import "../global/variables.css";

@value unit from "../global/global.css";

.dockedPanel {
  margin-top: calc(unit * 4);
  padding-left: 0;

  border-top: none;
}

.fixed.fixed {
  position: fixed;
  z-index: 2;
  top: auto;
  right: 0;
  bottom: 0;
  left: 0;

  width: 100%;
  margin-left: 0;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: calc(unit * 4);

  border-top: 1px solid var(--ring-popup-border-color);
  background-color: var(--ring-content-background-color);
}
