@import "../global/global";

.ring-docked-panel {
  margin-top: $ring-unit * 4;
  padding-left: 0;
  border-top: none;
}

.ring-docked-panel_fixed.ring-docked-panel_fixed {
  position: fixed;
  top: auto;
  right: 0;
  left: 0;
  bottom: 0;
  padding-left: $ring-unit * 4;
  padding-top: 12px;
  padding-bottom: 12px;
  z-index: 2; // should be on top of button groups which have z-index: 1 for active element
  width: 100%;
  margin-left: 0;
  background-color: #fff;
  border-top: 1px solid rgba(0, 42, 76, .1);
}
