.ring-docked-panel.ring-docked-panel {
  position: fixed;
  top: auto;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 2; // should be on top of button groups which have z-index: 1 for active element
  width: 100%;
  margin-left: 0;
  background-color: #fff;
  box-shadow: inset 0 1px 0 #d8d8d8, 0 -1px 16px 0 rgba(0, 0, 0, 0.1);
}
