<example name="Auth">
  <file type="html">
    <div id="example">
    </div>
  </file>

  <file type="js">
    import Auth from 'ring-ui/components/auth/auth';
    import hubConfig from 'ring-ui/site/hub-config';
    // Example config:
    // var hubConfig = {
    //   serverUri: 'https://hub.jetbrains.com/',
    //   client_id: '81a0bffb-6d0f-4a38-b93a-0a4d1e567698',
    //   request_credentials: 'skip',
    //   redirect_uri: window.location.href.split('#')[0]
    // };

    const log = function (title, obj) {
      const titleElem = document.createElement('h3');
      const jsonElem = document.createElement('div');

      titleElem.innerHTML = title;
      jsonElem.innerHTML = JSON.stringify(obj);

      document.getElementById('example').appendChild(titleElem);
      document.getElementById('example').appendChild(jsonElem);
    };

    (async auth => {
      try {
        const location = await auth.init();
        log('location to restore', location)
        const token = await auth.requestToken();
        log('token', token);
        const data = await auth.requestUser();
        log('user profile data', data);
      } catch (e) {
        log('error', e);
      }
    })(new Auth(hubConfig));
  </file>
</example>


<example name="Auth slim landing page">
  <file type="html">
    <div id="example">
      <div id="example"></div>
      <a id="open-link">Open landing page</a>
      <a href id="log-out">Log Out</a>
      <a href id="force-update">Force token update</a>
    </div>
  </file>

  <file type="js">
    import Auth from 'ring-ui/components/auth/auth';
    import authService from 'ring-ui/components/auth-dialog-service/auth-dialog-service';
    import hubConfig from 'ring-ui/site/hub-config';
    import LandintEntryFileName from 'ring-ui/components/auth/landing-entry';

    async function run() {
      const auth = new Auth({
        ...hubConfig,
        windowLogin: true,
        redirect_uri: hubConfig.redirect_uri + LandintEntryFileName
      });

      auth.setAuthDialogService(authService);
      await auth.init();

      document.querySelector('#open-link').href = LandintEntryFileName;

      document.querySelector('#force-update').addEventListener('click', () => {
        auth.forceTokenUpdate();
      });

      document.querySelector('#log-out').addEventListener('click', () => {
        auth.login();
      });
    }

    run();

  </file>
</example>
