@value unit from "../global/global.css";

.title {
  font-weight: 600;
}

.error {
  margin-top: calc(var(--ring-unit) / 2);

  word-wrap: break-word;

  color: var(--ring-error-color);

  line-height: calc(unit * 2);
}
