@import "../global/global";

// Dropdown toggle
//
// Markup:
// <span class="ring-dropdown-toggle ring-font-icon ring-font-icon_caret-down {$modifiers}"></span>
//
// :hover - Hovered state
//
// Styleguide 5.2

.ring-dropdown-toggle {
  $color: #b4b4b4;
  font-size: 14px;

  display: inline-block;

  width: 12px;
  height: 13px;
  margin-left: 5px;
  padding: 1px 1px 2px 4px;
  vertical-align: middle;

  color: $color;
  border-color: $color;
  border-style: solid;
  border-width: 0 0 0 1px;

  user-select: none;

  &:hover {
    color: $ring-link-hover-color;
    border-color: $ring-link-hover-color;
    border-width: 1px;
    padding: 1px 0 2px 4px;
  }
}