{{#toggle}}
  <span class="dropdown-toggle font-icon font-icon_caret-down{{> global__add-class}}{{#if items}} component-dropdown" data-component="{{stringify this}}{{/if}}"{{> global__add-title}}></span>
{{/toggle}}