.ring-dropdown-toggle {
  $color: #b4b4b4;

  display: inline-block;

  height: 13px;
  width: 12px;
  padding: 1px 1px 2px 4px;
  margin-left: 5px;
  vertical-align: middle;

  color: $color;
  border: $color solid;
  border-width: 0 0 0 1px;

  user-select: none;

  &:hover {
    color: $hover-link-color;
    border-color: $hover-link-color;
    border-width: 1px;
    padding: 1px 0 2px 4px;
  }

  .no-font-antialiasing & {
    padding: 3px 3px 4px 6px;
    background-position: -62px -1px !important;
  }

  .no-font-antialiasing &:hover {
    padding: 1px 2px 4px 6px;
    background-position: -62px -20px !important;
  }
}