{{#toggle}}
  <span class="ring-dropdown-toggle ring-font-icon ring-font-icon_caret-down{{> global__class-name}}{{#if items}} component-dropdown" data-component="{{stringify this}}{{/if}}"{{> global__title}}></span>
{{/toggle}}