@import "../global/variables.css";

@value glyph from "../icon/icon.css";

:root {
  --ring-button-focus-border-color: var(--ring-border-hover-color);
  --ring-button-shadow: inset 0 0 0 1px;
  --ring-button-loader-width: calc(var(--ring-unit) * 8);
  --ring-button-flat-disabled-color: var(--ring-white-text-color);
}

:global(.ring-ui-theme-dark) {
  --ring-button-flat-disabled-color: var(--ring-disabled-color);
}


.heightS {
  --ring-button-height: calc(var(--ring-unit) * 3);
  --ring-button-padding-block: calc(var(--ring-unit) * 0.5);
  --ring-button-font-size: var(--ring-font-size-smaller);
  --ring-button-line-height: var(--ring-line-height-lowest);
  --ring-button-icon-line-height: calc(var(--ring-unit) * 1.5);
}

.heightM {
  --ring-button-height: calc(var(--ring-unit) * 3.5);
  --ring-button-padding-block: calc(var(--ring-unit) * 0.5);
  --ring-button-font-size: var(--ring-font-size);
  --ring-button-line-height: var(--ring-line-height);
  --ring-button-icon-line-height: calc(var(--ring-unit) * 2);
}

.heightL {
  --ring-button-height: calc(var(--ring-unit) * 4);
  --ring-button-padding-block: calc(var(--ring-unit) * 0.75);
  --ring-button-font-size: var(--ring-font-size);
  --ring-button-line-height: var(--ring-line-height);
  --ring-button-icon-line-height: calc(var(--ring-unit) * 2);
}

.button {
  box-sizing: border-box;
  margin: 0;

  cursor: pointer;
  transition:
    color var(--ring-ease),
    background-color var(--ring-ease),
    box-shadow var(--ring-ease);
  white-space: nowrap;
  text-decoration: none;

  border: 0;
  border-radius: var(--ring-border-radius);
  outline: 0;

  font-family: var(--ring-font-family), sans-serif;

  &:hover,
  &:active,
  &:focus-visible {
    transition: none;
  }

  &::-moz-focus-inner {
    padding: 0;

    border: 0;
    outline: 0;
  }
}

.block {
  --ring-button-background-color: var(--ring-content-background-color);
  --ring-button-border-color: var(--ring-borders-color);
  --ring-button-padding-inline: calc(var(--ring-unit) * 2);
  --ring-button-loader-components: var(--ring-main-components);

  display: inline-block;

  height: var(--ring-button-height);
  padding: var(--ring-button-padding-block) var(--ring-button-padding-inline);

  color: var(--ring-text-color);

  background-color: var(--ring-button-background-color);
  box-shadow: var(--ring-button-shadow) var(--ring-button-border-color);

  font-size: var(--ring-button-font-size);
  line-height: var(--ring-button-line-height);

  &:hover {
    --ring-button-border-color: var(--ring-border-hover-color);
  }

  &:active {
    --ring-button-background-color: var(--ring-selected-background-color);
    --ring-button-border-color: var(--ring-border-hover-color);
  }

  &:focus-visible {
    box-shadow:
      var(--ring-button-shadow) var(--ring-button-focus-border-color),
      0 0 0 1px var(--ring-button-focus-border-color);
  }
}

.inline {
  display: inline;

  margin: 0;
  padding: 0;

  color: var(--ring-action-link-color);
  background: transparent;

  font-size: inherit;
  line-height: inherit;

  &:focus-visible {
    box-shadow: 0 0 0 2px var(--ring-button-focus-border-color);
  }
}

.icon {
  margin-right: calc(var(--ring-unit) * 0.5);

  line-height: var(--ring-button-icon-line-height);
}

.block .icon {
  margin-top: -1px;
}

.withNormalIcon {
  color: var(--ring-secondary-color);
}

.inline {
  &:hover,
  &:active,
  &.active {
    color: var(--ring-link-hover-color);
  }
}

.active.block {
  --ring-button-background-color: var(--ring-hover-background-color);
  --ring-button-border-color: var(--ring-main-color);

  transition: none;
}

.danger {
  --ring-button-focus-border-color: var(--ring-button-danger-hover-color);
  --ring-button-loader-components: var(--ring-main-error-components);

  color: var(--ring-error-color);

  &:active,
  &.active {
    --ring-button-background-color: var(--ring-button-danger-active-color);
  }

  &:active,
  &.active,
  &:hover {
    --ring-button-border-color: var(--ring-button-danger-hover-color);
  }
}

.disabled {
  cursor: auto;

  &,
  &:hover,
  &:active {
    --ring-button-background-color: var(--ring-disabled-background-color);
    --ring-button-border-color: var(--ring-border-disabled-color);

    color: var(--ring-disabled-color);
  }

  &.active {
    --ring-button-background-color: var(--ring-disabled-selected-background-color);
    --ring-button-border-color: var(--ring-border-selected-disabled-color);
  }
}

.flat {
  --ring-button-background-color: var(--ring-flat-button-background-color);
  --ring-button-border-color: transparent;
  --ring-button-loader-components: var(--ring-white-text-components);

  color: var(--ring-white-text-color);

  &:hover {
    --ring-button-border-color: transparent;
  }

  &.disabled {
    --ring-button-border-color: transparent;

    color: var(--ring-button-flat-disabled-color);
  }

  & .loaderBackground {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    border-radius: var(--ring-border-radius);
  }
}

.primaryBlock {
  --ring-flat-button-background-color: var(--ring-button-primary-background-color);

  composes: flat;

  &:hover {
    --ring-button-background-color: var(--ring-main-hover-color);
  }

  &:active,
  &.active {
    --ring-button-background-color: var(--ring-button-primary-background-color);
    --ring-button-border-color: var(--ring-button-primary-border-color);
  }

  &.disabled {
    --ring-button-background-color: var(--ring-border-disabled-active-color);
  }
}

.success {
  --ring-flat-button-background-color: var(--ring-main-success-color);
  --ring-button-focus-border-color: var(--ring-border-hover-success-color);

  composes: flat;

  &:hover {
    --ring-button-background-color: var(--ring-main-success-hover-color);
  }

  &:active,
  &.active {
    --ring-button-background-color: var(--ring-main-success-hover-color);
    --ring-button-border-color: var(--ring-success-color);
  }

  &.disabled {
    --ring-button-background-color: var(--ring-added-background-color);
  }
}

.error {
  --ring-flat-button-background-color: var(--ring-main-error-color);
  --ring-button-focus-border-color: var(--ring-border-hover-error-color);

  composes: flat;

  &:hover {
    --ring-button-background-color: var(--ring-main-error-hover-color);
  }

  &:active,
  &.active {
    --ring-button-background-color: var(--ring-main-error-hover-color);
    --ring-button-border-color: var(--ring-error-color);
  }

  &.disabled {
    --ring-button-background-color: var(--ring-removed-background-color);
  }
}

.iconOnly {
  &.heightS {
    --ring-button-padding-block: calc(var(--ring-unit) * 0.75);
    --ring-button-padding-inline: calc(var(--ring-unit) * 0.75);
  }

  &.heightM {
    --ring-button-padding-block: calc(var(--ring-unit) * 0.75);
    --ring-button-padding-inline: calc(var(--ring-unit) * 0.75);
  }

  &.heightL {
    --ring-button-padding-block: var(--ring-unit);
    --ring-button-padding-inline: var(--ring-unit);
  }

  & .icon {
    margin-right: 0;
  }

  &.block {
    vertical-align: -2px;

    & .icon {
      vertical-align: 2px;
    }
  }
}

.loader {
  position: relative;
  z-index: 0;

  cursor: auto;

  background-color: transparent;

  &:hover {
    --ring-button-border-color: var(--ring-borders-color);
  }
}

.loader.inline {
  animation-name: text-loading;
  animation-duration: 1200ms;
  animation-iteration-count: infinite;
}

.loaderBackground {
  position: absolute;
  z-index: -1;
  top: 1px;
  right: 1px;
  bottom: 1px;
  left: 1px;

  overflow: hidden;

  border-radius: calc(var(--ring-border-radius) - 1px);
  background-color: var(--ring-button-background-color);

  &::before {
    display: block;

    width: calc(100% + var(--ring-button-loader-width));
    height: 100%;

    content: "";
    animation: progress 1s linear infinite;

    background-image: linear-gradient(
      to right,
      transparent,
      rgba(var(--ring-button-loader-components), 0.4) 40%,
      transparent 80%
    );

    background-repeat: repeat;
    background-size: var(--ring-button-loader-width);
  }
}

.delayed::after {
  content: "…";
}

.short {
  --ring-button-padding-inline: 0;

  width: calc(var(--ring-unit) * 4);
}

.dropdownIcon {
  .block & {
    margin-top: -1px;
    margin-right: calc(var(--ring-unit) * -0.5);
    margin-left: 2px;
  }

  .inline & .glyph {
    vertical-align: -2px;
  }

  line-height: var(--ring-button-icon-line-height);
}

@keyframes progress {
  from {
    transform: translateX(-64px); /* must be in Sync with loaderWidth, but CSS var doesn't work due to RG-2438 */
  }

  to {
    transform: translateX(0);
  }
}

@keyframes text-loading {
  50% {
    opacity: 0.5;
  }
}
