@import "../global/variables.css";

@value button-shadow: inset 0 0 0 1px;
@value loaderWidth: calc(var(--ring-unit) * 8);

.heightS {
  --ring-button-height: calc(var(--ring-unit) * 3);
  --ring-button-font-size: var(--ring-font-size-smaller);
}

.heightM {
  --ring-button-height: calc(var(--ring-unit) * 3.5);
  --ring-button-font-size: var(--ring-font-size);
}

.heightL {
  --ring-button-height: calc(var(--ring-unit) * 4);
  --ring-button-font-size: var(--ring-font-size);
}

.button {
  position: relative;

  display: inline-block;

  box-sizing: border-box;
  height: var(--ring-button-height);
  margin: 0;
  padding: 0 calc(var(--ring-unit) * 2);

  cursor: pointer;
  transition: color var(--ring-ease), background-color var(--ring-ease), box-shadow var(--ring-ease);
  white-space: nowrap;
  text-decoration: none;

  color: var(--ring-text-color);

  border: 0;
  border-radius: var(--ring-border-radius);
  outline: 0;
  background-color: var(--ring-content-background-color);
  box-shadow: button-shadow var(--ring-borders-color);

  font-family: var(--ring-font-family);
  font-size: var(--ring-button-font-size);

  line-height: var(--ring-button-height);

  &:hover {
    transition: none;

    box-shadow: button-shadow var(--ring-border-hover-color);
  }

  &:active {
    transition: none;

    background-color: var(--ring-selected-background-color);
    box-shadow: button-shadow var(--ring-border-hover-color);
  }

  &:focus-visible {
    transition: none;

    box-shadow: button-shadow var(--ring-border-hover-color), 0 0 0 1px var(--ring-border-hover-color);
  }

  &.active {
    transition: none;

    background-color: var(--ring-hover-background-color);
    box-shadow: button-shadow var(--ring-main-color);
  }

  &:focus-visible.active {
    box-shadow: inset 0 0 0 2px var(--ring-main-color), 0 0 0 1px var(--ring-border-hover-color);
  }

  &[disabled] {
    cursor: auto;

    background-color: var(--ring-disabled-background-color);
    box-shadow: button-shadow var(--ring-border-disabled-color);
  }

  &[disabled].active {
    background-color: var(--ring-disabled-selected-background-color);
    box-shadow: button-shadow var(--ring-border-selected-disabled-color);
  }

  &[disabled],
  &[disabled].withIcon,
  &[disabled]:hover {
    color: var(--ring-disabled-color);
  }

  /* stylelint-disable-next-line selector-max-specificity */
  &[disabled] .icon.icon {
    color: var(--ring-icon-disabled-color);
  }

  &::-moz-focus-inner {
    padding: 0;

    border: 0;
    outline: 0;
  }
}

.withIcon {
  color: var(--ring-secondary-color);
}

.primary {
  color: var(--ring-white-text-color);
  background-color: var(--ring-main-color);
  box-shadow: none;

  &:hover {
    transition: none;

    background-color: var(--ring-main-hover-color);
    box-shadow: none;
  }

  &.withIcon,
  &.withIcon:active,
  &.withIcon.active {
    color: var(--ring-action-link-color);
  }

  &:focus-visible,
  &:active,
  &.active {
    background-color: var(--ring-button-primary-background-color);
  }

  &:active,
  &.active {
    box-shadow: button-shadow var(--ring-button-primary-border-color);
  }

  &[disabled] {
    background-color: var(--ring-disabled-background-color);
    box-shadow: button-shadow var(--ring-border-disabled-color);
  }

  &[disabled].loader {
    color: var(--ring-white-text-color);
  }

  & .loaderBackground {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    border-radius: var(--ring-border-radius);

    &::before {
      background-image:
        linear-gradient(
          to right,
          var(--ring-main-color),
          var(--ring-button-loader-background) 40%,
          var(--ring-main-color) 80%
        );
    }
  }
}

.danger {
  &,
  &.withIcon,
  &.withIcon:active,
  &.withIcon.active,
  &.text,
  &.text:active,
  &.text.active {
    color: var(--ring-error-color);
  }

  &:active,
  &.active {
    background-color: var(--ring-button-danger-active-color);
  }

  &:active,
  &.active,
  &:focus-visible,
  &:hover {
    box-shadow: button-shadow var(--ring-button-danger-hover-color);
  }

  &:focus-visible,
  &:hover {
    transition: none;
  }
}

.text.text,
.withIcon.withIcon {
  background-color: transparent;
  box-shadow: none;

  &:hover {
    transition: none;
  }

  &:active,
  &.active {
    background-color: transparent;
    box-shadow: none;
  }

  &:focus-visible {
    box-shadow: inset 0 0 0 2px var(--ring-border-hover-color);
  }
}

.loader.text > .content {
  animation-name: text-loading;
  animation-duration: 1200ms;
  animation-iteration-count: infinite;
}

.text.text:hover {
  background-color: transparent;
  box-shadow: none;
}

.withIcon:hover:not(:focus-visible) {
  background-color: transparent;
  box-shadow: none;
}

.text {
  color: var(--ring-action-link-color);
}

.inline {
  display: inline-block;

  margin: 0;
  padding: 0;

  font-size: var(--ring-font-size);
}

.withIcon {
  padding: 0 var(--ring-unit);
}

.text {
  &:active,
  &.active {
    color: var(--ring-link-hover-color);
  }
}

.withIcon {
  &:active,
  &.active {
    color: var(--ring-action-link-color);
  }
}

.withIcon:hover {
  color: var(--ring-link-hover-color);
}

.text:hover {
  color: var(--ring-link-hover-color);
}

.icon {
  color: inherit;

  line-height: normal;

  &:not(:last-child) {
    margin-right: calc(var(--ring-unit) * 0.5);
  }
}

.withNormalIcon .icon {
  transition: color var(--ring-ease);

  color: var(--ring-icon-color);
}

.withNormalIcon:active,
.withNormalIcon.active {
  color: var(--ring-main-color);

  & .icon {
    transition: none;

    color: inherit;
  }
}

.withNormalIcon:hover .icon,
.withDangerIcon:hover .icon {
  transition: none;

  color: inherit;
}

.withDangerIcon .icon,
.withDangerIcon:active .icon {
  color: var(--ring-icon-error-color);
}

.loader {
  position: relative;
  z-index: 0;

  pointer-events: none;

  background-color: transparent;
}

.loaderBackground {
  position: absolute;
  z-index: -1;
  top: 1px;
  right: 1px;
  bottom: 1px;
  left: 1px;

  overflow: hidden;

  border-radius: var(--ring-border-radius-small);

  &::before {
    display: block;

    width: calc(100% + loaderWidth);
    height: 100%;

    content: "";
    animation: progress 1s linear infinite;

    background-image:
      linear-gradient(
        to right,
        var(--ring-content-background-color),
        var(--ring-selected-background-color) 40%,
        var(--ring-content-background-color) 80%
      );

    background-repeat: repeat;
    background-size: loaderWidth;
  }
}

.delayed .content::after {
  content: "…";
}

.short {
  width: calc(var(--ring-unit) * 4);
  padding: 0;
}

.dropdownIcon {
  margin-right: calc(var(--ring-unit) * -0.5);

  margin-left: 2px;

  transition: color var(--ring-ease);

  color: var(--ring-icon-secondary-color);

  .primary & {
    color: unset;
  }

  line-height: normal;
}

.button:hover .dropdownIcon {
  transition: none;

  color: var(--ring-main-color);
}

@keyframes progress {
  from {
    transform: translateX(-64px); /* must be in Sync with loaderWidth, but CSS var doesn't work due to RG-2438 */
  }

  to {
    transform: translateX(0);
  }
}

@keyframes text-loading {
  50% {
    opacity: 0.5;
  }
}
