.pager {
  user-select: none;
}

.links {
  margin-bottom: calc(var(--ring-unit));
}

.link {
  display: inline-block;

  margin-right: calc(var(--ring-unit) * 2);
}

.linkDisabled {
  color: var(--ring-secondary-color);
}

.chevron {
  vertical-align: 2px;

  line-height: normal;
}
