@import "../global/variables.css";

@value unit from "../global/global.css";

.pager {
  user-select: none;
}

.links {
  margin-bottom: calc(unit);
}

.link {
  display: inline-block;

  margin-right: calc(unit * 2);
}

.linkDisabled {
  color: var(--ring-secondary-color);
}

.chevron {
  vertical-align: 2px;

  line-height: normal;
}
