@import '../global/variables.css';

.errorMessage {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;

  max-width: 600px;
  height: 100%;
  margin: 0 auto;
}

.title {
  font-size: 21px;
}

.description {
  font-size: 15px;
}

.content {
  flex-direction: column;

  color: var(--ring-text-color);
}

.content > .title,
.description {
  margin-bottom: 16px;
}

.icon {
  margin: 0 16px 24px 0;

  color: var(--ring-secondary-color);
}
