@import '../global/variables.css';

.withMultipleControls {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.dropdownComponent {
  padding: var(--ring-unit);
}

.popupComponent {
  padding: var(--ring-unit);
}

