@value unit from "../global/global.css";

.editableHeading {
  display: flex;
  align-items: center;

  &.fullSize {
    width: 100%;
  }

  &.isEditing {
    gap: unit;
  }
}

.heading.heading {
  margin-bottom: 0;

  line-height: 28px;
}

.heading {
  padding: 6px 0;

  cursor: pointer;

  border-radius: var(--ring-border-radius);

  &:hover {
    background-color: var(--ring-hover-background-color);
  }

  @nest .disabled &:hover {
    cursor: initial;

    background-color: initial;
  }
}

.input {
  margin-bottom: 2px;
  padding: 0;
  padding-top: 6px;
  padding-bottom: 3px;

  color: var(--ring-heading-color);
  caret-color: var(--ring-main-color);

  border: none;
  border-bottom: 1px solid var(--ring-borders-color);
  outline: none;

  font-family: var(--ring-font-family);
  font-weight: bold;
  line-height: 28px;

  &::placeholder {
    color: var(--ring-disabled-color);
  }

  &:focus {
    margin-bottom: 1px;

    border-bottom-width: 2px;
    border-bottom-color: var(--ring-main-color);
  }

  &[disabled] {
    background-color: initial;
  }

  @nest .error & {
    margin-bottom: 1px;

    border-bottom-width: 2px;
    border-bottom-color: var(--ring-icon-error-color);
  }
}

.button {
  margin: 6px 0;
}

.level1 {
  font-size: 24px;
}

.level2 {
  font-size: 20px;
}

.level3 {
  font-size: 14px;
}
