$ring-checkbox: ':root .ring-checkbox[type="checkbox"]';

#{$ring-checkbox} {
  display: none;
}

label.ring-checkbox__label {
  display: none; // IE 8-

  #{$ring-checkbox} + & {
    display: inline-block;
    content: "";
    width: 11px;
    height: 11px;

    border: 1px solid #CCC;
    border-radius: 2px;
    background: transparent;
    user-select: none;
    cursor: pointer;


    line-height: $ring-unit * 3;
    vertical-align: middle;

    &:hover {
      border: 1px solid #FF8620;
    }
  }

  #{$ring-checkbox}:checked + & {
    font-size: 13px;

    border: 1px solid #25B7FF;
    line-height: normal;

    &:before {
      position: relative;
      top: -4px;
      left: -1px;
      display: block;
      width: 11px;
      height: 11px;

      font-family: 'font-icon' !important;
      content: '\e005';
      font-size: 16px;
      color: #1A1A1A;
    }
  }

  #{$ring-checkbox}.ring-checkbox_black + &:before {
    color: #FFF;
  }
}

.ring-checkbox__label_i {
  position: relative;
  left: 2px;

  user-select: none;
}

// Checkbox
//
// Markup:
// <input id="checkbox-1" class="ring-checkbox" type="checkbox" name="example" checked>
// <label  class="ring-checkbox__label" for="checkbox-1"></label>
// <div style="background-color: #333; width: 16px; height: 16px; padding: 4px;">
// <input id="checkbox-2" class="ring-checkbox ring-checkbox_black" type="checkbox" name="example">
// <label class="ring-checkbox__label" for="checkbox-2"></label>
// </div>
//
// Styleguide 15.1