@import "../src/global/variables.css";

body {
  box-sizing: border-box;
  margin: var(--ring-unit) !important;
  padding: 0 !important;

  color: var(--ring-text-color);
  background-color: var(--ring-content-background-color);

  font-family: var(--ring-font-family);
  font-size: var(--ring-font-size);
  line-height: var(--ring-line-height);
}

.blockAnimations *,
.blockAnimations *::before,
.blockAnimations *::after {
  transition: none !important;
  animation: none !important;
}
