$dropdown-background-color: #fff;
@mixin dropdown-shadow {
  border: 1px solid #adadad;
  box-shadow: 0 1px 4px 0 #adadad;
}

// Dropdown
//
// Markup:
// <div style="position: relative; height: 60px;">
// <div class="ring-dropdown {$modifiers}">
//   <div class="ring-dropdown__i">
//     <a class="ring-link ring-dropdown__item" href="#">Profile</a>
//     <span class="ring-link ring-dropdown__item">Log out</span>
//   </div>
// </div>
// </div>
//
// .ring-dropdown_right - Right aligned tail
// .ring-dropdown_left  - Left aligned tail
//
// Styleguide 4.1

.ring-dropdown {
  position: absolute;
  z-index: 999;

  font-size: 13px;

  text-align: center;

  @include dropdown-shadow;
  background-color: $dropdown-background-color;
}

.ring-dropdown_left.ring-dropdown::before {
  margin: 0;
  left: 12px;
}
.ring-dropdown_right.ring-dropdown::before {
  margin: 0;
  left: auto;
  right: 12px;
}

.ring-dropdown__i {
  padding: 13px;
  z-index: 1;

  line-height: normal;

  position: relative;
  background-color: $dropdown-background-color;
}

.ring-dropdown::before {
  display: block;
  top: -6px;
  left: 50%;
  content: '';
  position: absolute;
  margin-left: -6px;

  height: 10px;
  width: 10px;

  background-color: $dropdown-background-color;
  @include dropdown-shadow;
  transform: rotate(45deg);
}

.ring-dropdown__item {
  margin-top: 13px;
  display: block;
  text-align: left;
  font-size: 13px;
  cursor: pointer;
  @include droid-font;
}

.ring-dropdown__item:first-child {
  margin-top: 0;
}

.ring-dropdown__item,
.ring-dropdown__item:link,
.ring-dropdown__item:visited {
  color: #000 !important;
}
