<div class="dropdown">
    <ul class="dropdown__i">
        {{#items}}
            <li class="dropdown__item"><a class="dropdown__item__link" href="{{url}}">{{title}}</a></li>
        {{/items}}
    </ul>
</div>