<div class="ring-dropdown">
  <div class="ring-dropdown__i">
    {{{html}}}
    {{#items}}
      {{#this}}<a class="ring-dropdown__item{{> global__class-name}}" href="{{url}}">{{label}}</a>{{/this}}
    {{/items}}
  </div>
</div>