<div class="ring-dropdown">
  <div class="ring-dropdown__i">
    {{{html}}}
    {{#items}}
      {{#this}}<a class="ring-dropdown__item{{> global__add-class}}" href="{{url}}">{{title}}</a>{{/this}}
    {{/items}}
  </div>
</div>