@import "../global/variables.css";

.island {
  --ring-island-gradient-start: rgba(255, 255, 255, 0);
  --ring-island-gradient-stop: var(--ring-content-background-color);

  display: flex;
  flex-direction: column;

  border: 1px solid var(--ring-line-color);
  border-radius: var(--ring-border-radius-large);

  background-color: var(--ring-content-background-color);
  box-shadow: 0 1px 4px var(--ring-popup-shadow-color);
}

.withTransparentBottomBorder {
  transition: border-bottom-color 0.1s;

  border-bottom: 1px solid transparent;
}

.header {
  box-sizing: border-box;
  width: 100%;
  padding: calc(var(--ring-unit) * 2) calc(var(--ring-unit) * 4) var(--ring-unit);

  transition: border-bottom-color 0.1s;

  border-bottom: 1px solid transparent;

  line-height: 24px;
}

.withBottomBorder.withBottomBorder {
  border-bottom-color: var(--ring-popup-border-color);
  border-top-left-radius: var(--ring-border-radius);
  border-top-right-radius: var(--ring-border-radius);
}

.title {
  display: block;
  float: left;

  margin: 0;

  transform-origin: 0 50%;
  word-break: break-word;

  color: var(--ring-heading-color);

  font-size: inherit;

  font-weight: var(--ring-font-weight-bold);
}

.narrowIsland .header {
  padding: 0 calc(var(--ring-unit) * 2);
}

.content {
  position: relative;

  display: flex;
  overflow: auto;

  width: 100%;
  -webkit-overflow-scrolling: touch;
}

.scrollableWrapper {
  overflow: auto;

  width: 100%;
  padding: calc(var(--ring-unit) * 2) calc(var(--ring-unit) * 4);

  &:focus:not(:focus-visible) {
    outline: none;
  }
}

.narrowIsland .scrollableWrapper {
  padding: calc(var(--ring-unit) * 2);
}

.withoutPaddings .scrollableWrapper {
  padding: 0;
}

.contentWithTopFade::before {
  position: absolute;
  z-index: var(--ring-fixed-z-index);
  left: 0;

  display: block;

  width: 100%;
  height: calc(var(--ring-unit) * 3);

  content: "";

  pointer-events: none;

  opacity: 0.8;

  background: linear-gradient(to top, var(--ring-island-gradient-start), var(--ring-island-gradient-stop));
}

.contentWithTopFade:first-child::before {
  border-top-left-radius: var(--ring-border-radius);
  border-top-right-radius: var(--ring-border-radius);
}

.contentWithBottomFade::after {
  position: absolute;
  bottom: 0;
  left: 0;

  display: block;

  width: 100%;
  height: calc(var(--ring-unit) * 3);

  content: "";
  pointer-events: none;

  opacity: 0.8;
  border-bottom-right-radius: var(--ring-border-radius);
  border-bottom-left-radius: var(--ring-border-radius);
  background: linear-gradient(to bottom, var(--ring-island-gradient-start), var(--ring-island-gradient-stop));
}
