
body {
  margin: 0 !important;
  background: #e8e8e9;
}

.page-content {
  background: #FFF;
  padding: 32px;
  height: 394px;
}

/* override Header */
.header.header {
  height: 40px;
}

.logo.logo {
  color: #fff;
  position: relative;
  top: -2px;
}
  