
body {
  margin: 0 !important;

  background: #e8e8e9;
}

.page-content {
  height: 394px;

  padding: 32px;
  background: #fff;
}

/* override Header */
.header.header {
  height: 40px;
}

.logo.logo {

  position: relative;
  top: -2px;
  color: #fff;
}
