@value font, font-size, line-height, unit from  "../global/global.css";

.heading {
  composes: font;
  margin-top: line-height;
  &:first-child {
    margin-top: 0;
  }

  @nest h1&, h2& {
    color: #222;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 8px;
  }

  @nest h1& {
    text-transform: uppercase;
    letter-spacing: 2px;
  }

  @nest h3& {
    font-size: font-size;
    line-height: line-height;
    margin-bottom: 0;
  }

  @nest h4&, h5&, h6& {
    font-size: 12px;
    line-height: 16px;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 1px;
  }
}
