@value font, font-size, line-height, unit from  "../global/global.css";

.heading {
  composes: font;

  margin-top: line-height;

  &:first-child {
    margin-top: 0;
  }

  @nest h1&, h2& {
    color: #222;
  }

  @nest h1& {
    margin-bottom: 8px;

    font-size: 24px;
    line-height: 28px;
  }

  @nest h2& {
    margin-bottom: 4px;

    font-size: 20px;
    line-height: 24px;
  }

  @nest h3& {
    margin-bottom: 1px;

    font-size: 16px;
    line-height: 20px;
  }

  @nest h4& {
    margin-bottom: 1px;

    letter-spacing: 1px;
    text-transform: uppercase;

    font-size: 12px;
    font-weight: normal;
    line-height: 16px;
  }

  @nest h5&, h6& {
    margin-bottom: 0;
  }
}

.caps {
  letter-spacing: 2px;
  text-transform: uppercase;
}
