@import "../global/variables.css";

@value unit from "../global/global.css";

.ring-line {
  display: block;

  width: 100%;
  height: 1px;

  background-color: var(--ring-line-color);
}

.ring-line_separated {
  margin: calc(unit * 2) 0;
}
