.ring-tabs-pointer .active:after {
  display: block;
  position: relative;
  top: 19px;
  width: 10px;
  height: 10px;
  margin: 0 auto;

  content: '';
  transform: rotate(45deg);
  cursor: default;
  background-color: #f0f0f0;
  box-shadow: inset 1px 1px 0 0 #cbcbcb;
}