<example name="password">
  <file type="css">
  </file>

  <file type="html" disable-auto-size>
    <div id="examples"></div>
  </file>

  <file type="js">
    import {render} from 'react-dom';
    import React, {PureComponent} from 'react';

    import '../input-size/input-size.scss';

    import Password from '@jetbrains/ring-ui/components/password/password';

    const container = document.getElementById('examples');

    const nodes = (
      <form className="inputs">
        <Password />

        <br/><br/>

        <Password value="password" requiredStrength="15" currentStrength="5" message="You can move marker where you want" />

        <br/><br/>

        <Password value="password" requiredStrength="50" currentStrength="25" message="Your password is not strong enough" />

        <br/><br/>

        <Password value="password" requiredStrength="50" currentStrength="50" />

        <br/><br/>

        <Password value="password" requiredStrength="50" currentStrength="75" message="Your password is so good" description="This a description for the current state " />

        <br/><br/>

        <Password value="password" requiredStrength="50" currentStrength="100" />

        <br/><br/>

        <Password className="ring-input-size_md" value="password" requiredStrength="0" currentStrength="40" message="No required level, this is very handy when you have complex logic" />

        <br/><br/>

        <Password value="password" currentStrength={80} forceValid={true} message="Here we do not set required level and just pass forceValid=true to mark this password as valid" />
      </form>
    )

    render(nodes, container);
  </file>
</example>
