@import "../global/global";

.password {
  margin-top: $ring-unit;
  height: 2px;
  width: 100%;
  background-color: #D3D3D3;
  position: relative;

  &__progress {
    height: 2px;
    width: 0;
    background-color: $ring-dark-gray-color;
    position: absolute;

    &_valid {
      background-color: $ring-green-color;
    }

    &_invalid {
      background-color: $ring-error-color;
    }
  }

  &__marker {
    height: 6px;
    width: 2px;
    position: absolute;
    top: -2px;
    background-color: inherit;

    &_valid {
      background-color: $ring-green-color;
    }

    &_invalid {
      background-color: $ring-error-color;
    }
  }

  &__message {
    @include ring-font(11px);

    &_valid {
      color: $ring-green-color;
    }

    &_invalid {
      color: $ring-error-color;
    }
  }

  &__description {
    @include ring-font(11px);
  }
}
