@import "../global/variables.css";

@value unit from "../global/global.css";

.light {
  &.progressBar {
    background-color: rgba(0, 0, 0, 0.2);
  }
}

.dark {
  &.progressBar {
    background-color: rgba(255, 255, 255, 0.3);
  }

  & .line::after {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.4), rgba(0, 0, 0, 0));
  }
}

.progressBar {
  position: relative;
  z-index: 1; /* Required to see border-radius on animated background */

  overflow: hidden;

  height: calc(unit / 2);
  margin-bottom: calc(unit / 2);

  border-radius: 2px;
}

.globalMode {
  position: absolute;
  top: 0;

  width: 100%;

  background: transparent;
}

.line {
  float: left;

  width: 0;
  height: 100%;

  transition: width 0.6s ease;
  text-align: center;

  color: var(--ring-content-background-color);
  border-radius: 2px;
  background-color: var(--ring-main-color);

  line-height: calc(unit / 2);

  &::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    content: "";
    animation: progress-bar 2500ms linear infinite;

    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.6), rgba(0, 0, 0, 0));
    background-repeat: no-repeat;
  }
}

@keyframes progress-bar {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(100%);
  }
}
