@import "../global/global";

.ring-progress-bar {
  background-color: #D8D8D8;
  border-radius: 2px;
  height: $ring-unit/2;
  margin-bottom: $ring-unit/2;
  max-width: 36*$ring-unit;
  overflow: hidden;
  position: relative;
}

.ring-progress-bar_global {
  background: transparent;
  max-width: none;
  position: absolute;
  top: 0;
  width: 100%;
}

.ring-progress-bar__i {
  background-color: $ring-blue-color;
  color: #FFF;
  float: left;
  height: 100%;
  line-height: $ring-unit/2;
  transition: width .6s ease;
  text-align: center;
  width: 0;

  &:after {
    animation: animatedBackground 200ms linear infinite;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='5' height='5'><line x1='0' y1='5' x2='5' y2='0' stroke='rgba(255, 255, 255, 0.5)' /></svg>");
    background-position: 0 0;
    background-repeat: repeat-x;
    bottom: 0;
    content: '';
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }
}

@keyframes animatedBackground {
  from { background-position: 0 0; }
  to { background-position: -4px 0; }
}
