@import "../global/global";

// 404 page
//
// Markup:
//<!-- Styling for KSS docs, don't use -->
//<div style="width: 800px; height: 300px; margin-bottom: 100px">
//<!--  -->
//<div class="ring-not-found {$modifiers}" style="width: 800px; height: 300px;">
//  <div class="ring-not-found__textbox">
//    <div class="ring-not-found__title">404: Nope, could't find it!</div>
//I did my best but there's no one and no thing here with the URL you've requested. Probably the address was incorrect.
//What would you like to do next?
//Go back to the home page
//    Report the problem to admin</div>
//  </div>
// <!-- Remove -->
//</div>
//
// .ring-not-found_fullpage - Bind block to viewport size.
//
// Styleguide 9.1

$ring-seventh-part: 14.28%;

.ring-not-found {
  position: relative;
  width: 100%;
  height: 100%;
  background: linear-gradient(-90deg, #000 $ring-seventh-part, #0000FE $ring-seventh-part, #0000FE $ring-seventh-part * 2, #FE0000 $ring-seventh-part * 2, #FE0000 $ring-seventh-part * 3, #FF00FE $ring-seventh-part * 3, #FF00FE $ring-seventh-part * 4, #01FF01 $ring-seventh-part * 4, #01FF01 $ring-seventh-part * 5, #01FFFF $ring-seventh-part * 5, #01FFFF $ring-seventh-part * 6, #FFFE01 $ring-seventh-part * 6);
  @include ring-font;

  .ring-not-found__textbox {
    position: absolute;
    width: 73 * $ring-unit;
    margin: 4 * $ring-unit;
    padding: 0 2*$ring-unit 2*$ring-unit;

    background: #FFF;
    background: rgba(255, 255, 255, 0.85);
    border-radius: 3px;

    font-size: 15px;
    color: #000;
  }

  .ring-not-found__title {
    margin: 1 * $ring-unit 0 2 * $ring-unit;

    font-size: 21px;
    font-weight: bold;
    color: #000;
  }

  &:after {
    content: '';
    display: block;
    position: absolute;

    width: 100%;
    height: $ring-unit * 6;
    bottom: 0;

    background: linear-gradient(-90deg, #FFF $ring-seventh-part, #01FF01 $ring-seventh-part, #01FF01 $ring-seventh-part * 2, #000 $ring-seventh-part * 2, #000 $ring-seventh-part * 3, #01FFFF $ring-seventh-part * 3, #01FFFF $ring-seventh-part * 4, #000 $ring-seventh-part * 4, #000 $ring-seventh-part * 5, #FF00FE $ring-seventh-part * 5, #FF00FE $ring-seventh-part * 6, #000 $ring-seventh-part * 6);
  }
}

.ring-not-found_fullpage,
.ring-not-found_fullpage:after {
  position: fixed;
}
