@import "../global/variables.css";

@value unit, resetButton from "../global/global.css";
@value overInputZIndex: 2;
@value inputGap: calc(unit * 3);

.light {
  &.queryAssist {
    height: calc(unit * 3);

    background: var(--ring-content-background-color);
  }

  & .input {
    height: calc(unit * 3 - 2px);

    box-shadow: 0 0 0 1px var(--ring-borders-color);

    /* stylelint-disable-next-line selector-max-specificity */
    &:not([disabled]):active,
    /* stylelint-disable-next-line selector-max-specificity */
    &:not([disabled]):focus {
      border-color: transparent;
      box-shadow: 0 0 0 1px var(--ring-main-color);
    }
  }

  & .placeholder {
    color: var(--ring-secondary-color);
  }

  & .letter-text {
    color: var(--ring-warning-color);
  }

  & .letterDefault,
  & .letter-field-name {
    color: var(--ring-text-color);
  }

  & .letter-field-value {
    color: var(--ring-link-color);
  }

  & .letter-operator {
    color: var(--ring-secondary-color);
  }

  & .letter-error {
    padding-bottom: 1px;

    border-bottom: 1px solid var(--ring-icon-error-color);
  }

  & .iconInner {
    color: var(--ring-icon-secondary-color);
  }

  & .highlight {
    font-weight: 600;
  }

  & .service {
    color: var(--ring-secondary-color);
  }
}

.dark {
  &.queryAssist {
    height: calc(unit * 4);

    font-size: 16px;
  }

  & .input {
    top: 0;

    height: calc(unit * 4 - 2px);

    color: var(--ring-search-color);

    border-top-width: 5px;
    background: var(--ring-dark-selected-background-color);

    &:active,
    &:focus {
      border-color: var(--ring-navigation-background-color);

      background-color: var(--ring-navigation-background-color);
    }
  }

  & .placeholder {
    top: 6px;

    color: var(--ring-icon-color);

    @nest & :-ms-input-placeholder,
    :root & {
      top: 7px;
    }

    @supports (-ms-ime-align:auto) {
      & {
        top: 7px;
      }
    }
  }

  & .letter-text {
    color: var(--ring-warning-color);
  }

  & .letterDefault,
  & .letter-field-name {
    color: var(--ring-search-color);
  }

  & .letter-field-value {
    color: var(--ring-dark-text-color);
  }

  & .letter-operator {
    color: var(--ring-secondary-color);
  }

  & .letter-error {
    padding-bottom: 1px;

    border-bottom: 1px solid var(--ring-icon-error-color);
  }

  & .icon {
    top: 8px;
  }

  & .iconInner {
    color: var(--ring-icon-color);
  }

  & .loader {
    top: 6px;
  }

  & .highlight {
    font-weight: 600;
  }

  & .service {
    color: var(--ring-secondary-color);
  }
}

.queryAssist {
  composes: font from '../global/global.css';

  position: relative;

  box-sizing: border-box;

  line-height: normal;
}

.input {
  position: relative;

  top: 1px;
  left: 1px;

  overflow: hidden;

  box-sizing: border-box;

  width: calc(100% - 2px);
  margin: 0;

  padding: 2px calc(unit / 2) 3px;

  white-space: nowrap;

  border-width: 0;
  border-style: solid;
  border-color: transparent;
  background: transparent;

  line-height: 16px;

  &:active,
  &:focus {
    outline: 0;
  }

  @nest & :-ms-input-placeholder,
  :root & {
    line-height: 17px;
  }

  @supports (-ms-ime-align:auto) {
    & {
      line-height: 17px;
    }
  }

  & .iconInner {
    color: var(--ring-icon-color);
  }

  &.inputGap {
    border-right-width: inputGap;
  }

  &.inputGap2 {
    border-right-width: calc(2 * inputGap);
  }

  &.inputLeftGap {
    border-left-width: inputGap;
  }

  &.inputDisabled {
    color: var(--ring-disabled-color);
    border-color: var(--ring-line-color);
  }
}

.placeholder {
  composes: resetButton;

  position: absolute;
  top: 3px;

  left: 5px;

  display: block;

  overflow: hidden;

  width: calc(100% - unit * 4);

  text-overflow: ellipsis;

  pointer-events: none;

  &.placeholderSpaced {
    left: calc(unit * 3 + 5px);
  }

  @nest & :-ms-input-placeholder,
  :root & {
    top: 4px;
  }

  @supports (-ms-ime-align:auto) {
    & {
      top: 4px;
    }
  }
}

.letter {
  display: inline;
}

.actions {
  position: absolute;
  z-index: overInputZIndex;
  top: 4px;
  right: 1px;
}

.icon {
  position: absolute;
  z-index: overInputZIndex;
  top: 4px;

  box-sizing: border-box;

  width: calc(unit * 3);
  height: calc(unit * 2);

  padding: 0 4px;

  cursor: pointer;
  user-select: none;

  line-height: normal;

  & svg {
    vertical-align: baseline;
  }

  @nest .actions & {
    position: relative;
    top: 0;
    left: -1px;
  }
}

.loaderOnTheRight {
  right: 1px;

  left: auto;
}

.focusUnderline {
  width: 0;
  height: 2px;

  transition: width 0.15s ease-out;

  background: var(--ring-main-color);
}

.input:focus ~ .focusUnderline,
.input:active ~ .focusUnderline {
  width: 100%;
}
