.ring-footer {
  position: relative;
  height: $x-unit*8;

  margin: $x-unit*5  $x-unit*3 0 $x-unit*3;
  padding-top: $x-unit*2;
  border-top: 1px solid #e5e5e5;

  color: #6e6e6e;
  text-align: center;
  font-size: 11px !important;
  @include droid-font();
}

.ring-footer__column {
  position: absolute;
  width: 33%;
}

.ring-footer__column__i {
  padding: 0;
  margin: 0;
  display: inline-block;
  vertical-align: top;
}

.ring-footer__column_left {
  text-align: left;
  left: 0; // IE7
}

.ring-footer__column_center {
  left: 33.6%;
}

.ring-footer__column_right {
  right: 0;
  top: $x-unit*2;
  text-align: right;
}

.ring-footer__line {
  list-style: none;
  padding: 0;
  line-height: 16px !important;
}

.ring-footer__column_center .ring-footer__line {
  text-align: left;
}