@import "./table-legacy__toolbar.css";

:global(.ring-table) {
  width: 100%;

  border-spacing: 0;

  border-collapse: collapse;
  background-color: transparent;

  font-size: var(--ring-font-size);
}

:global(.ring-table__header) {
  display: table-row;

  background-color: var(--ring-sidebar-background-color);
}

:global(.ring-table__header-checkbox) {
  position: relative;
  top: 1px;
  left: -2px;

  display: inline-block;
}

:global(.ring-table__title) {
  position: relative;

  display: table-cell;

  padding: 0 var(--ring-unit);

  text-align: left;
  white-space: nowrap;

  color: var(--ring-text-color);
  border-top: 1px solid var(--ring-sidebar-background-color);
  border-bottom: 1px solid var(--ring-line-color);

  font-size: var(--ring-font-size-smaller);
  font-weight: normal;
  line-height: 23px;
}

:global(.ring-table__title.ring-table__title_active) {
  font-weight: bold;
}

:global(.ring-table__title:first-child) {
  padding-left: calc(var(--ring-unit) * 4);
}

/* Have to emulate right border because of Fx weird bug —
*  https://jetpass.myjetbrains.com/youtrack/issue/JPS-1634
*  Removing border-collapse: collapse from .ring-table helps too,
*  but to implement nested items markup without it is next to impossible.
**/
:global(.ring-table__title::after) {
  position: absolute;
  top: -1px;
  right: 0;
  bottom: 0;

  display: block;

  width: 1px;

  content: normal;

  background-color: var(--ring-sidebar-background-color);
}

:global(.ring-table__title_border::after) {
  content: "";
}

:global(.ring-table__title_nested) {
  padding-left: calc(var(--ring-unit) * 5);
}

/* fix header checkbox position in nested table */
:global(.ring-table__title_nested.ring-table__header-checkbox) {
  left: -26px;
}

:global(.ring-table__toggle) {
  position: relative;
  top: 9px;

  display: inline-block;

  width: 12px;
  height: 9px;

  margin-left: calc(var(--ring-unit) * 2);
  padding-bottom: 21px;

  cursor: pointer;

  color: var(--ring-line-color);

  font-size: 14px;
}

:global(.ring-table__toggle:hover) {
  color: var(--ring-text-color);
}

:global(.ring-table__toggle-icon) {
  float: right;
}

:global(.ring-table__toggle-icon:hover) {
  color: var(--ring-link-hover-color);
}

:global(.ring-table__column-inline-avatar) {
  display: inline-block;

  vertical-align: middle;
}

:global(.ring-table__column-inline-avatar-img) {
  margin: -6px 8px;
}

:global(.ring-table__column_selector) {
  min-width: calc(3 * var(--ring-unit));
  padding: 0 !important;

  text-align: center;
}

:global(.ring-table__selector) {
  display: inline-block;

  margin: 0 0 0 calc(var(--ring-unit) / 2);
}

:global(.ring-table__column) {
  display: table-cell;

  padding: calc(var(--ring-unit) - 2px) var(--ring-unit);

  vertical-align: middle;
  white-space: nowrap;

  border-collapse: collapse;
  border-width: 1px;
  border-color: var(--ring-line-color);
  border-top-style: solid;
  border-bottom-style: solid;
}

/* Avoid vertical gaps in the middle of the table */
:global(.ring-table__column:last-child) {
  width: 100%;
}

:global(.ring-table__column:first-child) {
  padding-left: calc(4 * var(--ring-unit));
}

:global(.ring-table__column.ring-table__column_gap) {
  border-bottom-color: transparent !important;
  background-color: var(--ring-line-color);
}

/* Combined class is required here for specificity */
:global(.ring-table__column.ring-table__column_toggle) {
  width: calc(var(--ring-unit) * 2);
  padding: 0;

  text-align: right;

  vertical-align: top;
}

:global(.ring-table__column_right) {
  text-align: right;
}

:global(.ring-table__column_gray) {
  color: var(--ring-secondary-color);
}

:global(.ring-table__column_snuggle-right) {
  padding-right: 0;
}

:global(.ring-table__column_snuggle-left) {
  padding-left: 0;
}

:global(.ring-table__column_align-right) {
  text-align: right;
}

:global(.ring-table__column_gap) {
  padding-left: calc(var(--ring-unit) * 2) !important;
}

:global(.ring-table__column-title) {
  font-weight: bold;
}

:global(.ring-table__column_wide) {
  min-width: calc(10 * var(--ring-unit));
}

:global(.ring-table__column_limited) {
  overflow: hidden;

  max-width: calc(50 * var(--ring-unit));

  white-space: nowrap;
  text-overflow: ellipsis;
}

:global(.ring-table__column_unlimited) {
  overflow: hidden;

  width: 100%;
  max-width: 1px;

  white-space: nowrap;
  text-overflow: ellipsis;
}

:global(.ring-table__column_narrow) {
  min-width: calc(3 * var(--ring-unit));
  padding: 0 !important;
}

:global(.ring-table__column-list:not(:last-child)::after) {
  content: ", ";
}

:global(.ring-table__row) {
  display: table-row;

  width: 100%;
  height: calc(5 * var(--ring-unit));
}

:global(.ring-table__row .ring-table__row_ghost) {
  background-color: var(--ring-content-background-color);
}

:global(.ring-table__row .ring-table__row_implicit) {
  opacity: 0.5;
}

:global(.ring-table__row:hover) {
  background-color: var(--ring-sidebar-background-color);
}

:global(.ring-table__row:hover .ring-table__column_gap) {
  background-color: var(--ring-line-color);
}

:global(.ring-table__row .ring-table__row_unselectable:hover) {
  background-color: initial;
}

:global(.ring-table__row .ring-table__row_checked) {
  background-color: var(--ring-selected-background-color);
}

:global(.ring-table__row .ring-table__row_active-checked) {
  background-color: var(--ring-selected-background-color);
}

:global(.ring-table__row .ring-table__row_active.ring-table__column) {
  border-color: var(--ring-main-color);
  border-top-style: double; /* Using double to override border-top-color because of border collapsed */
}

:global(.ring-table__row .ring-table__row_active.ring-table__column_gap) {
  border-color: var(--ring-line-color);
  border-top-style: none;
}

:global(.ring-table__row .ring-table__row_active.sidebar__btn) {
  visibility: visible;
}

:global(.ring-table__group) {
  display: table-row-group;
}

:global(.ring-table__description) {
  margin-left: var(--ring-unit);

  color: var(--ring-secondary-color);

  font-size: var(--ring-font-size-smaller);
}

:global(.ring-table__avatar) {
  width: calc(3 * var(--ring-unit));
  height: calc(3 * var(--ring-unit) + 3px); /* If avatar is missing */
}

:global(.ring-table__avatar-img) {
  width: calc(3 * var(--ring-unit));
  height: calc(3 * var(--ring-unit));
}

:global(.ring-table__header_sticky) {
  position: fixed;

  /* Set z-index to avoid overlaying icons in rows and fixed header */

  z-index: var(--ring-fixed-z-index);
  top: 0;

  display: none;

  width: auto;
}

:global(.table__pager) {
  padding: calc(4 * var(--ring-unit));
}

:global(.table__pager-links) {
  margin-bottom: calc(2 * var(--ring-unit));
}

:global(.table__pager-link) {
  display: inline-block;

  margin-right: calc(4 * var(--ring-unit));
}

:global(.table__pager-link_disabled) {
  color: var(--ring-secondary-color);
}

:global(.table__pager-select) {
  display: inline-block;
  float: right;
}
