// Base
@import "../blocks/global/global";
@import "../blocks/link/link";
@import "../blocks/font-icon/font-icon";

// Modules
@import "../blocks/header/header";

// VC specific
.ring-header {
  position: absolute;
  top: 0;
  left: -1.1em;
  width: 100%;
}

.ring-header__personal {
  right: 62px;
  font-size: 18px;
  @include ring-font;
}