@import "../global/variables.css";

@value unit from "../global/global.css";

.breadcrumb {
  margin: 20px 0 calc(unit * 3);

  font-size: 0;
}

.header {
  margin-bottom: 0;
}

.breadcrumbSmall .breadcrumbElement {
  display: inline-block;

  height: calc(unit * 2);

  font-size: var(--ring-font-size);
  line-height: 14px;
}

.breadcrumbElement {
  & .breadcrumb {
    display: inline;
  }

  display: inline-block;

  height: calc(unit * 3);

  text-decoration: none;

  font-size: 24px;
  line-height: 28px;
}

.breadcrumbElement > span {
  display: inline-block;
}

.breadcrumbElement.active,
.breadcrumb .active {
  cursor: default;
}

.elementDescription {
  position: relative;
  top: 2px;

  display: inline-block;
  overflow: hidden;

  width: calc(50 * unit);
  padding-left: calc(2 * unit);

  white-space: nowrap;
  text-overflow: ellipsis;

  font-size: var(--ring-font-size);
  line-height: 16px;
}

.separatorIcon {
  margin: 0 2px;
  margin-top: -14px;

  color: var(--ring-icon-disabled-color);
}
