<div class="ring-breadcrumb">
  <span class="ring-breadcrumb__element" ng-show="label">
    <rg-link
      ng-if="link"
      ng-href="{{link}}"
    >{{label}}</rg-link>

    <rg-link ng-if="!link && onClick"
          ng-class="onClick && 'ring-link'"
          ng-click="onClick({$event: $event})">{{label}}</rg-link>

    <span ng-if="!link && !onClick" ng-click="onClick({$event: $event})">{{label}}</span>
  </span>

  <span class="ring-breadcrumb__sep" ng-show="label">
    <rg-icon
      class="ring-breadcrumb__sep__icon"
      glyph="/chevron-right.svg"
    ></rg-icon>
  </span>

  <span class="ring-breadcrumb__element active" ng-transclude></span>
</div>
