@import "../global/global";

// Input error bubbles
//
// Markup:
// <div class="ring-error-bubble-wrapper">
//   <input class="ring-input ring-input_error ring-input-size_md" type="text">
//   <div class="ring-error-bubble active">Wrong value</div>
// </div>
//
// Styleguide 14.2
.ring-error-bubble {
  z-index: 2;
  box-sizing: border-box;
  display: none;
  position: absolute;
  top: 0;
  left: 25*$ring-unit + 2; // fallback if calc is not supported
  left: calc(100% + 2px);
  height: 3*$ring-unit;
  padding-right: 2*$ring-unit;
  padding-left: 2*$ring-unit;
  line-height: 3*$ring-unit;

  border-radius: $ring-border-radius;
  border: 1px solid #e5e5e5;

  @include ring-font;
  white-space: nowrap;

  color: $ring-error-color;
  background: #FFF;
  box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.15);

  &.active {
    display: inline-block;
  }

  &:before {
    content: '';
    transform: rotate(45deg);
    z-index: $ring-invisible-element-z-index;

    position: absolute;
    top: 7px;
    left: -5px;

    display: block;
    width: $ring-unit;
    height: $ring-unit;

    border: 1px solid $ring-gray-color;
    border-right: none;
    border-top: none;

    background: #FFF;
  }
}

/**
 * Is needed for correct displaying of ring-error-bubble.
 * Should not be used inside ring-form__controller as it is already relative-wrapper
 */
.ring-error-bubble-wrapper {
  position: relative;
}
