@import "../global/variables.css";

@value unit from "../global/global.css";

.errorBubblePopup {
  overflow: visible;

  margin-left: 2px;

  border: none;

  box-shadow: none;
}

.errorBubbleWrapper {
  display: inline-block;
}

.errorBubble {
  box-sizing: border-box;
  min-height: calc(unit * 3);
  padding-right: calc(unit * 2);
  padding-left: calc(unit * 2);

  white-space: nowrap;

  color: var(--ring-error-color);

  border: 1px solid var(--ring-popup-border-color);
  border-radius: var(--ring-border-radius);

  background: var(--ring-popup-background-color);
  box-shadow: 0 2px 16px 0 var(--ring-popup-shadow-color);

  font-size: 12px;
  line-height: 22px;
}

.errorBubble::before {
  position: absolute;
  top: unit;
  left: -4px;

  display: block;

  width: unit;
  height: unit;

  content: "";
  transform: rotate(45deg);

  border: 1px solid var(--ring-popup-border-color);
  border-top: none;
  border-right: none;
  background: var(--ring-popup-background-color);
}
