@value unit from "../global/global.css";
@value borderColor: #e5e5e5;

.errorBubblePopup {
  overflow: visible;

  margin-left: 2px;

  border: none;

  box-shadow: none;
}

.errorBubbleWrapper {
  display: inline-block;
}

.errorBubble {
  box-sizing: border-box;
  min-height: calc(unit * 3);
  padding-right: calc(unit * 2);
  padding-left: calc(unit * 2);

  white-space: nowrap;

  color: var(--ring-error-color);

  border: 1px solid borderColor;
  border-radius: var(--ring-border-radius);

  background: #fff;
  box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.15);

  font-size: 12px;
  line-height: 22px;

  &::before {
    position: absolute;
    top: unit;
    left: -4px;

    display: block;

    width: unit;
    height: unit;

    content: '';
    transform: rotate(45deg);

    border: 1px solid borderColor;
    border-top: none;
    border-right: none;
    background: #fff;
  }
}
