// Do not place here anything but variables and mixins

$ring-unit: 8px;

$ring-link-color:  #1866C5;
$ring-link-hover-color: #FF5A00;
$ring-color-error: #C10000;
$ring-color-gray: #ccc;
$ring-color-dark-gray: #888;
$ring-color-green: #84ab28;
$ring-color-blue: #25b7ff;

$ring-outline-color: rgba(37, 183, 255, 0.5);
$ring-border-color: rgba(0, 0, 0, 0.2);
$ring-border-radius: 3px;

$ring-font-color: #1a1a1a;

@mixin rgba-attribute($attribute, $color, $background: #fff) {
  $solid-color: mix(opacify($color, 1), $background, alpha($color) * 100%);
  #{$attribute}: $solid-color;
  #{$attribute}: $color;
}

$ring-fonts-dir: 'fonts/' !default;
$ring-font-size: 13px;
$ring-font-size-smaller: 11px;

@mixin clearfix() {
  &:after {
    clear: both;
    content: '';
    display: block;
  }
}

@mixin ring-font($font-size: $ring-font-size) {
  color: $ring-font-color;
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: $font-size;
}

// To be used at large sizes
// As close as possible to Helvetica Neue Thin (to replace Gotham)
@mixin ring-thin-font() {
  font-weight: 100;  // Renders Helvetica Neue UltraLight on OS X, but otherwise it would be just Light
  font-family: "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

@mixin ring-monospace-font() {
  font: 12px Menlo, "Bitstream Vera Sans Mono", "Ubuntu Mono", "Courier New", Courier, monospace;
}

@mixin vertical-compensation($compensation: -2px, $position: relative) {
  position: $position;
  top: $compensation;
}

// Constant values for z-indexes.

// Invisible element is absolutely positioned element, which should be below
// all other elements on the page.
$ring-invisible-element-z-index: -1;
// Elements which should overlay all other elements on the page.
$ring-overlay-z-index: 5;
// Alerts, which should de displayed above overlays.
$ring-alert-z-index: 6;
