@value unit: 8px;

/* https://readymag.com/artemtiunov/RingUILanguage/colours/ */

@value line-color: #DFE5EB;
@value dark-line-color: #263B4C;
@value border-color: #CFDBE5;
@value icon-color: #B8D1E5;
@value border-hover-color: #80C6FF;
@value main-color: #008EFF;

@value search-color: #669ECC;
@value hint-color: #406380;
@value link-color: #0F5B99;
@value link-hover-color: #FF008C;
@value error-color: #E50000;
@value success-color: #4DA400;
@value text-color: #444;

@value darker-gray-color: #888; /* headers & actions on black background */
@value dark-gray-color: #999; /* headers & actions */
@value gray-color: #BBB; /* disabled text & hints */
@value light-gray-color: #CCC; /* active items on black background */

@value white-color: #FFF;
@value sidebar-background-color: #F7F9FA;
@value selected-background-color: #E5F4FF;
@value dark-selected-background-color: #001526;
@value black-color: #000;

@value green-color: #4DA400;
@value blue-color: #25B7FF;
@value light-blue-color #E9F8FF;
@value pale-blue-color #A6D5ED;
@value pink-color: #BC00DE;

@value outline-color: rgba(37, 183, 255, 0.5);

@value border-radius: 3px;
@value border-radius-small: 2px;

@value popup-border-color: rgba(0, 42, 76, 0.1);

@value font-size-larger: 14px;
@value font-size: 13px;
@value font-size-smaller: 12px;

@value line-height-taller: 21px;
@value line-height: 20px;
@value line-height-lower: 18px;
@value line-height-lowest: 16px;

@value ease: 0.3s ease-out;
@value fast-ease: 0.15s ease-out;

.clearfix {
  &:after {
    clear: both;
    content: '';
    display: block;
  }
}

.font {
  font-size: font-size;
  line-height: line-height;
  color: text-color;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Arial, sans-serif;
}

.font-lower {
  composes: font;
  line-height: line-height-lower;
}

.font-smaller {
  composes: font-lower;
  font-size: font-size-smaller;
}

.font-smaller-lower {
  composes: font-smaller;
  line-height: line-height-lowest;
}

.font-larger-lower {
  composes: font-lower;
  font-size: font-size-larger;
}

.font-larger {
  composes: font-larger-lower;
  line-height: line-height-taller;
}

/* To be used at large sizes */
/* As close as possible to Helvetica Neue Thin (to replace Gotham) */
.thin-font {
  font-weight: 100;  /* Renders Helvetica Neue UltraLight on OS X, but otherwise it would be just Light */
  font-family: "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: font-size;
}

.monospace-font {
  font: 12px Menlo, "Bitstream Vera Sans Mono", "Ubuntu Mono", "Courier New", Courier, monospace;
}

.input-disabled {
  border-color: #DEDEDE;
  background-color: #F8F8F8;
}

.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.blue-caret {
  caret-color: main-color;

  @supports not (caret-color: white) {
    color: main-color;
    text-shadow: 0px 0px 0px text-color;
    -webkit-text-fill-color: transparent;
  }
}

/* Common z-index-values */

/* Invisible element is an absolutely positioned element which should be below */
/* all other elements on the page */
@value invisible-element-z-index: -1;

/* z-index for position: fixed elements */
@value fixed-z-index: 1;

/* Elements that should overlay all other elements on the page */
@value overlay-z-index: 5;

/* Alerts should de displayed above overlays */
@value alert-z-index: 6;

/* Note: footer also has top margin which isn't taken into account here */
@value footer-height: calc(unit*8);

/* Media breakpoints (minimal values) */
@value breakpoint-small: 640px;
@value breakpoint-middle: 960px;
@value breakpoint-large: 1200px;

/* Media queries */
@value extra-small-screen-media: (max-width: calc(breakpoint-small - 1));
@value small-screen-media: (min-width: breakpoint-small) and (max-width: calc(breakpoint-middle - 1));
@value middle-screen-media: (min-width: breakpoint-middle) and (max-width: calc(breakpoint-large - 1));
@value large-screen-media: (min-width: breakpoint-large);
