// Do not place here anything but variables and mixins

$ring-unit: 8px;

@mixin ring-clearfix() {
  &:after {
    clear: both;
    content: '';
    display: block;
  }
}

@mixin ring-font($font-size: var(--ring-font-size)) {
  color: var(--ring-text-color);

  //  This is a carefully tested set of fonts, do not touch without consulting with UI designers
  font-size: $font-size;
  font-family: var(--ring-font-family);
}

// To be used at large sizes
// As close as possible to Helvetica Neue Thin (to replace Gotham)
@mixin ring-thin-font() {
  font-weight: 100; // Renders Helvetica Neue UltraLight on OS X
  font-family: "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

@mixin ring-monospace-font() {
  font-family: var(--ring-font-family-monospace);
}

@mixin ring-vertical-compensation($compensation: -2px, $position: relative) {
  position: $position;
  top: $compensation;
}

@mixin ring-input-disabled() {
  border-color: var(--ring-border-disabled-color);
  background-color: var(--ring-sidebar-background-color);
  color: var(--ring-disabled-color);
}

@mixin ring-ellipsis() {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
