/* https://readymag.com/artemtiunov/RingUILanguage/colours/ */

:root {
  /* Element */
  --ring-line-color: #dfe5eb;
  --ring-dark-line-color: #263b4c;
  --ring-borders-color: #cfdbe5;
  --ring-icon-color: #b8d1e5;
  --ring-icon-disabled-color: #dbdbdb;
  --ring-border-hover-color: #80c6ff;
  --ring-icon-hover-color: var(--ring-border-hover-color);
  --ring-main-color: #008eff;
  --ring-main-hover-color: #007ee5;
  --ring-icon-error-color: #db5860;
  --ring-icon-warning-color: #eda200;
  --ring-icon-success-color: #59a869;
  --ring-popup-border-components: 0, 42, 76;
  --ring-popup-border-color: rgba(var(--ring-popup-border-components), 0.1);

  /* Text */
  --ring-search-color: #669ecc;
  --ring-hint-color: #406380;
  --ring-link-color: #0f5b99;
  --ring-link-hover-color: #ff008c;
  --ring-error-color: #c22731;
  --ring-warning-color: #cc8b00;
  --ring-success-color: #1c8c32;
  --ring-text-color: #444;
  --ring-dark-text-color: #fff;
  --ring-heading-color: #222;
  --ring-secondary-color: #999;
  --ring-dark-secondary-color: #888;
  --ring-disabled-color: #bbb;
  --ring-dark-active-color: #ccc;

  /* Background */
  --ring-content-background-color: #fff;
  --ring-sidebar-background-color: #f7f9fa;
  --ring-selected-background-color: #e5f4ff;
  --ring-dark-selected-background-color: #001526;
  --ring-message-background-color: rgba(0, 21, 38, 0.9);
  --ring-navigation-background-color: #000;

  /* Deprecated, use referenced values instead */
  --ring-black-color: var(--ring-navigation-background-color);
  --ring-darker-gray-color: var(--ring-dark-secondary-color);
  --ring-dark-gray-color: var(--ring-secondary-color);
  --ring-gray-color: var(--ring-disabled-color);
  --ring-light-gray-color: var(--ring-dark-active-color);
  --ring-white-color: var(--ring-content-background-color); /* or dark-text-color for text on dark background *)/

  /* Metrics */
  --ring-unit: 8px;
  --ring-border-radius: 3px;
  --ring-border-radius-small: 2px;
  --ring-font-size-larger: 14px;
  --ring-font-size: 13px;
  --ring-font-size-smaller: 12px;
  --ring-line-height-taller: 21px;
  --ring-line-height: 20px;
  --ring-line-height-lower: 18px;
  --ring-line-height-lowest: 16px;
  --ring-ease: 0.3s ease-out;
  --ring-fast-ease: 0.15s ease-out;
  --ring-font-family: system-ui, Arial, sans-serif;
  --ring-font-family-monospace: Menlo, "Bitstream Vera Sans Mono", "Ubuntu Mono", Consolas, "Courier New", Courier, monospace;

  /* Common z-index-values */

  /* Invisible element is an absolutely positioned element which should be below */
  /* all other elements on the page */
  --ring-invisible-element-z-index: -1;

  /* z-index for position: fixed elements */
  --ring-fixed-z-index: 1;

  /* Elements that should overlay all other elements on the page */
  --ring-overlay-z-index: 5;

  /* Alerts should de displayed above overlays */
  --ring-alert-z-index: 6;

  /* Note: footer also has top margin which isn't taken into account here */
  --ring-footer-height: calc(var(--ring-unit) * 8);
}

.clearfix {
  &::after {
    display: block;
    clear: both;

    content: '';
  }
}

.font {
  font-family: var(--ring-font-family);
  font-size: var(--ring-font-size);
  line-height: var(--ring-line-height);
}

.font-lower {
  composes: font;

  line-height: var(--ring-line-height-lower);
}

.font-smaller {
  composes: font-lower;

  font-size: var(--ring-font-size-smaller);
}

.font-smaller-lower {
  composes: font-smaller;

  line-height: var(--ring-line-height-lowest);
}

.font-larger-lower {
  composes: font-lower;

  font-size: var(--ring-font-size-larger);
}

.font-larger {
  composes: font-larger-lower;

  line-height: var(--ring-line-height-taller);
}

/* To be used at large sizes */
/* As close as possible to Helvetica Neue Thin (to replace Gotham) */
.thin-font {
  font-family: "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: var(--ring-font-size);
  font-weight: 100; /* Renders Helvetica Neue UltraLight on OS X  */
}

.monospace-font {
  font-family: var(--ring-font-family-monospace);
  font-size: var(--ring-font-size-smaller);
}

.input-disabled {
  border-color: #dedede;
  background-color: #f8f8f8;
}

.ellipsis {
  overflow: hidden;

  white-space: nowrap;
  text-overflow: ellipsis;
}

/* Media breakpoints (minimal values) */
@value breakpoint-small: 640px;
@value breakpoint-middle: 960px;
@value breakpoint-large: 1200px;

/* Media queries */
@value extra-small-screen-media: (max-width: calc(breakpoint-small - 1px));
@value small-screen-media: (min-width: breakpoint-small) and (max-width: calc(breakpoint-middle - 1px));
@value middle-screen-media: (min-width: breakpoint-middle) and (max-width: calc(breakpoint-large - 1px));
@value large-screen-media: (min-width: breakpoint-large);
