$ring-link-color:  #b4b4b4;

.ring-stripe {
  padding: 0 $x-unit*3;
  background: #484848;
  line-height: 1.4;
  text-rendering: optimizeLegibility;
  position: relative;
  text-align: left;
  border-bottom: 1px solid #000;
  height: $x-unit*3 - 1;
}

// Items
.ring-stripe__item {
  margin-right: $x-unit * 2;
  font-size: 10px;
  @include droid-font;
}

.ring-stripe__item_link,
.ring-stripe__item_link:visited {
  color: $ring-link-color !important;
  text-decoration: none;
}

.ring-stripe__item_active {
  color: #fff;
  font-weight: bold;
}

// Personal
.ring-stripe__personal {
  right: $x-unit*4;
  position: absolute;
  cursor: pointer;
}

.ring-stripe__personal .ring-stripe__item {
  margin: 0 $x-unit/2;
}

.ring-stripe__personal .font-icon {
  color: $ring-link-color;
  vertical-align: middle;
  font-size: 12px;
}

.ring-stripe__personal:hover .ring-stripe__item,
.ring-stripe__item:hover {
  text-decoration: underline;
}

.ring-stripe__item:hover,
.ring-stripe__personal:hover .ring-stripe__item,
.ring-stripe__personal:hover .font-icon {
  color: $active-link-color !important;
}