@import "../global/variables.css";

@value unit from "../global/global.css";

.alertContainer {
  position: fixed;
  z-index: var(--ring-alert-z-index);
  right: calc(unit * 2);
  bottom: calc(unit);

  display: flex;
  overflow: visible;
  align-items: flex-end;
  flex-direction: column;

  pointer-events: none;

  font-family: var(--ring-font-family);
  font-size: var(--ring-font-size);
}

.alertInContainer {
  composes: alert from "./alert.css";

  min-width: calc(unit * 30);
  max-width: calc(unit * 50);
  margin-top: 0;
}
