// Progress bar
//
// Markup:
//<div class="ring-progress-bar">
//<div class="ring-progress-bar_i" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;"></div>
//</div>
//
// Styleguide 20.1

.ring-progress-bar
{
    overflow: hidden;

    max-width: 36* $ring-unit;
    height: $ring-unit/2;
    margin-bottom: $ring-unit/2;

    border-radius: 2px;
    background-color: #d8d8d8;
}

.ring-progress-bar_i
{
    line-height: $ring-unit/2;

    float: left;

    width: 0;
    height: 100%;

    transition: width .6s ease;
    text-align: center;

    color: #fff;
    background-color: #25b7ff;
}
