// Progress bar
//
// Markup:
//<div class="ring-progress-bar {$modifiers}">
//  <div class="ring-progress-bar__i" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;"></div>
//</div>
//
// .ring-progress-bar_global  - Progress bar on top of the screen. Should be placed directly inside body; will be positioned right below .ring-header if placed adjacent to it.
//
// Styleguide 20.1

.ring-progress-bar {
  overflow: hidden;

  max-width: 36*$ring-unit;
  height: $ring-unit/2;
  margin-bottom: $ring-unit/2;

  border-radius: 2px;
  background-color: #D8D8D8;
}

.ring-progress-bar_global {
  position: absolute;
  top: 0;

  max-width: none;
  width: 100%;

  background: transparent;

  .ring-header ~ & {
    top: $ring-unit*3;
  }
}

.ring-progress-bar__i {
  line-height: $ring-unit/2;

  float: left;

  width: 0;
  height: 100%;

  transition: width .6s ease;
  text-align: center;

  color: #FFF;
  background-color: #25B7FF;
}
