<div>
  <input class="ring-input ring-js-shortcuts"
         type="password"
         ng-model="$ctrl.value"
  >

  <div class="ring-password">
    <div ng-show="$ctrl.required"
         ng-class="$ctrl.getClasses('ring-password__marker', $ctrl.valid)"
         ng-style="{left: $ctrl.required + '%'}"
    ></div>
    <div ng-class="$ctrl.getClasses('ring-password__progress')"
         ng-style="{width: $ctrl.current + '%'}"
    ></div>
  </div>

  <span ng-show="$ctrl.message && !$ctrl.empty" ng-class="$ctrl.getClasses('ring-password__message')">{{$ctrl.message}}</span>
  <div ng-show="!$ctrl.empty" ng-transclude="message" ng-class="$ctrl.getClasses('ring-password__message')"></div>

  <span ng-show="$ctrl.description" class="ring-password__description">{{$ctrl.description}}</span>
  <div ng-transclude="description" class="ring-password__description"></div>
</div>
