<example name="Password Ng">
  <file type="html">
    <div ng-app="Example.passwordNg" ng-strict-di ng-controller="ExampleCtrl as ctrl">

      <div style="margin-top: 25px;">
        <rg-password value="ctrl.value">
          <message>Your password is not good enough</message>
          <description>Here you can add some description</description>
        </rg-password>
      </div>

      <div style="margin-top: 25px;">
        <rg-password required-strength="50" current-strength="15" value="ctrl.value"></rg-password>
      </div>

      <div style="margin-top: 25px;">
        <rg-password required-strength="50" current-strength="50" value="ctrl.value"></rg-password>
      </div>

      <div style="margin-top: 25px;">
        <rg-password class="ring-input-size_md" required-strength="50" current-strength="70" value="ctrl.value">
          <message>Your password is good enough</message>
          <description>Here you can add some description</description>
        </rg-password>
      </div>

    </div>
  </file>
  <file type="js">
    import angular from 'angular';
    import PasswordNg from '@jetbrains/ring-ui/components/password-ng/password-ng';

    import '../input-size/input-size.scss';

    angular.module('Example.passwordNg', [PasswordNg]).
      controller('ExampleCtrl', function ($interval) {
        this.value = 'password';
      });
  </file>
</example>

