@import '../global/global';

// NB: colours from IntelliJ IDEA default colour scheme.
$outline: #CCC;

$added_outline: #B2BCB2;
$added_background: #EDFAED;
$added_chars: #D1F3D2;

$modified_outline: #B2B7BF;
$modified_background: #EEF3FD;
$modified_chars: #D4E1FB;

$deleted_outline: #B6B6B6;
$deleted_background: #F2F2F2;
$deleted_chars: #DEDEDE;

$map_size: 16px;
$map_borders: 1px;

.ring-diff__map {
  background: #f7f7f7;
  border: solid 1px $ring-gray-color;
  border-left: none;
  box-sizing: border-box;
  float: right;
  height: 100%;
  overflow: hidden;
  position: relative;
  user-select: none;
  width: $map_size;
  z-index: 2;
}

.ring-diff__map-element {
  border: solid 1px transparent;
  box-sizing: border-box;
  cursor: pointer;
  min-height: 4px;
  left: 2px;
  position: absolute;
  width: $map_size / 2 + 1;
}

@mixin ring-diff-map-element($color) {
  background: scale-color($color, $lightness: -10%);
  border-color: scale-color($color, $lightness: 15%);
  border-bottom-color: scale-color($color, $lightness: -25%);
  border-right-color: scale-color($color, $lightness: -25%);
}

.ring-diff__map-element_added {
  @include ring-diff-map-element($added_background);
  z-index: 2;
}

.ring-diff__map-element_modified {
  @include ring-diff-map-element($modified_background);
  z-index: 2;
}

.ring-diff__map-element_deleted {
  @include ring-diff-map-element($deleted_background);
  z-index: 1;
}

.ring-diff__menu {
  font: $ring-font-size "Helvetica Neue", Helvetica, Arial;
  line-height: $ring-unit * 3;
  padding: 4px 8px;
  overflow: hidden;
}

.ring-diff__menu-group {
  float: left;
  margin-right: 20px;
}

.ring-diff__menu-checkbox {
  display: inline-block;
  vertical-align: middle;

  input[type=checkbox] {
    margin-top: -1px;
    vertical-align: middle;
  }
}

.ring-diff_doublepane {
  height: 100%;
}

.ring-diff__code {
  height: 100%;
  margin-right: $map_size + $map_borders;
  position: relative;
}

.ring-diff_doublepane .CodeMirror {
  border: solid 1px $ring-gray-color;
  box-sizing: border-box;
  @include ring-monospace-font();
  height: 100%;
}

.ring-diff_doublepane:after {
  clear: both;
  content: '';
  display: block;
}

.ring-diff__modified,
.ring-diff__original,
.ring-diff__split {
  bottom: 0;
  position: absolute;
  top: 0;
}

.ring-diff__modified {
  left: 51%;
  right: 0;
}

.ring-diff__modified .CodeMirror {
  border-left-width: 0;
}

.ring-diff__original {
  left: 0;
  right: 51%;
}

.ring-diff__original .CodeMirror {
  border-right-width: 0;
}

.ring-diff__split {
  background: rgba(0, 0, 0, 0.1);
  border: solid 1px rgba(0, 0, 0, 0.1);
  left: 49%;
  overflow: hidden;
  right: 49%;
  z-index: 4;
}

.ring-diff__split svg {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.ring-diff_doublepane {
  .ring-diff-line_added,
  .ring-diff-line_deleted {
    box-sizing: border-box;
  }

  .ring-diff-line_added {
    background: $added_background;
  }

  .ring-diff-line_modified {
    background: $modified_background;
  }

  .ring-diff-line_deleted {
    background: $deleted_background;
  }

  .ring-diff-line_before-added,
  .ring-diff-line_before-deleted {
    z-index: 1;
  }

  .ring-diff-line_before-added {
    box-shadow: 0 1px 0 $added_outline;
    border-bottom: solid 1px $added_background;
  }

  .ring-diff-line_before-deleted {
    box-shadow: 0 1px 0 $deleted_background;
    border-bottom: solid 1px $deleted_outline;
  }

  .ring-diff-chars_added {
    padding: 2px 0;
    background: $added_chars;
    font-weight: bold;
  }

  .ring-diff-chars_modified {
    padding: 2px 0;
    background: $modified_chars;
    font-weight: bold;
  }

  .ring-diff-chars_deleted {
    padding: 2px 0;
    background: $deleted_chars;
    font-weight: bold;
  }

  .ring-diff-line_collapsed {
    border-bottom: solid 1px;
    z-index: 3;
  }

  .ring-diff-line_first {
    &.ring-diff-line_added {
      border-top: solid 1px $added_outline;
    }

    &.ring-diff-line_modified {
      border-top: solid 1px $modified_outline;
    }

    &.ring-diff-line_deleted {
      border-top: solid 1px $deleted_outline;
    }

    & ~ pre .ring-diff-chars_added,
    & ~ pre .ring-diff-chars_modified,
    & ~ pre .ring-diff-chars_deleted {
      padding-top: 1px;
    }
  }

  .ring-diff-line_last {
    &.ring-diff-line_added {
      border-bottom: solid 1px $added_outline;
    }

    &.ring-diff-line_modified {
      border-bottom: solid 1px $modified_outline;
    }

    &.ring-diff-line_deleted {
      border-bottom: solid 1px $deleted_outline;
    }

    & ~ pre .ring-diff-chars_added,
    & ~ pre .ring-diff-chars_modified,
    & ~ pre .ring-diff-chars_deleted {
      padding-bottom: 1px;
    }
  }
}

.ring-diff-connector__line {
  stroke: $outline;
  stroke-width: 1px;
  fill: transparent;

  &.ring-diff-connector__line_added {
    stroke: $added_outline;
  }

  &.ring-diff-connector__line_modified {
    stroke: $modified_outline;
  }

  &.ring-diff-connector__line_deleted {
    stroke: $deleted_outline;
  }
}

.ring-diff-connector {
  stroke-width: 0px;
}

.ring-diff-connector__path_added {
  fill: $added_background;
}

.ring-diff-connector__path_modified {
  fill: $modified_background;
}

.ring-diff-connector__path_deleted {
  fill: $deleted_background;
}
