@import "../global/global";

$background: #F9F9FC;

$fold_background: #EEE;

$gutter_background: rgba(249, 249, 252, 0.9);
$gutter_border: rgba(205, 205, 205, 0.5);
$gutter_fontcolor: #A7A7A7;

$newline_background: #D1F3D2;
$newline_highlight: #D1F3D2;

$inline_background: #EEF3FD;
$inline_highlighted: #D4E1FB;

$deleted_background: #F2F2F2;
$deleted_highlight: #DEDEDE;

.ring-diff_single {
  .CodeMirror {
    background: $background;
    border: solid 1px $ring-color-gray;
    border-radius: 3px;
    height: auto;
    width: 100%;

    @include ring-monospace-font();
  }
}

.ring-diff__gutter_original,
.ring-diff__gutter_modified,
.ring-diff__gutter_symbol {
  background: $gutter_background;
  color: $gutter_fontcolor;
}

.ring-diff__gutter_original,
.ring-diff__gutter_modified {
  width: 40px;
}

.ring-diff__gutter-symbol {
  width: 1em;
}

.ring-diff__line_added {
  background: $newline_highlight;
  font-weight: bold;
}

.ring-diff__line_added-inline {
  background: $newline_background;
}

.ring-diff__line_deleted {
  background: $deleted_highlight;
  font-weight: bold;
}

.ring-diff__line_deleted-inline {
  background: $deleted_background;
}

.ring-diff__line_inline {
  background: $inline_background;
}

.ring-diff__change_added {
  background: $newline_highlight;
  font-weight: bold;
}

.ring-diff__change_deleted {
  background: $deleted_highlight;
  font-weight: bold;
}

//todo(igor.alexeenko): replace to svg file.
.ring-diff__line_folded:before {
  background:
  linear-gradient(-45deg, transparent 50%, $background 50%) 0 50%,
  linear-gradient(45deg, transparent 50%, $background 50%) 0 50%,
  linear-gradient(45deg, $fold_background, $fold_background);
}

.ring-diff__line_folded:after {
  background:
  linear-gradient(-45deg, transparent 50%, $fold_background 50%) 0 50%,
  linear-gradient(45deg, transparent 50%, $fold_background 50%) 0 50%,
  linear-gradient(45deg, $background, $background);
}

.ring-diff__line_folded:before,
.ring-diff__line_folded:after {
  background-repeat: repeat-x;
  background-size: 12px 12px, 12px 12px;
  content: '';
  display: block;
  height: 12px;
  margin: 0;
  padding: 0;
  width: 100%;
}
