@import "../global/variables.css";

@value unit from "../global/global.css";
@value background-color: var(--ring-selected-background-color);
@value max-height: 20px;

.tag {
  composes: ellipsis from "../global/global.css";

  display: inline-block;

  box-sizing: border-box;
  max-width: 100%;
  height: max-height;

  margin-right: calc(unit / 2);
  margin-bottom: -6px; /* it needs to fix vertical alignment broken by "overflow: hidden" */
  padding: 1px unit;

  color: var(--ring-text-color);

  border: 1px solid background-color;
  border-radius: var(--ring-border-radius);
  background-color: background-color;

  font-size: 12px;
  line-height: 15px;
}

.focused,
.tag:focus {
  position: relative;

  outline: none;
  box-shadow: 0 0 0 2px var(--ring-border-hover-color);
}

.disabled {
  opacity: 0.5;
}

.remove {
  float: right;

  margin-right: calc(unit * -0.5);
  padding: 1px calc(unit / 2);

  cursor: pointer;

  color: var(--ring-secondary-color);

  & svg {
    vertical-align: -1px;
  }

  &:hover {
    color: var(--ring-border-hover-color);
  }
}

.icon {
  margin-right: 6px;

  color: var(--ring-secondary-color);

  & svg {
    vertical-align: -2px;
  }
}

.avatarContainer {
  position: relative;
  top: -2px;
  left: -9px;

  display: inline-block;
  overflow: hidden;

  box-sizing: border-box;
  width: max-height;
  height: max-height;
  margin-right: -4px;

  vertical-align: top;

  border-top-left-radius: var(--ring-border-radius);
  border-bottom-left-radius: var(--ring-border-radius);
}

.customIcon {
  max-width: calc(unit * 2);
  max-height: calc(unit * 2);

  margin-right: calc(unit / 2);

  vertical-align: bottom;
}

.avatarIcon {
  width: max-height;

  margin-right: -4px;

  object-fit: contain;
  object-position: center;
}
