@import "../global/global";

$tag-background-color: #E6E6E6;

.ring-tag {
  display: inline-block;
  margin-right: $ring-unit / 2;
  margin-bottom: $ring-unit / 2;
  padding: 0 $ring-unit / 2;

  background-color: $tag-background-color;
  border-radius: 2px;
  border: 1px solid $tag-background-color;
}

.ring-tag__remove {
  padding-left:$ring-unit / 2;
  color: $ring-dark-gray-color;

  @include ring-vertical-compensation();
}

.ring-tag__icon {
  padding-right: $ring-unit / 2;
  color: $ring-dark-gray-color;
  @include ring-vertical-compensation(-1px);
}
