@import "../global/variables.css";

@value unit from "../global/global.css";
@value background-color: var(--ring-tag-background-color);
@value max-height: 20px;

.tag {
  position: relative;
  z-index: 1;

  display: inline-flex;

  box-sizing: border-box;
  max-width: 100%;
  height: max-height;

  margin-right: calc(unit / 2);
  margin-bottom: -6px; /* it needs to fix vertical alignment broken by "overflow: hidden" */
  padding: 1px unit;

  vertical-align: top;

  color: var(--ring-text-color);

  border: none;
  border-radius: var(--ring-border-radius);
  background-color: background-color;

  font-size: 12px;
  line-height: var(--ring-line-height);
}

.focused,
.tag:focus {
  position: relative;

  outline: none;
  box-shadow: 0 0 0 2px var(--ring-border-hover-color);
}

.tagAngled {
  margin-left: unit;

  border-top-left-radius: 0;
  border-bottom-left-radius: 0;

  &::before {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;

    box-sizing: border-box;
    width: 12px;
    height: 12px;

    content: '';
    transform: scaleY(1.177) rotate(45deg);
    transform-origin: 0 0;

    border: none;

    background-color: background-color;
  }

  &.focused,
  &:focus {
    box-shadow: 0 0 0 1px var(--ring-border-hover-color) inset, 0 0 0 1px var(--ring-border-hover-color);
  }

  &:focus::before {
    box-shadow:
      1px -1px var(--ring-border-hover-color) inset,
      -0.8px 0.8px 0 0.5px var(--ring-border-hover-color);
  }
}

.content {
  composes: ellipsis from "../global/global.css";
}

.disabled {
  opacity: 0.5;
}

.remove {
  margin-right: calc(0 - unit);

  padding: 0 calc(unit / 2);

  cursor: pointer;

  color: var(--ring-icon-secondary-color);

  & svg {
    vertical-align: -3px;
  }

  &:hover {
    color: var(--ring-border-hover-color);
  }
}

.icon {
  margin-right: 6px;

  color: var(--ring-icon-secondary-color);

  & svg {
    vertical-align: -3px;
  }
}

.avatarContainer {
  display: inline-block;
  overflow: hidden;

  box-sizing: border-box;
  width: max-height;
  height: max-height;
  margin-top: -1px;
  margin-right: calc(unit / 2);
  margin-left: calc(0 - unit);

  vertical-align: top;

  border-top-left-radius: var(--ring-border-radius);
  border-bottom-left-radius: var(--ring-border-radius);
}

.customIcon {
  max-width: calc(unit * 2);
  max-height: calc(unit * 2);

  margin-right: calc(unit / 2);

  vertical-align: bottom;
}

.avatarIcon {
  width: max-height;

  margin-right: -4px;

  object-fit: contain;
  object-position: center;
}
