<example name="Alerts">
  <file type="html">
    <div id="alerts-container"></div>
    <button id="create-duplicate">Create a duplicated message</button>
    <button id="create-other">Create another message</button>
  </file>

  <file type="js">
    var render = require('react-dom').render;
    var Alerts = require('ring-ui/components/alert/alerts');

    var alertsContainer = render(Alerts.factory(), document.getElementById('alerts-container'));


    alertsContainer.add('Test message');

    alertsContainer.add('Another test message', Alerts.Type.MESSAGE, 1000);
    alertsContainer.add('Test warning', Alerts.Type.WARNING);

    document.getElementById('create-duplicate').onclick = function () {
      alertsContainer.add('Duplicated message', Alerts.Type.MESSAGE, 5000);
    }

    document.getElementById('create-other').onclick = function () {
      alertsContainer.add('Another message at ' + new Date(), Alerts.Type.MESSAGE, 5000);
    }
  </file>
</example>
