@value animation-duration: 300ms;
@value animation-easing: ease-out;

.alert {
  position: relative;

  box-sizing: border-box;
  min-height: calc(var(--ring-unit) * 5);
  margin: var(--ring-unit) auto;
  padding: 0 calc(var(--ring-unit) * 2);

  transition:
    transform animation-duration animation-easing,
    margin-bottom animation-duration animation-easing,
    opacity animation-duration animation-easing;
  white-space: nowrap;
  pointer-events: auto;

  border-radius: var(--ring-border-radius);
  background-color: var(--ring-message-background-color);

  font-size: var(--ring-font-size);
  line-height: calc(var(--ring-unit) * 5);
}

.alertInline {
  margin: var(--ring-unit);
}

.error {
  word-wrap: break-word;

  color: var(--ring-error-color);
}

.icon {
  display: inline-block;

  margin-right: var(--ring-unit);

  vertical-align: top;
}

.caption {
  display: inline-block;

  max-width: calc(100% - calc(var(--ring-unit) * 5));

  margin: 12px calc(var(--ring-unit) * 5) 12px 0;

  vertical-align: middle;
  white-space: normal;

  color: var(--ring-dark-text-color);

  line-height: 20px;
}

.badge {
  margin-left: var(--ring-unit);

  vertical-align: baseline;
}

.loader {
  top: 2px;

  margin-right: var(--ring-unit);
}

.close {
  position: absolute;
  top: 2px;
  right: 0;

  margin: calc(var(--ring-unit) / 2);
  padding: var(--ring-unit);

  cursor: pointer;

  color: var(--ring-dark-secondary-color);
  border: none;
  background: transparent;

  font-size: 0;
  line-height: 0;

  &:hover,
  &:focus {
    color: var(--ring-link-hover-color);
  }
}

@keyframes show {
  from {
    transform: translateY(100%);

    opacity: 0;
  }

  to {
    transform: translateY(0);

    opacity: 1;
  }
}

@keyframes shaking {
  10%,
  90% {
    transform: translateX(-1px);
  }

  20%,
  80% {
    transform: translateX(2px);
  }

  30%,
  50%,
  70% {
    transform: translateX(-4px);
  }

  40%,
  60% {
    transform: translateX(4px);
  }
}

.animationOpen {
  animation-name: show;
  animation-duration: animation-duration;
}

.animationClosing {
  z-index: var(--ring-invisible-element-z-index);

  opacity: 0;
}

.animationShaking {
  animation-name: shaking;
  animation-duration: 500ms;
}
