@value unit, alert-z-index from '../global/global.css';
@value alert from './alert.css';

.alertContainer {
  position: fixed;

  display: flex;
  top: 0;
  right: 0;
  left: 0;

  align-items: center;
  flex-direction: column;

  overflow: visible;
  pointer-events: none;
  z-index: alert-z-index;
}

.alertInContainer {
  composes: alert;
  width: calc(unit * 55);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
  margin-bottom: 0;
}
