@value unit, alert-z-index from '../global/global.css';
@value alert from './alert.css';

.alertContainer {
  position: fixed;
  z-index: alert-z-index;
  top: 0;
  right: 0;
  left: 0;

  display: flex;
  overflow: visible;
  align-items: center;
  flex-direction: column;

  pointer-events: none;
}

.alertInContainer {
  composes: alert;

  width: calc(unit * 55);
  margin-bottom: 0;

  box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
}
