@value alert from './alert.css';

.alertContainer {
  position: fixed;
  z-index: var(--ring-alert-z-index);
  right: calc(var(--ring-unit) * 2);
  bottom: calc(var(--ring-unit));

  display: flex;
  overflow: visible;
  align-items: flex-end;
  flex-direction: column;

  pointer-events: none;
}

.alertInContainer {
  composes: alert;

  min-width: calc(var(--ring-unit) * 30);
  max-width: calc(var(--ring-unit) * 50);
  margin-top: 0;

  box-shadow: 0 2px 8px rgba(0, 42, 76, 0.3);
}
