@import "../global/variables.css";

@value unit from "../global/global.css";

.alertContainer {
  position: fixed;
  z-index: var(--ring-alert-z-index);
  right: calc(unit * 2);
  bottom: calc(unit);

  display: flex;
  overflow: visible;
  align-items: flex-end;
  flex-direction: column;

  pointer-events: none;
}

.alertInContainer {
  composes: alert from "./alert.css";

  min-width: calc(unit * 30);
  max-width: calc(unit * 50);
  margin-top: 0;

  box-shadow: 0 2px 8px rgba(0, 42, 76, 0.3);
}
