@value unit, border-radius, popup-border-color from '../global/global.css';

@value gradientStart: rgba(255, 255, 255, 0);
@value gradientStop: rgba(255, 255, 255, 0.8);

.island {
  display: flex;
  flex-direction: column;

  border: 1px solid popup-border-color;
  border-radius: border-radius;

  background-color: #FFF;
  box-shadow: 0 1px 4px color(popup-border-color a(0.15));
}

.withTransparentBottomBorder {
  transition: border-bottom-color 0.1s;
  border-bottom: 1px solid transparent;
}

.header {
  composes: withTransparentBottomBorder;
  line-height: calc(unit*4);
  padding: 0 calc(unit*4);
  box-sizing: border-box;
  width: 100%;
}

.withBottomBorder.withBottomBorder {
  border-bottom-color: popup-border-color;
  border-top-left-radius: border-radius;
  border-top-right-radius: border-radius;
}

.title {
  display: block;
  float: left;
  transform-origin: 0 50%;
  font-weight: bold;
}

.narrowIsland .header {
  padding: 0 calc(unit*2);
}

.content {
  display: flex;
  position: relative;
  overflow: auto;
}

.scrollableWrapper {
  composes: islandScrollableWrapperInsideDialog from '../dialog/dialog.css';
  width: 100%;
  overflow: auto;
  padding: calc(unit*2) calc(unit*4);
}

.narrowIsland .scrollableWrapper {
  padding: calc(unit*2) calc(unit*2);
}

.contentWithTopFade:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  width: 100%;
  height: calc(unit * 3);

  pointer-events: none;
  background: linear-gradient(gradientStop, gradientStart);
}

.contentWithTopFade:first-child:before {
  border-top-right-radius: border-radius;
  border-top-left-radius: border-radius;
}

.contentWithBottomFade:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: calc(unit * 3);

  border-bottom-right-radius: border-radius;
  border-bottom-left-radius: border-radius;
  pointer-events: none;
  background: linear-gradient(gradientStart, gradientStop);
}
