@import "../global/global";

// Breadcrumbs
//
// Markup:
// <div class="ring-breadcrumb {$modifiers}">
//   <a class="ring-breadcrumb__element" href="/groups">Groups</a>
//   <span class="ring-breadcrumb__sep ring-font-icon ring-font-icon_chevron-right"></span>
//   <a class="ring-breadcrumb__element" href="/groups">Admins</a>
//   <span class="ring-breadcrumb__sep ring-font-icon ring-font-icon_chevron-right"></span>
//   <span class="active ring-breadcrumb__element">Admin</span>
// </div>
//
// .ring-breadcrumb_small                    - font-size: 13px
//
// Styleguide 3.1

.ring-breadcrumb {
  margin: 20px 0 14px;
  font-size: 0;
}

.ring-breadcrumb_small {
  .ring-breadcrumb__element {
    height: $ring-unit*2;
    line-height: 14px;
    font-size: 13px;
  }

  .ring-breadcrumb__sep {
    top: 0;
    font-size: 8px !important;
  }
}

.ring-breadcrumb__element {
  display: inline-block;
  height: $ring-unit*3;

  font-size: 19px;
  line-height: 20px;
  color: #1866C5;
  text-decoration: none;

  cursor: pointer;
}

.ring-breadcrumb__element_active, .ring-breadcrumb .active {
  color: #1A1A1A;
  cursor: default;
}

.ring-breadcrumb__sep {
  margin: 0 8px;
  position: relative;
  top: -1px;
  font-size: 9px !important;
  color: #949494;
}