// Breadcrumbs
//
// Markup:
// <div class="ring-breadcrumb {$modifiers}">
//   <a class="ring-breadcrumb__element" href="/groups">Groups</a>
//   <span class="ring-breadcrumb__sep ring-font-icon ring-font-icon_chevron-right"></span>
//   <a class="ring-breadcrumb__element" href="/groups">Admins</a>
//   <span class="ring-breadcrumb__sep ring-font-icon ring-font-icon_chevron-right"></span>
//   <span class="active ring-breadcrumb__element">Admin</span>
// </div>
//
// .ring-breadcrumb_small                    - font-size: 13px
// .ring-tabs-pointer                        - tabs pointer
// .ring-breadcrumb_small.ring-tabs-pointer - font-size: 13px and tabs pointer
//
// Styleguide 3.1

.ring-breadcrumb {
  margin: 20px 0 14px;
}

.ring-breadcrumb_small {
  .ring-breadcrumb__element {
    font-size: 13px;
  }

  .ring-breadcrumb__sep {
    top: 0;
    font-size: 9px !important;
  }
}

.ring-breadcrumb__element {
  display: inline-block;
  font-size: 19px;
  color: #1866C5;
  text-decoration: none;
  cursor: pointer;
}

.ring-breadcrumb__element_active, .ring-breadcrumb .active {
  color: #1A1A1A;
  cursor: default;
}

.ring-breadcrumb__sep {
  position: relative;
  top: -2px;
  font-size: 11px !important;
  color: #949494;
}