<example name="Icon">
  <file type="html">
    <div id="some-icons">
      <span id="icon-container"></span>
      <span id="icon-search"></span>
      <span id="icon-16-pencil"></span>
      <span id="icon-14-pencil"></span>
      <span id="icon-custom-permission"></span>
    </div>
  </file>

  <file type="css">
    :global(.ring-icon) {
      margin: 8px;
      padding: 8px;
    }
  </file>

  <file type="js">
    import React from 'react';
    import {render} from 'react-dom';
    import SearchIcon from '@jetbrains/icons/search.svg';
    import CheckMarkIcon from '@jetbrains/icons/checkmark.svg';
    import PencilIcon from '@jetbrains/icons/pencil.svg';
    import PermissionIcon from '@jetbrains/icons/permission.svg';

    render(
      <CheckMarkIcon
        className="additional-class"
        color="orange"
        size={CheckMarkIcon.Size.Size32}
      />,
      document.getElementById('icon-container')
    );

    render(
      <SearchIcon
        size={SearchIcon.Size.Size32}
      />,
      document.getElementById('icon-search')
    );

    render(
      <PencilIcon
        size={PencilIcon.Size.Size16}
      />,
      document.getElementById('icon-16-pencil')
    );

    render(
      <PencilIcon
        size={PencilIcon.Size.Size14}
      />,
      document.getElementById('icon-14-pencil')
    );

    render(
      <PermissionIcon
        height={80}
        width={100}
      />,
      document.getElementById('icon-custom-permission')
    );
  </file>
</example>

<example name="Icons list">
  <file type="html">
    <h3>All available icons are listed below. Place the cursor over an icon to
      see its name.</h3>
    <div id="all-icons"></div>
  </file>

  <file type="css">
    @value unit, link-color from '../global/global.css';

    :global(.icon-example__container) {
      margin-left: calc(0 - calc(unit * 2));
    }

    :global(.ring-icon) {
      margin: 8px;
      padding: 8px;
      color: link-color;
    }
  </file>

  <file type="js">
    import React from 'react';
    import {render} from 'react-dom';

    const iconsContext = require.context('@jetbrains/icons', false, /\.svg$/);

    const icons = iconsContext.keys().map(iconsContext).
    map(exportsObj => exportsObj.default);

    render(
      <div className="icon-example__container">
        {icons.map(Icon => <Icon key={Icon} title={Icon}/>)}
      </div>,
      document.getElementById('all-icons')
    );
  </file>
</example>

<example name="List of JetBrains product logos">
  <file type="html" disable-auto-size>
    <div id="logos"></div>
  </file>

  <file type="css">
    :global(.ring-icon) {
      color: black;
      margin: 8px;
      padding: 8px;
    }
  </file>

  <file type="js">
    import React from 'react';
    import {render} from 'react-dom';

    const logosContext = require.context('@jetbrains/logos', true, /\.svg$/);

    const logos = logosContext.keys().map(logosContext).
    map(exportsObj => exportsObj.default);

    render(
      <div>
        {logos.map(Logo => <Logo key={Logo} title={Logo} size={Logo.Size.Size128}/>)}
      </div>,
      document.getElementById('logos')
    );
  </file>
</example>
