@import "../global/variables.css";

.icon {
  display: inline-block;

  fill: currentColor;
}

.glyph {
  display: inline-flex;

  margin-right: -1px;
  margin-left: -1px;

  pointer-events: none;

  &[width='10'] {
    vertical-align: -1px;
  }

  &[width='14'] {
    margin-right: -2px;
    margin-left: 0;

    vertical-align: -3px;
  }

  &[width='16'] {
    vertical-align: -3px;
  }

  &[width='20'] {
    vertical-align: -2px;
  }
}

/* HACK: This media query hack makes styles applied for WebKit browsers only */
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  .glyph {
    width: auto; /* Safari size bug workaround, see https://youtrack.jetbrains.com/issue/RG-1983 */
  }
}

.gray {
  color: var(--ring-icon-secondary-color);
}

.hover {
  color: var(--ring-icon-hover-color);
}

.green {
  color: var(--ring-icon-success-color);
}

.magenta {
  color: var(--ring-link-hover-color);
}

.red {
  color: var(--ring-icon-error-color);
}

.blue {
  color: var(--ring-main-color);
}

.white {
  color: var(--ring-dark-text-color);
}

.loading {
  animation-name: icon-loading;
  animation-duration: 1200ms;
  animation-iteration-count: infinite;
}

@keyframes icon-loading {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.9);

    opacity: 0.5;
  }

  100% {
    transform: scale(1);
  }
}
