@import '../global/global';

@warn 'Ring UI: "icon.scss" file is deprecated and about to be removed. Please don\'t import this file.';

.ring-icon {
  display: inline-block;
  fill: currentColor;
  position: relative;
  vertical-align: middle;

  svg {
    display: inline-block;
    pointer-events: none;
    vertical-align: middle;
  }
}

// Available icon colours
.ring-icon_gray {
  color: var(--ring-disabled-color);
}

.ring-icon_hover {
  color: var(--ring-link-hover-color);
}

.ring-icon_green {
  color: var(--ring-success-color);
}

.ring-icon_magenta {
  color: var(--ring-link-hover-color);
}

.ring-icon_red {
  color: var(--ring-error-color);
}

.ring-icon_blue {
  color: var(--ring-main-color);
}

.ring-icon_white {
  color: #FFF;
}

.ring-icon_loading {
  animation-name: icon-loading;
  animation-duration: 1200ms;
  animation-iteration-count: infinite;
}

@keyframes icon-loading {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.9);
    opacity: 0.5;
  }

  100% {
    transform: scale(1);
  }
}
