@import '../global/global';

.ring-icon {
  display: inline-block;
  fill: currentColor;
  position: relative;
  vertical-align: middle;

  svg {
    display: inline-block;
    pointer-events: none;
    vertical-align: middle;
  }
}

// Available icon sizes.
.ring-icon_12 {
  svg {
    height: 12px;
    width: 12px;
  }
}

.ring-icon_14 {
  svg {
    height: 14px;
    width: 14px;
  }
}

.ring-icon_16 {
  svg {
    height: 16px;
    width: 16px;
  }
}

.ring-icon_18 {
  svg {
    height: 18px;
    width: 18px;
  }
}

.ring-icon_32 {
  svg {
    height: 32px;
    width: 32px;
  }
}

.ring-icon_48 {
  svg {
    height: 48px;
    width: 48px;
  }
}

.ring-icon_64 {
  svg {
    height: 64px;
    width: 64px;
  }
}

.ring-icon_128 {
  svg {
    height: 128px;
    width: 128px;
  }
}

// Available icon colours
.ring-icon_gray {
  color: $ring-color-gray;
}

.ring-icon_hover {
  color: $ring-link-hover-color;
}

.ring-icon_green {
  color: $ring-color-green;
}

.ring-icon_orange {
  color: $ring-link-hover-color;
}

.ring-icon_red {
  color: $ring-color-error;
}

.ring-icon_blue {
  color: $ring-color-blue;
}

.ring-icon_white {
  color: #FFF;
}

.ring-icon_loading {
  animation-name: icon-loading;
  animation-duration: 1200ms;
  animation-iteration-count: infinite;
}

@keyframes icon-loading {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.9);
    opacity: 0.5;
  }

  100% {
    transform: scale(1);
  }
}
