.iFrame {
  overflow: hidden;

  border: none;
}

.dialogContent {
  width: auto;
}

.nonOpaqueLoader {
  background-color: #fff;
}

.fallbackLinkContainer {
  position: absolute;
  top: 0;
  right: 0;

  padding: var(--ring-unit);
}
