@value unit from "../global/global.css";

.dialog.dialog {
  width: auto;
  max-width: 400px;
}

.content {
  composes: font from "../global/global.css";

  display: flex;
  align-items: center;
  flex-direction: column;

  margin: calc(unit * 4);
}

.button {
  width: calc(unit * 25);
  margin-top: unit;
}

.firstButton {
  composes: button;

  margin-top: calc(unit * 4);
}

.title {
  margin-bottom: unit;

  text-align: center;

  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
}

.logo {
  width: calc(unit * 12);
  height: calc(unit * 12);
  margin-bottom: 12px;
  object-fit: contain;
}

.error {
  text-align: center;

  color: var(--ring-error-color);
}
