.dialog.dialog {
  width: auto;
  max-width: 400px;
}

.content {
  composes: font from "../global/global.css";

  display: flex;
  align-items: center;
  flex-direction: column;

  margin: calc(var(--ring-unit) * 4);
}

.button {
  width: calc(var(--ring-unit) * 25);
  margin-top: var(--ring-unit);
}

.firstButton {
  composes: button;

  margin-top: calc(var(--ring-unit) * 4);
}

.title {
  margin-bottom: var(--ring-unit);

  text-align: center;

  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
}

.logo {
  width: calc(var(--ring-unit) * 12);
  height: calc(var(--ring-unit) * 12);
  margin-bottom: 12px;
  object-fit: contain;
}

.error {
  text-align: center;

  color: var(--ring-error-color);
}
