@value unit, font, font-size, error-color from '../global/global.css';

.dialog.dialog {
  width: auto;
}

.content {
  composes: font;

  display: flex;
  align-items: center;
  flex-direction: column;

  margin: calc(unit * 4);
}

.button {
  width: calc(unit * 25);
  margin-top: unit;
}

.firstButton {
  composes: button;

  margin-top: calc(unit * 4);
}

.title {
  margin-bottom: unit;

  text-align: center;

  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
}

.logo {
  width: calc(unit * 12);
  height: calc(unit * 12);
  margin-bottom: 12px;
  object-fit: contain;
}

.error {
  text-align: center;

  color: error-color;
}
