@value unit, middle-screen-media, large-screen-media, extra-small-screen-media, small-screen-media from '../global/global.css';

@value sidebarWidth: calc(unit * 43);

.contentLayout {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  position: relative;
}

.contentLayoutContent {
  margin: 0 calc(unit * 4);
  align-self: flex-start;
}

.sidebarContainer {
  min-width: sidebarWidth;
  max-width: sidebarWidth;
}

.sidebar {
  min-width: sidebarWidth;
  max-width: sidebarWidth;
  height: 100%;
  overflow: auto;
  padding-left: calc(unit * 4);
  padding-right: calc(unit * 2);
}

.sidebarFixedTop {
  position: fixed;
}

.bottomMarker {
  position: absolute;
  bottom: 0;
}

@media middle-screen-media, large-screen-media {
  .sidebar {
    box-sizing: border-box;
  }

  .sidebarFixedTop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
  }

  .sidebarFixedBottom {
    position: absolute;
    top: auto;
    left: 0;
    bottom: 0;
  }
  .sidebarRight {
    padding-left: calc(unit * 2);
    padding-right: calc(unit * 4);
  }
  .sidebarContainerRight {
    order: 1;
  }
}

@media extra-small-screen-media, small-screen-media {
  .contentLayoutContent {
    margin: 0 16px;
  }

  .sidebar {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    padding: 0 16px;
  }

  .sidebarFixedTop {
    position: fixed;
  }

  .sidebarFixedBottom {
    position: absolute;
    top: auto;
    bottom: 0;
  }

  .sidebarRight {
    left: auto;
    right: 0;
  }
}

@media extra-small-screen-media {
  .sidebar {
    min-width: 0;
    max-width: none;
    width: 80%;
  }
}


