@value unit, extra-small-screen-media, small-screen-media from '../global/global.css';

@value sidebarWidth: calc(unit * 43);

.contentLayout {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  position: relative;
}

.contentLayoutContent {
  margin: 0 calc(unit * 4);
  flex-grow: 2;
  align-self: flex-start;
}

.sidebarContainer {
  min-width: sidebarWidth;
  max-width: sidebarWidth;
}

.sidebarContainerRight {
  order: 1;
}

.sidebar {
  min-width: sidebarWidth;
  max-width: sidebarWidth;
  box-sizing: border-box;
  height: 100%;
  overflow: auto;
  padding-left: calc(unit * 4);
  padding-right: calc(unit * 2);
}


.sidebarRight {
  padding-left: calc(unit * 2);
  padding-right: calc(unit * 4);
}

.sidebarFixedTop {
  top: 0;
  bottom: 0;
  && {
    position: fixed  ;
  }
}

.sidebarFixedBottom {
  && {
    position: absolute;
    top: auto;
    bottom: 0;
  }
}

.bottomMarker {
  position: absolute;
  bottom: 0;
}

@media extra-small-screen-media, small-screen-media {
  .contentLayoutContent {
    margin: 0 16px;
  }

  .sidebar {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    box-sizing: content-box;
    padding: 0 16px;
  }

  .sidebarRight {
    left: auto;
    right: 0;
  }

  .sidebarContainer {
    min-width: 0;
    max-width: 0;
  }
}

@media extra-small-screen-media {
  .sidebar {
    min-width: 0;
    max-width: none;
    width: 80%;
  }
}


