@import "../global/global";

.hello-world__title {
  @include ring-font();

  color: #CCCCCC;
  font-size: 20px;
}

.hello-world__sub-title {
  @include ring-font();
}

.hello-world__first {
  color: #f38f09;
}

.hello-world__second {
  color: #2763aa;
}