@import "../global/variables.css";

.title {
  font-weight: var(--ring-font-weight-bold);
}

.error {
  margin-top: calc(var(--ring-unit) / 2);

  word-wrap: break-word;

  color: var(--ring-text-color);

  line-height: calc(var(--ring-unit) * 2);
}
