@value unit, font, font-size from "@jetbrains/ring-ui/components/global/global.css";

:global(.widget-body) {
  margin: 0;
  padding: calc(unit * 2);

  background: #fff;

  font-size: font-size;
}

.widget {
  composes: font;

  margin: 0;
  padding: 0;
}
