<div class="ring-dialog__wrapper" ng-class="{ 'active': active, 'ring-dialog__wrapper_inline': inSidebar }">
  <div class="ring-dialog__container" ng-class="{'ring-dialog__container_wide' : wideDialog}">
    <div class="ring-dialog__header"
         ng-show="title">
      <span class="ring-dialog__header__title">{{ title }}</span>
            <span class="ring-dialog__header__close-icon ring-font-icon ring-btn_ico ring-font-icon_close"
                  ng-click="close()"></span>
    </div>
    <form name="dialogForm" class="ring-form ring-js-shortcuts ring-dialog__content" novalidate>
      <ng-include src="content"></ng-include>

      <div class="ring-form__group" ng-show="error">
        <div class="ring-form__control ring-form__control_small">
          <div class="ring-alert_error">{{ error }}</div>
        </div>
      </div>
    </form>
    <div class="ring-dialog__footer">
      <div class="ring-dialog__footer__description" ng-show="description && description.length">
        <div ng-repeat="line in description">{{line}}</div>
      </div>

      <button ng-repeat="button in buttons"
              ng-click="action(button)"
              class="ring-dialog__footer__item ring-btn"
              ng-class="{'ring-btn_blue': button['default']}"
              ng-disabled="button.default && dialogForm.$invalid">{{ button.label }}
      </button>
    </div>
  </div>
  <div class="ring-dialog__layer" ng-if="!inSidebar">
  </div>
</div>
