@import '../global/global';
@import "../form/form";

.ring-dialog__wrapper {
  z-index: $ring-overlay-z-index;

  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;

  display: none;
  overflow: auto;

  width: 100%;
  height: 100%;

  text-align: center;

  &.active,
  &.ring-dialog__wrapper_active {
    display: block;
  }
}

.ring-dialog__container {
  z-index: 2;

  position: relative;

  display: block; // Fallback for Safari < 5.0
  display: table; // Sets container's width to min-width if content is narrow
  min-width: $ring-unit * 50;
  max-width: $ring-unit * 53;
  margin: 10% auto;
  padding: 0;

  border: 1px solid #B4B4B4;
  border-radius: $ring-border-radius;

  background: #FFF;
  box-shadow: 0 0 $ring-unit*4 $ring-unit rgba(0, 0, 0, .2);

  @include ring-font;
  text-align: left;

  &_wide {
    width: $ring-unit * 75;
    max-width: $ring-unit * 75;
  }

  &_auto-width {
    max-width: 100%;
  }
}

.ring-dialog__layer {
  z-index: 1;

  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;

  width: 100%;
  margin: 0;
  padding: 0;

  text-align: center;

  opacity: .4;
  background-color: #FFF;
}

.ring-dialog__content {
  margin: 0;
  padding: $ring-unit*2 $ring-unit*4 $ring-unit;
}

.ring-dialog__footer {
  height: auto;
  padding: 2*$ring-unit 4*$ring-unit 2*$ring-unit 4*$ring-unit;

  font-size: 0;
  text-align: left;

  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  background: $ring-light-blue-color;
}

.ring-dialog__footer__description {
  margin-bottom: 2*$ring-unit;
  font-size: $ring-font-size-smaller;
}

.ring-dialog__footer__spacer {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.ring-dialog__footer__items {
  white-space: nowrap;
}

.ring-dialog__footer__item {
  display: inline-block;
  /**
   * Do not make space using margin-right as it will break spaces between right-sided buttons in dialog's footer
   */

  &:not(:first-child) {
    margin-left: 2*$ring-unit;
  }

  //Increase selector specificity when ring buttons are used as footer items
  &.ring-button {
    margin-left: 2*$ring-unit;
  }

  &.ring-button:first-of-type {
    margin-left: 0;
  }
}

.ring-dialog__header {
  position: relative;
  min-height: $ring-unit*3 - 2;

  line-height: $ring-unit*3 - 2;

  border-bottom: 1px solid #B4B4B4;
  border-top-left-radius: $ring-border-radius;
  border-top-right-radius: $ring-border-radius;

  background-image: linear-gradient(to top, #EBEBEB, #FFF);
}

.ring-dialog__header__title {
  display: block;

  font-weight: bold;

  cursor: move;
  text-align: center;
  user-select: none;
}

.ring-dialog__wrapper_inline {
  position: static;
  width: auto;
  margin-bottom: 20px;

  .ring-dialog__container {
    position: static;
    display: block;
    max-width: none;

    width: auto;
    margin: 0;

    border: none;
    box-shadow: none;
  }

  .ring-dialog__header {
    border: none;
    background-image: none;
  }

  .ring-dialog__header__title {
    padding-left: 5*$ring-unit;

    line-height: 6*$ring-unit;
    font-size: 3*$ring-unit;
    font-weight: normal;

    text-align: left;

    cursor: text;
    user-select: text;
  }

  .ring-dialog__content {
    padding-left: 5*$ring-unit;
  }

  .ring-dialog__footer {
    margin: 0 2.5*$ring-unit;
    padding-left: 2.5*$ring-unit;
    padding-right: 2.5*$ring-unit;
  }
}

// modifier for BODY
.ring-dialog-modal {
  height: 100%;
  overflow: hidden;
}

// copy from alert.scss
.ring-dialog_error {
  color: $ring-error-color;
  word-wrap: break-word;
}
