@import "../global/variables.css";

@value unit from "../global/global.css";

.dialogContainer {
  position: relative;

  display: flex;
  flex-direction: column;

  min-height: auto;

  & :global(.ring-form__group:last-child) {
    margin-bottom: 0;
  }

  & :global(.ring-form) {
    width: 100%;
  }
}

.wide.wide {
  width: calc(unit * 75);
  max-width: calc(unit * 75);
}

.autoWidth.autoWidth {
  width: auto;
  max-width: 100%;
}

.header.header {
  padding-top: calc(unit * 2);

  cursor: move;
  user-select: none;

  font-size: 24px;
}

.inSidebar .header {
  padding-top: 0;

  cursor: default;
  user-select: text;
}

.inSidebar :global(.ring-form) {
  width: initial;
}

.scrollableWrapper.scrollableWrapper {
  overflow: visible;

  width: auto;

  padding-top: calc(unit * 3);
}

.content.content {
  overflow: visible;
}

.error {
  max-width: calc(unit * 45);

  word-wrap: break-word;

  color: var(--ring-error-color);
}

.footer {
  height: auto;
  padding: calc(unit * 2) calc(unit * 4);

  text-align: left;

  font-size: 0;
}

.footerDescription {
  margin-bottom: calc(unit * 2);

  font-size: var(--ring-font-size-smaller);
}

.footerItems {
  white-space: nowrap;
}

.footerItem {
  display: inline-block;

  /**
  * Do not make space using margin-right as it will break spaces between right-sided buttons in dialog's footer
  */
  &:not(:first-child) {
    margin-left: unit;
  }
}
