<div
  class="ring-dialog__wrapper"
  ng-class="{ 'active': dialog.active, 'ring-dialog__wrapper_inline': dialog.inSidebar }"
>
  <div class="ring-dialog__container {{dialog.cssClass}}" ng-class="{
    'ring-dialog__container_wide' : dialog.wideDialog,
    'ring-dialog__container_auto-width' : dialog.autoWidth
  }">
    <div class="ring-dialog__header" ng-show="dialog.title">
      <span class="ring-dialog__header__title">{{ dialog.title }}</span>
    </div>

    <form name="dialog.dialogForm" class="ring-form ring-js-shortcuts ring-dialog__content" novalidate>
      <rg-dialog-content></rg-dialog-content>

      <div class="ring-form__group" ng-show="dialog.error">
        <div class="ring-form__control ring-form__control_small">
          <div class="ring-dialog_error">{{ dialog.error }}</div>
        </div>
      </div>
    </form>

    <div class="ring-dialog__footer" ng-if="dialog.description.length || dialog.buttons.length">
      <div class="ring-dialog__footer__description" ng-if="dialog.description && dialog.description.length">
        <div ng-repeat="line in dialog.description">{{ line }}</div>
      </div>

      <rg-button
        ng-repeat="button in dialog.buttons"
        class="ring-dialog__footer__item"
        ng-class="[{'ring-button_blue': button['default']}, button['cssClasses']]"
        ng-disabled="(button.default && dialog.dialogForm.$invalid) || button.disabled"
        ng-if="!button.hidden"

        rg-promised-click="dialog.action(button)"
        promised-mode="loader"
      >{{ button.label }}</rg-button>
    </div>
  </div>

  <div class="ring-dialog__layer" ng-if="!dialog.inSidebar" ng-click="dialog.closeOnClick && dialog.hide()">
  </div>
</div>
