{{#header}}
  <div class="ring-menu{{#gradient}} ring-menu_gradient{{/gradient}}">
    <span class="ring-menu__background"></span>

    <div class="ring-menu__i{{> global__class-name}}">
      <span class="ring-menu__spacer"></span>
      {{#if logo.url}}
        <a href="{{logo.url}}" class="ring-menu__logo"><img class="ring-menu__logo__img" src="{{logo.src}}"/></a>
      {{else}}
        <span class="ring-menu__logo"><img class="ring-menu__logo__img" src="{{logo.src}}"/></span>
      {{/if}}

      {{#items}}
        {{> header__item}}
      {{/items}}

      {{#right}}
        <div class="ring-menu__right">
          <span class="ring-menu__spacer"></span>
          {{#items}}
            {{> menu__item}}
          {{/items}}
        </div>
      {{/right}}
    </div>
  </div>
{{/header}}
