$header-link-color: #1752d7;
$header-attention-color: #f50000;
$header-controls-color: #376dc4;

.ring-menu {
  width: 100%;
  height: $x-unit*7 - 1;
  position: relative;
  text-align: center;
  border-bottom: 1px solid #ccc;
  @include droid-font();
}

.ring-menu__i {
  // Use this when width limits needed
  //max-width: 1100px;
  width: 100%;
  position: relative;
  display: inline-block;
  text-align: left;
  white-space: nowrap;
}

.ring-menu__background {
  position: absolute;
  z-index: -1;

  width: 100%;
  right: 0;
  left: 0;
  height: $x-unit*7;

  background: #f0f0f0;
}

.ring-menu_gradient {
  border: 0;
}

.ring-menu_gradient .ring-menu__background {
  height: $x-unit*14;
  background-image: linear-gradient(to bottom, #e4e4e4, #fff);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#e4e4e4', endColorstr='#ffffff',GradientType=0)";
}

.ring-menu__spacer {
  display: inline-block;
  height: $x-unit*7;
  width: 0;
  vertical-align: middle;
}

.ring-menu__logo {
  margin-left: $x-unit*2;
  height: 25px;
  width: 28px;
  display: inline-block;
  vertical-align: middle;
}

.ring-menu__logo__img {
  border: 0;
  height: 25px;
}
.ring-menu__item,
.ring-menu__search__input {
  font-size: 13px;
  vertical-align: middle;
}

.ring-menu__item {
  display: inline-block;
  margin-left: $x-unit*3;
}

.ring-menu__item_noselect {
  user-select: none;
}

.ring-menu__item_link,
.ring-menu__item_link:visited {
  color: $header-link-color;
  text-decoration: none;
}

.ring-menu__item_link:hover {
  color: $active-link-color;
  text-decoration: underline;
}

.ring-menu__item__counter {
  color: #fff;
  background-color: $header-link-color;
  position: relative;
  top: -7px;
  border-radius: 2px;
  padding: 1px 2px;
  font-size: 10px;
}

.ring-menu__item__counter_attention {
  background-color: $header-attention-color;
}

.ring-menu__right {
  height: $x-unit*7;
  right: $x-unit*4;
  top: 0;
  position: absolute;
}

.ring-menu__right .ring-menu__item {
  margin-left: $x-unit*3;
}

.ring-menu__right .ring-font-icon {
  font-size: 16px;
}

.ring-menu__right .ring-font-icon_cog {
  font-size: 18px !important;
  width: 12px;
}

.ring-menu__item_icon {
  color: #3c74c2 !important;
}

.no-font-antialiasing .ring-menu__item_icon {
  margin-left: $x-unit*3 - 6;
}

.ring-menu__item_icon:hover {
  color: $active-link-color !important;
}

.ring-menu__search {
  position: relative;
  display: inline;
  top: -2px;
  zoom: 1;
}

.ring-menu__search__input {
  width: $x-unit*27 - 2;
  height: $x-unit*3 - 2;

  border: 1px solid #cbcbcb;
  padding: 0 $x-unit*2 0 $x-unit;
}

.ring-menu__search__glass {
  position: absolute;
  top: 0;
  width: 16px;
  right: 6px;

  color: #d1d1d1;
}

/* No hover for search glass */
.no-font-antialiasing .ring-menu__search__glass,
.no-font-antialiasing .ring-menu__search__glass:hover {
  right: 8px;
  background-position: -39px -1px !important;
}
