@import "../global/global";

$ring-menu-attention-color: #F50000;

.ring-menu {
  position: relative;
  width: 100%;
  height: $ring-unit*7;
  border-bottom: 1px solid #CCC;

  text-align: center;
  line-height: 24px;
  @include ring-font();
}

.ring-menu__i {
  // Use this when width limit is needed:
  //    max-width: 1100px;
  // Do not forget to add
  //    position: absolute;
  //    min-width: 100%;
  // to <body>
  position: absolute;
  left: $ring-unit*3;
  right: 0;
  display: inline-block;

  font-size: 0 !important;
  text-align: left;
  white-space: nowrap;

  // TODO Make this default after TC update
  .ring-menu_4x & {
    left: $ring-unit*4;
  }
}

.ring-menu__background {
  position: absolute;
  z-index: -1;

  width: 100%;
  height: $ring-unit*7;
  left: 0;
  right: 0;

  background: #F0F0F0;
}

.ring-menu_gradient .ring-menu__background {
  height: $ring-unit*14;
  background-image: linear-gradient(to bottom, #E4E4E4, #FFF);
  // IE 8-9
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#E4E4E4', endColorstr='#FFFFFF',GradientType=0)";
}

.ring-menu_noborder, .ring-menu_gradient {
  border-bottom: none !important;
}

.ring-menu__spacer {
  display: inline-block;
  width: 0;
  height: $ring-unit*7;
  vertical-align: middle;
}

.ring-menu__logo {
  display: inline-block;
  height: $ring-unit*3;
  vertical-align: middle;
}

.ring-menu__logo__img {
  height: $ring-unit*3;
  border: 0;
}

.ring-menu__item,
.ring-menu__search__input {
  font-size: 13px;
  vertical-align: middle;
}

.ring-menu__item {
  display: inline-block;
  margin-left: $ring-unit*4;
  font-size: 13px !important;

  // Fix visual margin
  // See http://youtrack.jetbrains.com/issue/RG-87
  .ring-dropdown-toggle + & {
    margin-left: $ring-unit*4 - 5px;
  }

  .ring-btn {
    font-size: 13px !important;
  }
}

.ring-menu__item_noselect {
  user-select: none;
}

.ring-menu__item__counter {
  position: relative;
  top: -7px;
  left: 5px;

  padding: 1px 2px;
  border-radius: 2px;

  color: #FFF;
  background-color: $ring-link-color;
  font-size: 10px;
}

.ring-menu__item__counter_attention {
  background-color: $ring-menu-attention-color;
}

.ring-menu__right {
  position: absolute;
  top: 0;
  right: $ring-unit*3;
  height: $ring-unit*7;

  font-size: 0;

  // TODO Make this default after TC update
  .ring-menu_4x & {
    right: $ring-unit*4;
  }
}

.ring-menu__right .ring-menu__item {
  display: inline-block;
  margin-left: $ring-unit*2;

  *display: inline; // IE 7
}

.ring-menu__right .ring-font-icon {
  font-size: 16px;
}

.ring-menu__right .ring-font-icon_cog {
  width: 12px;
  font-size: 18px !important;
}

.ring-menu__right .ring-menu__item_help {
  height: $ring-unit*4 + 3;
}

.no-font-antialiasing .ring-menu__right .ring-font-icon_help {
  left: $ring-unit*3;
  background-position: -60px 1px;

  &:hover {
    background-position: -60px -19px;
  }
}

.ring-menu__item__i {
  display: inline-block;

  .no-font-antialiasing & {
    margin-top: 1px;
    vertical-align: top;
  }

  .ring-menu__item:hover & {
    text-decoration: underline;
  }
}

.ring-menu__item_active,
body .ring-menu__item_active.ring-menu__item:hover {
  color: #000 !important;
}

.ring-menu__item_icon {
  width: $ring-unit*3 - 2;
  height: $ring-unit*3 - 2;
  margin-right: 0;
  margin-left: $ring-unit*2;

  text-align: right;
  vertical-align: middle;

  &:hover .ring-menu__item__i {
    text-decoration: none !important;
  }
}

.ring-menu__right .ring-menu__search {
  position: relative;
  top: -2px;
  margin-left: $ring-unit*3;
}

.ring-menu__search__input {
  width: $ring-unit*27 - 2;
  height: $ring-unit*3 - 2;
  padding: 0 $ring-unit*3 0 $ring-unit/2;
  white-space: pre;
  border: 1px solid #CBCBCB;
}

.ring-menu__search__glass {
  position: absolute;
  top: 11px;
  width: 16px;
  right: 4px;
  color: #D1D1D1;
}

/* Custom search glass */
.no-font-antialiasing .ring-menu__search__glass {
  background-position: -80px 0 !important;
}
