<div class="ring-menu{{#type}} ring-menu_{{this}}{{/type}}">
  <span class="ring-menu__background"></span>

  <div class="ring-menu__i{{> global__class}}">
    {{#if left}}
      <span class="ring-menu__spacer"></span>
      {{#left}}
        {{> menu__item}}
      {{/left}}
    {{/if}}

    <div class="ring-menu__right">
        <span class="ring-menu__spacer"></span>
        {{#right}}
          {{> menu__item}}
        {{/right}}
    </div>
  </div>
</div>