$menu-attention-color: #f50000;

.ring-menu {
  width: 100%;
  height: $ring-unit*7;
  position: relative;
  text-align: center;
  border-bottom: 1px solid #ccc;
  line-height: 24px;
  @include droid-font();
}

.ring-menu__i {
  // Use this when width limits needed
  //max-width: 1100px;
  //   Do not forget add
  //       position: absolute;
  //       min-width: 100%;
  //   to body
  font-size: 0 !important;
  position: absolute;
  left: $ring-unit*3;
  right: 0;
  display: inline-block;
  text-align: left;
  white-space: nowrap;
}

.ring-menu__background {
  position: absolute;
  z-index: -1;

  width: 100%;
  right: 0;
  left: 0;
  height: $ring-unit*7;

  background: #f0f0f0;
}

.ring-menu_gradient .ring-menu__background {
  height: $ring-unit*14;
  background-image: linear-gradient(to bottom, #e4e4e4, #fff);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#e4e4e4', endColorstr='#ffffff',GradientType=0)";
}

.ring-menu_noborder, .ring-menu_gradient {
  border-bottom: none !important;
}

.ring-menu__spacer {
  display: inline-block;
  height: $ring-unit*7;
  width: 0;
  vertical-align: middle;
}

.ring-menu__logo {
  height: $ring-unit*3;
  display: inline-block;
  vertical-align: middle;
}

.ring-menu__logo__img {
  border: 0;
  height: $ring-unit*3;
}

.ring-menu__item,
.ring-menu__search__input {
  font-size: 13px;
  vertical-align: middle;
}

.ring-menu__item {
  display: inline-block;
  font-size: 13px !important;
  margin-left: $ring-unit*4;

  .ring-btn {
    font-size: 13px !important;
  }
}

.ring-menu__item_noselect {
  user-select: none;
}

.ring-menu__item__counter {
  color: #fff;
  background-color: $ring-link-color;
  position: relative;
  top: -7px;
  left: 5px;
  border-radius: 2px;
  padding: 1px 2px;
  font-size: 10px;
}

.ring-menu__item__counter_attention {
  background-color: $menu-attention-color;
}

.ring-menu__right {
  font-size: 0;
  height: $ring-unit*7;
  right: $ring-unit*3;
  top: 0;
  position: absolute;
}

.ring-menu__right .ring-menu__item {
  margin-left: $ring-unit*2;
  display: inline-block;

  *display: inline; // IE 7

  &:hover {
    text-decoration: none !important;
  }
}

.ring-menu__right .ring-font-icon {
  font-size: 16px;
}

.ring-menu__right .ring-font-icon_cog {
  font-size: 18px !important;
  width: 12px;
}

.ring-menu__right .ring-menu__item_help {
  height: $ring-unit*4 + 3;
}

.no-font-antialiasing .ring-menu__right .ring-font-icon_help {
  background-position: -60px 1px;
  left: $ring-unit*3;

  &:hover {
    background-position: -60px -19px;
  }
}

.ring-menu__item__i {
  display: inline-block;

  .no-font-antialiasing & {
    margin-top: 1px;
    vertical-align: top;
  }
}

.ring-menu__item_active {
  color: #000 !important;
}

.ring-menu__item_icon {
  margin-right: 0;
  margin-left: $ring-unit*2;
  height: $ring-unit*3 - 2;
  width: $ring-unit*3;
  text-align: right;
  vertical-align: middle;
}

.ring-menu__right .ring-menu__search {
  margin-left: $ring-unit*3;
  position: relative;
  top: -2px;
}

.ring-menu__search__input {
  width: $ring-unit*27 - 2;
  height: $ring-unit*3 - 2;

  border: 1px solid #cbcbcb;
  padding: 0 $ring-unit*2 0 $ring-unit;
}

.ring-menu__search__glass {
  position: absolute;
  top: 6px;
  width: 16px;
  right: 6px;

  color: #d1d1d1;
}

/* Custom search glass */
.no-font-antialiasing .ring-menu__search__glass {
  background-position: -80px 0 !important;
}
