{{#this}}
{{!--Search form--}}
{{#ifEqual type 'search'}}
  <form action="{{action}}" class="ring-menu__item ring-menu__search">
    <input type="text" class="ring-menu__search__input" /><span class="ring-menu__search__glass ring-font-icon ring-font-icon_search"></span>
  </form>
{{!--Links--}}
{{else}}
  {{#if url}}
    <a href="{{url}}" class="ring-menu__item_link {{> menu__item__class}}{{> dropdown__component}}"{{> global__title}}>{{> menu__item__content}}</a>
  {{else}}
    <span class="{{> menu__item__class}}{{> dropdown__component}}"{{> global__title}}>{{> menu__item__content}}</span>
  {{/if}}
{{/ifEqual}}

{{> dropdown-toggle}}
{{> menu__counter}}
{{/this}}