<div class="ring-menu{{#ifEqual type 'gradient'}} ring-menu_gradient{{/ifEqual}}">
  <span class="ring-menu__background"></span>

  <div class="ring-menu__i{{> global__class-name}}">
    {{#if left}}
      <span class="ring-menu__spacer"></span>
      {{#left}}
        {{> menu__item}}
      {{/left}}
    {{/if}}

    {{#if right}}
      <div class="ring-menu__right">
        <span class="ring-menu__spacer"></span>
        {{#right}}
          {{> menu__item}}
        {{/right}}
      </div>
    {{/if}}
  </div>
</div>